@charset "UTF-8";
/* [2] */
/* [8] */
/*===============================================
 [SASS DIRECTORY ]
 [1] Minxin Link
 [2] Minxin Button
 [3] Minxin Triangle
 [4] Minxin LABEL PRODUCT
 [5] Minxin Scrollbars
 [6] Minxin Dev Custom
 ==============================================*/
.no-margin {
  margin: 0 !important; }
/*Dev Custom */
/*====================================================*/
.lib-list-item-product2 {
  border: none; }
  .lib-list-item-product2 .image-dev .list-button-dev {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0); }
    .lib-list-item-product2 .image-dev .list-button-dev li {
      display: inline-block;
      float: left;
      height: 40px;
      width: 40px;
      background: #fff;
      position: relative;
      border-width: 0 1px 0 0;
      border-style: solid;
      border-color: #ddd;
      opacity: 0;
      transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
        transform: translateX(40px);
        -moz-transform: translateX(40px);
        -webkit-transform: translateX(40px);
        -ms-transform: translateX(40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
        transform: translateX(-40px);
        -moz-transform: translateX(-40px);
        -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:first-child {
        border-left: 1px solid #ddd; }
      .lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
        background: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        line-height: 40px;
        text-align: center;
        box-shadow: none;
        border: none;
        color: #555;
        width: 40px;
        padding: 0; }
      .lib-list-item-product2 .image-dev .list-button-dev li:hover {
        background: #f55; }
        .lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
          color: #fff; }
  .lib-list-item-product2 .caption-dev {
    text-align: center;
    padding: 0 15px; }
    .lib-list-item-product2 .caption-dev .rating-dev {
      margin: 5px 0; }
    .lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
      font-size: 11px; }
    .lib-list-item-product2 .caption-dev .title-dev {
      color: #444;
      font-size: 13px; }
    .lib-list-item-product2 .caption-dev .price-dev .price.product-price {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-new {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-old {
      font-size: 12px; }
    .lib-list-item-product2 .caption-dev .add-cart-dev {
      background: #fff;
      border: 1px solid #ddd;
      font-size: 12px;
      text-transform: uppercase;
      color: #999;
      font-weight: bold;
      box-shadow: none;
      border-radius: 0;
      padding: 6px 20px;
      margin: 0 0 30px;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out; }

.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block; }
  .lib-two-img .img-1 {
    opacity: 1;
    position: relative;
    transition: all 0.5s ease-in-out; }
  .lib-two-img .img-2 {
    position: absolute;
    z-index: 0;
    top: 0;
    opacity: 0;
    display: block;
    transition: all 0.5s ease-in-out;
    left: 50%;
    transform: translateX(-50%); }

.lib-two-img-over .img-1 {
  opacity: 0;
  transform-style: inherit;
  transition: all 0.5s ease-in-out; }
  .lib-two-img-over .img-2 {
    opacity: 1;
    transform-style: inherit;
    transition: all 0.5s ease-in-out; }
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }
/* ================================================================================ */
.typefooter-5 {
  max-width: 1860px;
  margin: 0 auto;
  background-color: #111;
  /************************************************************************************************
   POLICY
   *************************************************************************************************/
  /* GENERAL */
  /* FOOTER BOTTOM */ }
  .typefooter-5 .footer-w {
    color: #ccc;
    max-width: 1720px;
    margin: 0 auto; }
  .typefooter-5 .footer-top {
    padding: 90px 0 0px 0; }
  .typefooter-5 .logo-socials {
    text-align: center; }
  .typefooter-5 .logo-socials .socials-footer {
    margin-top: 40px; }
  .typefooter-5 .logo-socials .socials-footer li {
    display: inline-block; }
  .typefooter-5 .logo-socials .socials-footer li a {
    font-size: 14px;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin: 0 5px;
    margin-bottom: 5px;
    border-radius: 100%;
    background-color: #2d2d2d;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    display: block; }
    .typefooter-5 .box-policy {
      max-width: 1860px;
      margin: 0 auto;
      background-color: #eee; }
  .typefooter-5 .box-policy > .col-lg-12 {
    padding: 0; }
  .typefooter-5 .services-inline {
    padding: 15px; }
  .typefooter-5 .services-inline ul {
    display: table;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0; }
  .typefooter-5 .services-inline ul li {
    display: table-cell;
    width: 33.33%;
    margin: 0;
    padding: 75px 0;
    vertical-align: top;
    text-align: center;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s; }
  .typefooter-5 .services-inline ul li:last-child {
    border: none !important; }
  .typefooter-5 .services-inline ul li .box-icon, .typefooter-5 .services-inline ul li .service-info {
    vertical-align: middle; }
  .typefooter-5 .services-inline ul li .box-icon {
    width: 100px;
    height: 50px;
    display: inline-block;
    margin-bottom: 16px;
    text-align: center;
    background-image: url(../../images/icon/sprites.png);
    background-repeat: no-repeat; }
  .typefooter-5 .services-inline ul li .service-info h2 {
    font-size: 16px;
    text-transform: uppercase;
    color: #222;
    margin: 5px 0 2px; }
    .typefooter-5 .services-inline ul li .service-info p {
      color: #888;
      margin: 0; }
  .typefooter-5 .services-inline ul li.policy1 .box-icon {
    background-position: 29px 0; }
  .typefooter-5 .services-inline ul li.policy2 .box-icon {
    background-position: 29px -100px; }
  .typefooter-5 .services-inline ul li.policy3 .box-icon {
    background-position: 29px -200px; }
  .typefooter-5 .services-inline ul li:hover {
    cursor: pointer;
    background-color: #fff; }
    .typefooter-5 .services-inline ul li:hover .box-icon {
      -webkit-opacity: 1;
      -moz-opacity: 1;
      -ms-opacity: 1;
      -o-opacity: 1;
      opacity: 1; }
    .typefooter-5 .services-inline ul li:hover .service-info h2 {
      color: #f55; }
  .typefooter-5 .modtitle {
    color: #fff;
    /* [4] */
    /* [6] */
    /* [6] */
    /* [7] */
    font-size: 18px;
    font-size: 1.8rem;
    /* [8] */
    line-height: 20px;
    margin-bottom: 10px !important;
    padding-bottom: 13px;
    font-weight: 600;
    text-transform: uppercase; }
  .typefooter-5 .modtitle span {
    font-weight: 400; }
  .typefooter-5 .box-footer .modcontent ul li a {
    line-height: 35px;
    display: inline-block;
    position: relative;
    transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s; }
    .typefooter-5 .box-footer .modcontent ul li a:before {
      background-color: #f55;
      border-radius: 50%;
      content: "";
      height: 4px;
      left: 0;
      position: absolute;
      top: 15px;
      width: 4px;
      visibility: hidden;
      -webkit-opacity: 0;
      -moz-opacity: 0;
      -ms-opacity: 0;
      -o-opacity: 0;
      opacity: 0;
      transition: all 0.2s ease-in-out 0s;
      -moz-transition: all 0.2s ease-in-out 0s;
      -webkit-transition: all 0.2s ease-in-out 0s; }
    .typefooter-5 .box-footer .modcontent ul li a:hover {
      padding-left: 10px; }
    .typefooter-5 .box-footer .modcontent ul li a:hover:before {
      visibility: visible;
      -webkit-opacity: 1;
      -moz-opacity: 1;
      -ms-opacity: 1;
      -o-opacity: 1;
      opacity: 1;
      transition: all 0.2s ease-in-out 0s;
      -moz-transition: all 0.2s ease-in-out 0s;
      -webkit-transition: all 0.2s ease-in-out 0s; }
    .typefooter-5 .box-footer .modcontent ul li a {
      border: 0 none;
      color: #ccc;
      /* [4] */
      /* [6] */
      /* [6] */
      /* [7] */
      font-size: 12px;
      font-size: 1.2rem;
      /* [8] */
      padding: 0;
      font-weight: 400; }
  .typefooter-5 .box-footer.box-information, .typefooter-5 .box-footer.box-service {
    padding-left: 0; }
  .typefooter-5 .contact-us h2 {
    margin: 0; }
  .typefooter-5 .contact-us .links-contact {
    margin-bottom: 15px; }
  .typefooter-5 .contact-us ul.links-contact > li {
    /* [4] */
    /* [6] */
    /* [6] */
    /* [7] */
    font-size: 12px;
    font-size: 1.2rem;
    /* [8] */
    line-height: 24px;
    padding: 7px 0;
    color: #ccc; }
  .typefooter-5 .contact-us ul.links-contact > li .fa {
    color: #fff;
    margin-right: 13px; }
  .typefooter-5 .contact-us ul.links-contact > li.contact-mail a {
    color: #ccc; }
  .typefooter-5 .footer-center {
    padding-top: 77px;
    padding-bottom: 48px;
    color: #ccc; }
  .typefooter-5 .footer-center a {
    color: #ccc; }
  .typefooter-5 .footer-center a:hover {
    color: #f55; }
  .typefooter-5 .footer-bottom {
    border-top: 1px dashed #343434;
    color: #ccc;
    padding: 25px 0 20px 0; }
  .typefooter-5 .footer-bottom .copyright {
    margin-top: 3px;
    text-align: left;
    font-size: 12px; }
  .typefooter-5 .footer-bottom .payment-w {
    text-align: right; }
