{{ header }}
<div class="breadcrumbs">
  <div class="container">
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
</div>
<div class="container">
  
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
	
    <div id="content" class="{{ class }}">{{ content_top }}
    	<div class="info-contact row">
			
			<div class="col-sm-4 col-xs-12">
				<div class="info-store">
		          <div class="name-store"><h3>{{ store }}</h3></div>
		          {% if comment %}
		            <div class="comment">
		            	{{ comment }}
		            </div>
		          {% endif %} 
		            <address>
		            <div class="address clearfix form-group"><div class="pull-left"><i class="fa fa-home"></i></div><div class="text">{{ address }}</div></div>
		            <div class="form-group"><div class="pull-left"><i class="fa fa-phone"></i></div><div class="text">{{ telephone }}</div></div>
		            {% if fax %}
		            <div class="form-group"><div class="pull-left"><i class="fa fa-fax"></i></div><div class="text"> {{ fax }}</div></div>
		            {% endif %} 
		            {% if open %}
		            <div class="form-group"><div class="pull-left"><i class="fa fa-clock-o"></i></div><div class="text">{# {{ text_open }} #} {{ open }}</div>  </div>
		           {% endif %} 
		            {% if geocode %}
		                    <a href="https://maps.google.com/maps?q=<?php echo urlencode($geocode); ?>&hl=<?php echo $geocode_hl; ?>&t=m&z=15" target="_blank" class="btn btn-info hidden"><i class="fa fa-map-marker"></i> {{ button_map }}</a>
		                     {% endif %} 
		            </address>
		            <div class="socials">
						<ul>
							<li><a href="https://www.facebook.com/flytheme"><i class="fa fa-facebook"></i></a></li>
							<li><a href="https://twitter.com/Flytheme"><i class="fa fa-twitter"></i></a></li>       
							<li><a href="https://plus.google.com/u/0/b/102399087761949580069/102399087761949580069/posts"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="https://www.linkedin.com/in/flytheme"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-tumblr"></i></a></li>
						</ul>
					</div>
				</div>
	        </div>
			<div class="col-sm-8 col-xs-12">
				<div class="contact-form">
				   <form action="{{ action }} " method="post" enctype="multipart/form-data" class="form-horizontal">
					<fieldset>
						<legend><h2>{{ text_contact }} </h2></legend>
	                  
					  <div class="form-group required">
						<div class="col-sm-12">
						  <input type="text" name="name" value="{{ name }}" id="input-name" class="form-control" placeholder="{{ entry_name }} *"/>
						  {% if error_name %} 
						  <div class="text-danger">{{ error_name }} </div>
						  {% endif %} 
						</div>
					  </div>
					  <div class="form-group required">
						<div class="col-sm-12">
						  <input type="text" name="email" value="{{ email }}" id="input-email" class="form-control" placeholder="{{ entry_email }} *" />
						  {% if error_email %} 
						  <div class="text-danger">{{ error_email }} </div>
						  {% endif %} 
						</div>
					  </div>
					  <div class="form-group required">
						<div class="col-sm-12">
						  <textarea name="enquiry" value="{{ entry_enquiry }}" rows="10" id="input-enquiry" placeholder="{{ entry_enquiry }} *" class="form-control">{{ enquiry }}</textarea>
						  {% if error_enquiry %} 
						  <div class="text-danger">{{ error_enquiry }} </div>
						  {% endif %} 
						</div>
					  </div>
					  {{ captcha }} 
					</fieldset>
					<div class="buttons">
					  <div class="pull-left">
						<button class="btn btn-info" type="submit"><span>{{ button_submit }} </span></button>
					  </div>
					</div>
				  </form>
				</div>
			</div>
		</div>
    	<div class="info-store">
			{% if image %} 
			<div id="map-canvas-img" class="form-group">

			<img src="{{ image }} " alt="{{ store }} " title="{{ store }} " /></div>
		 
			{% else %}
				<div id="map-canvas">
				</div>
				<script src="https://maps.googleapis.com/maps/api/js?key={{soconfig.get_settings('mapkeys')}}"></script>
				<script type="text/javascript">
					
					function showLatLgn() {
						var geocoder = new google.maps.Geocoder();
						var latlng = new google.maps.LatLng({{soconfig.get_settings('mapgeocode')}});

						geocoder.geocode({"latLng": latlng}, function (results, status) {
						
							if (status == google.maps.GeocoderStatus.OK) {
							
								var add = results[1].formatted_address; //this is the full address
								var myOptions = {
									zoom: {{soconfig.get_settings('mapzoom')}},
									center: latlng,
									mapTypeId: google.maps.MapTypeId.ROADMAP
								};
								var map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);
								var marker = new google.maps.Marker({
									map: map,
									position: latlng
								});
								marker.setTitle('Address');
								attachSecretMessage(marker,add);
							} else {
								try {
									alert("Address not found");
								} catch (e) {
								}
							}

						})
					}
					
				
					function showLocation() {
						var address = "{{soconfig.get_settings('mapaddress')}}";
						var geocoder = new google.maps.Geocoder();
						geocoder.geocode({"address": address}, function (results, status) {
							// If the Geocoding was successful
							if (status == google.maps.GeocoderStatus.OK) {
								var myOptions = {
									zoom: {{soconfig.get_settings('mapzoom')}},
									center: results[0].geometry.location,
									mapTypeId: google.maps.MapTypeId.ROADMAP
								};
								var map = new google.maps.Map(document.getElementById("map-canvas"), myOptions);

								// Add a marker at the address.
								var marker = new google.maps.Marker({
									map: map,
									position: results[0].geometry.location
								});
								marker.setTitle('Address');
								attachSecretMessage(marker, address);
							} else {
								try {
									alert(address + " not found");
								} catch (e) {
								}
							}
						});
					}
					
					
					function attachSecretMessage(marker, message) {
						var infowindow = new google.maps.InfoWindow(
							{
								content: message
							});
						google.maps.event.addListener(marker, 'click', function () {
							infowindow.open(marker.get('map'), marker);
						});
					}

					
					{% if soconfig.get_settings('mapaddress') is empty %}
						google.maps.event.addDomListener(window, 'load', showLatLgn);
					{% else %}
						google.maps.event.addDomListener(window, 'load', showLocation);
					{% endif %} 

				</script>
			 
			 {% endif %} 
		</div>
		
		
		
      
	  
      
      
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
