<script>
//<![CDATA[
	var listcategoryslider{{ module }} = [];
//]]>
</script>
<div id="{{ tag_id }}" class="so-category-slider container-slider module {{ direction_class }} {{ class_suffix }}">

	{% if disp_title_module %}
		<h3 class="modtitle">{{ head_name }}</h3>
	{% endif %}

	{% if pre_text != '' %}
		<div class="form-group">
			{{ pre_text }}
		</div>
	{% endif %}

	<div class="page-top">
		<h3 class="catetitle">
			<span>
				{% if cat_title_display == 1 %}
				  	{{ list[0].title }}
				{% endif %}
			</span>
		</h3>
		{% if list[0].child_cat is not empty %}
			<div class="item-sub-cat font-title">
				<a class="view-all" href="{{ list[0].link }}" title="{{ list[0].title }}" target="{{ item_link_target }}" >
					{{ objlang.get('text_viewall') }}
				</a>
				<ul>
					{% for cat_tree in list[0].child_cat %}
					<li>
						<a href="{{ cat_tree.link }}" title="{{ cat_tree.title }}" target="{{ item_link_target }}">
							{% if cat_tree.title|length > cat_sub_title_maxcharacs and cat_sub_title_maxcharacs != 0 %}
								{{ cat_tree.title|striptags|slice(0, tab_max_characters) ~ '..' }}
							{% else %}
								{{ cat_tree.title }}
							{% endif %}
							{% if cat_all_product %}
								<span>{{ '&nbsp;&nbsp;(' ~ cat_tree.all_product ~ ')'~'&nbsp;' }}</span>
							{% endif %}
						</a>
					</li>
					{% endfor %}
				</ul>
			</div> 
		{% endif %}
	</div>

	<div class="modcontent">
		{% if list and list is not empty %}
			{% set btn_prev = '&#139;' %}
			{% set btn_next = '&#155;' %}
			{% set class_respl = 'preset01-'~nb_column0~' preset02-'~nb_column1~' preset03-'~nb_column2~' preset04-'~nb_column3~' preset05-'~nb_column4 %}
			{% set count_item = list[0].product|length %}
			{% set i = 0 %}
			
			{% if list[0].child_cat %}
				{% set class_respon = 'slider' %}
			{% else %}
				{% set class_respon = 'slider-full' %}
			{% endif %}
		
			{% if list[0].child_cat is not empty %}
				{% set class_item_full = 'show' %}
			{% else %}
				{% set class_item_full = 'show-image' %}
			{% endif %}
			
			<div class="categoryslider-content products-list  {{ class_item_full }} {{ class_respl }}">
			{% if cat_image_display == 1 and display_feature == 0 %}
				<div class="item-cat-image">
					<a href="{{ list[0].link }}" title="{{ list[0].titleFull }}" target="{{ item_link_target }}">
						<img class="categories-loadimage lazyload"  alt="{{ list[0].titleFull }}"  data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ list[0].image }}" />
					</a>
				</div>
			{% endif %}

			{% if display_feature == 1 %}
				<div class="item-cat-image">
					<div class="product-feature">
					{% for product in product_features %}
						<div class="item product-layout product-grid">
							<div class="product-thumb transition">
								<div class="image">
									{% if product.special and display_sale %}
										<span class="label label-sale">{# {{ objlang.get('text_sale') }} #} {{ product.discount }}</span>
									{% endif %}
									{% if product.productNew and display_new %}
										<span class="label label-new">{{ objlang.get('text_new') }}</span>
									{% endif %}
									
									{% if product_image %}
										<a href="{{ product.href }}" target="{{ item_link_target }}">
											{% if product_image_num ==2 %}
												<img data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ product.thumb }}" class="img-thumb1 img-responsive lazyload" alt="{{ product.name }}">
												<img data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ product.thumb2 }}" class="img-thumb2 img-responsive lazyload" alt="{{ product.name }}">
											{% else %}
												<img data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ product.thumb }}" alt="{{ product.name }}" class="img-responsive lazyload">
											{% endif %}
										</a>
									{% endif %}
								</div>

								<div class="caption">
									{% if display_title == 1 %}
									<h4><a href="{{ product.href }}" target="{{ item_link_target }}" title="{{ product.name }}" >{{ product.name_maxlength }}</a></h4>
									{% endif %}

									{% if display_description %}
										<p>{{ product.description_maxlength }}</p>
									{% endif %}

									{% if display_rating %}
										<div class="rating">
											{% for j in 1..5 %}
												{% if product.rating < j %}
													<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
												{% else %}
													<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
												{% endif %}
											{% endfor %}
										</div>
									{% endif %}

									{% if product.price and display_price %}
										<p class="price">
											{% if product.special is empty %}
												<span class="price-new">{{ product.price }}</span>
											{% else %}
												<span class="price-new">{{ product.special }}</span>
												<span class="price-old">{{ product.price }}</span>
											{% endif %}
											
										</p>
									{% endif %}

									<div class="item-time">
										<div class="item-timer product_time_category_slider{{ product.product_id }}"></div>
										<script type="text/javascript">
											//<![CDATA[
											listcategoryslider{{ module }}.push('product_time_category_slider{{ product.product_id }}|{{ product.specialPriceToDate }}')
											//]]>
										</script>
									</div>
								</div>
								
								{% if display_addtocart or display_wishlist or display_compare %}
									<div class="button-group">
										{% if display_addtocart %}
											<button type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-basket"></i> <span class="hidden-xs hidden-sm hidden-md">{{ objlang.get('button_cart') }}</span></button>
										{% endif %}
										{% if display_wishlist %}
											<button type="button" title="{{ objlang.get('button_wishlist') }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
										{% endif %}
										{% if display_compare %}
											<button type="button" title="{{ objlang.get('button_compare') }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
										{% endif %}
									</div>
								{% endif %}
							</div>
						</div>
					{% endfor %}
					</div>
				</div>
			{% endif %}

			{% if list[0].product is not empty %}
				<div class="slider so-category-slider not-js cols-6" data-effect="{{ effect }}">
					{% for product in list[0].product if product_feature_ids not in product.product_id %}
						{% set i = i + 1 %}
						{% if i % nb_rows == 1 or nb_rows == 1 %}
						<div class="item product-layout product-grid">
						{% endif %}
							<div class="item-inner product-thumb transition product-item-container">
								<div class="right-block">
									<div class="box-label">
										{% if product.special and display_sale %}
											<span class="label label-sale">{# {{ objlang.get('text_sale') }} #} {{ product.discount }}</span>
										{% endif %}
										
										{% if product.productNew and display_new %}
											<span class="label label-new">{{ objlang.get('text_new') }}</span>
										{% endif %}
									</div>
									
									<div class="caption">
										{% if display_rating %}
											<div class="rating">
												{% for k in 1..5 %}
													{% if product.rating < k %}
														<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
													{% else %}
														<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
													{% endif %}
												{% endfor %}
											</div>
										{% else %}
											<div class="rating">
												{% for j in 1..5 %}
												<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
												{% endfor %}
											</div>
										{% endif %}

										{% if display_title == 1 %}
											<h4>
												<a href="{{ product.href }}" title="{{ product.name }}" target="{{ item_link_target }}">
													{{ product.name_maxlength }}
												</a>
											</h4>
										{% endif %}

										{% if display_description == 1 %}
											{{ product.description_maxlength }}
										{% endif %}
									
										{% if product.price and display_price %}
											<p class="price">
												{% if product.special is empty %}
													<span class="price-new">{{ product.price }}</span>
												{% else %}
													<span class="price-new">{{ product.special }}</span>
													<span class="price-old">{{ product.price }}</span>
												{% endif %}
												
											</p>
										{% endif %}
									</div>
								</div>
								<div class="left-block">								
																	
									<div class="product-image-container {% if product_image_num ==2 %} {{ 'second_img' }} {% endif %}">
										{% if product_image %}
										<div class="image">
											<a class="lt-image" href="{{ product.href }}" target="{{ item_link_target }}" title="{{ product.name }}">
												{% if product_image_num ==2 %}
												<img data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ product.thumb }}" class="img-thumb1 img-responsive lazyload" alt="{{ product.name }}">
												<img data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ product.thumb2 }}" class="img-thumb2 img-responsive lazyload" alt="{{ product.name }}">
											{% else %}
												<img data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ product.thumb }}" alt="{{ product.name }}" class="img-responsive lazyload">
											{% endif %}
											</a>
										</div> 
										{% endif %}
									</div>
									
									<div class="button-group so-quickview">
										{% if display_addtocart %}
											<button class="addToCart btn-button" type="button" title="{{ objlang.get('button_cart') }}" onclick="cart.add('{{ product.product_id }}');">
												<i class="fa fa-shopping-basket"></i> 
												<!-- <span class="hidden-xs hidden-sm hidden-md">{{ objlang.get('button_cart') }}</span> -->
											</button>
										{% endif %}
										{% if display_wishlist %}
											<button class="wishlist btn-button" type="button" title="{{ objlang.get('button_wishlist') }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart-o"></i></button>
										{% endif %}
										{% if display_compare %}
											<button class="compare btn-button" type="button" title="{{ objlang.get('button_compare') }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-retweet"></i></button>
										{% endif %}								
										<a class="hidden" data-product='{{ product.product_id }}' href="{{ product.href }}" target="{{ item_link_target }}" title="{{ product.nameFull }} " ></a>
										
									</div>
								</div>
							</div> 
						{% if i % nb_rows == 0 or i == count_item %}
						</div> 
						{% endif %}
					{% endfor %}
				</div>
			
				
			{% else %}
				<p style="margin: 20px; text-align: center">{{ objlang.get('text_noitem') }}</p>
			{% endif %}
			<!-- <div class="icon-cate">
				<a title="{{ list[0].title }}" href="{{ list[0].link }}"> {{ 'text' }}</a>
			</div>  -->
		</div> 
		<script type="text/javascript">
			//<![CDATA[
			jQuery(document).ready(function ($) {
				;(function (element) {
				var id = $("#{{ tag_id }}");
				var $element = $(element),
						$extraslider = $(".slider", $element),
						$featureslider = $('.product-feature', $element),
						_delay = {{ delay }},
						_duration = {{ duration }},
						_effect = '{{ effect }}',
						total_item = {{ count_item  }};

				$extraslider.on("initialized.owl.carousel2", function () {
					var $item_active = $(".slider .owl2-item.active", $element);
					if ($item_active.length > 1 && _effect != "none") {
						_getAnimate($item_active);
					}
					else {
						var $item = $(".owl2-item", $element);
						$item.css({"opacity": 1, "filter": "alpha(opacity = 100)"});
					}
					var $navpage = $(".page-top .page-title-categoryslider span", id);
					$(".slider .owl2-controls", id).insertAfter($navpage);
					$(".slider .owl2-dot", id).css("display", "none");

				});
				$extraslider.owlCarousel2({
					rtl: {{ direction }},
					margin: {{ margin }},
					slideBy: {{ slideBy }},
					autoplay: {{ autoplay }},
					autoplayHoverPause: {{ pausehover }},
					autoplayTimeout: {{ autoplay_timeout }},
					autoplaySpeed: {{ autoplaySpeed }},
					startPosition: {{ startPosition }},
					mouseDrag: {{ mouseDrag }},
					touchDrag: {{ touchDrag }},
					autoWidth: false,
					responsive: {
						0:{	items: {{ nb_column4 }},
							nav: total_item <= {{ nb_column4 }} ? false : (({{ nav  }}) ? true: false),
						},
						480:{ items: {{ nb_column3 }},
							nav: total_item <= {{ nb_column3 }} ? false : (({{ nav  }}) ? true: false),
						},
						768:{ items: {{ nb_column2 }},
							nav: total_item <= {{ nb_column2 }} ? false : (({{ nav  }}) ? true: false),
						},
						992:{ items: {{ nb_column1 }},
							nav: total_item <= {{ nb_column1 }} ? false : (({{ nav  }}) ? true: false),
						},
						1200:{ items: {{ nb_column0 }},
							nav: total_item <= {{ nb_column0 }} ? false : (({{ nav  }}) ? true: false),
						}
					},
					nav: {{ nav }},
					loop: true,
					navSpeed: {{ navSpeed }},
					navText: ["{{ btn_prev }}", "{{ btn_next }}"],
					navClass: ["owl2-prev", "owl2-next"]
				});

				$extraslider.on("translated.owl.carousel2", function (e) {
					var $item_active = $(".slider .owl2-item.active", $element);
					var $item = $(".slider .owl2-item", $element);
					_UngetAnimate($item);
					if ($item_active.length > 1 && _effect != "none") {
						_getAnimate($item_active);
					} else {
						$item.css({"opacity": 1, "filter": "alpha(opacity = 100)"});

					}
				});
				
				/* Product Feature */
				$featureslider.owlCarousel2({
					rtl: {{ direction }},
					margin: {{ margin }},
					slideBy: {{ slideBy }},
					autoplay: {{ autoplay }},
					autoplayHoverPause: {{ pausehover }},
					autoplayTimeout: {{ autoplay_timeout }},
					autoplaySpeed: {{ autoplaySpeed }},
					startPosition: {{ startPosition }},
					mouseDrag: {{ mouseDrag }},
					touchDrag: {{ touchDrag }},
					autoWidth: false,
					responsive: {
						0:	{ items: 1	},
						480:{ items: 1	},
						768:{ items: 1	},
						992:{ items: 1	},
						1200:{ items: 1 }
					},
					nav: false,
					loop: true,
					navSpeed: {{ navSpeed }},
					navText: ["{{ btn_prev }}", "{{ btn_next }}"],
					navClass: ["owl2-prev", "owl2-next"]
				});

				$featureslider.on("translated.owl.carousel2", function (e) {
					var $item_active = $(".product-feature .owl2-item.active", $element);
					var $item = $(".product-feature .owl2-item", $element);
					_UngetAnimate($item);
					if ($item_active.length > 1 && _effect != "none") {
						_getAnimate($item_active);
					} else {
						$item.css({"opacity": 1, "filter": "alpha(opacity = 100)"});

					}
				});
				function _getAnimate($el) {
					if (_effect == "none") return;
					$extraslider.removeClass("extra-animate");
					$el.each(function (i) {
						var $_el = $(this);
						$(this).css({
							"-webkit-animation": _effect + " " + _duration + "ms ease both",
							"-moz-animation": _effect + " " + _duration + "ms ease both",
							"-o-animation": _effect + " " + _duration + "ms ease both",
							"animation": _effect + " " + _duration + "ms ease both",
							"-webkit-animation-delay": +i * _delay + "ms",
							"-moz-animation-delay": +i * _delay + "ms",
							"-o-animation-delay": +i * _delay + "ms",
							"animation-delay": +i * _delay + "ms",
							"opacity": 1
						}).animate({
							opacity: 1
						});

						if (i == $el.size() - 1) {
							$extraslider.addClass("extra-animate");
						}
					});
				}

				function _UngetAnimate($el) {
					$el.each(function (i) {
						$(this).css({
							"animation": "",
							"-webkit-animation": "",
							"-moz-animation": "",
							"-o-animation": "",
							"opacity": 1
						});
					});
				}
				data = new Date(2013, 10, 26, 12, 00, 00);
				function CountDownCategorySlider(date, id) {
					dateNow = new Date();
					amountCategorySlider = date.getTime() - dateNow.getTime();
					if (amountCategorySlider < 0 && $('#' + id).length) {
						$('.' + id).html("Now!");
					} else {
						daysCategorySlider = 0;
						hoursCategorySlider = 0;
						minsCategorySlider = 0;
						secsCategorySlider = 0;
						outCategorySlider = "";
						amountCategorySlider = Math.floor(amountCategorySlider / 1000);
						daysCategorySlider = Math.floor(amountCategorySlider / 86400);
						amountCategorySlider = amountCategorySlider % 86400;
						hoursCategorySlider = Math.floor(amountCategorySlider / 3600);
						amountCategorySlider = amountCategorySlider % 3600;
						minsCategorySlider = Math.floor(amountCategorySlider / 60);
						amountCategorySlider = amountCategorySlider % 60;
						secsCategorySlider = Math.floor(amountCategorySlider);
						if (daysCategorySlider != 0) {
							/*outCategorySlider += "<div class='time-item time-day'>" + "<div class='num-time'>" + daysCategorySlider + "</div>" + " <div class='name-time'>" + ((daysCategorySlider == 1) ? "Day" : "Days") + "</div>" + "</div> ";*/
							outCategorySlider += "<div class='time-item time-day'>" + "<div class='num-time'>" + daysCategorySlider + "</div> : </div> ";
						}
						if(daysCategorySlider == 0 && hoursCategorySlider != 0)
						{
							/*outCategorySlider += "<div class='time-item time-hour' style='width:33.33%'>" + "<div class='num-time'>" + hoursCategorySlider + "</div>" + " <div class='name-time'>" + ((hoursCategorySlider == 1) ? "Hour" : "Hours") + "</div>" + "</div> ";*/
							outCategorySlider += "<div class='time-item time-hour' style='width:33.33%'><div class='num-time'>" + hoursCategorySlider + "</div> : </div> ";
						}else if (hoursCategorySlider != 0) {
							/*outCategorySlider += "<div class='time-item time-hour'>" + "<div class='num-time'>" + hoursCategorySlider + "</div>" + " <div class='name-time'>" + ((hoursCategorySlider == 1) ? "Hour" : "Hours") + "</div>" + "</div> ";*/
							outCategorySlider += "<div class='time-item time-hour'><div class='num-time'>" + hoursCategorySlider + "</div> : </div> ";
						}
						if(daysCategorySlider == 0 && hoursCategorySlider != 0)
						{
							/*outCategorySlider += "<div class='time-item time-min' style='width:33.33%'>" + "<div class='num-time'>" + minsCategorySlider + "</div>" + " <div class='name-time'>" + ((minsCategorySlider == 1) ? "Min" : "Mins") + "</div>" + "</div> ";*/
							outCategorySlider += "<div class='time-item time-min' style='width:33.33%'><div class='num-time'>" + minsCategorySlider + "</div> : </div>";
							
							/*outCategorySlider += "<div class='time-item time-sec' style='width:33.33%'>" + "<div class='num-time'>" + secsCategorySlider + "</div>" + " <div class='name-time'>" + ((secsCategorySlider == 1) ? "Sec" : "Secs") + "</div>" + "</div> ";*/
							outCategorySlider += "<div class='time-item time-sec' style='width:33.33%'><div class='num-time'>" + secsCategorySlider + "</div> : </div>";
							outCategorySlider = outCategorySlider.substr(0, outCategorySlider.length - 2);
						}else if(daysCategorySlider == 0 && hoursCategorySlider == 0)
						{
							/*outCategorySlider += "<div class='time-item time-min' style='width:50%'>" + "<div class='num-time'>" + minsCategorySlider + "</div>" + " <div class='name-time'>" + ((minsCategorySlider == 1) ? "Min" : "Mins") + "</div>" + "</div> ";*/
							outCategorySlider += "<div class='time-item time-min' style='width:50%'><div class='num-time'>" + minsCategorySlider + "</div> : </div> ";
							
							/*outCategorySlider += "<div class='time-item time-sec' style='width:50%'>" + "<div class='num-time'>" + secsCategorySlider + "</div>" + " <div class='name-time'>" + ((secsCategorySlider == 1) ? "Sec" : "Secs") + "</div>" + "</div> ";*/
							outCategorySlider += "<div class='time-item time-sec' style='width:50%'><div class='num-time'>" + secsCategorySlider + "</div> : </div> ";
							outCategorySlider = outCategorySlider.substr(0, outCategorySlider.length - 2);
						}else{
							/*outCategorySlider += "<div class='time-item time-min'>" + "<div class='num-time'>" + minsCategorySlider + "</div>" + " <div class='name-time'>" + ((minsCategorySlider == 1) ? "Min" : "Mins") + "</div>" + "</div> ";*/
							outCategorySlider += "<div class='time-item time-min'><div class='num-time'>" + minsCategorySlider + "</div> : </div> ";
							/*outCategorySlider += "<div class='time-item time-sec'>" + "<div class='num-time'>" + secsCategorySlider + "</div>" + " <div class='name-time'>" + ((secsCategorySlider == 1) ? "Sec" : "Secs") + "</div>" + "</div> ";*/
							outCategorySlider += "<div class='time-item time-sec'><div class='num-time'>" + secsCategorySlider + "</div></div> ";
							outCategorySlider = outCategorySlider.substr(0, outCategorySlider.length - 2);
						}
						$('.' + id).html(outCategorySlider);

						setTimeout(function () {
							CountDownCategorySlider(date, id);
						}, 1000);
					}
				}
				if (listcategoryslider{{ module }}.length > 0) {
					for (var i = 0; i < listcategoryslider{{ module }}.length; i++) {
						var arr = listcategoryslider{{ module }}[i].split("|");
						if (arr[1].length) {
							var data = new Date(arr[1]);
							CountDownCategorySlider(data, arr[0]);
						}
					}
				}
			})("#{{ tag_id }}");
			});
		//]]>
		</script>
	{% else %}
	    <div class="alert alert-info"><i class="fa fa-info-circle"></i> 
			{{ objlang.get('text_noitem') }}
			<button type="button" class="close" data-dismiss="alert">×</button>
		</div>
	{% endif %}
	</div> 

	{% if post_text != '' %}
		<div class="form-group">
			{{ post_text }}
		</div>
	{% endif %}
</div>