<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{{ store_name }}</title>
    </head>
    <body style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000;">
        {% if (mail_type is defined and mail_type == 'enquiry') %} 
            <div style="width: 680px;">
                <a href="{{ store_url }}" title="{{ store_name }}">
                    <img src="{{ logo }}" alt="{{ store_name }}" style="margin-bottom: 20px; border: none;" />
                </a>
                <p style="margin-top: 0px; margin-bottom: 20px;">{{ heading }}</p>
                <p>{{ mail_text_salutation }}</p>
                <p>{{ query_id }}</p>
                <p>{{ mail_text_subject~enquiry_subject }}</p>
                <p>{{ mail_text_query~enquiry_query }}</p>
                </br>
                {% if (enquiry_mail is defined and enquiry_mail == 'customer_enquiry') %} 
                    <p>
                        {{ greeting_to_customer }}</br>
                        <a href="{{ enquiry_link }}" >{{ mail_text_check_ur_enq }}</a></br>
                    </p>
                {% endif %} 
                <p>{{ mail_text_thank_you }}</p>
                <p>{{ store_name }}</p>
            </div>
        {% elseif (mail_type is defined and mail_type == 'enquiry') %} 
            <div style="width: 680px;">
                <a href="{{ store_url }}" title="{{ store_name }}">
                    <img src="{{ logo }}" alt="{{ store_name }}" style="margin-bottom: 20px; border: none;" />
                </a>
                <p style="margin-top: 0px; margin-bottom: 20px;">{{ heading }}</p>
                <p>{{ mail_text_salutation }}</p>
                <p>{{ query_id }}</p>
                <p>{{ mail_text_subject~enquiry_subject }}</p>
                <p>{{ mail_text_query~enquiry_query }}</p>
                </br>
                {% if (enquiry_mail is defined and enquiry_mail == 'customer_enquiry') %} 
                    <p>
                        {{ greeting_to_customer }}</br>
                        <a href="{{ enquiry_link }}" >{{ mail_text_check_ur_enq }}</a></br>
                    </p>
                {% endif %} 
                <p>{{ mail_text_thank_you }}</p>
                <p>{{ store_name }}</p>
            </div>
        {% endif %} 
    </body>
</html>
