{{ header }} 
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %} 
    <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
    {% endfor %} 
  </ul>
  {% if (success) %} 
  <div class="alert alert-success"><i class="fa fa-check-circle"></i>{{ success }}</div>
  {% endif %} 
  <div class="row">{{ column_left }} 
    {% if (column_left and column_right) %} 
    {% set class = 'col-sm-6' %} 
    {% elseif (column_left or column_right) %} 
    {% set class = 'col-sm-9' %} 
    {% else %} 
    {% set class = 'col-sm-12' %} 
    {% endif %} 
    <style>
        .table a.desc:after, .table a.DESC:after {
            content: " \f106";
            font-family: FontAwesome;
            font-size: 14px;
        }
        .table a.asc:after, .table a.ASC:after {
            content: " \f107";
            font-family: FontAwesome;
            font-size: 14px;
        }
    </style>
    <div id="content" class="{{ class }}">{{ content_top }} 
      <h1>
     {{ heading_title_enquiry }} 
        {% if (preorder_products is defined and preorder_products) %} 
            <button class="btn btn-primary pull-right" type="button" data-toggle="modal" data-target="#preorder-enquiry-modal">
             {{ text_on_enquiry }} 
            </button>
        {% else %} 
            <button class="btn btn-danger pull-right" type="button" disabled >
                <i class="fa fa-exclamation"></i>
              {{ text_no_product_to_enquiry }} 
            </button>
        {% endif %} 
      </h1>
      <fieldset>
        <div class="well">
            <form id="filter-form">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label"><b>{{ column_enquiry_id }}</b></label>
                            <input type="text" class="form-control" name="filter_enquiry_id" value="{% if (filter_enquiry_id is defined) %}{{ filter_enquiry_id }}{% endif %}" />
                        </div>
                        <div class="form-group">
                            <label class="control-label"><b>{{ column_customer_name }}</b></label>
                            <input type="text" class="form-control" name="filter_customer_name" value="{% if (filter_customer_name is defined) %}{{ filter_customer_name }}{% endif %}" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label"><b>{{ column_email }}</b></label>
                            <input type="text" class="form-control" name="filter_email" value="{% if (filter_email is defined) %}{{ filter_email }}{% endif %}" />
                        </div>
                        <div class="form-group">
                            <label class="control-label"><b>{{ column_product_name }}</b></label>
                            <input type="text" class="form-control" name="filter_product_name" value="{% if (filter_product_name is defined) %}{{ filter_product_name }}{% endif %}" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label"><b>{{ column_subject }}</b></label>
                            <input type="text" class="form-control" name="filter_subject" value="{% if (filter_subject is defined) %}{{ filter_subject }}{% endif %}" />
                        </div>
                        <div class="form-group">
                            <label class="control-label"><b>{{ column_status }}</b></label>
                            <select class="form-control" name="filter_status">
                                <option value=""></option>
                                <option value="1" {% if (filter_status is defined and filter_status) %}{{ "selected" }}{% endif %} >{{ text_open }}</option>
                                <option value="0" {% if (filter_status is defined and filter_status != '' and not filter_status) %}{{ "selected" }}{% endif %} >{{ text_resolved }}</option>
                            </select>
                        </div>
                        <div class="btn-group pull-right">
                            <button class="btn btn-primary filter-btn" type="button" data-toggle="tooltip" title="{{ button_filter }}" ><i class="fa fa-filter"></i></button>
                            <a href="{{ clear_filter }}" class="btn btn-default" type="button" data-toggle="tooltip" title="{{ button_clear_filter }}" ><i class="fa fa-eraser"></i></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <td class="text-left"><b>
                             {% if (sort == 'pe.enquiry_id') %} 
                                <a href="{{ sort_enquiry_id }}" class="{{ order | lower }}" >{{ column_enquiry_id }}</a>
                            {% else %} 
                                <a href="{{ sort_enquiry_id }}" >{{ column_enquiry_id }}</a>
                            {% endif %} 
                        </b></td>
                        <td class="text-left"><b>
                             {% if (sort == 'pe.customer_name') %} 
                                <a href="{{ sort_customer_name }}" class="{{ order | lower }}" >{{ column_customer_name }}</a>
                            {% else %} 
                                <a href="{{ sort_customer_name }}" >{{ column_customer_name }}</a>
                            {% endif %} 
                        </b></td>
                        <td class="text-left"><b>
                             {% if (sort == 'pe.email') %} 
                                <a href="{{ sort_email }}" class="{{ order | lower }}" >{{ column_email }}</a>
                            {% else %} 
                                <a href="{{ sort_email }}" >{{ column_email }}</a>
                            {% endif %} 
                        </b></td>
                        <td class="text-left"><b>
                             {% if (sort == 'pd.name') %} 
                                <a href="{{ sort_name }}" class="{{ order | lower }}" >{{ column_product_name }}</a>
                            {% else %} 
                                <a href="{{ sort_name }}" >{{ column_product_name }}</a>
                            {% endif %} 
                        </b></td>
                        <td class="text-center"><b>{{ column_total_threads }}</b></td>
                        <td class="text-left"><b>
                             {% if (sort == 'pe.subject') %} 
                                <a href="{{ sort_subject }}" class="{{ order | lower }}" >{{ column_subject }}</a>
                            {% else %} 
                                <a href="{{ sort_subject }}" >{{ column_subject }}</a>
                            {% endif %} 
                        </b></td>
                        <td class="text-left"><b>
                             {% if (sort == 'pe.status') %} 
                                <a href="{{ sort_status }}" class="{{ order | lower }}" >{{ column_status }}</a>
                            {% else %} 
                                <a href="{{ sort_status }}" >{{ column_status }}</a>
                            {% endif %} 
                        </b></td>
                        <td class="text-center"><b>{{ column_action }}</b></td>
                    </tr>
                </thead>
                <tbody>
                    {% if (enquires is defined and enquires) %} 
                        {% for index,enquiry in enquires %} 
                            <tr>
                                <td class="text-left">{{ enquiry['enquiry_id'] }}</td>
                                <td class="text-left">{{ enquiry['customer_name'] }}</td>
                                <td class="text-left">{{ enquiry['email'] }}</td>
                                <td class="text-left">{{ enquiry['product_name'] }}</td>
                                <td class="text-center">
                                    <span class="badge">
                                     {{ enquiry['total_thread'] }} 
                                    </span>
                                </td>
                                <td class="text-left">{{ enquiry['subject'] }}</td>
                                <td class="text-left">{{ enquiry['status'] ? text_open : text_resolved }}</td>
                                <td class="text-center">
                                    <a href="{{ enquiry['view'] }}" class="btn btn-primary">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %} 
                    {% else %} 
                        <tr>
                            <td class="text-center" colspan="8">{{ text_no_record }}</td>
                        </tr>
                    {% endif %} 
                </tbody>
            </table>
        </div>
    </fieldset>
    <div class="row">
    <div class="col-sm-6 text-left">{{ pagination }}</div>
    <div class="col-sm-6 text-right">{{ results }}</div>
    </div>
 {{ content_bottom }}</div>
 {{ column_right }}</div>
</div>
<script>
    function enableSubmitButton() {
        $('.preorder-button').removeClass('hide');
    }
    function disableSubmitButton() {
        $('.preorder-button').addClass('hide');
    }
    var onloadCallback = function() {
        preorder_captcha_id = grecaptcha.render('preorder-catpcha', {
            'sitekey' : '{{ module_wk_preorder_pro_site_key }}',
            'callback': 'enableSubmitButton',
            'expired-callback' : 'disableSubmitButton',
        });
    };
</script>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
    <div class="modal fade" id="preorder-enquiry-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">{{ text_enquiry_heading|slice(0, 12) }}<span id="product-name-span"></span></h4>
            </div>
            <div class="modal-body">
            <form id="preorder-enquiry-form" class="form-horizontal" >
                <input type="hidden" name="preorder_customer_id" value="{{ customer_id }}" />
                <div class="form-group">
                    <label class="col-sm-3 control-label" >
                        <b>{{ column_product_name }}</b>
                    </label>
                    <div class="col-sm-9">
                        <select name="preorder_product_id" class="form-control" >
                            {% if (preorder_products is defined and preorder_products) %} 
                                {% for preorder_product in preorder_products %} 
                                    <option value="{{ preorder_product['product_id'] }}">{{ preorder_product['name'] }}</option>
                                {% endfor %} 
                            {% endif %} 
                        </select>
                    </div>
                </div>
                <div class="form-group required">
                    <label class="col-sm-3 control-label" >
                        <b>{{ text_name }}</b>
                    </label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="preorder_name" value="{% if (customer_name is defined) %}{{ customer_name }}{% endif %}" />
                    </div>
                </div>
                <div class="form-group required">
                <label class="col-sm-3 control-label" >
                    <b>{{ text_email }}</b>
                </label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" name="preorder_email" value="{% if (customer_email is defined) %}{{ customer_email }}{% endif %}" />
                </div>
                </div>
                <div class="form-group required">
                <label class="col-sm-3 control-label" >
                    <b>{{ text_subject }}</b>
                </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="preorder_subject" />
                </div>
                </div>
                <div class="form-group required">
                <label class="col-sm-3 control-label" >
                    <b>{{ text_enquiry }}</b>
                </label>
                <div class="col-sm-9">
                    <textarea class="form-control" style="min-height:100px" name="preorder_query" ></textarea>
                </div>
                </div>
                <div class="form-group">
                <label class="col-sm-3 control-label" >
                    <b>{{ text_captcha }}</b>
                </label>
                <div class="col-sm-9">
                    <div id="preorder-catpcha" ></div>
                </div>
                </div>
            </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">{{ text_close }}</button>
            <button type="button" class="btn btn-primary preorder-button hide">{{ text_submit }}</button>
            </div>
        </div>
        </div>
    </div>
</script>
<script>

    $('.filter-btn').on('click', function() {
        filter_data = $('#filter-form').serialize();
        location = 'index.php?route=account/wk_enquiry_list&'+filter_data;
    })

    $('select[name="preorder_product_id"]').on('change', function() {
        $('span#product-name-span').text($(this).find("option:selected").text());
    })
    $('select[name="preorder_product_id"]').trigger('change');

    $('.preorder-button').on('click', function(){
        var form_data = $('#preorder-enquiry-form').serializeArray();
        $.ajax({
            url: 'index.php?route=checkout/precart/generateEnquiry',
            data: form_data,
            method: 'post',
            dataType: 'json',
            beforeSend: function() {
                $('.enquiry-success').remove();
                $('.preorder-button').button('loading');
                $('input[name="preorder_name"]').next('.text-danger').remove();
                $('input[name="preorder_name"]').parent().parent().removeClass('has-error')
                $('input[name="preorder_email"]').next('.text-danger').remove();
                $('input[name="preorder_email"]').parent().parent().removeClass('has-error')
                $('input[name="preorder_subject"]').next('.text-danger').remove();
                $('input[name="preorder_subject"]').parent().parent().removeClass('has-error')
                $('textarea[name="preorder_query"]').next('.text-danger').remove();
                $('textarea[name="preorder_name"]').parent().parent().removeClass('has-error')
                $('#preorder-catpcha').next('.text-danger').remove();
                $('#preorder-catpcha').parent().parent().removeClass('has-error')
            },
            complete: function() {
                $('.preorder-button').button('reset');
            },
            success: function(response) {
                grecaptcha.reset(preorder_captcha_id);
                disableSubmitButton();
                if(response.success == false) {
                    if(response.error_name) {
                        $('input[name="preorder_name"]').after('<div class="text-danger">'+response.error_name+'</div>').parent().parent().addClass('has-error');
                    }
                    if(response.error_email) {
                        $('input[name="preorder_email"]').after('<div class="text-danger">'+response.error_email+'</div>').parent().parent().addClass('has-error');
                    }
                    if(response.error_subject) {
                        $('input[name="preorder_subject"]').after('<div class="text-danger">'+response.error_subject+'</div>').parent().parent().addClass('has-error');
                    }
                    if(response.error_query) {
                        $('textarea[name="preorder_query"]').after('<div class="text-danger">'+response.error_query+'</div>').parent().parent().addClass('has-error');
                    }
                    if(response.error_captcha) {
                        $('#preorder-catpcha').after('<div class="text-danger">'+response.error_captcha+'</div>').parent().parent().addClass('has-error');
                    }
                } else {
                    $('input[name="preorder_subject"]').val('');
                    $('textarea[name="preorder_query"]').val('');
                    $('.modal-body').append('<div class="alert alert-success enquiry-success"><i class="fa fa-check-o"></i>'+response.success_msg+'<button class="close" data-dismiss="alert">&times;</button></div>');
                }
            },
        })
    });
</script>
{{ footer }} 
