{{ header }} 
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %} 
    <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
    {% endfor %} 
  </ul>
  {% if (success) %} 
  <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %} 
  <div class="row">{{ column_left }} 
    {% if (column_left and column_right) %} 
    {% set class = 'col-sm-6' %} 
    {% elseif (column_left or column_right) %} 
    {% set class = 'col-sm-9' %} 
    {% else %} 
    {% set class = 'col-sm-12' %} 
    {% endif %} 
    <div id="content" class="{{ class }}">{{ content_top }} 
      <h1>{{ heading_title }}</h1>
      <div class="alert alert-info">
        <i class="fa fa-info-circle"></i>
        {{ text_currency_info }} 
        <a href="{{ currency_change_url }}" >{{ text_change_currency }}</a>
      </div>
      <div class="table-reponsive">
        <table class="table table-hover table-bordered"
          <thead>
            <tr>
              <td class="text-left">{{ column_order_id }}</td>
              <td class="text-left">{{ column_customer_name }}</td>
              <td class="text-left">{{ column_product_name }}</td>
              <td class="text-left">{{ column_quantity }}</td>
              <td class="text-left">{{ column_actual_price }}</td>
              <td class="text-left">{{ column_rem_amount }}</td>
              <td class="text-left">{{ column_paid_amount }}</td>
              <td class="text-left">{{ column_status }}</td>
              <td class="text-left">{{ column_date_added }}</td>
              <td class="text-center">{{ column_action }}</td>
            </tr>
          </thead>
          <tbody>
            {% if (preorders is defined and preorders) %} 
              {% for preorder in preorders %} 
                <tr>
                  <td class="text-left">{{ "#"~preorder['order_id'] }}</td>
                  <td class="text-left">{{ preorder['name'] }}</td>
                  <td class="text-left">{{ preorder['product_name'] }}</td>
                  <td class="text-left">{{ preorder['quantity'] }}</td>
                  <td class="text-left">{{ preorder['base_price'] }}</td>
                  <td class="text-left">{{ preorder['rem_price'] }}</td>
                  <td class="text-left">
                    <div class="wkpopover text-info" data-toggle="popover" title="{{ text_order_total_detail }}" data-content="
                      {{ 'Product Price : '~preorder['product_price'] }}</br>
                      {% if (preorder['extra_total'] is defined and preorder['extra_total']) %} 
                        <table>
                        {% for extra_total in preorder['extra_total'] %} 
                          {{ extra_total['title']~" : "~extra_total['text']~"</br>" }} 
                        {% endfor %} 
                        </table>
                      {% endif %} 
                    ">
                      {{ preorder['total'] }} 
                    </div>
                  </td>
                  <td class="text-left">{{ preorder['status'] ? text_complete_paid : text_partial_paid }}</td>
                  <td class="text-left">{{ preorder['date_added'] }}</td>
                  <td class="text-center">
                    <input type="hidden" name="product_id" value="{{ preorder['product_id'] }}" >
                    <input type="hidden" name="quantity" value="{{ preorder['quantity'] }}" >
                    {% if (preorder['options'] and preorder['options']) %} 
                      {% for option in preorder['options'] %} 
                        {% if (option['type'] == 'checkbox') %} 
                          <input type="hidden" class="options" name="option[{{ option['product_option_id'] }}][]" value="{{ option['product_option_value_id'] }}" >
                        {% elseif (option['type'] == 'date' or option['type'] == 'datetime' or option['type'] == 'text' or option['type'] == 'textarea') %} 
                          <input type="hidden" class="options" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" >
                        {% else %} 
                          <input type="hidden" class="options" name="option[{{ option['product_option_id'] }}]" value="{{ option['product_option_value_id'] }}" >
                        {% endif %} 
                      {% endfor %} 
                    {% endif %} 
                    {% if (not preorder['status'] and preorder['stock_status_id'] == module_wk_preorder_pro_notification_status) %} 
                      <button class="btn btn-primary add-to-cart" data-wk-o-d="{{ preorder['order_id'] }}" type="button" >
                        <i class="fa fa-shopping-cart"></i>
                      </button>
                    {% else %} 
                      <button class="btn btn-primary" disabled type="button" >
                        <i class="fa fa-shopping-cart"></i>
                      </button>
                    {% endif %} 
                  </td>
                </tr>
              {% endfor %} 
            {% else %} 
              <tr>
                  <td class="text-center" colspan="10">{{ text_no_record }}</td>
              </tr>
            {% endif %} 
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<script>

  $('.wkpopover').popover({
    html: true,
    placement: 'top',
    trigger: 'hover',
  });

  var enableCompletionPreorder = function(order_id) {
    $.ajax({
      url:'index.php?route=checkout/precart/set_session_to_confirm_order&order_id=' + order_id,
      type:'post',
      dataType:'json',
      success:function(response) {
        if(response.success) {
          $('.breadcrumb').after('<div class="alert alert-success preorder-alert"><i class="fa fa-check-circle"></i> '+response.msg+'<button class="close" data-dismiss="alert" type="button">&times;</button></div>');
                $('html, body').animate({ scrollTop: 0 }, 'slow');
        } else {
          $('.breadcrumb').after('<div class="alert alert-danger preorder-alert"><i class="fa fa-exclamation-circle"></i> '+response.msg+'<button class="close" data-dismiss="alert" type="button">&times;</button></div>');
                $('html, body').animate({ scrollTop: 0 }, 'slow');
        }
      }
    })
  }

  $('.add-to-cart').on('click', function() {
    $this = $(this);
    order_id = $(this).data('wk-o-d');
    data = new Object();
    data.product_id = $(this).prevAll('input[name="product_id"]').val();
    data.quantity = $(this).prevAll('input[name="quantity"]').val();
    options = $(this).prevAll('.options');
    $.each(options, function(index, value) {
      data[this.name] = this.value;
    })
    $.ajax({
        url:'index.php?route=checkout/precart/customer_preordered',
        data: {
            product_id: data.product_id,
        },
        type:'post',
        dataType: 'json',
        beforeSend: function() {
          $('.alert').remove();
        },
        success:function(response) {
            if(response.success) {
                enableCompletionPreorder(order_id);
                addToCart(data, $this);
            } else {
                $('.breadcrumb').after('<div class="alert alert-danger preorder-alert"><i class="fa fa-exclamation-circle"></i>'+response.msg+'<button class="close" data-dismiss="alert" type="button">&times;</button></div>');
                $('html, body').animate({ scrollTop: 0 }, 'slow');
            }
        }
    });
  });

  function addToCart(data, $this) {
    $.ajax({
      url: 'index.php?route=checkout/cart/add',
      data: data,
      type: 'post',
      dataType: 'json',
      beforeSend: function() {
        $this.button('loading');
      },
      complete: function() {
        $this.button('reset');
      },
      success: function(json) {
        
        if (json['success']) {
          $('.breadcrumb').after('<div class="alert alert-success">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

          $('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');

          $('html, body').animate({ scrollTop: 0 }, 'slow');

          $('#cart > ul').load('index.php?route=common/cart/info ul li');
        }
         if (json['error']) {
           $('.alert').remove();
          $('.breadcrumb').after('<div class="alert alert-danger">' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
           $('html, body').animate({ scrollTop: 0 }, 'slow');
         }

      }
    });
  }

</script>
{{ footer }} 
