{{ header }}
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left  and  column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif  column_left  or  column_right %}
    {% set class = 'col-sm-9' %}
     {% else %}
    {% set class = 'col-sm-12' %}
	{% endif %} 
    
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      {{ text_message }}
	  
	 {{ Amount}} : {{ Currency}}{{ ppc_Amount }}<br/>
	 {{ OrderNo}} : {{ Order_No }}<br/>
	 {{ UniqueMerchantTxnID}} : {{ ppc_UniqueMerchantTxnID }}<br/>
	  {{ PinePGTransactionID}} : {{ ppc_PinePGTransactionID }}<br/>
	  {{ PaymentType}} : 
			  {% if ppc_Is_BrandEMITransaction == "1" %}
              {{ Is_emi }}<br>
			  {{ Tenure}} : {{ ppc_EMITenureMonth }}<br>
			   {{ Card_Issuer}} : {{ ppc_IssuerName }}<br>
			  
			   {% if ppc_EMITenureMonth != "1" %}
			  {{ EMI_Amt}} : {{ Currency}}{{ ppc_EMIAmountPayableEachMonth }}<br>
			  {{ Total_Amt}} : {{ Currency}}{{ ppc_TotalAmountWithInt }}<br>
			  {% endif %}
			   {% if ppc_EMICashBackType == "2" %}
			   {{ CashBack_Amt}} : {{ Currency}}{{ ppc_EMITotalDiscCashBackAmt }}<br>
			   {{ CashBackPercantage}} : {{ ppc_EMITotalDiscCashBackPercent }} {{ Percentage}}<br>
				 {% else %}
               {{ Discount_Amt}} : {{ Currency}}{{ ppc_EMITotalDiscCashBackAmt }}<br>
			    {{ DiscountPercantage}} : {{ ppc_EMITotalDiscCashBackPercent }} {{ Percentage}}<br>
				 {% endif %}
				 
				  {% if ppc_EMIAdditionalCashBack %}
			  {{ AdditionalCashBack}} : {{ ppc_EMIAdditionalCashBack }}<br>
			 
			  {% endif %}
	  
			   {% else %}
                {{ Non_emi }}
				 {% endif %}				
	  
	  
      <div class="buttons">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}