<form action="{{ action }}" method="post">
  <input type="hidden" name="ppc_MerchantID" value="{{ ppc_MerchantID }}" />
  <input type="hidden" name="ppc_MerchantAccessCode" value="{{ ppc_MerchantAccessCode }}" />
  <input type="hidden" name="ppc_DIA_SECRET" value="{{ ppc_DIA_SECRET }}" />
  <input type="hidden" name="ppc_DIA_SECRET_TYPE" value="{{ ppc_DIA_SECRET_TYPE }}" />
  <input type="hidden" name="ppc_PayModeOnLandingPage" value="{{ ppc_PayModeOnLandingPage }}" />
  <input type="hidden" name="ppc_LPC_SEQ" value="{{ ppc_LPC_SEQ }}" />
  <input type="hidden" name="ppc_Amount" value="{{ ppc_Amount }}" />
  <input type="hidden" name="ppc_NavigationMode" value="{{ ppc_NavigationMode }}" />
  <input type="hidden" name="ppc_Product_Code" value="{{ ppc_Product_Code }}" />
  <input type="hidden" name="ppc_MerchantReturnURL" value="{{ ppc_MerchantReturnURL }}" />
  <input type="hidden" name="ppc_TransactionType" value="{{ ppc_TransactionType }}" />
  <input type="hidden" name="ppc_UniqueMerchantTxnID" value="{{ ppc_UniqueMerchantTxnID }}" />
  <input type="hidden" name="ppc_CustomerMobile" value="{{ ppc_CustomerMobile }}" />
  <input type="hidden" name="ppc_CustomerEmail" value="{{ ppc_CustomerEmail }}" />
  <input type="hidden" name="ppc_CustomerFirstName" value="{{ ppc_CustomerFirstName }}" />
  <input type="hidden" name="ppc_CustomerLastName" value="{{ ppc_CustomerLastName }}" />
  <input type="hidden" name="ppc_CustomerCity" value="{{ ppc_CustomerCity }}" />
  <input type="hidden" name="ppc_CustomerState" value="{{ ppc_CustomerState }}" />
  <input type="hidden" name="ppc_CustomerCountry" value="{{ ppc_CustomerCountry }}" />
  <input type="hidden" name="ppc_CustomerAddress1" value="{{ ppc_CustomerAddress1 }}" />
  <input type="hidden" name="ppc_CustomerAddress2" value="{{ ppc_CustomerAddress2 }}" />
  <input type="hidden" name="ppc_CustomerAddressPIN" value="{{ ppc_CustomerAddressPIN }}" />
  <input type="hidden" name="ppc_ShippingFirstName" value="{{ ppc_ShippingFirstName }}" />
  <input type="hidden" name="ppc_ShippingLastName" value="{{ ppc_ShippingLastName }}" />
  <input type="hidden" name="ppc_ShippingAddress1" value="{{ ppc_ShippingAddress1 }}" />
  <input type="hidden" name="ppc_ShippingAddress2" value="{{ ppc_ShippingAddress2 }}" />
  <input type="hidden" name="ppc_ShippingCity" value="{{ ppc_ShippingCity }}" />
  <input type="hidden" name="ppc_ShippingState" value="{{ ppc_ShippingState }}" />
  <input type="hidden" name="ppc_ShippingCountry" value="{{ ppc_ShippingCountry }}" />
  <input type="hidden" name="ppc_ShippingZipCode" value="{{ ppc_ShippingZipCode }}" />
  <input type="hidden" name="ppc_UdfField1" value="{{ ppc_UdfField1 }}" />
  <input type="hidden" name="ppc_MerchantProductInfo" value="{{ ppc_MerchantProductInfo }}" />

  
  <div class="buttons">
    <div class="right">
      <input type="submit" value="{{ button_confirm }}" class="button" />
    </div>
  </div>
</form>