
//** simple and lightweight mixin library for Sass **
//-- url : http://bourbon.io/docs ---
@import 'bourbon/bourbon';

//** Mixins for Rem Font Sizing **
//-- url : http://hugogiraudel.com/2013/03/18/ultimate-rem-mixin/
@import 'utilities/rem';

//** Variables for responsive design in bootstrap with sass **
//-- url : https://gist.github.com/webinfinita/11407836
@import 'utilities/bootstrap_breakpoints';

//** Makes supporting both left-to-right (LTR) and right-to-left (RTL) easy.**
//-- url : https://github.com/tysonmatanich/directional-scss
@import 'utilities/directional';

//Mixins utilities
@import 'utilities/theme_variables';
@import 'utilities/utilities';

/* ================================================================================ */

.typefooter-8{


  /* GENERAL */
  .modtitle{
        color: #222;
        @include rem(font-size,18px);
        line-height: 20px;
        margin-bottom: 10px !important;
        padding-bottom: 7px;
        font-weight: 400;
        text-transform: uppercase;  
        span{
          font-weight: 400;
        }    
  }
  .box-footer{    
    .modcontent{
      ul{
        li{           
              @include link-hover-effect(35px,15px);
              a{
                border: 0 none;
                //color: #ccc;
                @include rem(font-size,12px);
                padding: 0;       
                font-weight: 400;   
                &:before{
                  width: 6px;
                  height: 6px;
                  border: 1px solid #202020;
                  background-color: transparent;
                  @include transform(rotate(45deg));
                  border-radius: 0;
                  margin: 0;
                  top: 13px;
                }
              }       
            }
      }
    }
    &.box-information,
    &.box-service{
      padding-left: 0;
    }
  }
  .footer-contact-w{
    .links-contact {margin-bottom: 15px;}
         ul.links-contact > li {
            @include rem(font-size, 12px);
            line-height: 24px;
            padding: 7px 0;
            //color: #ccc;
            .fa {
                //color: #fff;
                margin-#{$right}: 13px;
            }
        &.contact-mail{
          a{
            color: #666;
          }
        }
       }
  }

  .socials-wrap{
    h3{
      float: $left;
      padding-bottom: 0;
      margin-top: 18px;
    }
    ul{
      float: $right;
      li{
        float: $left;
        margin-#{$left}: 10px;
        a{
          background-color: #f8f8f8;
          border: 1px solid #eee;
          font-size: 12px;
          color: #222;
          text-transform: uppercase;
          padding: 15px 30px;
          display: inline-block;
          &:hover{
            color: #fff;
          }
        }
      }
    }
  }

  .footer-main{
    background-color: #f5f5f5;
    padding-top: 80px;
  }

  .middle-left-w{
    padding: 35px 0 35px 0;
    background: #fff;
  }
  .footer-top{
    padding-bottom: 95px;
  }
    /* FOOTER BOTTOM */
  .footer-bottom{
    background-color: #f5f5f5;
      padding: 30px 0 25px 0;
      .copyright{
          margin-top: 3px;
          text-align: $left;
          font-size: 12px;
      }

      .footer-payment{
        text-align: $right;
      }

  }
}