{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-transaction" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
          {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>{{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i>{{ heading_title }}</h3>
      </div>

      <div class="panel-body">

        <div class="alert alert-info"><i class="fa fa-exclamation-circle"></i>{{ info_mail }}
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>

        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
          <li><a href="#tab-info" data-toggle="tab">{{ tab_info }}</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="tab-general">
            <form action="{{ save }}" method="post" enctype="multipart/form-data" id="form-transaction" class="form-horizontal">

              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-name"><span data-toggle="tooltip" title="{{ entry_name_info }}">{{ entry_name }}</span></label>
                <div class="col-sm-10">
                  <input type="text" id="input-name" class="form-control" name="name" value="{{ name }}" />
                  <input type="hidden" name="mail_id" value="{{ mail_id }}" />
                </div>
              </div>

              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-subject"><span data-toggle="tooltip" title="{{ entry_subject_info }}">{{ entry_subject }}</span></label>
                <div class="col-sm-10">
                  <input type="text" id="input-subject" class="form-control" name="subject" value="{{ subject }}" />
                </div>
              </div>

              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-message"><span data-toggle="tooltip" title="{{ entry_message_info }}">{{ entry_message }}</span></label>
                <div class="col-sm-10">
                  <textarea id="input-message" class="form-control summernote" name="message" rows="3">{{ message }}</textarea>
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane" id="tab-info">
            <p class="text-info">{{ info_mail_add }}</p>
            <table class="table table-bordered table-hover">
              <thead>
              <tr>
                <td>{{ entry_for }}</td>
                <td>{{ entry_code }}</td>
              </tr>
              </thead>
              {% for help in mail_help %}
                <tr>
                  <td>{{ (help|replace({'}': '', '{' : '', '_' : ' ', 'config' : 'Store'}))|capitalize }}</td>
                  <td>{{ help}}</td>
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
  <link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
  <script src="view/javascript/summernote/webkul_summernote.js"></script>
{{ footer}}
