{{ header }}

{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-category" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-category" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
              <ul class="nav nav-tabs" id="language">
			  {% for language in languages %}
                <li><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
                {% endfor %}
              </ul>
              <div class="tab-content">
                {% for language in languages %}
                <div class="tab-pane" id="language{{ language.language_id }}">
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-plancode{{ language.language_id }}">Plan Code</label>
                    <div class="col-sm-10">
                      <input type="text" name="plan_code" value="{% if oneassist_plans.plan_code %} {{ oneassist_plans.plan_code }} {% endif %}" placeholder="Plan Code" id="plancode" class="form-control">
					  {% if error_plancode %}
                      <div class="text-danger">{{ error_plancode }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-apx_itemcode{{ language.language_id }}">APX Item Code</label>
                    <div class="col-sm-10">
                      <input type="text" name="apx_itemcode" value="{% if oneassist_plans.apx_itemcode %} {{ oneassist_plans.apx_itemcode }} {% endif %}" placeholder="APX Item Code" id="apx_itemcode" class="form-control">
					  {% if error_apx_itemcode %}
                      <div class="text-danger">{{ error_apx_itemcode }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-category{{ language.language_id }}">Category</label>
                    <div class="col-sm-10">
                      <select name="category_id" class="form-control">
                          <option value="">Select Category</option>
						  {% for category in categories %}
                          
                          <option value="{{ category.category_id }}" {% if oneassist_plans.category_id == category.category_id %} {{ "selected" }} {% endif %}>{{ category.name }}</option>
                          {% endfor %}
                      </select>
					  {% if error_category %}
                      <div class="text-danger">{{ error_category }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-plantype{{ language.language_id }}">Type</label>
                    <div class="col-sm-10">
                      <select name="type" class="form-control">
                          <option value="">Select Type</option>
                          <option value="ADLD" {% if oneassist_plans.type == "ADLD" %} {{ "selected" }} {% endif %}>Accidental and Liquid Damage Protection Plan</option>
                          <option value="Extended Warranty" {% if oneassist_plans.type == "Extended Warranty" %} {{ "selected" }} {% endif %}>Extended Warranty</option>
                      </select>
					  {% if error_plantype %}
                      <div class="text-danger">{{ error_plantype }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-brand{{ language.language_id }}">Brand</label>
                    <div class="col-sm-10">
                      <select name="brand" class="form-control">
                          <option value="">Select Brand</option>
                          <option value="Non Apple" {% if oneassist_plans.brand == "Non Apple" %} {{ "selected" }} {% endif %}>Non Apple</option>
                          <option value="Apple" {% if oneassist_plans.brand == "Apple" %} {{ "selected" }} {% endif %}>Apple</option>
                      </select>
					  {% if error_brand %}
                      <div class="text-danger">{{ error_brand }}</div>
                      {% endif %}

                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-planname{{ language.language_id }}">Plan Name</label>
                    <div class="col-sm-10">
                      <input type="text" name="plan_name" value="{% if oneassist_plans.plan_name %} {{ oneassist_plans.plan_name }} {% endif %}" placeholder="Plan Name" id="plan_name" class="form-control">
                      {% if error_plan_name %}
                      <div class="text-danger">{{ error_plan_name }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-fromprice<?php echo $language['language_id']; ?>">From Price</label>
                    <div class="col-sm-10">
                      <input type="text" name="from_price" value="{% if oneassist_plans.from_price %} {{ oneassist_plans.from_price }} {% endif %}" placeholder="From Price" id="fromprice" class="form-control">
                      {% if error_fromprice %}
                      <div class="text-danger">{{ error_fromprice }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-toprice<?php echo $language['language_id']; ?>">To Price</label>
                    <div class="col-sm-10">
                      <input type="text" name="to_price" value="{% if oneassist_plans.to_price %} {{ oneassist_plans.to_price }} {% endif %}" placeholder="To Price" id="toprice" class="form-control">
                      {% if error_toprice %}
                      <div class="text-danger">{{ error_toprice }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-mrp{{ language.language_id }}">Poorvika MRP</label>
                    <div class="col-sm-10">
                      <input type="text" name="poorvika_mrp" value="{% if oneassist_plans.poorvika_mrp %} {{ oneassist_plans.poorvika_mrp }} {% endif %}" placeholder="Poorvika MRP" id="mrp" class="form-control">
                      {% if error_mrp %}
                      <div class="text-danger">{{ error_mrp }}</div>
                      {% endif %}
                    </div>
                  </div>

                </div>
                {% endfor %}
              </div>
            </div>

            
          </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
  <link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script> 
  <script type="text/javascript"><!--
$('#language a:first').tab('show');
//--></script></div>
{{ footer }}