{{ header }} 
{{ column_left }} 
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
        <div class="pull-right">
        {% if (convert is defined and convert) %} 
        <a href="{{ convert }}" class="btn btn-primary" data-toggle="tooptip" title="{{ button_convert }}" ><i class="fa fa-refresh"></i>
          </a>
        {% endif %} 
      
          <a href="{{ add }}" class="btn btn-primary" data-toggle="tooptip" title="{{ button_add }}" >
            <i class="fa fa-plus"></i>
          </a>
           <button type="button" id="delete" class="btn btn-danger" data-toggle="tooltip" title="{{ button_delete }}">
            <i class="fa fa-trash"></i>
          </button>
          
        </div>
        <h1>{{ heading_title_productlist }}</h1>
        <ul class="breadcrumb">
          {% for breadcrumb in breadcrumbs %} 
          <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
          {% endfor %} 
        </ul>
    </div>
  </div>

  <div class="container-fluid">
    {% if (error_warning) %} 
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ error_warning }} 
      </div>
    {% endif %} 
    {% if (error_warning_2) %} 
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ error_warning_2 }} 
      </div>
    {% endif %} 
    {% if (success) %} 
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ success }} 
      </div>
    {% endif %} 
    {% if (added_success is defined and added_success) %} 
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ added_success }} 
      </div>
    {% endif %} 
    {% if (alreadyAdded is defined and alreadyAdded) %} 
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ alreadyAdded }} 
      </div>
    {% endif %} 
    {% if (failure is defined and failure) %} 
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ failure }} 
      </div>
    {% endif %} 
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i>{{ heading_title_productlist }}</h3>
      </div>
      <div class="panel-body">
        <div class="well">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">
                  {{ text_pname }} 
                </label>
                <input type="text" class="form-control" name="filter_name" value="{{ name }}" placeholder="{{ text_pname }}" />
              </div>
              <div class="form-group">
                <label class="control-label">
                  {{ text_deduction_type }} 
                </label>
                <select name="filter_deduction_type" class="form-control">
                  <option value=""></option>
                  <option value="pc" {% if (deduction_type == 'pc') %} {{ "selected" }}{% endif %} >{{ text_percentage }}</option>
                  <option value="fp" {% if (deduction_type == 'fp') %} {{ "selected" }}{% endif %} >{{ text_fixed }}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">
                  {{ text_model }} 
                </label>
                <input type="text" class="form-control date" name="filter_model" value="{{ model }}" placeholder="{{ text_model }}" />
              </div>
              <div class="form-group">
                <label class="control-label">
                  {{ text_status }} 
                </label>
                <select class="form-control" name="filter_status">
                  <option value=""></option>
                  <option value="1" {% if (status is defined and status) %} {{ "selected" }}{% endif %} >{{ text_enabled }}</option>
                  <option value="0" {% if (status is defined and status == "0") %} {{ "selected" }}{% endif %} >{{ text_disabled }}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">
                  {{ text_preorder_price }} 
                </label>
                <input type="text" class="form-control" name="filter_preorder_price" value="{{ preorder_price }}" placeholder="{{ text_preorder_price }}" />
              </div>
              <div class="btn-group pull-right">
                  <button class="btn btn-primary" type="button" onclick="filter();" data-toggle="tooltip" title="{{ button_filter }}" >
                    <i class="fa fa-filter"></i>
                  </button>
                  <a class="btn btn-danger" onclick="clearfilter();" data-toggle="tooltip" title="{{ button_clrfilter }}">
                    <i class="fa fa-eraser"></i>
                  </a>
              </div>
            </div>
          </div>
        </div>
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form" class="form-horizontal">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
              <td class="text-center" style="width:1px"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
              <td class="text-left">
                {% if (sort == 'pd.name') %} 
                  <a href="{{ sort_pname }}" class="{{ order | lower }}">{{ text_pname }}</a>
                {% else %} 
                  <a href="{{ sort_pname }}">{{ text_pname }}</a>
                {% endif %} 
              </td>
              <td class="text-left">
                {% if (sort == 'p.model') %} 
                  <a href="{{ sort_pmodel }}" class="{{ order | lower }}">{{ text_model }}</a>
                {% else %} 
                  <a href="{{ sort_pmodel }}">{{ text_model }}</a>
                {% endif %} 
              </td>
              <td class="text-left">
                {% if (sort == 'pp.initial_price') %} 
                  <a href="{{ sort_wk_fixed_price }}" class="{{ order | lower }}">{{ text_preorder_price }}</a>
                {% else %} 
                  <a href="{{ sort_wk_fixed_price }}">{{ text_preorder_price }}</a>
                {% endif %} 
              </td>

              <td class="text-left">
                {% if (sort == 'pp.deduction_type') %} 
                  <a href="{{ sort_deduction_type }}" class="{{ order | lower }}">{{ text_deduction_type }}</a>
                {% else %} 
                  <a href="{{ sort_deduction_type }}">{{ text_deduction_type }}</a>
                {% endif %} 
              </td>
              <td class="text-center">
                {% if (sort == 'pp.status') %} 
                  <a href="{{ sort_pp_status }}" class="{{ order | lower }}">{{ text_status }}</a>
                {% else %} 
                  <a href="{{ sort_pp_status }}">{{ text_status }}</a>
                {% endif %} 
              </td>
                <td class="text-center">{{ text_action }}</td>
              </tr>
            </thead>
            <tbody>

              {% if (products is defined) %} 
              {% for product in products %} 
              <tr>

                <td class="text-center">
                  <input type="checkbox" name="selected[]" value="{{ product['id'] }}" />
                </td>
                <td class="text-left">{{ product['product_name'] }}</td>
                <td class="text-left">{{ product['product_model'] }}</td>
                <td class="text-left">{{ product['preorder_price'] }}</td>
                <td class="text-left">{{ product['deduction_type'] }}</td>
                <td class="text-center">
                  {% if (product['status']) %} {{ text_enabled }} {% else %} {{ text_disabled }} {% endif %} 
                </td>
                <td class="text-center">
                  {% if (product['status']) %} 
                    <a href="{{ product['edit'] }}" data-toggle="tooltip" title="{{ text_edit }}" class="btn btn-warning" >
                      <i class="fa fa-edit"></i>
                    </a>
                  {% else %} 
                    <button type="button" class="btn btn-warning" disabled >
                      <i class="fa fa-edit"></i>
                    </button>
                  {% endif %} 
                </td>
              </tr>
              {% endfor %} 
              {% else %} 
              <tr>
                <td class="text-center" colspan="12">{{ "no records founds" }}</td>
              </tr>
              {% endif %} 
            </tbody>
          </table>
      </form>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
  </div>
  </div>
</div>
</div>
<script type="text/javascript"><!--
$('body').on('click','#delete',function(){
  var flag = false;
  $('input[type=\'checkbox\']').each(function(){
    if ($(this).is(':checked')) {
      flag = true;
    }
  });
  console.log(flag);
  if (flag) {
      confirm('{{ text_confirmation }}') ? $('form').submit() : false;
  } else {
     alert('{{ error_select }}');
  }
});

function clearfilter() {
  url = 'index.php?route=catalog/wk_preorder/preorder_productlist&user_token={{ user_token }}';
  location = url;
}

function filter() {
  url = 'index.php?route=catalog/wk_preorder/preorder_productlist&user_token={{ user_token }}';

  var filter_name = $('input[name=\'filter_name\']').val();


  if (filter_name) {
    url += '&name=' + encodeURIComponent(filter_name);
  }

  var filter_model = $('input[name=\'filter_model\']').val();

  if (filter_model) {
    url += '&model=' + encodeURIComponent(filter_model);
  }

  var filter_preorder_price = $('input[name=\'filter_preorder_price\']').val();

  if (filter_preorder_price) {
    url += '&preorder_price=' + encodeURIComponent(filter_preorder_price);
  }

  var filter_deduction_type = $('select[name=\'filter_deduction_type\']').val();

  if (filter_deduction_type) {
    url += '&deduction_type=' + encodeURIComponent(filter_deduction_type);
  }
  var filter_status = $('select[name=\'filter_status\']').val();

  if (filter_status) {
    url += '&status=' + encodeURIComponent(filter_status);
  }

  {% if (sort is defined and sort) %}
  url += '&sort={{ sort }}';
  {% endif %} 

  {% if (order is defined and order) %}
  url += '&order={{ order }}';
  {% endif %} 
  {% if (page is defined and page) %}
  url += '&page={{ page }}';
  {% endif %} 
  location = url;


}

//--></script>
<script>
$('input[name=\'filter_name\']').autocomplete({

	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/wk_preorder/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_name\']').val(item['label']);
	}
});

$('input[name=\'filter_model\']').autocomplete({

	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/wk_preorder/autocomplete&user_token={{ user_token }}&filter_model=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['model'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_model\']').val(item['label']);
	}
});
</script>
{{ footer }} 
