{{ header }}{{ column_left }} 
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button  onclick="$('#form').submit();" class="btn btn-primary" title="{{ button_save }}">
                    <i class="fa fa-save"></i>
                </button>
                <a href="{{ cancel }}" class="btn btn-default" title="{{ button_cancel }}">
                    <i class="fa fa-reply"></i>
                </a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %} 
                    <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
                {% endfor %} 
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if (error_warning) %} 
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ error_warning }} 
            </div>
        {% endif %} 
        {% if (form_error_warning is defined and form_error_warning) %} 
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ form_error_warning }} 
            </div>
        {% endif %} 
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{ heading_title }} 
                </h3>
            </div>
            <div class="panel-body">
                <form action="{{ add }}" method="post" enctype="multipart/form-data" id="form" class="form-horizontal">
                    <div class="form-group required">
                        <label class="col-sm-2 control-label">
                            <span data-toggle="tooltip" data-original-title="{{ text_add_preorder_product_info }}">
                                {{ text_add_preorder_product }} 
                            </span>
                        </label>
                        <div class="col-sm-10">
                            {% if (id is defined and id) %} 
                                <input type="hidden" name="id" value="{{ id }}" />
                            {% else %} 
                                <input type="text" class="form-control" name="wk_preorder_products" id="wk_preorder_products" />
                            {% endif %} 
                            <div id="pre-order-product" class="well well-sm" style="height: 150px; overflow: auto;">
                                {% if (pre_order_product is defined and pre_order_product) %} 
                                    {% for value in pre_order_product %} 
                                        <div id="{{ value['product_id'] }}"><i class="fa fa-minus-circle" onclick="$(this).parent().remove()" ></i> {{ value['name'] }}<input type="hidden" name="pre_order_product[{{ value['product_id'] }}][product_id]" value="{{ value['product_id'] }}" /><input type="hidden" name="pre_order_product[{{ value['product_id'] }}][name]" value="{{ value['name'] }}" /></div>
                                    {% endfor %} 
                                {% endif %} 
                            </div>
                            {% if (form_error_no_product is defined and form_error_no_product) %} 
                                <div class="text-danger">
                                    {{ form_error_no_product }} 
                                </div>
                            {% endif %} 
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            <span data-toggle="tooltip" data-original-title="{{ text_deduction_method_info }}">
                                {{ text_deduction_method }} 
                            </span>
                        </label>
                        <div class="col-sm-10">
                            <select class="form-control" name="wk_deduction_method" >
                                <option value="fp" {% if (wk_deduction_method is defined and wk_deduction_method == 'fp') %} {{ 'selected' }} {% endif %} >{{ text_fixed_rate }}</option>
                                <option value="pc" {% if (wk_deduction_method is defined and wk_deduction_method == 'pc') %} {{ 'selected' }} {% endif %}>{{ text_partial_rate }}</option>
                            </select>
                            {% if (error_method is defined and error_method) %}
                            <div class = "text-danger">{{ error_method }}</div>
                            {% endif %} 
                        </div>
                    </div>
                    <div class="form-group" id="percentage_price_block" {% if (wk_deduction_method is not defined or wk_deduction_method != 'pc') %} {{ 'style="display:none"' }} {% endif %} >
                        <label class="col-sm-2 control-label">
                            <span data-toggle="tooltip" data-original-title="{{ text_product_price_info }}">
                                {{ text_product_price }} 
                            </span>
                        </label>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button" id="spinner_minus">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </span>
                                <input type="text" class="form-control" maxlength="5" onkeyup="this.value=this.value.replace(/[^\d.]/,'');" name="wk_percentage_price" id="percentage_spinner" value="{% if (wk_percentage_price is defined and wk_percentage_price) %} {{ wk_percentage_price }}{% else %} {{ '0' }}{% endif %}" />
                                <span class="input-group-btn">
                                    <button class="btn btn-success" id="spinner_add" type="button">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </span>
                            </div>
                            {% if (form_error_no_percentage is defined and form_error_no_percentage) %} 
                                <div class="text-danger">
                                    {{ form_error_no_percentage }} 
                                </div>
                            {% endif %} 
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label">
                            <span data-toggle="tooltip" data-original-title="{{ text_preorder_quantity_info }}">
                                {{ text_preorder_quantity }} 
                            </span>
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="wk_preorder_quantity" onkeyup="this.value=this.value.replace(/[^\d.]/,'');" value="{% if (wk_preorder_quantity is defined and wk_preorder_quantity) %} {{ wk_preorder_quantity }}{% endif %}" />
                            {% if (quantity_error is defined and quantity_error) %} 
                              <div class="text-danger">
                                  {{ quantity_error }} 
                              </div>
                           {% endif %} 
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label">
                            <span data-toggle="tooltip" data-original-title="{{ text_quantity_per_order_info }}">
                                {{ text_quantity_per_order }} 
                            </span>
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" onkeyup="this.value=this.value.replace(/[^\d.]/,'');" name="wk_quantity_per_order" value="{% if (wk_quantity_per_order is defined and wk_quantity_per_order) %} {{ wk_quantity_per_order }}{% endif %}" >
                            {% if (quantity_per_oerror is defined and quantity_per_oerror) %} 
                                <div class="text-danger">
                                    {{ quantity_per_oerror }} 
                                </div>
                            {% endif %} 
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label">
                            <span data-toggle="tooltip" data-original-title="{{ text_order_per_customer_info }}">
                                {{ text_order_per_customer }} 
                            </span>
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="wk_order_per_customer" onkeyup="this.value=this.value.replace(/[^\d.]/,'');" value="{% if (wk_order_per_customer is defined and wk_order_per_customer) %} {{ wk_order_per_customer }}{% endif %}"  />
                            {% if (quantity_cust_error is defined and quantity_cust_error) %} 
                                <div class="text-danger">
                                    {{ quantity_cust_error }} 
                                </div>
                            {% endif %} 
                        </div>
                    </div>
                    {% if (module_wk_preorder_pro_discount is defined and module_wk_preorder_pro_discount) %} 
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            <span data-toggle="tooltip" data-original-title="{{ text_discount_info }}">
                                {{ text_discount }} 
                            </span>
                        </label>
                        <div class="col-sm-10">
                            <div class = "input-group">
                                <input type="text" class="form-control" name="wk_preorder_discount" onkeyup="this.value=this.value.replace(/[^\d.]/,'');" value="{% if (wk_preorder_discount is defined and wk_preorder_discount) %} {{ wk_preorder_discount }}{% endif %}"  /><span class = "input-group-addon">{{ type }}</span>
                            </div>
                            {% if (error_discount is defined and error_discount) %} 
                                <div class="text-danger">
                                    {{ error_discount }} 
                                </div>
                            {% endif %} 
                        </div>
                    </div>
                    {% else %} 
                        <input type="hidden" name = "wk_preorder_discount" value = "0"/>
                        {% endif %} 
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            <span data-toggle="tooltip" data-original-title="{{ text_one_ip_one_order_info }}">
                                {{ text_one_ip_one_order }} 
                            </span>
                        </label>
                        <div class="col-sm-10">
                            <select class="form-control" name="wk_one_ip_one_order">
                                <option value="0" {% if (wk_one_ip_one_order is defined and not wk_one_ip_one_order) %} {{ "selected" }} {% endif %} >{{ text_disabled }}</option>
                                <option value="1" {% if (wk_one_ip_one_order is defined and wk_one_ip_one_order) %} {{ "selected" }} {% endif %}>{{ text_enabled }}</option>
                            </select>
                            {% if (error_ip is defined and error_ip) %}
                            <div class = "text-danger">{{ error_ip }}</div>
                            {% endif %} 
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label">
                            <span data-toggle="tooltip" data-original-title="{{ text_preorder_start_date_info }}">
                                {{ text_preorder_start_date }} 
                            </span>
                        </label>
                        <div class="col-sm-3">
                            <div class="input-group date">
                                <input type="text" class="form-control" readonly name="wk_preorder_start_date" value="{% if (wk_preorder_start_date is defined) %} {{ wk_preorder_start_date }}{% endif %}" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                            {% if (form_error_start_date is defined and form_error_start_date) %} 
                                <div class="text-danger">
                                    {{ form_error_start_date }} 
                                </div>
                            {% endif %} 
                        </div>
                    </div>
                    <div class="form-group required" id="date_selector">
                        <label class="col-sm-2 control-label">
                            <span data-toggle="tooltip" data-original-title="{{ text_preorder_pro_available_date_info }}">
                                {{ text_preorder_date }} 
                            </span>
                        </label>
                        <div class="col-sm-3">
                            <div class="input-group date">
                                <input type="text" class="form-control" readonly name="wk_available_date" value="{% if (wk_available_date is defined and wk_available_date) %} {{ wk_available_date }}{% endif %}"  />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                            {% if (form_error_available_date is defined and form_error_available_date) %} 
                                <div class="text-danger">
                                    {{ form_error_available_date }} 
                                </div>
                            {% endif %} 
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            {{ text_status }} 
                        </label>
                        <div class="col-sm-10">
                            <select class="form-control" name="wk_status">
                                <option value="0" {% if (wk_status is defined and not wk_status) %} {{ "selected" }} {% endif %} >{{ text_disabled }}</option>
                                <option value="1" {% if (wk_status is defined and wk_status) %} {{ "selected" }} {% endif %}>{{ text_enabled }}</option>
                            </select>
                            {% if (error_preorder_status is defined and error_preorder_status) %}
                            <div class = "text-danger">{{ error_preorder_status }}</div>
                            {% endif %} 
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

$('#wk_preorder_products').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=catalog/wk_preordered_list/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item['name'],
            value: item['product_id']
          }
        }));
      }
    });
  },
  'select': function(item) {
    $('#'+item['value']).remove();
    $('input[name=\'wk_preorder_products\']').val(item['label']);
    $('#pre-order-product').append('<div id="' + item['value'] + '"><i class="fa fa-minus-circle" onclick="$(this).parent().remove()" ></i> ' + item['label'] + '<input type="hidden" name="pre_order_product[' + item['value'] + '][product_id]" value="' + item['value'] + '" /><input type="hidden" name="pre_order_product[' + item['value'] + '][name]" value="' + item['label'] + '" /></div>');
    $('#wk_preorder_products').val('');
  }
});

$('select[name="wk_deduction_method"]').on('change',function(){
  if($(this).val() == 'pc'){
    $('#percentage_warning').removeClass('hide');
    $('#percentage_price_block').slideDown();
    $('#fixed_price_block').slideUp();
  }else{
    $('#percentage_warning').addClass('hide');
    $('#percentage_price_block').slideUp();
    $('#fixed_price_block').slideDown();
  }
})

val = $('#percentage_spinner').val();

$('#percentage_spinner').on('blur',function(){
  val = $('#percentage_spinner').val();
})

$('#spinner_add').on('click', function() {
    if(parseInt(val) < 100) {
        $('#percentage_spinner').val( parseInt(val)+1 );
        val = $('#percentage_spinner').val();
    }
});

$('#spinner_minus').on('click',function(){
  if(parseInt(val) > 0){
    $('#percentage_spinner').val( val-1 );
    val = $('#percentage_spinner').val();
  }
})

$('.date').datetimepicker({
  pickTime: false,
  minDate:new Date(),
  format: 'YYYY-MM-DD',
})
  $('.color-pick').ColorPicker({
      color: '#fcfcfc',
      onShow: function (colpkr) {
      $(colpkr).fadeIn(500);
      return false;
      },
      onHide: function (colpkr) {
      $(colpkr).fadeOut(500);
      return false;
      },
      onChange: function (hsb, hex, rgb) {
      $('#backgroundth').val('#' + hex);
      $('.color-pick').css('background-color','#'+hex);
      }
  });
</script>

{{ footer }} 
