<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{{ text_subject }}</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000;background:#f1f1f1; padding: 10px 0px;
width: 99%;">

<div class="msgdiv" style="font-size:12px;	width:100%;	padding:20px; background:#fff;border:1px solid #ccc;width: 93%;">
<a href="{{ store_url }}" title="{{ store_name }}"><img src="{{ logo }}" alt="{{ store_name }}" id="logo"  style="max-width:200px; max-height:200px;margin-bottom: 10px;"/></a><br>

		<span class="hi" style="font-size:22px;color:#004274;display: block;">{{ text_hello~text_name }}</span><br>
		<span style=" display: block;margin: 2px 0px;color:#004274;font-size:14px; ">{{ text_subject~' - ' }}</span>
		<span style=" display: block;margin: 2px 0px;color:#004274;"><b>{{ text_cname~' : ' }} </b>{{ customer.name }} </span>
		<span style=" display: block;margin: 2px 0px;color:#004274;"><b>{{ text_email~' : ' }} </b>{{ customer.email }} </span>
		<span style=" display: block;margin: 2px 0px;color:#004274;"><b>{{ text_query~' : ' }} </b>{{ customer.text }}</span><br>


</div>
	<table style="width: 100%;margin-bottom: 15px;border-collapse: collapse;border-top: 1px solid #DDDDDD;border-left: 1px solid #DDDDDD;border-right: 1px solid #DDDDDD;">
        <thead>
          <tr>
            <td class="image" style="text-align: center;color: #4D4D4D;font-weight: bold;background-color: #F7F7F7;border-bottom: 1px solid #DDDDDD;padding: 7px;">{{ text_pimage }}</td>
            <td class="name" style="text-align: center;color: #4D4D4D;font-weight: bold;background-color: #F7F7F7;border-bottom: 1px solid #DDDDDD;padding: 7px;">{{ text_pname }}</td>
            <td class="model" style="text-align: center;color: #4D4D4D;font-weight: bold;background-color: #F7F7F7;border-bottom: 1px solid #DDDDDD;padding: 7px;">{{ text_pmodel }}</td>
            <td class="quantity" style="text-align: center;color: #4D4D4D;font-weight: bold;background-color: #F7F7F7;border-bottom: 1px solid #DDDDDD;padding: 7px;">{{ text_pqty }}</td>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
          <tr>
            <td class="image" style="text-align: center;color: #4D4D4D;border-bottom: 1px solid #DDDDDD;vertical-align: top;">{% if product.image %}
              <a href="{{ product_link~product.product_id }}"><img src="{{ HTTP_SERVER(~'image/'~product.image) }}" alt="{{ product.name }}" title="{{ product.name }}" style="width:100px;height:100px;"/></a>
              {% endif %}</td>
            <td class="name" style="text-align: center;color: #4D4D4D;border-bottom: 1px solid #DDDDDD;vertical-align: top;"><a href="{{ product_link~product.product_id }}">{{ product.name }}</a>
              {% if not product.stock %}
              <span class="stock" style="text-align: center;color: #4D4D4D;border-bottom: 1px solid #DDDDDD;vertical-align: top;"></span>
              {% endif %}
              <div>
                {% for option in product %}
                - <small>{{ option.name }}: {{ option.option_value }}</small><br />
                {% endfor %}
              </div>
              </td>
            <td class="model" style="text-align: center;color: #4D4D4D;border-bottom: 1px solid #DDDDDD;vertical-align: top;">{{ product.model }}</td>
            <td class="quantity" style="text-align: center;color: #4D4D4D;border-bottom: 1px solid #DDDDDD;vertical-align: top;">{{ product.quantity }}
              &nbsp;
            </td>
          </tr>
				{% endfor %}
        </tbody>
      </table>
</body>
</html>
