<ul>
	{% for product in products %}
	<li>
		<div class="cart-sec">
		<div class="cart-img">
		   <a href=""><img src="{{ product.thumb }}"></a>
		</div>
		<div class="cart-cont">
			<div class="cart-det whitelist-border">
				<div class="cart-info">
					<h6>{{ product.name }}</h6>
						<div class="rating">
			<div class="rating-show whitelist-size">
				<h6>4.5</h6>
			</div>
			<div class="rating-box whitelist-rating">
			{% for i in 1..5 %}
				{% if rating < i %}<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>{% else %}<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>{% endif %}
			{% endfor %}
			</div>
		</div>
					<strong>{{ product.price }}</strong>
				   
					
				</div>
				<div class="cart-delivery move-cart">
				   <a onclick="cart.add('{{ product.product_id }}');" class="btn btn-move-cart">Move to Cart</a>
				   <span><a href="{{ product.remove }}">Remove<i class="fa fa-trash"></i></a></span>
				</div>
			</div>
			 
		</div>
		</div>
	</li>
	{% endif %}
   
</ul>