{{ header }} 
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %} 
    <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
    {% endfor %} 
  </ul>
  {% if (success) %} 
  <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %} 
  <div class="row">{{ column_left }} 
    {% if (column_left and column_right) %} 
    {% set class = 'col-sm-6' %} 
    {% elseif (column_left or column_right) %} 
    {% set class = 'col-sm-9' %} 
    {% else %} 
    {% set class = 'col-sm-12' %} 
    {% endif %} 
    <div id="content" class="{{ class }}">{{ content_top }} 
        <h1>
            {{ heading_title_enquiry_detail }} 
            <a href="{{ back }}" class="btn btn-default pull-right">
                <i class="fa fa-reply"></i>
            </a>
        </h1>
        <div class="jumbotron">
            <h4><b>{{ column_subject }}: {{ enquiry['subject'] }}</b></h4>
            <p>{{ text_query }}: {{ enquiry['query'] }}</p>
            <i>{{ text_current_status }}: {{ enquiry['status'] ? text_open : text_resolved }}</i>
        </div>
        {% if (threads is defined and threads) %} 
            {% for index,thread in threads %} 
                <div class="col-sm-12">
                    {% if (thread['posted_by']) %} 
                        <div class="col-sm-6 alert alert-warning pull-right">
                            <b>{{ text_posted_by }}: {{ enquiry['customer_name'] }}</b></br>
                            <i>{{ thread['date_added'] }}</i>
                            <p>{{ thread['query'] }}</p>
                        </div>
                    {% else %} 
                        <div class="col-sm-6 alert alert-info pull-left">
                            <b>{{ text_posted_by }}: {{ text_admin }}</b></br>
                            <i>{{ thread['date_added'] }}</i>
                            <p>{{ thread['query'] }}</p>
                        </div>
                    {% endif %} 
                </div>
            {% endfor %} 
        {% else %} 
            <div class="alert alert-warning text-center">
                {{ text_no_thread }} 
            </div>
        {% endif %} 
        <form class="form-horizontal" id="reply-form" >
            <input type="hidden" name="enquiry_id" value="{{ enquiry['enquiry_id'] }}" />
            <div class="form-group required">
                <label class="col-sm-3 control-label">
                    {{ text_query }} 
                </label>
                <div class="col-sm-9">
                    <textarea class="form-control" name="query" colspan="10"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    {{ column_status }} 
                </label>
                <div class="col-sm-9">
                    <select class="form-control" name="status">
                        <option value="1">{{ text_open }}</option>
                        <option value="0">{{ text_resolved }}</option>
                    </select>
                </div>
            </div>
            <button class="btn btn-primary query-submit pull-right" type="button">Submit</button>
        </form>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<script>
    $('.query-submit').on('click', function() {
        form_data = $('#reply-form').serializeArray();
        $.ajax({
            url: 'index.php?route=account/wk_enquiry_list/addThread',
            data: form_data,
            method: 'post',
            dataType: 'json',
            beforeSend: function(){
                $('.query-submit').button('loading');
                $('.alert-success, .alert-danger').remove();
            },
            complete: function() {
                $('.query-submit').button('reset');
            },
            success: function(response) {
                if(response.success) {
                    $('.query-submit').before('<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert">&times;</button> '+response.msg+'</div>');
                    setTimeout(location.reload(), 2000);
                } else {
                    $('.query-submit').before('<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">&times;</button> '+response.msg+'</div>');
                }
            }
        })
    })
</script>
{{ footer }} 
