{{ header }}
<style>
	#button-voucher{
		border: none;
		padding: 0;
	}
</style>
<div id="checkout-cart" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if attention %}
  <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ attention }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}
        {% if weight %}
        &nbsp;({{ weight }})
        {% endif %} </h1>
      <form action="{{ action }}" method="post" enctype="multipart/form-data">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <td class="text-center">{{ column_image }}</td>
                <td class="text-left">{{ column_name }}</td>
                <td class="text-left">{{ column_model }}</td>
                <td class="text-left">{{ column_quantity }}</td>
                <td class="text-right">{{ column_price }}</td>
                <td class="text-right">{{ column_total }}</td>
              </tr>
            </thead>
            <tbody>
            
            {% for product in products %}
            <tr>
              <td class="text-center">{% if product.thumb %} <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail" /></a> {% endif %}</td>
              <td class="text-left"><a href="{{ product.href }}">{{ product.name }}</a> {% if not product.stock %} <span class="text-danger">***</span> {% endif %}
                {% if product.option %}
                {% for option in product.option %} <br />
                <small>{{ option.name }}: {{ option.value }}</small> {% endfor %}
                {% endif %}
                {% if product.reward %} <br />
                <small>{{ product.reward }}</small> {% endif %}
                {% if product.recurring %} <br />
                <span class="label label-info">{{ text_recurring_item }}</span> <small>{{ product.recurring }}</small> {% endif %}</td>
              <td class="text-left">{{ product.model }}</td>
              <td class="text-left"><div class="input-group btn-block" style="max-width: 200px;">
                  <input type="text" name="quantity[{{ product.cart_id }}]" value="{{ product.quantity }}" size="1" class="form-control" />
                  <span class="input-group-btn">
                  <button type="submit" data-toggle="tooltip" title="{{ button_update }}" class="btn btn-primary"><i class="fa fa-refresh"></i></button>
                  <button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger" onclick="cart.remove('{{ product.cart_id }}');"><i class="fa fa-times-circle"></i></button>
                  </span></div></td>
              <td class="text-right">{{ product.price }}</td>
              <td class="text-right">{{ product.total }}</td>
            </tr>
            {% endfor %}
            {% for voucher in vouchers %}
            <tr>
              <td></td>
              <td class="text-left">{{ voucher.description }}</td>
              <td class="text-left"></td>
              <td class="text-left"><div class="input-group btn-block" style="max-width: 200px;">
                  <input type="text" name="" value="1" size="1" disabled="disabled" class="form-control" />
                  <span class="input-group-btn">
                  <button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger" onclick="voucher.remove('{{ voucher.key }}');"><i class="fa fa-times-circle"></i></button>
                  </span></div></td>
              <td class="text-right">{{ voucher.amount }}</td>
              <td class="text-right">{{ voucher.amount }}</td>
            </tr>
            {% endfor %}
              </tbody>
            
          </table>
        </div>
      </form>
      <br />
      <div class="row">
        <div class="col-sm-4 col-sm-offset-8">
          <table class="table table-bordered">
            {% for total in totals %}
            <tr>
              <td class="text-right"><strong>{{ total.title }}:</strong></td>
              <td class="text-right">{{ total.text }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
      <div class="buttons clearfix">
        <div class="pull-left"><a href="{{ continue }}" class="btn btn-default">{{ button_shopping }}</a></div>
        <div class="pull-right"><a href="index.php?route=checkout/checkout_address" class="btn btn-primary">{{ button_checkout }}</a></div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
   
   
</div>
<div class="cart-page">
<div class="container">
 <div class="row">
         
        <div class="col-md-8">
            <div class="cart-block">
                <h3><i class="fa fa-cart-arrow-down"></i>My cart</h3>
				<input type="hidden" name="checktext" id="checktext" value="{{ customer_pincode }}">
                <ul>
				{% for product in products %}
                    <li>
                        <div class="cart-sec">
                        <div class="cart-img">
                           <a href=""><img src="{{ product.thumb }}"></a>
                        </div>
                        <div class="cart-cont">
                            <div class="cart-det">
                                <div class="cart-info">
                                    <h6>{{ product.name }}</h6>
									{% if product.option %}
										{% for option in product.option %}
										<small>{{ option.name }}: {{ option.value }}</small> {% endfor %}
									{% endif %}
                                    <small>8Gb RAM</small>
                                    <strong>{{ product.price }}</strong>
                                    <small class="available-off-cart"><strike>&#8377;2,06,000</strike>(4% OFF) <span>9 offer available<i class="fa fa-info"></i></span></small>
                                    
                                </div>
                                <div id="delivery_type_{{ product.cart_id }}" class="cart-delivery">
								
                                    
                                     <span><small>Free</small>delivery by Aug 15</span>
                                </div>
                            </div>
                             <div class="cart-edit">
                                <div id="prod_qty_update_{{ product.cart_id }}" class="cart-quantity">
                                  <a><i onclick="productQtyMinus({{ product.cart_id }},{{ product.product_id }},{{ product.quantity }})" id="qty_minus" class="fa fa-minus-square-o"></i></a> <span>{{ product.quantity }}</span>  <a><i onclick="productQtyUp({{ product.cart_id }},{{ product.product_id }},{{ product.quantity }})" id="qty_up" class="fa fa-plus-square-o"></i></a>
                                </div>
                                <div class="cart-remove">
                                   <span><a onclick="wishlist.add('{{ product.product_id }}');">MOVE TO WISHLIST</a></span>
                                    <strong><a onclick="cart.remove('{{ product.cart_id }}');">REMOVE<i class="fa fa-trash"></i></a></strong>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="cart-protection">
                            <div class="protection-img">
                                <img src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/protection-img.png">
                            </div>
                            <div class="protection-cont">
                                <h6>complete mobile protection</h6>
                                <strong>&#8377;1,06,000</strong>
                                    <small class="available-off-cart"><strike>&#8377;2,06,000</strike> <span>(4% OFF)</span></small>
                                    <p>Brand authorised repair / replacement guarantee for 1 year.Special offer"Get 6 month Google One trial with complete mobile protection"<a href="">Know More</a></p>
                                    <a href="" class="btn btn-protect">Add Protection</a>
                            </div>
                        </div>
                    </li>
					{% endfor %}
                </ul>
            </div>
            <div id="wishlist-block" class="cart-block whitelist-block">
               
            </div>
        </div>
        <div class="col-md-4">
            <div class="cart-block summary">
            <h3>Payment Summary</h3>
            <ul>
				{% for total in totals %}
					<li>
					{% if total.title == "Total" %}
						Price
					{% else %}
						{{ total.title }}
					{% endif %}
					  <span>{{ total.text }}</span>
					</li>
				{% endfor %}
                 <li>Delivery Fee<span class="green-color"></span></li>
                  <li>Coupon Discount<span id="applycoupon"><a>Apply Coupon</a></span></li>
                  <li id="coupon_apply" style="display:none;"><input type="text" name="coupon" value="" placeholder="Enter your coupon here" id="input-coupon" class=""><span>
        <input type="button" value="Apply Coupon" id="button-coupon" data-loading-text="Loading..." class="btn btn-primary">
        </span></li>
                  <li class="total-amount">Total Amount<span>{{ total_amount }}</span></li>
                  <li class="save-offer"><i class="fa fa-percent"></i>You will save &#8377;6,000 on this Order</li>
            </ul>
            </div>
            <div class="gift-certify">
                <h3><i class="fa fa-gift"></i>Use Gift Certificate</h3>
                <input type="text" name="voucher" value="" placeholder="Enter Gift Code" id="input-voucher">
				<a class="btn btn-protect btn-gift"><input type="submit" value="Apply Gift Certificate" id="button-voucher" data-loading-text="Loading..."></a>
            </div>
            <div class="checkout-button">
                <a href="index.php?route=checkout/checkout_address" class="btn btn-checkout">Proceed To Checkout</a>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAiQm2qLGFsER6Y96KdzQG633Pn6faIBw&callback=initMap"></script>
<script>
$.ajax({
	url: 'index.php?route=account/wishlist/getAllWishlist',
	dataType: 'html',
	success: function(html) {
		$('#wishlist-block').html(html);
		
	},
});

function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

	$(document).ready(function(){
	{% if customer_pincode %}
	{% for product in products %}
		var pincodevalue = $("#checktext").val();
	if(pincodevalue != '' && pincodevalue.length=='6'){
		var geocoder = new google.maps.Geocoder();
		geocoder.geocode({"address":pincodevalue},function(results,status){
			if(status == google.maps.GeocoderStatus.OK){
				latitude = results[0].geometry.location.lat();
				langitude = results[0].geometry.location.lng();
				
				//console.log(pincodevalue,latitude,langitude);
				
				
				$.ajax({
					type: "POST",
					url: "index.php?route=product/product/checkpincode",
					data: { pincode : pincodevalue,latitude:latitude,langitude:langitude,product_id:{{ product.product_id }} },
					beforeSend:function(){
						
					},
					complete:function(){
						
					},
					success: function(data){
					   if(data == 1){
							$("#delivery_type_{{ product.cart_id }}").html('<select id="delivery_type{{ product.cart_id }}" name="type" class="custom-select"><option value="1">Regulary Delivery</option></select>'); 
					   }else if(data == 2){
							$("#delivery_type_{{ product.cart_id }}").html('<select id="delivery_type{{ product.cart_id }}" name="type" class="custom-select"><option value="2hours">2 hours</option><option value="Pickupstore">Pickup@store</option></select>'); 
					   }else if(data == 21){
							$("#delivery_type_{{ product.cart_id }}").html('<select id="delivery_type{{ product.cart_id }}" name="type" class="custom-select"><option value="1">Regulary Delivery</option><option value="2hours">2 hours</option><option value="Pickupstore">Pickup@store</option></select>'); 
					   }
						
					}
				});
				
		
			}else{
			   $("#delivery_type_{{ product.cart_id }}").html("Delivery Not Available"); 
			}
		});
		}else{
			$("#delivery_type_{{ product.cart_id }}").html("<span class='invalid_pin'>Invalid pincode</span>");
		 }
	{% endfor %}
	{% endif %}

	
	});	
	
	
</script>
<script type="text/javascript">
function productQtyUp(cart_id,prod_id,qty){
	if(qty > 0){
	var qty1 = qty + 1;
		var formData = {cart_id:cart_id,prod_id:prod_id,qty:qty};
		$.ajax({
			url: 'index.php?route=checkout/cart/qtyUp',
			type: 'post',
			data: formData,
			beforeSend: function() {
				//$('#button-cart').button('loading');
			},
			complete: function() {
				//$('#button-cart').button('reset');
			},
			success: function(json) {
				if(json == "success"){
				//$('#prod_qty_update_'+cart_id).remove();
				$('#prod_qty_update_'+cart_id).replaceWith('<div id="prod_qty_update_'+cart_id+'" class="cart-quantity"><a><i onclick="productQtyMinus('+cart_id+','+prod_id+','+qty1+')" id="qty_minus" class="fa fa-minus-square-o"></i></a><span>'+qty1+'</span><a><i onclick="productQtyUp('+cart_id+','+prod_id+','+qty1+')" id="qty_up" class="fa fa-plus-square-o"></i></a></div>');
				}else{
					
					alert(json);
				}
			
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	}
	
}
function productQtyMinus(cart_id,prod_id,qty){
	if(qty > 1){
	var qty1 = qty - 1;
		var formData = {cart_id:cart_id,prod_id:prod_id,qty:qty};
		$.ajax({
			url: 'index.php?route=checkout/cart/qtyMinus',
			type: 'post',
			data: formData,
			beforeSend: function() {
				//$('#button-cart').button('loading');
			},
			complete: function() {
				//$('#button-cart').button('reset');
			},
			success: function(json) {
				if(json == "success"){
				//$('#prod_qty_update_'+cart_id).remove();
				$('#prod_qty_update_'+cart_id).replaceWith('<div id="prod_qty_update_'+cart_id+'" class="cart-quantity"><a><i onclick="productQtyMinus('+cart_id+','+prod_id+','+qty1+')" id="qty_minus" class="fa fa-minus-square-o"></i></a><span>'+qty1+'</span><a><i onclick="productQtyUp('+cart_id+','+prod_id+','+qty1+')" id="qty_up" class="fa fa-plus-square-o"></i></a></div>');
				}else{
					
					alert(json);
				}
			
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	}
	
}
$("#applycoupon").click(function() {
	$("#coupon_apply").css("display", "block");
});

</script>
{{ footer }} 