{{ header }}
<div id="checkout-checkout" class="address-page">
<div class="container">
  
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  <div class="row">
    <div id="content" class="{{ class }}">{{ content_top }}
      <div class="panel-group" id="accordion">
        <div class="panel panel-default" style="display:none;">
          <div class="panel-heading">
            <h4 class="panel-title">{{ text_checkout_option }}</h4>
          </div>
          <div class="panel-collapse collapse" id="collapse-checkout-option">
            <div class="panel-body"></div>
          </div>
        </div>
       
        
		
		
		<div style="display:none;">
            <div class="cart-block address-block">
                <h3><i class="fa fa-home"></i>Shipping Method</h3>
				<div id="shipping-method-details">
					<div class="panel-body"></div>
				</div>
            </div>
        </div>
        
		<div class="col-md-7">
			<div class="col-md-12">
			   <div class="cart-block payment-offers">
					<h3><span><i class="fa fa-percent"></i>Payment Offers</span></h3>
					<div class="offers-cont">
						<ul>
							<li>Flat 0% discount on first prepaid transaction using Rupay debit card T&C</li>
						  
						</ul>
					   <span>Show More<i class="fa fa-angle-down"></i></span>
					   
					</div>
				</div>
			</div>
			
			<!-- payment -->
				<div id="payment-method-details" class="other-payment">
                    <h3><i class="fa fa-credit-card"></i>Payment Methods</h3>
                    <div class="payment-tabs">
					<input type="hidden" id="payment_method1" name="payment_method" value="">
                        <div class="col-md-4 pr-0 pl-0">
							<ul>
							  <li><button class="tablinks" onclick="openCity(event, 'credit')">Credit/Debit</button></li>
							  <li><button class="tablinks" onclick="openCity(event, 'netbanking')">Net Banking</button></li>
							  <li><button class="tablinks" onclick="openCity(event, 'cashcard')">Cash Card</button></li>
							  <li><button class="tablinks" onclick="openCity(event, 'wallet')">Wallet</button><span>Offers Available on PayTM Payzapp</span></li>
							  <li><button class="tablinks" onclick="openCity(event, 'emi')">EMI</button><span>Get EMI on HDFC Bank</span></li>
							</ul>
						</div>
						<div class="col-md-8 pr-0 pl-0">
							<div class="payment-card tabcontent" id="credit">
								<div class="input-block">
									<label>Number*</label>
									<span><input type="number" id="fname" name="fname"></span> 
								</div>
								<div class="input-block">
									<label>Name Of the Card*</label>
									<span><input type="text" id="fname" name="fname"></span> 
								</div>
								<div class="col-md-6 pr-0 pl-0">
									<div class="select-box">
										<label>Expiry Month*</label>
										<select name="type" class="custom-select">
										  <option value="">Month</option>
										  <option value="">Jan</option>
										  <option value="">Feb</option>
										 </select>
									</div>
								</div>
								<div class="col-md-6 pr-0 pl-0">
									<div class="select-box">
										<label>Expiry Year*</label>
										<select name="type" class="custom-select">
											<option value="">Year</option>
											<option value="">2023</option>
											<option value="">2024</option>
										</select>
                                    </div>
                                </div>
                                <div class="col-md-3">
									<div class="input-block1">
										<label>CVV*</label>
										<input type="number" id="fname" name="fname" placeholder="CVV">
									</div>
								</div>
								<div class="col-md-9">
									<div class="input-para">
										<p>The last three digits printed on the back of the card</p>
									</div>
								</div>
							</div>
							
							<div class="payment-card tabcontent tab-hide" id="netbanking">
								<div class="input-block">
									<label>Card Number*</label>
									<span><input type="number" id="fname" name="fname"></span> 
								</div>
								<div class="input-block">
									<label>Name Of the Card*</label>
									<span><input type="text" id="fname" name="fname"></span> 
								</div>
								<div class="col-md-6 pr-0 pl-0">
									<div class="select-box">
										<label>Expiry Month*</label>
										<select name="type" class="custom-select">
										  <option value="">Month</option>
										  <option value="">Jan</option>
										  <option value="">Feb</option>
										 </select>
									</div>
								</div>
								<div class="col-md-6 pr-0 pl-0">
									<div class="select-box">
										<label>Expiry Year*</label>
										<select name="type" class="custom-select">
											<option value="">Year</option>
											<option value="">2023</option>
											<option value="">2024</option>
										</select>
                                    </div>
                                </div>
                                <div class="col-md-3">
									<div class="input-block1">
										<label>CVV*</label>
										<input type="number" id="fname" name="fname" placeholder="CVV">
									</div>
								</div>
								<div class="col-md-9">
									<div class="input-para">
										<p>The last three digits printed on the back of the card</p>
									</div>
								</div>
							</div>
							
							<div class="payment-card tabcontent tab-hide" id="cashcard">
								<div class="input-block">
									<label>Card Number*</label>
									<span><input type="number" id="fname" name="fname"></span> 
								</div>
								<div class="input-block">
									<label>Name Of the Card*</label>
									<span><input type="text" id="fname" name="fname"></span> 
								</div>
								<div class="col-md-6 pr-0 pl-0">
									<div class="select-box">
										<label>Expiry Month*</label>
										<select name="type" class="custom-select">
										  <option value="">Month</option>
										  <option value="">Jan</option>
										  <option value="">Feb</option>
										 </select>
									</div>
								</div>
								<div class="col-md-6 pr-0 pl-0">
									<div class="select-box">
										<label>Expiry Year*</label>
										<select name="type" class="custom-select">
											<option value="">Year</option>
											<option value="">2023</option>
											<option value="">2024</option>
										</select>
                                    </div>
                                </div>
                                <div class="col-md-3">
									<div class="input-block1">
										<label>CVV*</label>
										<input type="number" id="fname" name="fname" placeholder="CVV">
									</div>
								</div>
								<div class="col-md-9">
									<div class="input-para">
										<p>The last three digits printed on the back of the card</p>
									</div>
								</div>
							</div>
							
							<div class="payment-card tabcontent tab-hide" id="wallet">
								<div class="input-block">
									<label>Card Number*</label>
									<span><input type="number" id="fname" name="fname"></span> 
								</div>
								<div class="input-block">
									<label>Name Of the Card*</label>
									<span><input type="text" id="fname" name="fname"></span> 
								</div>
								<div class="col-md-6 pr-0 pl-0">
									<div class="select-box">
										<label>Expiry Month*</label>
										<select name="type" class="custom-select">
										  <option value="">Month</option>
										  <option value="">Jan</option>
										  <option value="">Feb</option>
										 </select>
									</div>
								</div>
								<div class="col-md-6 pr-0 pl-0">
									<div class="select-box">
										<label>Expiry Year*</label>
										<select name="type" class="custom-select">
											<option value="">Year</option>
											<option value="">2023</option>
											<option value="">2024</option>
										</select>
                                    </div>
                                </div>
                                <div class="col-md-3">
									<div class="input-block1">
										<label>CVV*</label>
										<input type="number" id="fname" name="fname" placeholder="CVV">
									</div>
								</div>
								<div class="col-md-9">
									<div class="input-para">
										<p>The last three digits printed on the back of the card</p>
									</div>
								</div>
							</div>
							
							<div class="payment-card tabcontent tab-hide" id="emi">
								<div class="input-block">
									<label>Card Number*</label>
									<span><input type="number" id="fname" name="fname"></span> 
								</div>
								<div class="input-block">
									<label>Name Of the Card*</label>
									<span><input type="text" id="fname" name="fname"></span> 
								</div>
								<div class="col-md-6 pr-0 pl-0">
									<div class="select-box">
										<label>Expiry Month*</label>
										<select name="type" class="custom-select">
										  <option value="">Month</option>
										  <option value="">Jan</option>
										  <option value="">Feb</option>
										 </select>
									</div>
								</div>
								<div class="col-md-6 pr-0 pl-0">
									<div class="select-box">
										<label>Expiry Year*</label>
										<select name="type" class="custom-select">
											<option value="">Year</option>
											<option value="">2023</option>
											<option value="">2024</option>
										</select>
                                    </div>
                                </div>
                                <div class="col-md-3">
									<div class="input-block1">
										<label>CVV*</label>
										<input type="number" id="fname" name="fname" placeholder="CVV">
									</div>
								</div>
								<div class="col-md-9">
									<div class="input-para">
										<p>The last three digits printed on the back of the card</p>
									</div>
								</div>
							</div>
							
							
						</div>
                    </div>
                </div>
			<!-- payment -->

			
			<!--<div class="col-md-12">
				<div class="cart-block address-block">
					<h3><i class="fa fa-home"></i>Payment Method</h3>
					<div id="payment-method-details11">
						<div class="panel-body"></div>
					</div>
				</div>
			</div>-->
		</div>
		
        
        <div class="col-md-5">
			<div class="col-md-12">
				<div class="cart-block summary payment">
					<h3>Order Confirmation<a href="index.php?route=checkout/checkout">Edit Cart</a></h3>
					<div id="checkout-confirm-details">
						
					</div>
				</div>
			</div>
		</div>
		
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
</div>
<script type="text/javascript"><!--

$(document).ready(function() {
	//Shippping Method
		$.ajax({
			url: 'index.php?route=checkout/shipping_method',
			dataType: 'html',
			complete: function() {
				$('#button-guest-shipping').button('reset');
			},
			success: function(html) {
				$('#shipping-method-details .panel-body').html(html);

				$('#shipping-method-details').parent().find('.panel-heading .panel-title').html('<a href="#shipping-method-details" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_shipping_method }} <i class="fa fa-caret-down"></i>');
				$('#button-shipping-method').trigger('click');
				
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});


	
});




$(document).delegate('#button-shipping-method', 'click', function() {
    $.ajax({
        url: 'index.php?route=checkout/shipping_method/save',
        type: 'post',
        data: $('#shipping-method-details input[type=\'radio\']:checked, #shipping-method-details textarea'),
        dataType: 'json',
        beforeSend: function() {
        	$('#button-shipping-method').button('loading');
		},
        success: function(json) {
            $('.alert-dismissible, .text-danger').remove();

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                $('#button-shipping-method').button('reset');

                if (json['error']['warning']) {
                    $('#shipping-method-details .panel-body').prepend('<div class="alert alert-danger alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }
            } else {
			
				//Payment Method
				$.ajax({
					url: 'index.php?route=checkout/payment_method',
					dataType: 'html',
					success: function(html) {
						
						$('#payment-method-details .panel-body').html(html);

						$.ajax({
							url: 'index.php?route=checkout/confirm',
							dataType: 'html',
							complete: function() {
								$('#button-payment-method').button('reset');
							},
							success: function(html) {
								$('#checkout-confirm-details').html(html);

								

								$('a[href=\'#checkout-confirm-details\']').trigger('click');
							},
							error: function(xhr, ajaxOptions, thrownError) {
								alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
							}
						});
					},
					error: function(xhr, ajaxOptions, thrownError) {
						alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
					}
				});
				
				 /*$.ajax({
                    url: 'index.php?route=checkout/confirm',
                    dataType: 'html',
                    complete: function() {
                        $('#button-payment-method').button('reset');
                    },
                    success: function(html) {
                        $('#checkout-confirm-details').html(html);

						

						$('a[href=\'#checkout-confirm-details\']').trigger('click');
					},
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });*/
               
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

$(document).delegate('#button-payment-method', 'click', function() {
    $.ajax({
        url: 'index.php?route=checkout/payment_method/save',
        type: 'post',
        data: $('#payment-method-details input[type=\'radio\']:checked, #payment-method-details input[type=\'checkbox\']:checked, #payment-method-details textarea, #payment-method-details input[type=\'hidden\']'),
        dataType: 'json',
        beforeSend: function() {
         	$('#button-payment-method').button('loading');
		},
        success: function(json) {
            $('.alert-dismissible, .text-danger').remove();

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                $('#button-payment-method').button('reset');
                
                if (json['error']['warning']) {
                    $('#payment-method-details .panel-body').prepend('<div class="alert alert-danger alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }
            } else {
               
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});
//--></script>
<script>
function openCity(evt, cityName) {
	if(cityName == "credit"){
		$('#payment_method1').val('pinepg');
	}else if(cityName == "netbanking"){
		$('#payment_method1').val('pinepg');
	}else if(cityName == "cashcard"){
		$('#payment_method1').val('cod');
	}else if(cityName == "wallet"){
		$('#payment_method1').val('razorpay');
	}else if(cityName == "emi"){
		$('#payment_method1').val('pinepg');
	}
	
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
  
  $.ajax({
        url: 'index.php?route=checkout/payment_method/save',
        type: 'post',
        data: $('#payment-method-details input[type=\'radio\']:checked, #payment-method-details input[type=\'checkbox\']:checked, #payment-method-details textarea, #payment-method-details input[type=\'hidden\']'),
        dataType: 'json',
        beforeSend: function() {
         	$('#button-payment-method').button('loading');
		},
        success: function(json) {
            $('.alert-dismissible, .text-danger').remove();

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                $('#button-payment-method').button('reset');
                
                if (json['error']['warning']) {
                    $('#payment-method-details .panel-body').prepend('<div class="alert alert-danger alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }
            } else {
               $('#pay_form').replaceWith('<div id="pay_form">'+json['payment']+'<div>');
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
}
</script>
{{ footer }}