{{ header }}
<style>
#checkout-checkout{
	margin-top: 130px;
}
</style>
<div id="checkout-checkout" class="address-page">
<div class="container">
  
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  <div class="row">
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      <div class="panel-group" id="accordion">
        <div class="panel panel-default" style="display:none;">
          <div class="panel-heading">
            <h4 class="panel-title">{{ text_checkout_option }}</h4>
          </div>
          <div class="panel-collapse collapse" id="collapse-checkout-option">
            <div class="panel-body"></div>
          </div>
        </div>
        {% if not logged and account != 'guest' %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">{{ text_checkout_account }}</h4>
          </div>
          <div class="panel-collapse collapse" id="addr_details">
            <div class="panel-body"></div>
          </div>
        </div>
        {% else %}
		<div class="col-md-8">
            <div class="cart-block address-block">
                <h3><i class="fa fa-home"></i>My Address<a id="new-addr"><i class="fa fa-plus"></i>Add New Address</a></h3>
				<div id="addr_details">
					<div class="panel-body"></div>
				</div>
            </div>
        </div>
        
        {% endif %}
        
		<div class="col-md-8">
            <div class="cart-block address-block">
                <h3><i class="fa fa-home"></i>My Shipping Address<a id="new-shipping-addr"><i class="fa fa-plus"></i>Add New Address</a></h3>
				<div id="shipping-address-details">
					<div class="panel-body"></div>
				</div>
            </div>
        </div>
		
		<div class="col-md-8">
            <div class="cart-block address-block">
                <h3><i class="fa fa-home"></i>Shipping Method</h3>
				<div id="shipping-method-details">
					<div class="panel-body"></div>
				</div>
            </div>
        </div>
        
        
        
		<div class="col-md-8">
            <div class="cart-block address-block">
                <h3><i class="fa fa-home"></i>Payment Method</h3>
				<div id="payment-method-details">
					<div class="panel-body"></div>
				</div>
            </div>
        </div>
        
        <div class="col-md-4">
			<div class="cart-block summary payment">
				<h3>Order Confirmation<a href="index.php?route=checkout/checkout">Edit Cart</a></h3>
				<div id="checkout-confirm-details">
					<div class="panel-body"></div>
				</div>
			</div>
		</div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
</div>
<script type="text/javascript"><!--
$(document).on('change', 'input[name=\'account\']', function() {
	if ($('#addr_details').parent().find('.panel-heading .panel-title > *').is('a')) {
		if (this.value == 'register') {
			$('#addr_details').parent().find('.panel-heading .panel-title').html('<a href="#addr_details" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_account }} <i class="fa fa-caret-down"></i></a>');
		} else {
			$('#addr_details').parent().find('.panel-heading .panel-title').html('<a href="#addr_details" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_address }} <i class="fa fa-caret-down"></i></a>');
		}
	} else {
		if (this.value == 'register') {
			$('#addr_details').parent().find('.panel-heading .panel-title').html('{{ text_checkout_account }}');
		} else {
			$('#addr_details').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_address }}');
		}
	}
});
$('#new-addr').click(function (e) {
	$('#add_new_addr').trigger('click');
});
$('#new-shipping-addr').click(function (e) {
	$('#add_new_ship_addr').trigger('click');
});
{% if not logged %}
$(document).ready(function() {
	$("#modalLoginForm").modal('show');
});
$('.close').click(function (e) {
	$('#modalLoginForm').modal('hide');
	window.location.href = 'index.php?route=checkout/cart';
});
{% else %}
$(document).ready(function() {
    $.ajax({
        url: 'index.php?route=checkout/payment_address',
        dataType: 'html',
        success: function(html) {
            $('#addr_details .panel-body').html(html);

			$('#addr_details').parent().find('.panel-heading .panel-title').html('<a href="#addr_details" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_address }} <i class="fa fa-caret-down"></i></a>');

			$('a[href=\'#addr_details\']').trigger('click');
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
	//shipping address
	$.ajax({
		url: 'index.php?route=checkout/shipping_address',
		dataType: 'html',
		success: function(html) {
			$('#shipping-address-details .panel-body').html(html);

			$('#shipping-address-details').parent().find('.panel-heading .panel-title').html('<a href="#shipping-address-details" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_shipping_address }} <i class="fa fa-caret-down"></i></a>');

			$('a[href=\'#shipping-address-details\']').trigger('click');

			$('#shipping-method-details').parent().find('.panel-heading .panel-title').html('{{ text_checkout_shipping_method }}');
			$('#payment-method-details').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_method }}');
			$('#checkout-confirm-details').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
	//Shippping Method
	$.ajax({
		url: 'index.php?route=checkout/shipping_method',
		dataType: 'html',
		complete: function() {
			$('#button-guest-shipping').button('reset');
		},
		success: function(html) {
			$('#shipping-method-details .panel-body').html(html);

			$('#shipping-method-details').parent().find('.panel-heading .panel-title').html('<a href="#shipping-method-details" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_shipping_method }} <i class="fa fa-caret-down"></i>');

			$('a[href=\'#shipping-method-details\']').trigger('click');

			$('#payment-method-details').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_method }}');
			$('#checkout-confirm-details').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
	//Payment Method
	$.ajax({
		url: 'index.php?route=checkout/payment_method',
		dataType: 'html',
		success: function(html) {
			$('#payment-method-details .panel-body').html(html);

			$('#payment-method-details').parent().find('.panel-heading .panel-title').html('<a href="#payment-method-details" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_method }} <i class="fa fa-caret-down"></i></a>');

			$('a[href=\'#payment-method-details\']').trigger('click');

			$('#checkout-confirm-details').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
	//Confirm Order
	/*$.ajax({
		url: 'index.php?route=checkout/confirm',
		dataType: 'html',
		complete: function() {
			$('#button-payment-method').button('reset');
		},
		success: function(html) {
			$('#checkout-confirm-details .panel-body').html(html);

			$('#checkout-confirm-details').parent().find('.panel-heading .panel-title').html('<a href="#checkout-confirm-details" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_confirm }} <i class="fa fa-caret-down"></i></a>');

			$('a[href=\'#checkout-confirm-details\']').trigger('click');
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});*/
});

{% endif %}

// Checkout
$(document).delegate('#button-account', 'click', function() {
    $.ajax({
        url: 'index.php?route=checkout/' + $('input[name=\'account\']:checked').val(),
        dataType: 'html',
        beforeSend: function() {
        	$('#button-account').button('loading');
		},
        complete: function() {
			$('#button-account').button('reset');
        },
        success: function(html) {
            $('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

            $('#addr_details .panel-body').html(html);

			$('a[href=\'#addr_details\']').trigger('click');
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});



// Register
$(document).delegate('#button-register', 'click', function() {
    $.ajax({
        url: 'index.php?route=checkout/register/save',
        type: 'post',
        data: $('#addr_details input[type=\'text\'], #addr_details input[type=\'date\'], #addr_details input[type=\'datetime-local\'], #addr_details input[type=\'time\'], #addr_details input[type=\'password\'], #addr_details input[type=\'hidden\'], #addr_details input[type=\'checkbox\']:checked, #addr_details input[type=\'radio\']:checked, #addr_details textarea, #addr_details select'),
        dataType: 'json',
        beforeSend: function() {
			$('#button-register').button('loading');
		},
        success: function(json) {
            $('.alert-dismissible, .text-danger').remove();
            $('.form-group').removeClass('has-error');

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                $('#button-register').button('reset');

                if (json['error']['warning']) {
                    $('#addr_details .panel-body').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }

				for (i in json['error']) {
					var element = $('#input-payment-' + i.replace('_', '-'));

					if ($(element).parent().hasClass('input-group')) {
						$(element).parent().after('<div class="text-danger">' + json['error'][i] + '</div>');
					} else {
						$(element).after('<div class="text-danger">' + json['error'][i] + '</div>');
					}
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
            } else {
                {% if shipping_required %}
                var shipping_address = $('#payment-address input[name=\'shipping_address\']:checked').prop('value');

                if (shipping_address) {
                    $.ajax({
                        url: 'index.php?route=checkout/shipping_method',
                        dataType: 'html',
                        success: function(html) {
							// Add the shipping address
                            $.ajax({
                                url: 'index.php?route=checkout/shipping_address',
                                dataType: 'html',
                                success: function(html) {
                                    $('#shipping-address-details .panel-body').html(html);

									$('#shipping-address-details').parent().find('.panel-heading .panel-title').html('<a href="#shipping-address-details" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_shipping_address }} <i class="fa fa-caret-down"></i></a>');
                                },
                                error: function(xhr, ajaxOptions, thrownError) {
                                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                }
                            });

							$('#shipping-method-details .panel-body').html(html);

							$('#shipping-method-details').parent().find('.panel-heading .panel-title').html('<a href="#shipping-method-details" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_shipping_method }} <i class="fa fa-caret-down"></i></a>');

   							$('a[href=\'#shipping-method-details\']').trigger('click');

							$('#shipping-method-details').parent().find('.panel-heading .panel-title').html('{{ text_checkout_shipping_method }}');
							$('#payment-method-details').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_method }}');
							$('#checkout-confirm-details').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                } else {
                    $.ajax({
                        url: 'index.php?route=checkout/shipping_address',
                        dataType: 'html',
                        success: function(html) {
                            $('#shipping-address-details .panel-body').html(html);

							$('#shipping-address-details').parent().find('.panel-heading .panel-title').html('<a href="#shipping-address-details" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_shipping_address }} <i class="fa fa-caret-down"></i></a>');

							$('a[href=\'#shipping-address-details\']').trigger('click');

							$('#shipping-method-details').parent().find('.panel-heading .panel-title').html('{{ text_checkout_shipping_method }}');
							$('#payment-method-details').parent().find('.panel-heading .panel-title').html('{{ text_checkout_payment_method }}');
							$('#checkout-confirm-details').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                        }
                    });
                }
                {% else %}
                $.ajax({
                    url: 'index.php?route=checkout/payment_method',
                    dataType: 'html',
                    success: function(html) {
                        $('#payment-method-details .panel-body').html(html);

						$('#payment-method-details').parent().find('.panel-heading .panel-title').html('<a href="#payment-method-details" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_method }} <i class="fa fa-caret-down"></i></a>');

						$('a[href=\'#payment-method-details\']').trigger('click');

						$('#checkout-confirm-details').parent().find('.panel-heading .panel-title').html('{{ text_checkout_confirm }}');
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
                {% endif %}

                $.ajax({
                    url: 'index.php?route=checkout/payment_address',
                    dataType: 'html',
                    complete: function() {
                        $('#button-register').button('reset');
                    },
                    success: function(html) {
                        $('#addr_details .panel-body').html(html);

						$('#addr_details').parent().find('.panel-heading .panel-title').html('<a href="#addr_details" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_payment_address }} <i class="fa fa-caret-down"></i></a>');
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

// Payment Address
$(document).delegate('#button-payment-address', 'click', function() {
    $.ajax({
        url: 'index.php?route=checkout/payment_address/save',
        type: 'post',
        data: $('#addr_details input[type=\'text\'], #addr_details input[type=\'date\'], #addr_details input[type=\'datetime-local\'], #addr_details input[type=\'time\'], #addr_details input[type=\'password\'], #addr_details input[type=\'checkbox\']:checked, #addr_details input[type=\'radio\']:checked, #addr_details input[type=\'hidden\'], #addr_details textarea, #addr_details radio'),
        dataType: 'json',
        beforeSend: function() {
        	$('#button-payment-address').button('loading');
		},
        complete: function() {
			$('#button-payment-address').button('reset');
        },
        success: function(json) {
            $('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');
            
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

// Shipping Address
$(document).delegate('#button-shipping-address', 'click', function() {
    $.ajax({
        url: 'index.php?route=checkout/shipping_address/save',
        type: 'post',
        data: $('#shipping-address-details input[type=\'text\'], #shipping-address-details input[type=\'date\'], #shipping-address-details input[type=\'datetime-local\'], #shipping-address-details input[type=\'time\'], #shipping-address-details input[type=\'password\'], #shipping-address-details input[type=\'checkbox\']:checked, #shipping-address-details input[type=\'radio\']:checked, #shipping-address-details textarea, #shipping-address-details select'),
        dataType: 'json',
        beforeSend: function() {
			$('#button-shipping-address').button('loading');
	    },
        success: function(json) {
            $('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');
           
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});


$(document).delegate('#button-shipping-method', 'click', function() {
    $.ajax({
        url: 'index.php?route=checkout/shipping_method/save',
        type: 'post',
        data: $('#shipping-method-details input[type=\'radio\']:checked, #shipping-method-details textarea'),
        dataType: 'json',
        beforeSend: function() {
        	$('#button-shipping-method').button('loading');
		},
        success: function(json) {
            $('.alert-dismissible, .text-danger').remove();
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

$(document).delegate('#button-payment-method', 'click', function() {
    $.ajax({
        url: 'index.php?route=checkout/payment_method/save',
        type: 'post',
        data: $('#payment-method-details input[type=\'radio\']:checked, #payment-method-details input[type=\'checkbox\']:checked, #payment-method-details textarea'),
        dataType: 'json',
        beforeSend: function() {
         	$('#button-payment-method').button('loading');
		},
        success: function(json) {
            $('.alert-dismissible, .text-danger').remove();

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                $('#button-payment-method').button('reset');
                
                if (json['error']['warning']) {
                    $('#collapse-payment-method .panel-body').prepend('<div class="alert alert-danger alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }
            } else {
                $.ajax({
                    url: 'index.php?route=checkout/confirm',
                    dataType: 'html',
                    complete: function() {
                        $('#button-payment-method').button('reset');
                    },
                    success: function(html) {
                        $('#checkout-confirm-details .panel-body').html(html);

						$('#checkout-confirm-details').parent().find('.panel-heading .panel-title').html('<a href="#checkout-confirm-details" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_confirm }} <i class="fa fa-caret-down"></i></a>');

						$('a[href=\'#checkout-confirm-details\']').trigger('click');
					},
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});
//--></script>
{{ footer }}