{{ header }}
<style>
.address-page{
	margin-top: 130px;
}
</style>
<div class="address-page">
<div class="container">
  
  <div class="row">
    <div id="content" class="{{ class }}">{{ content_top }}
     
      
	  
	<div class="col-md-8">
		<div class="cart-block address-block">
			<h3><i class="fa fa-home"></i>My Addresses<a id="new-addr"><i class="fa fa-plus"></i>Add New Address</a></h3>
			<div id="shipping-address-details">
			</div>
		</div>
	</div>
        
        
    <div class="col-md-4">
        <div class="cart-block summary">
            <h3>Payment Summary</h3>
            <ul>
				{% for total in totals %}
					<li>
					{% if total.title == "Total" %}
						Price-2 items
					{% else %}
						{{ total.title }}
					{% endif %}
					  <span>{{ total.text }}</span>
					</li>
				{% endfor %}
				<li class="">Price - 2 Items<span>{{ total_amount }}</span></li>
				<li>Delivery Fee<span class="green-color">Free</span></li>
				<li class="total-amount">Total Amount<span>{{ total_amount }}</span></li>
                
                  
                  <li class="save-offer"><i class="fa fa-percent"></i>You will save &#8377;6,000 on this Order</li>
            </ul>
        </div>
        
        <div id="checkout-proceed" class="checkout-button">
                <a class="btn btn-checkout">Proceed To Checkout</a>
        </div>
    </div>
	
		
		
        
        
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
</div>
<script type="text/javascript">
{% if not logged %}
$(document).ready(function() {
	$("#modalLoginForm").modal('show');
});
$('.close').click(function (e) {
	$('#modalLoginForm').modal('hide');
	window.location.href = 'index.php?route=checkout/cart';
});
{% else %}
$(document).ready(function() {
	
	$.ajax({
		url: 'index.php?route=checkout/payment_address',
		dataType: 'html',
		success: function(html) {
			$('#shipping-address-details').html(html);
			
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});
$('#new-addr').click(function (e) {
	$('#add_new_addr').trigger('click');
});
$('#checkout-proceed').click(function () {
		$('#button-payment-method').trigger('click');
	});
$(document).delegate('#button-payment-address', 'click', function() {
    $.ajax({
        url: 'index.php?route=checkout/payment_address/save',
        type: 'post',
        data: $('#shipping-address-details input[type=\'text\'], #shipping-address-details input[type=\'date\'], #shipping-address-details input[type=\'datetime-local\'], #shipping-address-details input[type=\'time\'], #shipping-address-details input[type=\'password\'], #shipping-address-details input[type=\'checkbox\']:checked, #shipping-address-details input[type=\'radio\']:checked, #shipping-address-details input[type=\'hidden\'], #shipping-address-details textarea, #shipping-address-details radio'),
        dataType: 'json',
        beforeSend: function() {
        	$('#button-payment-address').button('loading');
		},
        complete: function() {
			$('#button-payment-address').button('reset');
        },
        success: function(json) {
            $('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');
            
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});


$(document).delegate('#button-payment-address', 'click', function() {
    $.ajax({
        url: 'index.php?route=checkout/payment_address/save',
        type: 'post',
        data: $('#shipping-address-details input[type=\'text\'], #shipping-address-details input[type=\'date\'], #shipping-address-details input[type=\'datetime-local\'], #shipping-address-details input[type=\'time\'], #shipping-address-details input[type=\'password\'], #shipping-address-details input[type=\'checkbox\']:checked, #shipping-address-details input[type=\'radio\']:checked, #shipping-address-details input[type=\'hidden\'], #shipping-address-details textarea, #shipping-address-details select'),
        dataType: 'json',
        beforeSend: function() {
        	$('#button-payment-address').button('loading');
		},
        complete: function() {
			$('#button-payment-address').button('reset');
        },
        success: function(json) {
            $('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                if (json['error']['warning']) {
                    $('#shipping-address-details').prepend('<div class="alert alert-warning alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }

				for (i in json['error']) {
					var element = $('#input-payment-' + i.replace('_', '-'));

					if ($(element).parent().hasClass('input-group')) {
						$(element).parent().after('<div class="text-danger">' + json['error'][i] + '</div>');
					} else {
						$(element).after('<div class="text-danger">' + json['error'][i] + '</div>');
					}
				}

				// Highlight any found errors
				$('.text-danger').parent().parent().addClass('has-error');
            } else {
				$.ajax({
						url: 'index.php?route=checkout/payment_address',
						dataType: 'html',
						success: function(html) {
							$('#shipping-address-details').html(html);
						},
						error: function(xhr, ajaxOptions, thrownError) {
							alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
						}
					});
			
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});
{% endif %}
</script>
{{ footer }}