{{ header }}
<div id="checkout-checkout" class="address-page">
<div class="container">
  
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  <div class="row">
    <div id="content" class="{{ class }}">{{ content_top }}
      <div class="panel-group" id="accordion">
        <div class="panel panel-default" style="display:none;">
          <div class="panel-heading">
            <h4 class="panel-title">{{ text_checkout_option }}</h4>
          </div>
          <div class="panel-collapse collapse" id="collapse-checkout-option">
            <div class="panel-body"></div>
          </div>
        </div>
       
        
		
		
		<div style="display:none;">
            <div class="cart-block address-block">
                <h3><i class="fa fa-home"></i>Shipping Method</h3>
				<div id="shipping-method-details">
					<div class="panel-body"></div>
				</div>
            </div>
        </div>
        
		<div class="col-md-7">
			<div class="col-md-12">
			   <div class="cart-block payment-offers">
					<h3><span><i class="fa fa-percent"></i>Payment Offers</span></h3>
					<div class="offers-cont">
						<ul>
							<li>Flat 0% discount on first prepaid transaction using Rupay debit card T&C</li>
						  
						</ul>
					   <span>Show More<i class="fa fa-angle-down"></i></span>
					   
					</div>
				</div>
			</div>
			
			<div class="col-md-12">
				<div class="cart-block address-block">
					<h3><i class="fa fa-home"></i>Payment Method</h3>
					<div id="payment-method-details">
						<div class="panel-body"></div>
					</div>
				</div>
			</div>
		</div>
		
        
        <div class="col-md-5">
			<div class="col-md-12">
				<div class="cart-block summary payment">
					<h3>Order Confirmation<a href="index.php?route=checkout/checkout">Edit Cart</a></h3>
					<div id="checkout-confirm-details">
						<div class="panel-body"></div>
					</div>
				</div>
			</div>
		</div>
		
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
</div>
<script type="text/javascript"><!--

$(document).ready(function() {
	//Shippping Method
		$.ajax({
			url: 'index.php?route=checkout/shipping_method',
			dataType: 'html',
			complete: function() {
				$('#button-guest-shipping').button('reset');
			},
			success: function(html) {
				$('#shipping-method-details .panel-body').html(html);

				$('#shipping-method-details').parent().find('.panel-heading .panel-title').html('<a href="#shipping-method-details" data-toggle="collapse" data-parent="#accordion" class="accordion-toggle">{{ text_checkout_shipping_method }} <i class="fa fa-caret-down"></i>');
				$('#button-shipping-method').trigger('click');
				
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});


	
});




$(document).delegate('#button-shipping-method', 'click', function() {
    $.ajax({
        url: 'index.php?route=checkout/shipping_method/save',
        type: 'post',
        data: $('#shipping-method-details input[type=\'radio\']:checked, #shipping-method-details textarea'),
        dataType: 'json',
        beforeSend: function() {
        	$('#button-shipping-method').button('loading');
		},
        success: function(json) {
            $('.alert-dismissible, .text-danger').remove();

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                $('#button-shipping-method').button('reset');

                if (json['error']['warning']) {
                    $('#shipping-method-details .panel-body').prepend('<div class="alert alert-danger alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }
            } else {
			
				//Payment Method
				$.ajax({
					url: 'index.php?route=checkout/payment_method',
					dataType: 'html',
					success: function(html) {
						
						$('#payment-method-details .panel-body').html(html);

						$.ajax({
							url: 'index.php?route=checkout/confirm',
							dataType: 'html',
							complete: function() {
								$('#button-payment-method').button('reset');
							},
							success: function(html) {
								$('#checkout-confirm-details .panel-body').html(html);

								

								$('a[href=\'#checkout-confirm-details\']').trigger('click');
							},
							error: function(xhr, ajaxOptions, thrownError) {
								alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
							}
						});
					},
					error: function(xhr, ajaxOptions, thrownError) {
						alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
					}
				});
				
				 /*$.ajax({
                    url: 'index.php?route=checkout/confirm',
                    dataType: 'html',
                    complete: function() {
                        $('#button-payment-method').button('reset');
                    },
                    success: function(html) {
                        $('#checkout-confirm-details .panel-body').html(html);

						

						$('a[href=\'#checkout-confirm-details\']').trigger('click');
					},
                    error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });*/
               
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

$(document).delegate('#button-payment-method', 'click', function() {
    $.ajax({
        url: 'index.php?route=checkout/payment_method/save',
        type: 'post',
        data: $('#payment-method-details input[type=\'radio\']:checked, #payment-method-details input[type=\'checkbox\']:checked, #payment-method-details textarea'),
        dataType: 'json',
        beforeSend: function() {
         	$('#button-payment-method').button('loading');
		},
        success: function(json) {
            $('.alert-dismissible, .text-danger').remove();

            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                $('#button-payment-method').button('reset');
                
                if (json['error']['warning']) {
                    $('#payment-method-details .panel-body').prepend('<div class="alert alert-danger alert-dismissible">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }
            } else {
               
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});
//--></script>
{{ footer }}