<style>
.payment-cont span{
	padding-right :0px !important;
}
.payment-cont strong{
	margin-left: 20px;
}
.buttons{
	float: right;
	margin-top: 30px;
}
</style>
{% if not redirect %}
	<ul class="none-boxshadow">
        {% for product in products %}  
			<li>
				<div class="payment-img">
					<img src="{{ product.thumb }}">
				</div>
				<div class="payment-cont">
					<span>{{ product.name }}</span>
					<strong>{{ product.price }}</strong>
				</div>
			</li>
	{% endfor %}	
	</ul>
	{% for voucher in vouchers %}
    <ul>
      <li class="text-left">{{ voucher.description }}</li>
      <li class="text-left"></li>
      <li class="text-right">1</li>
      <li class="text-right">{{ voucher.amount }}</li>
      <li class="text-right">{{ voucher.amount }}</li>
    </ul>
    {% endfor %}
	<ul>     
		<li>Delivery Fee<span class="green-color">Free</span></li>
		<li>Coupon Discount<span id="applycoupon"><a>Apply Coupon</a></span></li>
        <li id="coupon_apply" style="display:none;"><input type="text" name="coupon" value="" placeholder="Enter your coupon here" id="input-coupon" class=""><span>
        <input type="button" value="Apply Coupon" id="button-coupon" data-loading-text="Loading..." class="btn btn-primary">
        </span></li>
		
		{% for total in totals %}
			<li class="total-amount">{{ total.title }}<span>{{ total.text }}</span></li>
		{% endfor %}
		<li class="save-offer"><i class="fa fa-percent"></i>You will save &#8377;6,000 on this Order</li>
	</ul>
			
<div id="pay_form">	
{{ payment }}
</div>
{% else %} 
<script type="text/javascript"><!--
location = '{{ redirect }}';
//--></script> 
{% endif %} 
<script>
$("#applycoupon").click(function() {
	$("#coupon_apply").css("display", "block");
});
</script>