<form class="form-horizontal">
  {% if addresses %}
  <div class="radio" style="display:none;">
    <label>
      <input type="radio" id="pay_addr" name="payment_address" value="existing" checked="checked" />
      {{ text_address_existing }}</label>
  </div>
  <div id="payment-existing">
  <ul>
  <li>
    
     {% for address in addresses %}
      {% if address['address_id'] == address_id %}
      <div class="address-det"><input type="radio" name="address_id" value="{{ address.address_id }}" checked="checked"><strong>{{ address.firstname }} {{ address.lastname }}</strong><span>{{ address.address_type }}</span><small>COD Available</small></div><div class="address-cont"><p> {{ address.address_1 }}, {{ address.city }}, {{ address.zone }}, {{ address.country }} - {{ address.postcode }} </p><span>Mobile: {{ address.mobile }}</span></div>
	  <div class="address-button"><a href="index.php?route=account/address/delete&address_id={{ address.address_id }}" class="btn btn-add-remove"><i class="fa fa-trash"></i>Remove</a><a href="index.php?route=account/address/edit&address_id={{ address.address_id }}" class="btn btn-add-edit"><i class="fa fa-edit"></i>edit</a></div>
      {% else %}
      <div class="address-det"><input type="radio" name="address_id" value="{{ address.address_id }}"><strong>{{ address.firstname }} {{ address.lastname }}</strong><span>{{ address.address_type }}</span><small>COD Available</small></div><div class="address-cont"><p> {{ address.address_1 }}, {{ address.city }}, {{ address.zone }}, {{ address.country }} - {{ address.postcode }} </p><span>Mobile: {{ address.mobile }}</span></div>
	  <div class="address-button"><a href="index.php?route=account/address/delete&address_id={{ address.address_id }}" class="btn btn-add-remove"><i class="fa fa-trash"></i>Remove</a><a href="index.php?route=account/address/edit&address_id={{ address.address_id }}" class="btn btn-add-edit"><i class="fa fa-edit"></i>edit</a></div>
      {% endif %}
      {% endfor %}
	</li>
	</ul>
  </div>
  <div class="radio" style="display:none;">
    <label>
      <input type="radio" id="add_new_addr" name="payment_address" value="new" />
      {{ text_address_new }}</label>
  </div>
  {% endif %}
  
  <div id="payment-new" class="paymentnew-address" style="display: {% if addresses %}none{% else %}block{% endif %};">
 <div class="col-md-12">
    <div class="form-group required">
      <label class="control-label" for="input-payment-firstname">{{ entry_firstname }} *</label>
      <div class="">
        <input type="text" name="firstname" value="" placeholder="{{ entry_firstname }}" id="input-payment-firstname" class="form-control" />
      </div>
    </div>
    <div class="form-group required">
      <label class="control-label" for="input-payment-lastname">{{ entry_lastname }} *</label>
      <div class="">
        <input type="text" name="lastname" value="" placeholder="{{ entry_lastname }}" id="input-payment-lastname" class="form-control" />
      </div>
    </div>
</div>
<div class="col-md-12">
    <div class="form-group">
      <label class=" control-label" for="input-payment-mobile">Mobile Number</label>
      <div class="">
        <input type="text" name="mobile" value="" placeholder="Mobile Number" id="input-payment-mobile" class="form-control" />
      </div>
    </div>
	<div class="form-group">
      <label class="control-label" for="input-payment-company">{{ entry_company }}</label>
      <div class="">
        <input type="text" name="company" value="" placeholder="{{ entry_company }}" id="input-payment-company" class="form-control" />
      </div>
    </div>
</div>

<div class="col-md-12">
    <div class="form-group required">
      <label class="control-label" for="input-payment-address-1">{{ entry_address_1 }} *</label>
      <div class="">
        <input type="text" name="address_1" value="" placeholder="{{ entry_address_1 }}" id="input-payment-address-1" class="form-control" />
      </div>
    </div>

    <div class="form-group">
      <label class="control-label" for="input-payment-address-2">{{ entry_address_2 }}</label>
      <div class="">
        <input type="text" name="address_2" value="" placeholder="{{ entry_address_2 }}" id="input-payment-address-2" class="form-control" />
      </div>
    </div>
</div>

<div class="col-md-12">
    <div class="form-group required">
      <label class="control-label" for="input-payment-city">{{ entry_city }} *</label>
      <div class="">
        <input type="text" name="city" value="" placeholder="{{ entry_city }}" id="input-payment-city" class="form-control" />
      </div>
    </div>

    <div class="form-group required">
      <label class="control-label" for="input-payment-postcode">{{ entry_postcode }} *</label>
      <div class="">
        <input type="text" name="postcode" value="" placeholder="{{ entry_postcode }}" id="input-payment-postcode" class="form-control" />
      </div>
    </div>
</div>
<div class="col-md-12">
    <div class="form-group required">
      <label class="control-label" for="input-payment-country">{{ entry_country }} *</label>
      <div class="">
        <select name="country_id" id="input-payment-country" class="form-control">
          <option value="">{{ text_select }}</option>
         {% for country in countries %}
          {% if country.country_id == country_id %}
          <option value="{{ country.country_id }}" selected="selected">{{ country.name }}</option>
          {% else %}
          <option value="{{ country.country_id }}">{{ country.name }}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group required">
      <label class="control-label" for="input-payment-zone">{{ entry_zone }} *</label>
      <div class="">
        <select name="zone_id" id="input-payment-zone" class="form-control">
        </select>
      </div>
    </div>
</div>
<div class="col-md-12">
	<div class="form-group required form-block">
		<div class="col-sm-3">
			<label class=" control-label" for="input-payment-address-type">Address Type * :</label>
		</div>
		  <div class="col-sm-9">
			<div class="col-sm-4">
			<div class="choose-radio-address">
				<input type="radio" id="home" name="address_type" value="Home">
				<label for="home">Home</label><br>
				</div>
			</div>
			<div class="col-sm-4">
			<div class="choose-radio-address">
				<input type="radio" id="office" name="address_type" value="Office">
				<label for="office">Office</label><br>
				</div>
			</div>
			<div class="col-sm-4">
			<div class="choose-radio-address">
				<input type="radio" id="other" name="address_type" value="Other">
				<label for="other">Other</label>
				</div>
			</div>
		  </div>
    </div>
</div>
    {% for custom_field in custom_fields %}
    {% if custom_field.type == 'select' %}
    <div class="form-group{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
      <label class="col-sm-2 control-label" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
      <div class="col-sm-10">
        <select name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control">
          <option value="">{{ text_select }}</option>
          {% for custom_field_value in custom_field.custom_field_value %}
          <option value="{{ custom_field_value.custom_field_value_id }}">{{ custom_field_value.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    {% endif %}
    {% if custom_field.type == 'radio' %}
    <div class="form-group{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
      <label class="col-sm-2 control-label">{{ custom_field.name }}</label>
      <div class="col-sm-10">
        <div id="input-payment-custom-field{{ custom_field.custom_field_id }}">
          {% for custom_field_value in custom_field.custom_field_value %}
          <div class="radio">
            <label>
              <input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" />
              {{ custom_field_value.name }}</label>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
    {% if custom_field.type == 'checkbox' %}
    <div class="form-group{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
      <label class="col-sm-2 control-label">{{ custom_field.name }}</label>
      <div class="col-sm-10">
        <div id="input-payment-custom-field{{ custom_field.custom_field_id }}">
          {% for custom_field_value in custom_field.custom_field_value %}
          <div class="checkbox">
            <label>
              <input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" />
              {{ custom_field_value.name }}</label>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
    {% if custom_field.type == 'text' %}
    <div class="form-group{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
      <label class="col-sm-2 control-label" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
      <div class="col-sm-10">
        <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control" />
      </div>
    </div>
    {% endif %}
    {% if custom_field.type == 'textarea' %}
    <div class="form-group{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
      <label class="col-sm-2 control-label" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
      <div class="col-sm-10">
        <textarea name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" rows="5" placeholder="{{ custom_field.name }}" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control">{{ custom_field.value }}</textarea>
      </div>
    </div>
    {% endif %}
    {% if custom_field.type == 'file' %}
    <div class="form-group{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
      <label class="col-sm-2 control-label">{{ custom_field.name }}</label>
      <div class="col-sm-10">
        <button type="button" id="button-payment-custom-field{{ custom_field.custom_field_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default"><i class="fa fa-upload"></i> {{ button_upload }}</button>
        <input type="hidden" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="" id="input-payment-custom-field{{ custom_field.custom_field_id }}" />
      </div>
    </div>
    {% endif %}
    {% if custom_field.type == 'date' %}
    <div class="form-group{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
      <label class="col-sm-2 control-label" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
      <div class="col-sm-10">
        <div class="input-group date">
          <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" data-date-format="YYYY-MM-DD" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control" />
          <span class="input-group-btn">
          <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
          </span></div>
      </div>
    </div>
    {% endif %}
    {% if custom_field.type == 'time' %}
    <div class="form-group{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
      <label class="col-sm-2 control-label" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
      <div class="col-sm-10">
        <div class="input-group time">
          <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" data-date-format="HH:mm" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control" />
          <span class="input-group-btn">
          <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
          </span></div>
      </div>
    </div>
    {% endif %}
    {% if custom_field.type == 'time' %}
    <div class="form-group{% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
      <label class="col-sm-2 control-label" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
      <div class="col-sm-10">
        <div class="input-group datetime">
          <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" data-date-format="YYYY-MM-DD HH:mm" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control" />
          <span class="input-group-btn">
          <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
          </span></div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
	
	<div class="col-md-12">
		<div class="buttons clearfix">
			<div class="pull-left">
			  <input type="button" value="Save and Deliver Here" id="button-payment-address" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-save-deliver" />
			</div>
			<div class="pull-right float-none">
			  <a href="index.php?route=checkout/checkout_address"><input type="button" value="Cancel" class="btn btn-primary btn-save-cancel" /></a>
			</div>
	  </div>
	  </div>
  </div>
  
</form>
<script type="text/javascript"><!--
$('input[name=\'payment_address\']').on('change', function() {
	if (this.value == 'new') {
		$('#payment-existing').hide();
		$('#payment-new').show();
	} else {
		$('#payment-existing').show();
		$('#payment-new').hide();
	}
});
//--></script>
<script type="text/javascript"><!--
// Sort the custom fields
$('#shipping-address-details .form-group[data-sort]').detach().each(function() {
	if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#shipping-address-details .form-group').length-2) {
		$('#shipping-address-details .form-group').eq(parseInt($(this).attr('data-sort'))+2).before(this);
	}

	if ($(this).attr('data-sort') > $('#shipping-address-details .form-group').length-2) {
		$('#shipping-address-details .form-group:last').after(this);
	}

	if ($(this).attr('data-sort') == $('#shipping-address-details .form-group').length-2) {
		$('#shipping-address-details .form-group:last').after(this);
	}

	if ($(this).attr('data-sort') < -$('#shipping-address-details .form-group').length-2) {
		$('#shipping-address-details .form-group:first').before(this);
	}
});
//--></script>
<script type="text/javascript"><!--
$('#shipping-address-details button[id^=\'button-payment-custom-field\']').on('click', function() {
	var element = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(element).button('loading');
				},
				complete: function() {
					$(element).button('reset');
				},
				success: function(json) {
					$(element).parent().find('.text-danger').remove();

					if (json['error']) {
						$(element).parent().find('input[name^=\'custom_field\']').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(element).parent().find('input[name^=\'custom_field\']').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script>
<script type="text/javascript"><!--
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});

$('.time').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: false
});

$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true
});
//--></script>
<script type="text/javascript"><!--
$('#shipping-address-details select[name=\'country_id\']').on('change', function() {
	$.ajax({
		url: 'index.php?route=checkout/checkout/country&country_id=' + this.value,
		dataType: 'json',
		beforeSend: function() {
			$('#shipping-address-details select[name=\'country_id\']').prop('disabled', true);
		},
		complete: function() {
			$('#shipping-address-details select[name=\'country_id\']').prop('disabled', false);
		},
		success: function(json) {
			if (json['postcode_required'] == '1') {
				$('#shipping-address-details input[name=\'postcode\']').parent().parent().addClass('required');
			} else {
				$('#shipping-address-details input[name=\'postcode\']').parent().parent().removeClass('required');
			}

			html = '<option value="">{{ text_select }}</option>';

			if (json['zone'] && json['zone'] != '') {
				for (i = 0; i < json['zone'].length; i++) {
					html += '<option value="' + json['zone'][i]['zone_id'] + '"';

					if (json['zone'][i]['zone_id'] == '{{ zone_id }}') {
						html += ' selected="selected"';
					}

					html += '>' + json['zone'][i]['name'] + '</option>';
				}
			} else {
				html += '<option value="0" selected="selected">{{ text_none }}</option>';
			}

			$('#shipping-address-details select[name=\'zone_id\']').html(html);
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$('#shipping-address-details select[name=\'country_id\']').trigger('change');
//--></script>
