{{ header }}

{{ column_left }}{{ column_right }}
<div class="container">{{ content_top }}
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if attention %}
    <div class="alert alert-warning">
      <i class="fa fa-exclamation-circle"></i>
      {{ attention }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% endif %}
  {% if success %}
    <div class="alert alert-success">
      <i class="fa fa-check-circle"></i>
      {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% endif %}
  {% if error_warning %}
    <div class="alert alert-danger">
      <i class="fa fa-exclamation-circle"></i>
      {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% endif %}
   <div class="row">{{ column_left }}
     {% if column_left and column_right %}
     {% set class = 'col-sm-6' %}
     {% elseif column_left or column_right %}
     {% set class = 'col-sm-9' %}
     {% else %}
     {% set class = 'col-sm-12' %}
     {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
        <form action="{{ action }}" id="cart-form" method="post" enctype="multipart/form-data">
          <div class="table-responsive">
            <table class="table table-bordered table-hover list" >
        <thead>
          <tr>
            <td class="image">{{ column_image }}</td>
            <td class="name">{{ column_name }}</td>
            <td class="model">{{ column_model }}</td>
            <td class="quantity">{{ column_quantity }}</td>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
          <tr>
            <td class="image">{% if product.thumb %}
              <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" /></a>
              {% endif %}</td>
            <td class="name"><a href="{{ product.href }}">{{ product.name }}</a>
              {% if not product.stock %}
              <span class="stock">***</span>
              {% endif %}
              <div>
                {% for option in product %}
                - <small>{{ option.name }}: {{ option.value }}</small><br />
                {% endfor %}
              </div>
              </td>
            <td class="model">{{ product.model }}</td>
            <td class="quantity">
              <div class="input-group btn-block">
                <input type="text" name="quantity[{{ product.key }}]" value="{{ product.quantity }}" size="1" class="form-control" />
                <span class="input-group-btn">
                  <button class="btn btn-primary" data-toggle="tooltip" type="submit" data-original="{{ button_update }}" >
                    <i class="fa fa-refresh"></i>
                  </button>
                  <button type="button" class="btn btn-danger" onclick="location='{{ product.remove }}'" data-toggle="tooltip" data-original="{{ button_remove }}" >
                    <i class="fa fa-times-circle"></i>
                  </button>
                </span>
              </div>
          </tr>
        {% endfor %}

        </tbody>
      </table>
      </div>
  </form>
<form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
  <fieldset>
    <legend>
      {{ text_next }}
    </legend>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="input-name">
        {{ text_name  }}
      </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="pre_name" id="input-name" style="width: 95%;">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="input-email">
        {{ text_email  }}
      </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="pre_email" id="input-email" style="width: 95%;">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="input-enquiry">
        {{ text_enquiry  }}
      </label>
      <div class="col-sm-10">
        <textarea type="text" class="form-control" rows="7" name="pre_enquiry" id="input-inquiry" style="width: 95%;"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">
        {{ text_code  }}
      </label>
      <div class="col-sm-10">
        <div class="input-group">
          <input type="text" class="form-control" name="pre_code" />
          <span class="input-group-btn">
            <img class="" src="index.php?route=checkout/precart/captcha">
          </span>
        </div>
      </div>
    </div>
    <div class="form-group">

      <div class="col-sm-12">
        <input type="button" id="button-precart" class="btn btn-primary pull-right" value="{{ button_checkout }}">
      </div>
    </div>
  </fieldset>
</form>

</div>
</div>
</div>
<script type="text/javascript">

$('#button-precart').on('click', function() {
  $.ajax({
    url: 'index.php?route=checkout/precart/write',
    type: 'post',
    dataType: 'json',
    data: 'name=' + encodeURIComponent($('input[name=\'pre_name\']').val()) + '&text=' + encodeURIComponent($('textarea[name=\'pre_enquiry\']').val()) + '&email=' + encodeURIComponent($('input[name=\'pre_email\']').val()) + '&captcha=' + encodeURIComponent($('input[name=\'pre_code\']').val()),
    beforeSend: function() {
      $('.text-danger').remove();
      $('.form-group').removeClass('has-error');
      $('#button-precart').attr('disabled', true);
      $('.cart-info').before('<div class="attention">{{ text_wait }}</div>');
    },
    complete: function() {
      $('#button-precart').attr('disabled', false);
      $('.attention').remove();
    },
    success: function(data) {
      if (data['error']) {
        if(data['name'] == 'pre_code'){
          $(data['input']+'[name="'+data['name']+'"]').parent().after('<div class="text-danger">' + data['error'] + '</div>');
          $(data['input']+'[name="'+data['name']+'"]').parent().parent().parent('.form-group').addClass('has-error');
        }else{
          $(data['input']+'[name="'+data['name']+'"]').after('<div class="text-danger">' + data['error'] + '</div>');
          $(data['input']+'[name="'+data['name']+'"]').parent().parent('.form-group').addClass('has-error');
        }
        $(data['input']+'[name="'+data['name']+'"]').focus();
      }

      if (data['success']) {
        $('.breadcrumb').before('<div class="alert alert-success">' + data['success'] + '</div>');
        $('html, body').animate({ scrollTop: 0 }, 'slow');
        $('input[name=\'pre_name\']').val('');
        $('textarea[name=\'pre_enquiry\']').val('');
        $('input[name=\'pre_email\']').val('');
        $('input[name=\'pre_code\']').val('');

        setTimeout(function(){
          location.reload();
        },2000
        );
      }
    }
  });
});
</script>
  {{ content_bottom }}</div>
{{ footer }}
