@include breakpoint(sm){
    /************************************************************************************************
        SHOW MORE CONTENT
    *************************************************************************************************/
     .description-toggle{ display: block !important;
        text-align: center; background-color: transparent;
        margin: 10px; 
        a{background-color: transparent; text-transform: uppercase; font-weight: 400; color: #666;
          &:hover, &:focus, &:active{color:$linkColor; background-color:transparent; box-shadow:none;}
          &.collapsed {
            .toggle-less{display: none;}
            .toggle-more{display: block;}
          }
          
          .toggle-less{display: none;}
            .toggle-more{display: block;}
        }
      }
    .desc-collapse{ position: relative; overflow: hidden;
        &.in{
          max-height: none;
          overflow: visible;
          display: block !important;
          &:before{display:none;}      
        }
        &:before{
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          bottom: 0;
          opacity: 0;
          visibility: hidden;
          z-index: 1;
          background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(255,255,255,0)), to(#fff));
          background: -webkit-linear-gradient(top, rgba(255,255,255,0) 50%, #fff 100%);
          background: linear-gradient(to bottom, rgba(255,255,255,0) 50%, #fff 100%);
        }
    }
    .footer-main{
        min-height: 450px;
        max-height: 450px;
        display: block;
    }
    .common-home {
        .container{
            overflow: visible;
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    /************************************************************************************************
        SHOW MORE CONTENT
    *************************************************************************************************/
    
    
	/************************************************************************************************
        BLOCK HEADER  
    ************************************************************************************************ */
    /*=== MENU ===*/
    #content,
    header{
        ul.megamenu li.active .sub-menu .content{
            padding-bottom: 10px;
        }
        .container-megamenu.vertical{
            .vertical-wrapper{
                ul.megamenu{
                    > li{
                        border-bottom: none;
                        &:hover{
                            background-color: transparent;
                        }
                        &.loadmore{
                            border-radius: 0;
                            padding: 5px 0;
                            border-top: 1px solid rgba(255, 255, 255, 0.1);
                            i{
                                color: #666666;
                                top: 11px;
                                #{$right}: 0;
                            }
                            .more-view{
                                color: #ddd;
                            }
                        }
                    }
                }
            }
        }  
        .container-megamenu.horizontal ul.megamenu{
            width: 100%;
             > li{
                margin-#{$right}: 0;
                padding: 0 !important;
            }
        }    
        
    }
    .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li .main-menu{
        margin: 0;
    }
    .container-megamenu.vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .content .menu ul li{
        padding: 0;
    }
    .container-megamenu.horizontal .sub-menu .content-feature{
        margin: 0 -5%;
        li{
            width: 40%;
            margin: 0 5%;
            margin-bottom: 10px;
            span{
                line-height: 20px;
                margin: 10px 0;
            }          
            &.detail{
                margin-top: 0;
            }
        }
    } 
    .container-megamenu.horizontal .sub-menu .feature-blog{
        .col-sm-12{
            width: 50%;
            margin-top: 0 !important;
            margin-bottom: 15px;
            float: $left;
        }
    }

    .responsive ul.megamenu .item-style1 .sub-menu .content .row > div{
        border: none;
    }

    .container-megamenu.vertical .vertical-wrapper ul.megamenu .item-vertical.style1 .categories{
        padding: 0px;
    }
    .megamenu-style-dev.responsive ul.megamenu .sub-menu .content .row > div{
        border: none;
        padding-top: 0;
    }
    .megamenu-style-dev.responsive ul.megamenu > li.menu-layouts .sub-menu .item-layouts .col-md-4{
        margin-bottom: 0 !important;
    }

    /*============*/
    header{
        .container-megamenu.horizontal ul.megamenu .item-style1 .sub-menu .content .categories{
            padding: 0;
        }
        .container-megamenu.horizontal ul.megamenu .item-style1 .sub-menu .content .static-menu > .menu{
            padding: 0;
        }
        .container-megamenu.horizontal ul.megamenu .item-style2 .sub-menu .content .product{
            padding: 0;
        }

        .container-megamenu.vertical .vertical-wrapper ul.megamenu .item-vertical.style1 .categories .static-menu .menu > ul > li{
            margin-bottom: 0;
        }
        .container-megamenu.vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .content .menu ul{
            margin: 10px -15px;
        }

        .responsive ul.megamenu .sub-menu .content .row > div{
            margin-top: 0;
        }
        .container-megamenu.vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .content .menu ul li ul{
            padding: 0;
        }
        .megamenu-style-dev .vertical ul.megamenu > li > a{
            font-size: 14px;
        }
    } 

    /*=== MENU ===*/
    

    /*[] HEADER 1 []*/ 
    header.typeheader-1{
        .header-center{
            .navbar-logo{
                background-color: #fff;            
                padding-bottom: 40px;     
                .logo{
                    text-align: center;
                    border: none;
                }
            }        
        }
        .container-megamenu.horizontal ul.megamenu > li{
            padding: 0;
        }
    }

    /*[] HEADER 2 []*/
    header.typeheader-2{
        .header-center{
            .navbar-logo{
                background-color: #fff;            
                padding-bottom: 40px;     
                .logo{
                    text-align: center;
                    border: none;
                }
            }        
        }

        .megamenu-style-dev .navbar-default .vertical .navbar-header{
            top: 9px;
        }
        .container-megamenu.horizontal ul.megamenu > li{
            padding: 0;
        }
        .container-megamenu.vertical .vertical-wrapper ul.megamenu{
            background-color: transparent;
        }
        .container-megamenu.vertical .vertical-wrapper ul.megamenu > li:hover a{
            background-color: transparent !important;
        }

    }
    
    /*[] HEADER 3 []*/
    header.typeheader-3{
        .megamenu-style-dev .navbar-default .horizontal{
            .navbar-header{
                float: $left;
                .navbar-toggle .icon-bar{
                    background-color: #222;
                }
            }
        } 
        .container-megamenu.horizontal ul.megamenu{
            display: inline-block;
             > li{
                margin: 0;
                > a:after{
                    display: none;
                 }
            } 
        }
        .header-center{
            .main-menu-w{
                padding-top: 4px;
            }
            .navbar-logo{
                text-align: center;
                margin-bottom: 30px;
            }
        }
    }


    /*[] HEADER 4 []*/ 
    .common-home{
        header.typeheader-4 .header-center{
            background-color: #293b49;
            padding-top: 13px;

        }
    }
    header.typeheader-4{
        .search-header-w{
            margin-top: 2px;
        }
        .header-top{
            padding: 38px 20px;
        }
        .header-center .main-menu-w{
            padding-top: 6px;
        }
        .header-center{            
            .navbar-logo .logo{
                padding-#{$left}: 18px;
            }
        }
        .shopping_cart .handle.pull-left{
            margin-#{$right}: 0;
        }
        .megamenu-style-dev .navbar-default .horizontal .navbar-toggle{
            #{$right}: -55px;
            z-index: 99;
        }
        .container-megamenu.horizontal ul.megamenu{
            display: inline-block;
             > li{
                margin: 0;
                > a:after{
                    display: none;
                 }
            } 
        }
    }

    /*[] HEADER 5 []*/
    header.typeheader-5{
         ul.top-link > li{
            padding-#{$left}: 15px;
            margin-#{$left}: 15px;
            &:nth-child(2){
                &:after{
                    display: none;
                }
            }
         }
        .megamenu-style-dev .navbar-default .horizontal{
            .navbar-header{
                float: $left;
                .navbar-toggle{
                    float: $left;
                    .icon-bar{
                        background-color: #222;
                    }
                }
            }
        } 
        .header-center .main-menu-w{
            padding-top: 4px;
        }
        .container-megamenu.horizontal ul.megamenu{
            display: inline-block;
             > li{
                margin: 0;
                > a:after{
                    display: none;
                 }
            } 
        }
    }

    /*[] HEADER 6 []*/
    .layout-6{
        .breadcrumbs .container{
            width: auto;
        }
        .content-main,
        .breadcrumbs{
            margin-#{$left}: 0px;
            width: auto;
        }
    }
    .typefooter-6, 
    .common-home #content{
        margin-#{$left}: 0px;
    }
    .typeheader-6.navbar-compact .header6-inner, .typeheader-6 .header6-inner{
        width: 270px;
    }
    
    .typeheader-6.navbar-compact #sosearchpro .search input, .typeheader-6 #sosearchpro .search input{
        width: 230px;
    }
    .typeheader-6.navbar-compact .logo, .typeheader-6 .logo{
        margin: 20px 0 7px;
    }
    .typeheader-6.navbar-compact .container-megamenu.horizontal, .typeheader-6 .container-megamenu.horizontal{
        margin: 25px 0 15px;
    }
    .typeheader-6.navbar-compact .socials-header li a, .typeheader-6 .socials-header li a{
        margin-#{$right}: 2px;
    }   
    .typeheader-6.navbar-compact ul.lang-curr > li, .typeheader-6 ul.lang-curr > li{
        margin-#{$right}: 3px;
    }
    .typeheader-6.navbar-compact ul.top-link li, .typeheader-6 ul.top-link li{
        line-height: 40px;
    }
    .typeheader-6{
        .container-megamenu.horizontal ul.megamenu > li.home > a:before{
            display: none;
        }
        .megamenu-style-dev.responsive .navbar-default .horizontal .megamenu-wrapper ul.megamenu li .sub-menu .content{
            position: relative;
            overflow-y: auto;
            max-height: 400px;
        }
        .megamenu-style-dev.responsive .megamenu-wrapper{
            z-index: 99;
        }
        .megamenu-style-dev .navbar-default .horizontal .navbar-toggle{
            margin-#{$left}: 20px;
        }
        #btn-header-sidebar{
            display: block;
            width: 35px;
            height: 35px;
            line-height: 37px;
            padding: 0;
            border-radius: 0;
            text-align: center;
            background-color: #000;
            position: fixed;
            top: 100px;
            #{$left}: 0px;
            z-index: 999;
            margin-#{$left}: 0;
            @include transition(all 0.4s ease-in-out 0s);
            i{
                font-size: 17px;
                color: #fff;
            }
        }
        .header6-inner{
            padding: 0;
            height: 100% !important;
            #{$left}: -270px;
            @include transition(all 0.4s ease-in-out 0s);
            
        }
        &.header-active{            
            #btn-header-sidebar{
                #{$left}: 270px;
                i{
                    &:before{
                        content: "\f00d";
                    }
                }
            }
            .header6-inner{
                #{$left}: 0;
                overflow-x: visible;
                position: fixed;
                overflow-x: scroll;
                //overflow-y: auto;
            }
        }

        .container-megamenu.horizontal ul.megamenu > li{
            display: grid;
            &.home{
                border-top: none;
            }
        }

        // STYLE MEGA MENU SHOW 
        .megamenu-style-dev .navbar-default .horizontal{
            .navbar-header{
                display: none;
            }
            #remove-megamenu{
                display: none;
            }
            .megamenu-wrapper{
                visibility: visible !important;
                background-color: #171717 !important;
                transform: translate3d(0px, 0px, 0px);
                position: static;
                width: 270px;
                ul.megamenu > li > a{
                    color: #ccc !important;
                    font-size: 12px;
                }
            }
        }
        .header-socials{
            margin-bottom: 20px;
        }

    }
    .typeheader-6.navbar-compact .socials-header li a, 
    .typeheader-6 .socials-header li a{
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    
    .typeheader-6.navbar-compact .container-megamenu.horizontal ul.megamenu > li.full-width > .sub-menu, 
    .typeheader-6 .container-megamenu.horizontal ul.megamenu > li.full-width > .sub-menu,
    .typeheader-6.navbar-compact .container-megamenu.horizontal ul.megamenu > li > .sub-menu, 
        .typeheader-6 .container-megamenu.horizontal ul.megamenu > li > .sub-menu,
        .typeheader-6.navbar-compact .container-megamenu.horizontal ul.megamenu > li > .sub-menu > .content, 
        .typeheader-6 .container-megamenu.horizontal ul.megamenu > li > .sub-menu > .content{
            width: auto !important;
            position: static;
        }

    /*[] HEADER 7 []*/
    header.typeheader-7{
        .search-header-w{
            padding: 0;
            position: relative;       
            z-index: 99;
            margin-top: 20px;
            .icon-search{
                display: block;
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 50px;
                i{
                    font-size: 18px;
                    color: #222;
                }
                &.active{
                    i::before{
                        content:"\f00d";
                    }
                }
                &:hover{
                    cursor: pointer;
                }

            }
            #sosearchpro .search{
                display: none;
                position: absolute;
                top: 43px;
                #{$right}: 0;
                margin-#{$right}: 0;
                input{
                    width: 270px;
                }
            }
            &:hover{

                #sosearchpro .search{
                    
                }
            }
        }

        .megamenu-style-dev .navbar-default .horizontal .navbar-toggle .icon-bar{
            background-color: #222;
        }
        .megamenu-style-dev .navbar-default .horizontal .navbar-header{
            margin-top: 23px;
        }

    }
    /*[] HEADER 8 []*/
    header.typeheader-8{
        .megamenu-style-dev .navbar-default .horizontal .navbar-toggle .icon-bar{
            background-color: #222;
        }
        .container-megamenu.horizontal ul.megamenu > li{
            margin: 0;
        }
        .container-megamenu.horizontal ul.megamenu{
            display: inline-block;
        }
    }


    /* **********************************************************************************************
        BLOCK HOME PAGE
    *************************************************************************************************/
    .so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox span.ltabs-tab-selected{
        text-align: $left;
    }
  
    /*[] LAYOUT DEFAULT []*/


    /*[] LAYOUT 1 []*/
    .layout-1{
        .services-inline ul li .box-icon{
            position: relative;
            top: 20px;
            width: 90px;
        }
        .so-deal .extraslider-inner .item .image a img{
                margin: 0 auto;
            }
    }

    /*[] LAYOUT 2 []*/
    .common-home.layout-2 .product-simple .so-extraslider .extraslider-inner .item .item-inner{
        width: 100%;
    }
    .layout-2{
        .services-inline ul li .box-icon{
            position: relative;
            top: 20px;
            width: 90px;
        }
        .so-deal .extraslider-inner .item .image a img{
            margin: 0 auto;
        }
        .banner-home2 > div{
            width: 49%;
            &.banner1{
                margin-#{$right}: 2%;
            }
        }

    }

    /*[] LAYOUT 3 []*/
    .layout-3{
        .slider-brand-layout3 .owl2-controls .owl2-nav div.owl2-prev,
        .so-extraslider .owl2-controls .owl2-nav > div.owl2-prev{
            #{$left}: 0;
        }
        .slider-brand-layout3 .owl2-controls .owl2-nav div.owl2-next,
        .so-extraslider .owl2-controls .owl2-nav > div.owl2-next{
            #{$right}: 0;
        }
    }

    /*[] LAYOUT 4 []*/
    .layout-4 .module.sohomepage-slider{
        margin-top: 0px;
    }
    .layout-4{

        .hot-categories{
            text-align: center;
            ul{
                margin-#{$left}: -15px;
                li{
                    float: none;
                    display: inline-block;
                    margin: side-values(0 30px 40px 30px);
                }
            }
        }
        .id4-blockbanner .banner-img .banner-info h2{
            font-size: 25px;
        }
        .slider-brand-layout4 .owl2-controls .owl2-nav div.owl2-prev,
        .so-extraslider .owl2-controls .owl2-nav > div.owl2-prev{
            #{$left}: 0;
        }
        .slider-brand-layout4 .owl2-controls .owl2-nav div.owl2-next,
        .so-extraslider .owl2-controls .owl2-nav > div.owl2-next{
            #{$right}: 0;
        }
    }

    /*[] LAYOUT 5 []*/
    .layout-5{
        .banner-subcat > ul > li .info-banner{
            h2 a{
                font-size: 24px;
            }
            ul li{
                padding: 2px 0;
                a{
                    font-size: 13px;
                }
            }
        } 
        .hot-categories{
            text-align: center;
            ul{
                li{
                    float: none;
                    display: inline-block;
                }
            }
        }
        .testimonial-slider.layout5 .carousel-inner .item .client-comment{
            width: 66%;
        }
        .newsletter .block_content{
            padding: 0 10%;
             #signup .input-box{
                width: 100%;
                margin-bottom: 10px;
             }
            #signup .subcribe{
                float: none;
                button{
                    margin: 0 auto;
                 }
            } 
        }
    }

    /*[] LAYOUT 6 []*/
    .layout-6{
        .so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox{
            z-index: 100;
        }
        .so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox .ltabs-tabs{
            padding: 10px 0;
            li{
                width: 100%;
                &.tab-sel{
                    .ltabs-tab-label{
                        color: #222;
                    }
                }
                &:hover{
                    background-color: transparent;
                }
                .ltabs-tab-label{
                    font-size: 13px;
                    font-weight: 400;
                    color: #666;
                    text-align: $left;
                    margin-#{$left}: 20px;
                    &:after{
                        display: none;
                    }
                    &:hover{
                        background-color: transparent;
                        color: #222;
                    }
                }
            }
        } 

        .testimonials-id6{
            padding-bottom: 120px;
            background-position: center center;
            #testimonial-slider .owl2-dots{
                bottom: -43px;
            }
        }
        .id6-banners{
            margin-bottom: 40px;
        }        
    }
    /*[] LAYOUT 7 []*/
    .layout-7{
        .services-inline ul li .service-info{
            h2{
                font-size: 16px;
            }
            p{
                font-size: 12px;
            }
        } 
        .id7-col-extra{
            .so-extraslider .owl2-controls .owl2-nav{
                bottom: -30px;
            }
            .modcontent{
                padding-bottom: 60px;
            }
        }
    }

    /*[] LAYOUT 8 []*/
    .layout-8{
        .so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox{
            z-index: 100;
        }
        .module.sohomepage-slider .owl2-controls .owl2-nav .owl2-next::before, 
        .module.sohomepage-slider .owl2-controls .owl2-nav .owl2-prev::before{
            font-size: 60px;
        }
        .services-inline ul li{
            .inner{
                text-align: center;
            }

            .service-info{
                display: inline-block;
            }
            .box-icon{
                margin: 0 auto;
                display: inline-block;
            }
            &.policy3{
                margin-top: 30px;
            }
        } 

        .so-deal .extraslider-inner .item .image a.img-link{
            img{
                width: 100%;
            }
        }

        .so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox .ltabs-tabs{
            padding: 10px 0;
            li{
                width: 100%;
                &.tab-sel{
                    .ltabs-tab-label{
                        color: #222;
                    }
                }
                &:hover{
                    background-color: transparent;
                }
                .ltabs-tab-label{
                    font-size: 13px;
                    font-weight: 400;
                    color: #666;
                    text-align: $left;
                    margin-#{$left}: 20px;
                    &:before,
                    &:after{
                        display: none;
                    }
                    &:hover{
                        background-color: transparent;
                        color: #222;
                    }
                }
            }
        } 
    }

    /* ***********************************************************************************************
        BLOCK FOOTER  
    *************************************************************************************************/

    /*[] FOOTER DEFAULT []*/
    footer{
    }

    /*[] FOOTER 1 []*/
    footer.typefooter-2,
    footer.typefooter-1{
        .modtitle{
            font-size: 13px;
        }
        .newsletter-footer1 .newsletter .title-block .page-heading{
            font-size: 16px;
        }
        .newsletter-footer1 .newsletter .block_content form.signup .form-group{
            .input-box{
                padding-left: 15px;
            }
            #txtemail{
                width: 220px;
            }
        } 
        .socials-wrap ul li a{
            width: 30px;
            height: 30px;
            line-height: 30px;
        }
        .app-block{
            .title-footer{
               
            }
            ul{
                //padding-#{$left}: 0;
            }
        }
        .text-right{
            margin-top: 30px;
        } 
    }

    /*[] FOOTER 2 []*/
    footer.typefooter-2{
    }

    /*[] FOOTER 3 []*/
    footer.typefooter-3{
        .newsletter .block_content form.signup .form-group #txtemail{
            width: 340px;
        }
        .socials-wrap ul{
            float: $left;
        }
    } 

    /*[] FOOTER 4 []*/
    footer.typefooter-4{
        .block-newsletter .newsletter{
            .title-block{
                width: 100%;           
            }
            .block_content{
                width: 100%;
                padding: 0 10%;
                #signup{
                    width: 100%;
                    .input-box{
                        float: none;
                        margin: 20px 0 10px 0;
                    }
                    .subcribe{
                        float: none;
                        button{
                            margin: 0 auto;
                        }
                    }
                }
            }
        } 
    }

    /*[] FOOTER 5 []*/
    footer.typefooter-5{
    }
    /*[] FOOTER 6 []*/
    footer.typefooter-6{
        .box-footer{
            padding-top: 35px;
            padding-bottom: 30px;
        }
        .newsletter-footer1 .newsletter{
            .title-block{
                width: 100%;
            }
            .block_content{
                width: 100%;
                text-align: $left;
                margin-top: 20px;
                form.signup{
                  .form-group .input-box{
                        padding-#{$left}: 20px;
                    }
                }
            }
        } 
        .footer-bottom .copyright{
            padding-top: 20px;
        }
    }
    /*[] FOOTER 7 []*/
    footer.typefooter-7{
        .footer-top .box-footer.box-information, 
        .footer-top .box-footer.box-service{
            padding-top: 0;
        }
        .footer-top{
            .footer-contact-w{
                background-color: transparent;
            }
            .box-footer{
                box-shadow: none !important;
                padding-bottom: 40px;
                &.box-information,
                &.box-service{
                    .module{
                        padding-#{$left}: 15px;
                    }
                }
            }
            .footer-contact-w{
                padding-bottom: 30px;
            }        
        } 
        .newsletter-footer1 .newsletter{
            .title-block{
                width: 100%;
            }
            .block_content{
                width: 100%;
                text-align: $left;
                margin-top: 20px;
                form.signup{
                  .form-group .input-box{
                        padding-#{$left}: 20px;
                    }
                }
            }
        } 
        .footer-middle {
            padding-bottom: 30px;
        }
        .footer-bottom .copyright{
            margin-top: 0;
        }
    }

    /*[] FOOTER 8 []*/
    footer.typefooter-8{
        .box-footer{
            margin-bottom: 35px;
        }
        .footer-top{
            padding-bottom: 35px;
        }
        .socials-wrap ul li a{
            padding: 15px;
        }
        .footer-bottom .copyright{
            margin-top: 0;
        }
    }

    /************************************************************************************************
        PAGE LISTING  
    ************************************************************************************************ */
    .module.so_filter_wrap .modcontent .so-filter-content-opts-container .put-min_max{
        width: 100%;
        margin-bottom: 5px;
    }
    .module.so_filter_wrap .modcontent .so-filter-option.so-filter-price .content_min_max .input_max, 
    .module.so_filter_wrap .modcontent .so-filter-option.so-filter-price .content_min_max .input_min{
        width: 60px;
        min-width: 60px;
        padding-#{$left}: 3px !important;
    }
    .filters-panel .short-by-show.text-center .form-group{
        display: block;
    }
    aside.left_column{
        margin-bottom: 30px;
    }
    .thumb-vertical-outer { padding: 20px 0;}
  
    .so-filter-price .put-min_max{
        .name-curent{ display: inline-block; float: $left; line-height: 30px; }
        .form-control{ width: 60px; line-height: 30px; padding: 0!important; margin: 0!important; height: 30px; min-width: 60px; }
    }
    .product-listing .products-list .product-grid .product-item-container .right-block{
        //min-height: 140px;
    }

    /************************************************************************************************
        PAGE DETAIL 
    ************************************************************************************************ */
    
    #product-quick .product-view .content-product-right{
        margin-top: 0px;
    }

    .product-view .content-product-right{
        margin-top: 40px;
    }
  
    
    .product-simple .so-extraslider .extraslider-inner .item .item-inner{
        width: 100%;
    }
    .content-aside .product-simple .so-extraslider .extraslider-inner .owl2-item{
        .item{
            display: inline-block;
            .item-inner{
                width: 100%;
            }
        } 
    }

    /************************************************************************************************
        DEFTAULT MENU  
    ************************************************************************************************ */
    .container-megamenu.vertical .vertical-wrapper ul.megamenu{
        border: none !important;
    }
    .container-megamenu.vertical .vertical-wrapper ul.megamenu .item-vertical .sub-menu .content{
        padding: 10px !important;
    }
    /*MEGA MENU*/
    .megamenu-style-dev{
        .container-megamenu.horizontal ul.megamenu > li > a strong img,
        .container-megamenu.vertical:after{ display: none; }
        .navbar-default .vertical #menuHeading{ display: none!important; }
        &.responsive {
            ul.megamenu > li.active .close-menu{
                #{$right}: 0;
                #{$left}: auto;
            }
            #remove-megamenu{ display: block; color: #fff; cursor: pointer; font-size: 15px; }
            .so-megamenu-active #remove-megamenu{ color: #fff; }
            .megamenu-wrapper{ border: none; border-radius: 0; }
            div[class^=col-]{  width: 100%; }
            ul.megamenu > li{
                display: block;
                border-top: 1px solid rgba(255, 255, 255, 0.1);
                padding: 1px 0;
                overflow: hidden;
                a{ line-height: 25px; }
            }
            ul.megamenu > li.click,
            ul.megamenu > li.hover{
                &:before{
                    padding: 0 !important;
                    font-size: 14px;
                    background: #666;
                    color: #fff;
                    border: 1px solid #6a6d71;
                    width: 30px;
                    line-height: 30px;
                    height: 32px;
                    display: inline-block;
                    text-align: center;
                    margin-top: -1px;
                    #{$right}: 0;
                    #{$left}: auto;

                }
                &:hover{
                    &:before{
                        cursor: pointer;
                    }
                }
            }
     
            ul.megamenu > li.active {
                padding: 0;
                .sub-menu{ display: block!important; }
                > a{ background: #222 !important;color: #fff;}
                .close-menu{
                   padding: 0;width: 30px;line-height: 30px;background: #33363a;height: auto;
                    &:before{
                        color: #fff;
                        font-size: 12px;
                        line-height: 18px;;
                    }
                }
            }

           .navbar-default .horizontal .megamenu-wrapper ul.megamenu li .sub-menu .content{box-shadow: none;border: 1px solid #eee; padding: 20px;}
        }

        .navbar-default .horizontal{
            .navbar-header{
                float: $right;
            }
            .navbar-toggle{
                margin: 0px;
                height: 40px;
                //width: 42px;
                color: #fff;
                border-radius: 4px;                           
                background-color: transparent;
                border: none;
                float: $right;
                cursor: pointer;
                padding: 0px;
                .icon-bar{
                    background: #fff;
                    width: 20px;
                    height: 2px;
                    margin: 4px 0;
                    border-radius: 0;
                }
            }
            .megamenu-wrapper{
                max-height: 100% !important; 
                background: #333!important;
                padding: 20px!important;
                 ul.megamenu > li{
                        &.active > a{ padding: 0 10px !important;padding-#{$right}: 30px !important; }
                        > a{
                        color: #fff!important;
                        padding:  0!important;
                        padding-#{$right}: 30px !important;
                        font-size: 14px;
                        line-height: 29px !important;
                        &:hover{ color: $linkColor; }
                    }
                }
                ul.megamenu li .sub-menu .content .title-submenu{padding: 0;margin: 0;border: none;}
            }
            .features-menu{
                .column{
                    &.layout-color a{display: inline-block;}
                    a{margin: 0 0 30px;display: block}
                }
            }
        }

        // BUTTON VERTICAL
        .navbar-default{
            .vertical {
                #menuHeading{
                    display: block;
                    margin: 0;
                }
                ul.megamenu{ position: relative; background: transparent;
                    > li{ background: transparent; }
                }
                .navbar-header{
                    position: relative;
                    top: 5px;
                    .title-navbar{ 
                        display: none;                   
                    }

                    .navbar-toggle{
                        font-size: 14px;
                        color: #fff;
                        text-transform: uppercase;
                        font-weight: 500;
                        margin: 0;
                        padding: 0;
                        border: none;
                        background-color: transparent !important;
                        i{
                            font-size: 14px;
                        }
                        span{
                            display: none;
                        }
                        .icon-bar{
                            background: #fff;
                            width: 12px;
                            height: 2px;
                            margin-top: 2px;
                            border-radius: 0;
                        }
                        &:hover{
                            color: #fff;
                        }
                    }
                }
                #remove-verticalmenu{ display: block; color: #fff; cursor: pointer; font-size: 16px; }
                .vertical-wrapper{
                    position: fixed;
                    background: #333!important;
                    padding: 20px!important;
                    width: 280px;
                    max-height: 100%;
                    top: 0;
                    z-index: 99;
                    border: none;
                    &.so-vertical-active{ display: block!important; opacity: 1; visibility: visible;}

                    ul.megamenu{
                        .item-vertical.vertical-style3 .content .image-position{
                            transform: scale(0.8);
                            -moz-transform: scale(0.8);
                            -webkit-transform: scale(0.8);
                            -ms-transform: scale(0.8);
                            position: relative;
                        }
                        .item-vertical.css-menu .sub-menu .content .categories .menu > ul li{
                            &:before{
                                display: none;
                            }
                            .main-menu{text-transform: uppercase;margin: 0 0 10px;}
                            a:hover{color: $linkColor;}
                            &:hover{ >a{color: $linkColor;}}
                            ul{
                                box-shadow: none;
                                li{
                                    //padding: 5px 0;
                                }
                            }
                        }
                        
                    }
                    ul.megamenu li .sub-menu .content{ 
                        border: none;
                    }
                    ul.megamenu .item-vertical.vertical-style1 .content{ padding: 15px; }
                    ul.megamenu .item-vertical.css-menu .content .menu > ul > li ul{ border: none; }
                    ul.megamenu .item-vertical.css-menu .content .menu > ul > li b{ display: none; }
                    ul.megamenu > li{
                        border-top: 1px solid rgba(255, 255, 255, 0.1);
                        padding: 0;
                        > a {     
                            padding: 2px 0;
                            background: transparent !important;
                            strong{ color: #ddd; }
                        }
                        &.loadmore{ border: none; }
                        a{ line-height: inherit; }
                        &.hover{
                            &:before{
                                font-size: 14px;
                                color: #ddd;
                                height: 32px;
                                line-height: 32px;
                                width: 30px;
                                background: #666;
                                text-align: center;
                                cursor: pointer;
                                border: 1px solid #6a6d71;
                                padding: 0 !important;
                            }
                            &:hover{
                                &:before{
                                    color: #fff;
                                }
                                
                            }
                        }
                        &.active {
                            background: none;
                            .close-menu{
                                background: #666;
                                font-size: 14px;
                                &:before{color: #ddd; line-height: 31px;}
                            }
                        }
                    }
                }
            }
        }
    }

    /*MENU STIKY*/
    header.navbar-compact{ display: none; }
    header .horizontal ul.megamenu > li > .sub-menu{ border: none; }
    ul.megamenu li.active .sub-menu .content{ padding: 0 10px; }
    //#wrapper{ overflow-x: hidden; }
    iframe{
        #wrapper{ overflow-x: auto; }
    }
    .zoomContainer{ display: none; }
    .container-megamenu.vertical .vertical-wrapper ul.megamenu li .sub-menu{
        @include if-rtl { left: 0; right: inherit!important; }
    }
    .simple_blog-article .product-filter.filters-panel{ display: none; }
    header #sosearchpro .dropdown-menu{ 
       /* #{$right}: 0!important; #{$left}: inherit!important; */
    }
    

    .product-view .content-product-left .large-image.vertical{
        margin: 0 15%;
    }
    /************************************************************************************************
        PAGE BONUS  
    *************************************************************************************************/
    /*.banner-left{
        display: none;
    }*/
    .our-member .respl-item .w-image-box { float: none; overflow: hidden; width: 100%; text-align: center; }
    .our-member .respl-item .info-member { text-align: center; margin: 0; }
    .our-member .respl-item .info-member li { float: none; display: inline-block; }

    .module.so-latest-blog.slider-post-sidebar .so-blog-external .blog-external .media .so-block.media-left{
        margin-#{$right}: 20px;
    }

    .account-wishlist .table-responsive .btn-danger{
        margin-top: 5px;
    }

    .so-onepagecheckout{
        .coupon-voucher .panel-body{
            width: 100%;
        }
        .coupon-voucher .input-group{
            margin-bottom: 10px;
            .input-group-btn{
                margin-#{$left}: 10px;
                width: auto;
            }
        }
        .table-responsive .btn-danger{
            margin-top: 0;
        }
    } 
    .modal-open,
    .hidden-scorll{
        overflow: auto;
    }
    body #so_popup_countdown,
    .hidden-scorll .modal-backdrop{
        display: none !important;
    }
    .modal-open.hidden-scorll .modal-backdrop{
        display: block !important;
    }

    .article--style4 .article--maincontent{
        margin-top: -50px;
    }

    .product-layout .product-item-container .seller_logo{
        position: absolute !important;
        transform: none !important;
        bottom: 15px;
    }
     .blog-category{
        margin-top: 20px;
    }
      .category-featured{
        margin-bottom: 40px;
    }
     .category-featured .ltabs-wrap .ltabs-tabs-container .ltabs-tabs{
        padding: 10px 20px;
         li.ltabs-tab > span{
            text-transform: capitalize;
            font-size: 14px;
        }
    }
    .category-featured .ltabs-wrap .ltabs-tabs-container .ltabs-tabs li.tab-sel:after{
        display: none;
    }
    .app-block{
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    .typefooter-1 .footer-bottom .copyright,
    .typefooter-1 .footer-bottom .footer-payment{
        text-align: center;
     }
}