@include breakpoint(lg){
	#collapse-footer.footer-main{    max-height: 100%;
		&:before{display:none;}
	}
	.container{
		width:1200px;
		overflow: visible;
		padding-#{$left}: 15px;
		padding-#{$right}: 15px;
	}
	.layout-1.common-home .vertical .vertical-wrapper {
		display: block !important;
	}
}
@media (min-width: 1200px) and (max-width: 1649px){
	#content .so-groups-sticky{
		width: 40px;
	}
	
}




