{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-pinepg" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-pinepg" class="form-horizontal">
            <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
           
          </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab-general"> 
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-merchant">{{ entry_merchantid }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_pinepg_merchantid" value="{{ payment_pinepg_merchantid }}" placeholder="{{ entry_merchantid }}" id="input-merchant" class="form-control" />
              {% if error_merchant %}
              <div class="text-danger">{{ error_merchant }}</div>
              {% endif %}
            </div>
          </div>
         
            <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-access_code">{{ entry_access_code }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_pinepg_access_code" value="{{ payment_pinepg_access_code }}" placeholder="{{ entry_access_code }}" id="input-access_code" class="form-control" />
              {% if error_access_code %}
              <div class="text-danger">{{ error_access_code }}</div>
              {% endif %}
            </div>
          </div>
         <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-secure_secret">{{ entry_secure_secret }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_pinepg_secure_secret" value="{{ payment_pinepg_secure_secret }}" placeholder="{{ entry_secure_secret }}" id="input-secure_secret" class="form-control" />
              {% if error_secure_secret %}
              <div class="text-danger">{{ error_secure_secret }}</div>
              {% endif %}
            </div>
          </div>
      
       
      
          </div>

            <div class="form-group">
            <label class="col-sm-2 control-label" for="input-mode">{{ entry_mode }}</label>
            <div class="col-sm-10">
              <select name="payment_pinepg_mode" id="payment_pinepg_mode" class="form-control">
               
        
        {% if payment_pinepg_mode == 'live' %}
                <option value="live" selected="selected">{{ entry_mode_live }}</option>
                <option value="test">{{ entry_mode_test }}</option>
         {% elseif  payment_pinepg_mode  ==  'test' %}
               <option value="live" >{{ entry_mode_live }}</option>
                <option value="test" selected="selected">{{ entry_mode_test }}</option>
         {% else %}
               <option value="live" selected="selected">{{ entry_mode_live }}</option>
                <option value="test">{{ entry_mode_test }}</option>
          {% endif %}
              </select>
            </div>
          </div> 
      
        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="payment_pinepg_status" id="payment_pinepg_status" class="form-control">
                
        
        {% if payment_pinepg_status  ==  1 %}
                <option value="1" selected="selected">{{ entry_status_enabled }}</option>
                <option value="0">{{ entry_status_disabled }}</option>
         {% elseif  payment_pinepg_status  ==  0 %}
               <option value="1" >{{ entry_status_enabled }}</option>
                <option value="0" selected="selected">{{ entry_status_disabled }}</option>
         {% else %}
               <option value="1" selected="selected">{{ entry_status_enabled }}</option>
                <option value="0">{{ entry_status_disabled }}</option>
          {% endif %}
              </select>
            </div>
          </div> 
      
      
      
      
      
      
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-sort_order">{{ entry_sort_order }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_pinepg_sort_order" value="{{ payment_pinepg_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort_order" class="form-control" />
            </div>
          </div>
      
        <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-payment_mode">{{ entry_payment_mode }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_pinepg_payment_mode" value="{{ payment_pinepg_payment_mode }}" placeholder="{{ entry_payment_mode }}" id="input-payment_mode" class="form-control" />

       {% if error_payment_mode %}
      
              <div class="text-danger">{{ error_payment_mode }}</div>
              {% endif %}
            </div>
      
          </div>
      
      
          </div>

        </div>
      

            



        </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}