{{ header }}


	<link rel="stylesheet" type="text/css" href="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/css/owl.carousel.min.css" />
<link rel="stylesheet" type="text/css" href="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/css/owl.theme.default.min.css" />
<style>
    .product-view .content-product-right h3{
        color: #666 !important;
        margin-top: 20px;
    }
    .pl-8{
        padding-left: 8px;
    }
    .attrcolor{
        color: #000;
    }
    .stock b{
          color: #16a904;
    background: #E9F5EB;
    border-radius: 20px;
    padding: 8px 13px;
    }
    .cont-right h4 {
    padding: 10px 0px 10px 20px;
}
    .stock b i {
        margin-right: 2px;
        color: inherit;
        font-size: 14px;
        vertical-align: middle;
    }
    .stock {
    display: inline-block;
    position: relative;
    top: -6px;
}
    .pl-20{
        padding-left: 20px;
    }
    .product-color-show{
        padding-top: 15px !important;
    }
    .cont-right h4 {
    padding-left: 20px;
}
    #checktext{
        margin-left: 10px;
    }
    #pin_avilability_ship {
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
        align-items: center;
        justify-content: flex-start;
        margin-top: 10px !important;
        margin-left: 0 !important;
    }
    .delivery_type {
        min-width: 90px;
        text-transform: capitalize;
        font-weight: 500 !important;
        color: rgb(102, 102, 102) !important;
        font-size: 14px !important;
    }
    .delivery_text, .invalid_pin {
        font-weight: 500 !important;
        font-style: italic;
    }
    .delivery_text {
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
        align-items: center;
        justify-content: flex-start;
    }
    span.img_pin {
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 12px;
        color: #777;
        font-style: italic;
        margin-right: 10px;
    }
    .delivery_hrs img {
        width: 70px;
        margin-right: 5px;
    }
</style>


{#====  Variables url parameter ==== #}
{% if url_asidePosition %}{% set col_position = url_asidePosition %}
{% else %}{% set col_position = soconfig.get_settings('catalog_col_position') %}{% endif %}

{% if url_asideType %} {% set col_canvas = url_asideType %}
{% else %}{% set col_canvas = soconfig.get_settings('catalog_col_type') %}{% endif %}

{% if url_productGallery %} {% set productGallery = url_productGallery %}
{% else %}{% set productGallery = soconfig.get_settings('thumbnails_position') %}{% endif %}

{% if url_sidebarsticky %} {% set sidebar_sticky = url_sidebarsticky %}
{% else %} {% set sidebar_sticky = soconfig.get_settings('catalog_sidebar_sticky') %}{% endif %}

{% set desktop_canvas = col_canvas =='off_canvas' ? 'desktop-offcanvas' : '' %}

<div class="content-main container product-detail  {{desktop_canvas}}">
	<div class="row">
		
		{#==== Column Left Outside ==== #}

		{% if col_position== 'outside' %}
			{{ column_left }}
			
			{% if col_canvas =='off_canvas' %}
				{% set class_pos = 'col-sm-12' %}
	    	{% elseif column_left and column_right %}
	    		{% set class_pos = 'col-md-6 col-xs-12 fluid-allsidebar' %}
		    {% elseif column_left or column_right %}
		    	{% set class_pos = 'col-md-9 col-sm-12 col-xs-12 fluid-sidebar' %}
		    {% else %}
		    	{% set class_pos = 'col-sm-12' %}
		    {% endif %}
		{% else %}
			{% set class_pos = 'col-sm-12' %}
		{% endif %}
		{#==== End Column Outside ==== #}
    	
		<div id="content" class="product-view {{class_pos}}"> 
		
		{#====  Product Gallery ==== #}
		{% if productGallery =='grid' %}
			{% set class_left_gallery  = 'col-md-6 col-sm-12 col-xs-12' %}
			{% set class_right_gallery = 'col-md-6 col-sm-12 col-xs-12' %}
		{% elseif productGallery =='list' %}
			{% set class_left_gallery  = 'col-md-5 col-sm-12 col-xs-12' %}
			{% set class_right_gallery = 'col-md-7 col-sm-12 col-xs-12' %}
		{% elseif productGallery =='left' %}
			{% set class_left_gallery  = 'col-md-6 col-sm-12 col-xs-12' %}
			{% set class_right_gallery = 'col-md-6 col-sm-12 col-xs-12' %}
			{% elseif productGallery =='bottom' %}
		{% set class_left_gallery  = 'col-md-5 col-sm-12 col-xs-12' %}
			{% set class_right_gallery = 'col-md-7 col-sm-12 col-xs-12' %}
		{% else %}
			{% set class_left_gallery  = 'col-md-12 col-sm-12 col-xs-12' %}
			{% set class_right_gallery = 'col-md-12 col-sm-12 col-xs-12 col-gallery-slider' %}
		{% endif %}

		{#====  Button Sidebar canvas==== #}
		{% if column_left or column_right %}
			{% set class_canvas = col_canvas =='off_canvas' ? '' : 'hidden-lg hidden-md' %}
			<a href="javascript:void(0)" class=" open-sidebar {{class_canvas}}"><i class="fa fa-bars"></i>{{ text_sidebar }}</a>
			<div class="sidebar-overlay "></div>
		{% endif %}


		<div class="content-product-mainheader clearfix"> 
			<div class="row">	
			{#========== Product Left ============#}
			<div class="content-product-left  {{ class_left_gallery }}" >
				{% if images %}
					<div class="so-loadeding" ></div>
					{#==== Gallery -  Thumbnails ==== #}
				
 

					{% if productGallery=='left' %}
					 	{% include theme_directory~'/template/product/gallery/gallery-left.twig' %}

					{% elseif productGallery=='bottom' %}
						{% include theme_directory~'/template/product/gallery/gallery-bottom.twig' %}

					{% elseif productGallery=='grid' %}
						{% include theme_directory~'/template/product/gallery/gallery-grid.twig' %}

					{% elseif productGallery=='list' %}
						{% include theme_directory~'/template/product/gallery/gallery-list.twig' %}

					{% elseif productGallery=='slider' %}
						{% include theme_directory~'/template/product/gallery/gallery-slider.twig' %}
					{% endif %}
				{% endif %}
				  
					<div class="col-md-12 pl-0 pr-0">  
			<div class="cart">
			    <input type="button" value="{{ button_cart }}" data-loading-text="{{ text_loading }}" id="button-cart" class="btn btn-mega btn-lg btn-product-page">
			 </div>
			
			 	<div class="buynow">
			    <input type="button" value="Buy Now" id="button-cart" class="btn btn-mega btn-lg btn-product-buy">
			 </div>
			
			 </div>
			</div>
		
        	{#========== //Product Left ============#}

			{#========== Product Right ============#}
			
			<div class="content-product-right {{ class_right_gallery }}" itemprop="offerDetails" itemscope itemtype="http://schema.org/Product">
			    <div class="cont-right">
			  
			    <div class="product-breadcrumb">
			    {% include theme_directory~'/template/soconfig/breadcrumbs.twig' %}
              <span>Add to compare <input type="checkbox" id="product-compare"></span>
              </div>

				<div class="title-product">
						 <h1 itemprop="name">{{heading_title}}</h1>
						 <ul class="product-share-links">
						     <li><span>Wishlist</span><a onclick="wishlist.add({{ product_id }});"><i class="fa fa-heart"></i></a></li>
						     <li><a onclick="compare.add({{ product_id }});"><i class="fa fa-share-alt"></i></a></li>
						     </ul>
					</div>
				<div class="title-product">
					<h3>Product Code : {{ item_code }}</h3>
				</div>
				
				{% if review_status %}
					{#======== Review - Rating ========== #}
					<div class="box-review"  itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
						{% if count_reviews %}
								<meta itemprop="ratingValue" content="{{rating}}">
								<meta itemprop="ratingCount" content="{{count_reviews}}">
								<meta itemprop="reviewCount" content="{{count_reviews}}">
						{% endif %}
						
						<div class="rating">
						    <div class="rating-show">
						        <h6>4.5</h6>
						    </div>
							<div class="rating-box">
							{% for i in 1..5 %}
								{% if rating < i %}<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>{% else %}<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>{% endif %}
							{% endfor %}
							</div>
						</div>
						<a class="reviews_button" href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ reviews }}</a>
						{% if soconfig.get_settings('product_order') %}
									<span class="order-num">{{orders}}</span>
						{% endif %}
					
					</div>
					{% endif %}

				{% if price %}

                {% if (text_discount_applied is defined and text_discount_applied) %}
                <h4><span class="bg-warning text-warning">{{ text_discount_applied }}</span></h4>
                {% endif %}
                
                
					{#========= Product - Price ========= #}
					 <div class="col-md-12 pl-0" style="margin-bottom: 10px;">
                   
               
					<div class="product_page_price price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
						{% if not special %}
							<span class="price-new">
								<span itemprop="price" content="{{ price_value }}" id="price-old"> 
 {% if (cfp_setting.module_so_call_for_price_status and price_0 <= 0) %} 
 {% if cfp_setting.module_so_call_for_price_replace_cart is defined and cfp_setting.module_so_call_for_price_replace_cart == '0' %} 
 <a data-fancybox data-type="ajax" data-src="{{ base }}index.php?route=extension/module/so_call_for_price&product_id={{ product.product_id }}" href="javascript:;" class="callforprice" style="color: #ff0000; font-weight: bold; font-size: 18px;"><i class="fa fa-phone" style="font-size: 18px;"></i> {{ text_price_0 }}</a> 
 {% endif %} 
 {% else %} 
  
 {% if (cfp_setting.module_so_call_for_price_status and price_0 <= 0) %} 
 {% if cfp_setting.module_so_call_for_price_replace_cart is defined and cfp_setting.module_so_call_for_price_replace_cart == '0' %} 
 <a data-fancybox data-type="ajax" data-src="{{ base }}index.php?route=extension/module/so_call_for_price&product_id={{ product.product_id }}" href="javascript:;" class="callforprice" style="color: #ff0000; font-weight: bold;"><i class="fa fa-phone"></i> {{ text_price_0 }}</a> 
 {% endif %} 
 {% else %} 
 {{ price }} 
 {% endif %} 
  
 {% endif %} 
 </span>
								<meta itemprop="priceCurrency" content="{{currency}}" />
							</span>

						{% else %}
						
							<span class="price-new">
								<span itemprop="price" content="{{special_value}}" id="price-special">{{ special }}</span>
								<meta itemprop="priceCurrency" content="{{currency}}" />
							</span>
						   <span class="price-old" id="price-old"> 
								
						   </span>
						   
						{% endif %}
						
						{% if special and soconfig.get_settings('discount_status')   %} 
						{#=======Discount Label======= #}
						<span class="label-product label-sale">
							 {{ discount }}
						</span>
						{% endif %} 

						 
 {% if ((tax) and (cfp_setting.module_so_call_for_price_status) and (price_0 > 0)) %} 
 
							<div class="price-tax"><span>{{ text_tax }}</span> <span id="price-tax"> {{ tax }} </span></div>
						{% endif %}
					 
					</div>
					 <div class="stock ptb-10 pl-20"><b> <i class="fa fa-check-circle"></i> {{ stock }}</b></div>
					 </div>
					{% endif %}
					

				{% if discounts %} 
					<ul class="list-unstyled text-success">
					{% for discount in discounts %} 
						<li><strong>{{ discount.quantity }} {{ text_discount }} {{ discount.price }}</strong> </li>
					{% endfor %}
					</ul>
				{% endif %} 
				
			   
                	<div class="col-md-12">
					    <div class="product-storage">
					        <h3>Storage</h3>
					        <ul>
					            <li><strong>8GB+128GB</strong></li>
					            <li><strong>8GB+256GB</strong></li>
					            <li><strong>8GB+512GB</strong></li>
					        </ul>
					    </div>
					</div>
				<div class="col-md-12 pl-0">
				    
				     
					    <div class="product-color">
					        <h3>Color:</h3>
					        <div id="color-1" class="product-color-change tabcontent product-color-show">
					            <span>White</span>
					        </div>
					        <div id="color-2" class="product-color-change tabcontent color2">
					            <span>Black</span>
					        </div>
					        <div id="color-3" class="product-color-change tabcontent color3">
					            <span>Green</span>
					        </div>
					        <div id="color-4" class="product-color-change tabcontent color4">
					            <span>Blue</span>
					        </div>
					        <ul>
					            <li><div class="hover-color hover-color1"><span class="product-hover-color">White</span></div><button class="tablinks"  onclick="openCity(event, 'color-1')"><img src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/product-color1.jpg"></button><strong>White</strong></li>
					            <li><div class="hover-color hover-color2"><span class="product-hover-color">Black</span></div><button  class="tablinks" onclick="openCity(event, 'color-2')"><img src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/product-color2.jpg"></button><strong>Black</strong></li>
					            <li><div class="hover-color hover-color3"><span class="product-hover-color">Green</span></div><button  class="tablinks" onclick="openCity(event, 'color-3')"><img src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/product-color3.jpg"></button><strong>Green</strong></li>
					            <li><div class="hover-color hover-color4"><span class="product-hover-color">Blue</span></div><button  class="tablinks" onclick="openCity(event, 'color-4')"><img src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/product-color4.jpg"></button><strong>Blue</strong></li>
					        </ul>
					    </div>
					</div>
				
				
					<div class="col-md-12">
					<div class="Product-offers">
					    <h3>Available Offers</h3>
					    <ul>
					        <li><i class="fa fa-percent"></i><strong>Bank Offer</strong>flat 30% discount</li>
					        <li><i class="fa fa-percent"></i><strong>Bank Offer</strong>5% offer in Axis bank</li>
					    </ul>
					</div>
					</div>
						<div class="col-md-12">
					    <div class="product-exchange">
					        <a href="#">
					        <i class="fa fa-exchange"></i>
					        <span>With exchange<strong>Up to &#x20B9; 14000</strong> <i class="fa fa-angle-right"></i></span>
					        
					        </a>
					    </div>
					</div>
					<div class="col-md-12">
					    <div class="product-exchange product-emi">
					        <a href="#">
					        <i class="fa fa-percent"></i>
					        <span>No cost EMI @<strong> &#x20B9; 4000/month</strong> <i class="fa fa-angle-right"></i></span>
					        
					        </a>
					    </div>
					</div>
					<div class="col-md-12">
					<div class="product-delivery">
					    <div class="delivery-box">
					    <span>Delivery</span>
					   
					    <div class="pincode">
					        <span><i class="fa fa-map-marker"></i></span> 
					        <input type="text" id="checktext" maxlength="6" placeholder="Enter Delivery Pincode" name="pincode" value="{{ customer_pincode }}">
					        <strong><a id="verify" onclick="handler({{ product_id }})">{% if customer_pincode %} Change {% else %} Check {% endif %}</a></strong><span id="pre_loader"> <img src="https://s1.poorvikamobile.com/image/data/poorvika_mobile_five/loader.gif" alt="Loading"></span>
					   
					   </div>
					   </div>
					   
					    <ul>
					        <li><img src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/deliver-img1.png"><span>2 hours</span></li>
					        <li><img src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/deliver-img2.png"><span>Regular</span></li>
					        <li><img src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/deliver-img3.png"><span>Pickup@store</span></li>
					   </ul>
					    
					</div>
					<div class="available" style="display:none">
						<div class="delivery_note hidden">
							<div class="d_note"><span>Available Shipping and Payments for</span> <span id="available-text"></span></div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div id="pin_avilability_ship" class="delivery_hrs">
					</div>
					</div>
				
					<div id="prod_specs" class="col-md-12 pr-0 pl-0">
					    <div class="specs-block">
					    <div class="product-specification">
					         <h2><img src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/product-spec.png">Specifications</h2>
					    </div>
					    
					<div class="product-box-desc">
					<div class="inner-box-desc">
			            
			            {% if attribute_groups %}
							
			              	<ul class="product-property-list util-clearfix expandible expanded">
				                {% for attribute_group in attribute_groups %}
				                    <h3 class="product-property-title" > {{attribute_group.name}}</h3>
				                	
					                {% for attribute in attribute_group.attribute %}
					                <li class="property-item">
					                    <div class="model ptb-10 pl-8"><span>{{ attribute.name }} </span> <span class="attrcolor">{{ attribute.text }}</span></div>
					                  
					                </li>
					                {% endfor %}
				                 	
				                {% endfor %}
			              	</ul>
			            {% endif %}
							
					</div>	
					
					

					{% if soconfig.get_settings('product_enablesold')   %}
					<div class="inner-box-sold ">
						<div class="viewed"><span>{{ text_viewed }}</span> <span class="label label-primary">{{ viewed }}</span></div>	
						{% if sold %}
						<div class="sold"><span>{{ text_sold_ready }}</span> <span class="label label-success"> {{ sold }} </span></div>	
						{% endif %}
					</div>	
					{% endif %}
					
					

				</div>
				</div>
				
				</div>
				
					

				{#===== Show CountDown Product =======#}
				{% if soconfig.get_settings('countdown_status') and special_end_date %}
					{% include theme_directory~'/template/soconfig/countdown.twig' with {product: product,special_end_date:special_end_date} %}
				{% endif %}
				
				
				<div id="product">	
					{% if options %} 
					<h3>{{ text_option }}</h3>
 
 {% if option_data and option_data.product_option_value is defined and option_data.product_option_value %} 
 <ul id="so-colorswatch-selector-{{ product_id }}" class='so-colorswatch-productpage-icons'> 
 {% for option_value in option_data.product_option_value %} 
 <li class="option-item"> 
 <a class="" 
 data-product-option-value-id="{{ option_value.product_option_value_id }}" 
 data-option-value-id="{{ option_value.option_value_id }}" 
 data-color-image="{{ option_value.color_image }}" 
 data-color-thumb-image="{{ option_value.color_thumb_image }}" 
 style="width: {{ width_product_page }}px; height: {{ height_product_page }}px; background-image: url('{{ option_value.image }}')"> 
 </a> 
 </li> 
 {% endfor %} 
 <li class="selected-option"><span></span></li> 
 </ul> 
 <script type="text/javascript"> 
 var $window_width = $(window).width(); 
 var ProductOptionId = '{{ product_option_id }}'; 
 var default_image = $('.large-image img').attr('src'); 
 jQuery(document).ready(function($) { 
 $('#input-option{{ product_option_id }}').parent().hide(); 
 
 $('#input-option{{ product_option_id}} option').each(function(){ 
 var text = $(this).text().replace(/\s{2,}/g, ' '); 
 var val = $(this).attr('value'); 
 $('.so-colorswatch-productpage-icons li a').each(function(index, el){ 
 if($(el).data('product-option-value-id')== val){ 
 $(el).attr('title', text); 
 } 
 }) 
 }) 
 
 {% if colorswatch_type == 'click' %} 
 $(document).on('click', '.so-colorswatch-productpage-icons li.option-item', function(e){ 
 e.preventDefault(); 
 var option_value_id = $(this).children('a').data('product-option-value-id'); 
 var option_id = $(this).children('a').data('option-value-id'); 
 
 if ($(this).hasClass('checked')) { 
 $('.so-colorswatch-productpage-icons li.option-item').removeClass('checked'); 
 $(this).removeClass('checked'); 
 $('#input-option{{ product_option_id }}').val('').trigger('change'); 
 $('.so-colorswatch-productpage-icons li.selected-option > span').html(''); 
 
 $('.large-image img').attr('src', default_image); 
 } 
 else { 
 $('.so-colorswatch-productpage-icons li.option-item').removeClass('checked'); 
 $(this).removeClass('checked').addClass('checked'); 
 $('#input-option{{ product_option_id }}').val(option_value_id).trigger('change'); 
 $('.so-colorswatch-productpage-icons li.selected-option > span').html($(this).children('a').attr('title')); 
 
 if ($(this).children('a').data('color-image') != '') { 
 $('.large-image img').attr('src', $(this).children('a').data('color-image')); 
 } 
 else { 
 $('.large-image img').attr('src', default_image); 
 } 
 
 $('#thumb-slider a.thumbnail').removeClass('active'); 
 } 
 }) 
 {% else %} 
 if ($window_width > 1199) { 
 $('.so-colorswatch-productpage-icons li.option-item').hover(function(e){ 
 e.preventDefault(); 
 var option_value_id = $(this).children('a').data('product-option-value-id'); 
 var option_id = $(this).children('a').data('option-value-id'); 
 
 $('.so-colorswatch-productpage-icons li.option-item').removeClass('checked'); 
 if ($(this).hasClass('checked')) { 
 $(this).removeClass('checked'); 
 $('#input-option{{ product_option_id }}').val('').trigger('change'); 
 $('.large-image img').attr('src', default_image); 
 
 } 
 else { 
 $(this).removeClass('checked').addClass('checked'); 
 $('#input-option{{ product_option_id }}').val(option_value_id).trigger('change'); 
 $('.so-colorswatch-productpage-icons li.selected-option > span').html($(this).children('a').attr('title')); 
 
 if ($(this).children('a').data('color-image') != '') { 
 $('.large-image img').attr('src', $(this).children('a').data('color-image')); 
 } 
 else { 
 $('.large-image img').attr('src', default_image); 
 } 
 $('#thumb-slider a.thumbnail').removeClass('active'); 
 } 
 }); 
 } 
 else { 
 $(document).on('click', '.so-colorswatch-productpage-icons li.option-item', function(e){ 
 e.preventDefault(); 
 var option_value_id = $(this).children('a').data('product-option-value-id'); 
 var option_id = $(this).children('a').data('option-value-id'); 
 
 $('.so-colorswatch-productpage-icons li.option-item').removeClass('checked'); 
 if ($(this).hasClass('checked')) { 
 $(this).removeClass('checked'); 
 $('#input-option{{ product_option_id }}').val('').trigger('change'); 
 $('.large-image img').attr('src', default_image); 
 
 } 
 else { 
 $(this).removeClass('checked').addClass('checked'); 
 $('#input-option{{ product_option_id }}').val(option_value_id).trigger('change'); 
 $('.so-colorswatch-productpage-icons li.selected-option > span').html($(this).children('a').attr('title')); 
 
 if ($(this).children('a').data('color-image') != '') { 
 $('.large-image img').attr('src', $(this).children('a').data('color-image')); 
 } 
 else { 
 $('.large-image img').attr('src', default_image); 
 } 
 $('#thumb-slider a.thumbnail').removeClass('active'); 
 } 
 }) 
 } 
 {% endif %} 
 }) 
 </script> 
 {% endif %} 
 
					{% for option in options %}
						
						{% if option.type == 'select' %}
						<div class="form-group{% if option.required %} required {% endif %}">
							<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
							<select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="form-control width50">
								<option value="">{{ text_select }}</option>
							{% for option_value in option.product_option_value %}
								<option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
								{% if option_value.price %}
									({{ option_value.price_prefix }}{{ option_value.price }})
								{% endif %}
								</option>
							{% endfor %}
						  </select>
						</div>
						{% endif %}
						
						{% if option.type == 'radio' %}
						<div class="form-group{% if option.required %} required {% endif %}">
						  	<label class="control-label">{{ option.name }}</label>
							<div id="input-option{{ option.product_option_id }}">
								{% set radio_style 	 = soconfig.get_settings('radio_style') %}
								{% set radio_type 	 = radio_style ? ' radio-type-button':'' %}

								{% for option_value in option.product_option_value %} 
								{% set radio_image 	=  option_value.image ? 'option_image' : '' %} 
								{% set radio_price 	=  radio_style ? option_value.price_prefix ~ option_value.price : '' %} 
								
									<div class="radio {{ radio_image ~ radio_type }}">
										<label>							
											<input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" />
											<span class="option-content-box" data-title="{{ option_value.name}} {{ radio_price }}" data-toggle='tooltip'>
												{% if option_value.image %} 
													<img src="{{ option_value.image }} " alt="{{ option_value.name}}  {{radio_price}}" /> 
												{% endif %} 
												<span class="option-name">{{ option_value.name }} </span>
												{% if option_value.price  and  radio_style  != '1' %} ({{ option_value.price_prefix }} {{ option_value.price }} ){% endif %} 
											  
											</span>
										</label>
									</div>
								{% endfor %}	
								 
								{% if radio_style %} 
								<script type="text/javascript">
									 $(document).ready(function(){
										  $('#input-option{{ option.product_option_id }} ').on('click', 'span', function () {
											   $('#input-option{{ option.product_option_id }}  span').removeClass("active");
											   $(this).toggleClass("active");
										  });
									 });
								</script>
								{% endif %} 

							</div>
						</div>
						{% endif %}

						{% if option.type == 'checkbox' %}
						<div class="form-group{% if option.required %} required {% endif %}">
						  	<label class="control-label">{{ option.name }}</label>
						  	<div id="input-option{{ option.product_option_id }}">
								{% set radio_style 	 = soconfig.get_settings('radio_style') %}
								{% set radio_type 	 = radio_style ? ' radio-type-button':'' %}

								{% for option_value in option.product_option_value %} 
								{% set radio_image 	=  option_value.image ? 'option_image' : '' %} 
								{% set radio_price 	=  radio_style ? option_value.price_prefix ~ option_value.price : '' %} 
								
									<div class="checkbox  {{ radio_image ~ radio_type }}">
										<label>
											<input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" />
											<span class="option-content-box" data-title="{{ option_value.name}} {{ radio_price }}" data-toggle='tooltip'>
												{% if option_value.image %} 
													<img src="{{ option_value.image }} " alt="{{ option_value.name}}  {{radio_price}}" /> 
												{% endif %} 

												<span class="option-name">{{ option_value.name }} </span>
												{% if option_value.price  and  radio_style  != '1' %} 
													({{ option_value.price_prefix }} {{ option_value.price }} )
												{% endif %} 
											  
											</span>
										</label>
									</div>
								{% endfor %}	
								 
								{% if radio_style %} 
								<script type="text/javascript">
									 $(document).ready(function(){
										  $('#input-option{{ option.product_option_id }} ').on('click', 'span', function () {
											   $(this).toggleClass("active");
										  });
									 });
								</script>
								{% endif %} 

							</div>
						</div>
						{% endif %}

						{% if option.type == 'text' %}
						<div class="form-group{% if option.required %} required {% endif %}">
						  <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
						  <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control" />
						</div>
						{% endif %}

						{% if option.type == 'textarea' %}
						<div class="form-group{% if option.required %} required {% endif %}">
						  <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
						  <textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
						</div>
						{% endif %}

						{% if option.type == 'file' %}
						<div class="form-group{% if option.required %} required {% endif %}">
						  <label class="control-label">{{ option.name }}</label>
						  <button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{ button_upload }}</button>
						  <input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}" />
						</div>
						{% endif %}

						{% if option.type == 'date' %}
						<div class="form-group{% if option.required %} required {% endif %}">
						  <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
						  <div class="input-group date">
							<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="form-control" />
							<span class="input-group-btn">
							<button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
							</span></div>
						</div>
						{% endif %}

						{% if option.type == 'datetime' %}
						<div class="form-group{% if option.required %} required {% endif %}">
						  <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
						  <div class="input-group datetime">
							<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
							<span class="input-group-btn">
							<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
							</span></div>
						</div>
						{% endif %}
						
						{% if option.type == 'time' %}
						<div class="form-group{% if option.required %} required {% endif %}">
							<label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
							<div class="input-group time">
							<input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
							<span class="input-group-btn">
							<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
							</span></div>
						</div>
						{% endif %}
						
					{% endfor %}
					{% endif %}

					<div class="box-cart clearfix form-group">
						{% if recurrings %}
						<h3>{{ text_payment_recurring }}</h3>
						<div class="form-group required">
							<select name="recurring_id" class="form-control">
							<option value="">{{ text_select }}</option>
							{% for recurring in recurrings %}
							<option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
							{% endfor %}
							</select>
						  <div class="help-block" id="recurring-description"></div>
						</div>
						{% endif %}
					  
						<div class="form-group box-info-product">
							<div class="option quantity">
								<div class="input-group quantity-control">
									  <span class="input-group-addon product_quantity_down fa fa-minus"></span>
									  <input class="form-control" type="text" name="quantity" value="{{ minimum }}" />
									  <input type="hidden" name="product_id" value="{{ product_id }}" />								  
									  <span class="input-group-addon product_quantity_up fa fa-plus"></span>
								</div>
							</div>
							<div class="detail-action">
								{# =========button Cart ======#}
								<div class="cart"> 
 {% if (cfp_setting.module_so_call_for_price_status and price_0 <= 0) %} 
 {% if cfp_setting.module_so_call_for_price_hide_cart is defined and cfp_setting.module_so_call_for_price_hide_cart == '0' %} 
 {% if cfp_setting.module_so_call_for_price_replace_cart is defined and cfp_setting.module_so_call_for_price_replace_cart == '1' %} 
 <input type="button" value="{{ text_price_0 }}" data-fancybox data-type="ajax" data-src="{{ base }}index.php?route=extension/module/so_call_for_price&product_id={{ product.product_id }}" data-loading-text="{{ text_loading }}" class="btn btn-mega btn-lg callforprice"> 
 {% else %} 
 <input type="button" value="{{ button_cart }}" data-loading-text="{{ text_loading }}" class="btn btn-mega btn-lg" style="cursor: default; background: #eee; color: #ccc; border: 1px solid #eee; text-shadow: none; box-shadow: none;"> 
 {% endif %} 
 {% else %} 
 {% if cfp_setting.module_so_call_for_price_replace_cart is defined and cfp_setting.module_so_call_for_price_replace_cart == '1' %} 
 <input type="button" value="{{ text_price_0 }}" data-fancybox data-type="ajax" data-src="{{ base }}index.php?route=extension/module/so_call_for_price&product_id={{ product.product_id }}" data-loading-text="{{ text_loading }}" class="btn btn-mega btn-lg "> 
 {% endif %} 
 {% endif %} 
 {% else %} 
 <input type="button" value="{{ button_cart }}" data-loading-text="{{ text_loading }}" id="button-cart" class="btn btn-mega btn-lg" /> 
 {% endif %} 
 </div>
								<div class="add-to-links wish_comp">
									<ul class="blank">
										<li class="wishlist">
											<a onclick="wishlist.add({{ product_id }});"><i class="fa fa-heart"></i></a>
										</li>
										<li class="compare">
											<a onclick="compare.add({{ product_id }});"><i class="fa fa-retweet"></i></a>
										</li>
										
									</ul>
								</div>
							</div>
						</div>

						<div class="clearfix"></div>
						{% if minimum > 1 %}
							<div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_minimum }}</div>
						{% endif %}
					</div>

					{% if soconfig.get_settings('product_page_button') and soconfig.get_settings('product_socialshare') %}
					<div class="form-group social-share clearfix">
						{{ soconfig.decode_entities( soconfig.get_settings('product_socialshare') ) }}
					</div>
					{% endif %}
					<!-- Go to www.addthis.com/dashboard to customize your tools -->
					<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-529be2200cc72db5"></script>
					
					 {% if tags %}
					<div id="tab-tags">
						{{ text_tags }}
						{% for i in 0..tags|length %}
						{% if i < (tags|length - 1) %} <a class="btn btn-primary btn-sm" href="{{ tags[i].href }}">{{ tags[i].tag }}</a>
						{% else %} 
						{% if tags[i] is not empty  %}
						<a class="btn btn-primary btn-sm 22" href="{{ tags[i].href }}">{{ tags[i].tag }}</a> {% endif %}
						{% endif %}
						{% endfor %} 
						
					 
					</div>
					{% endif %}

				</div>
					</div>
			</div>
		
			{#========== //Product Right ============#}
			</div>
		</div>

		{#====  content_Top==== #}
		{% if content_top %}
		<div class="content-product-maintop form-group clearfix">
			{{ content_top }}
		</div>
		{% endif %}
		<div class="content-product-mainbody clearfix row">
			
			{% if col_position== 'inside' %}
			{#====  Column left inside==== #}
				{{ column_left }}
			    {% if col_canvas =='off_canvas' %}
					{% set class_left = 'col-sm-12' %}
		    	{% elseif column_left and column_right %}
		    		{% set class_left = 'col-md-6 col-column3' %}
			    {% elseif column_left or column_right %}
			    	{% set class_left = 'col-md-9 col-sm-12 col-xs-12' %}
			    {% else %}
			    	{% set class_left = 'col-sm-12' %}
			    {% endif %}
			{% else %}
				{% set class_left = 'col-sm-12' %}
			{% endif %}

		    <div class="content-product-content {{ class_left }}">
				<div class="content-product-midde clearfix">
					{#========== TAB BLOCK ============#}
					{% set related_position = soconfig.get_settings('tabs_position') == 1 ? 'vertical-tabs' : ''  %}
					{% set tabs_position	= soconfig.get_settings('tabs_position')  %}
					{% set showmore			= soconfig.get_settings('product_enableshowmore')  %}
					{% if showmore %} {% set class_showmore = 'showdown' %}
					{% else %} {% set class_showmore = 'showup' %}
					{% endif %}

					<div class="producttab ">
						<div class="tabsslider {{related_position}} {% if tabs_position == 1 %} {{'vertical-tabs'}} {% else %} {{'horizontal-tabs'}} {% endif %} col-xs-12">
							{#========= Tabs - Bottom horizontal =========#}
							{% if tabs_position == 2 %}
							<ul class="nav nav-tabs font-sn">
								<li class="active"><a data-toggle="tab" href="#tab-description">{{ tab_description }}</a></li>
								
					         
					            {% if review_status %}
					           	 <li><a href="#tab-review" data-toggle="tab">{{ tab_review }}</a></li>
					            {% endif %}
								
								{% if soconfig.get_settings('product_enableshipping') %}
								 <li><a href="#tab-contentshipping" data-toggle="tab">{{ tab_shipping}}</a></li>
								{% endif %}

								{% if product_tabtitle %}
					           	 <li><a href="#tab-customhtml" data-toggle="tab">{{ product_tabtitle}}</a></li>
					            {% endif %}

								{% if product_video %}
					           	 <li><a class="thumb-video" href="{{product_video}}"><i class="fa fa-youtube-play fa-lg"></i> {{ tab_video}}</a></li>
					            {% endif %}
								
								
								
							</ul>

							{#========= Tabs - Left vertical =========#}
							{% elseif tabs_position == 1  %}
								<ul class="nav nav-tabs col-lg-3 col-sm-4">
								<li class="active"><a data-toggle="tab" href="#tab-description">{{ tab_description }}</a></li>
								
					            {% if review_status %}
					           	 <li><a href="#tab-review" data-toggle="tab">{{ tab_review }}</a></li>
					            {% endif %}
								
								{% if soconfig.get_settings('product_enableshipping')  %}
								 <li><a href="#tab-contentshipping" data-toggle="tab">{{ tab_shipping}}</a></li>
								{% endif %}

								{% if product_tabtitle %}
					           	 <li><a href="#tab-customhtml" data-toggle="tab">{{ product_tabtitle}}</a></li>
					            {% endif %}
					            
								{% if product_video %}
					           	 <li><a class="thumb-video" href="{{product_video}}"><i class="fa fa-youtube-play fa-lg"></i> {{ tab_video}}</a></li>
					            {% endif %}
								
								
								</ul>
							{% endif %}

							<div class="tab-content {% if tabs_position == 1  %} {{ 'col-lg-9 col-sm-8' }} {% endif %} col-xs-12">
								<div class="tab-pane active" id="tab-description">
									
									

						            <h3 class="product-property-title" > {{text_product_description}}</h3>
						            <div id="collapse-description" class="desc-collapse {{class_showmore}}">
										{{ description }}
									</div>	

									{% if showmore %}
									<div class="button-toggle">
								         <a class="showmore" data-toggle="collapse" href="#" aria-expanded="false" aria-controls="collapse-footer">
								            <span class="toggle-more">{{ objlang.get('show_more') }} <i class="fa fa-angle-down"></i></span> 
								            <span class="toggle-less">{{ objlang.get('show_less') }} <i class="fa fa-angle-up"></i></span>           
										</a>        
									</div>
									{% endif %}
								</div>
								

					            {% if review_status %}
					            <div class="tab-pane" id="tab-review">
						            <form class="form-horizontal" id="form-review">
						                <div id="review"></div>
						                <h3>{{ text_write }}</h3>
						                {% if review_guest %}
						                <div class="form-group required">
						                  <div class="col-sm-12">
						                    <label class="control-label" for="input-name">{{ entry_name }}</label>
						                    <input type="text" name="name" value="{{ customer_name }}" id="input-name" class="form-control" />
						                  </div>
						                </div>
						                <div class="form-group required">
						                  <div class="col-sm-12">
						                    <label class="control-label" for="input-review">{{ entry_review }}</label>
						                    <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
						                    <div class="help-block">{{ text_note }}</div>
						                  </div>
						                </div>
						                <div class="form-group required">
						                  <div class="col-sm-12">
						                    <label class="control-label">{{ entry_rating }}</label>
						                    &nbsp;&nbsp;&nbsp; {{ entry_bad }}&nbsp;
						                    <input type="radio" name="rating" value="1" />
						                    &nbsp;
						                    <input type="radio" name="rating" value="2" />
						                    &nbsp;
						                    <input type="radio" name="rating" value="3" />
						                    &nbsp;
						                    <input type="radio" name="rating" value="4" />
						                    &nbsp;
						                    <input type="radio" name="rating" value="5" />
						                    &nbsp;{{ entry_good }}</div>
						                </div>
						                {{ captcha }}
						                
						                  <div class="pull-right">
						                    <button type="button" id="button-review" data-loading-text="{{ text_loading }}" class="btn btn-primary">{{ button_continue }}</button>
						                  </div>
						               
						                {% else %}
						                {{ text_login }}
						                {% endif %}
						            </form>
					            </div>
					            {% endif %}

					            {% if soconfig.get_settings('product_enableshipping') and soconfig.get_settings('product_contentshipping') %}
								<div class="tab-pane" id="tab-contentshipping">
									{{ soconfig.decode_entities( soconfig.get_settings('product_contentshipping') ) }}
								</div>
								{% endif %}

								{% if product_tabtitle %}
								<div class="tab-pane " id="tab-customhtml">{{ product_tabcontent }}</div>
								{% endif %}
								
							</div>
						</div>
					</div>
				</div>
				
				{#====  Related_Product==== #}
				{% if products and soconfig.get_settings('related_status') %}
				<div class="content-product-bottom clearfix">
					<ul class="nav nav-tabs">
					  <li class="active"><a data-toggle="tab" href="#product-related">{{ text_related }}</a></li> 
					  <li><a data-toggle="tab" href="#product-upsell">{{ text_upsell }}</a></li>
					</ul>
					<div class="tab-content">
					  	<div id="product-related" class="tab-pane fade in active">
							{% include theme_directory~'/template/soconfig/related_product.twig' %}
					  	</div>
					  	<div id="product-upsell" class="tab-pane fade">
					  		{#====  content_bottom==== #}
					  		{{ content_bottom }}
					  	</div>
					</div>
					
				</div>
				{% endif %}

				
			</div>
			{#====  Column Right inside==== #}
			{% if col_position== 'inside' %} {{ column_right }} {% endif %}

		</div>
		 <div class="tabs-nav">
			        <ul>
			            <li><i class="fa fa-dot-circle-o"></i><a href="{{ current_url }}#prod_overview">Overview</a></li>
			            <li><i class="fa fa-gears"></i><a href="{{ current_url }}#prod_specs">Specs</a></li>
			            <li><i class="fa fa-video-camera"></i><a href="{{ current_url }}#prod_video">Video</a></li>
			            <li><i class="fa fa-star"></i><a href="{{ current_url }}#prod_review">Reviews</a></li>
			            <li><i class="fa fa-cube"></i><a href="{{ current_url }}#prod_related">Related product</a></li>
			            <li><i class="fa fa-exchange"></i><a href="{{ current_url }}#prod_compare">Compare product</a></li>
			            <li><i class="fa fa-commenting"></i><a href="{{ current_url }}#prod_question">Question & Answer</a></li>
			        </ul>
			    </div>
		<div class="content-product-main1">
		    {% if description %}
					 <div id="prod_overview" class="short_description form-group" itemprop="description">
						<h3>Overview</h3>
						
		                    {{ description }}  
		                
					</div>
					{% endif %}
		    {#====  Comparision-product==== #}
		    <div class="col-md-12">
		        <div class="product-combo compare-product" id="prod_compare">
			        <div class="combo-title">
			            <h2>Compate With similar Products</h2>
			            <a href=""><i class="fa fa-plus"></i>Add Comparison</a>
			        </div>
			        <div id="collapse-description" class="desc-collapse showdown compare">
			        <ul class="">
			            <li><div class="free-space"></div>
			            <div class="battery-power">
			                <strong>Battery</strong>
			            </div>
			            <div class="external-storage">
			                <strong>Expandable storage</strong>
			            </div>
			             <div class="external-storage">
			                <strong>Expandable storage</strong>
			            </div>
			            </li>
			             <li><a href="">
			                <div class="combo-list"><img src="http://poorvikabeta.webindia.com/image/cache/catalog/demo/canon_eos_5d_1-355x470.jpg"></div>
			                <div class="combo-content">
			                    <h5>Canon EOS 5D</h5>
			                    <strong>4.5
			                    {% for i in 1..5 %}
								{% if rating < i %}<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>{% else %}<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>{% endif %}
							{% endfor %}
							</strong> 
							<small class="price">&#8377; 45,000<strike class="old-price">25,000</strike></small>
							</div>
			            </a>
			             <div class="battery-power">
			                <strong>4000 mAH</strong>
			            </div>
			            <div class="external-storage">
			                <strong>128GB</strong>
			            </div>
			             <div class="external-storage">
			                <strong>128GB</strong>
			            </div>
			            </li>
			             <li><a href="">
			                <div class="combo-list"><img src="http://poorvikabeta.webindia.com/image/cache/catalog/demo/canon_eos_5d_1-355x470.jpg"></div>
			                <div class="combo-content">
			                    <h5>Canon EOS 5D</h5>
			                    <strong>4.5
			                    {% for i in 1..5 %}
								{% if rating < i %}<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>{% else %}<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>{% endif %}
							{% endfor %}
							</strong> 
							<small class="price">&#8377; 45,000<strike class="old-price">25,000</strike></small>
							</div>
			            </a>
			              <div class="battery-power">
			                <strong>4000 mAH</strong>
			            </div>
			            <div class="external-storage">
			                <strong>128GB</strong>
			            </div>
			             <div class="external-storage">
			                <strong>128GB</strong>
			            </div>
			            </li>
			             <li><a href="">
			                <div class="combo-list"><img src="http://poorvikabeta.webindia.com/image/cache/catalog/demo/canon_eos_5d_1-355x470.jpg"></div>
			                <div class="combo-content">
			                    <h5>Canon EOS 5D</h5>
			                    <strong>4.5
			                    {% for i in 1..5 %}
								{% if rating < i %}<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>{% else %}<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>{% endif %}
							{% endfor %}
							</strong> 
							<small class="price">&#8377; 45,000<strike class="old-price">25,000</strike></small>
							</div>
			            </a>
			             <div class="battery-power">
			                <strong>4000 mAH</strong>
			            </div>
			            <div class="external-storage">
			                <strong>128GB</strong>
			            </div>
			             <div class="external-storage">
			                <strong>128GB</strong>
			            </div>
			            </li>
			             <li><a href="">
			                <div class="combo-list"><img src="http://poorvikabeta.webindia.com/image/cache/catalog/demo/canon_eos_5d_1-355x470.jpg"></div>
			                <div class="combo-content">
			                    <h5>Canon EOS 5D</h5>
			                    <strong>4.5
			                    {% for i in 1..5 %}
								{% if rating < i %}<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>{% else %}<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>{% endif %}
							{% endfor %}
							</strong> 
							<small class="price">&#8377; 45,000<strike class="old-price">25,000</strike></small>
							</div>
			            </a>
			             <div class="battery-power">
			                <strong>4000 mAH</strong>
			            </div>
			            <div class="external-storage">
			                <strong>128GB</strong>
			            </div>
			             <div class="external-storage">
			                <strong>128GB</strong>
			            </div>
			            </li>
			            
			             
			            
			        </ul>
			        </div>
			       
			       
									<div class="gallery-button details-button"><a href="" class="btn btn-gallary btn-detail">See Image Gallery</a></div>
			    </div>
		    </div>
		    {#==== End-Comparision-product==== #}
		    {#====product-video==== #}
		    <div class="col-md-12">
		        <div id="prod_video" class="product-combo product-video">
		       <div class="combo-title">
			            <h2><img src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/video-product.png">Video</h2>
			             <a href=""><i class="fa fa-youtube"></i>Watch YouTube Reviews</a>
			        </div>
			        
			        <ul class="video-carousel owl-carousel owl-theme">
			            <li>
			                <div class="video-frame">
			                  <iframe width="200" height="115" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                            </div>
                            <div class="video-content">
                                <span>4.6<img src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/video-green-arrow.png"></span>
                                <strong>performance<small>Ultra fast</small></strong>
                            </div>
                       </li>
                        <li>
			                <div class="video-frame">
			                  <iframe width="200" height="115" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                            </div>
                             <div class="video-content">
                                <span>4.6<img src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/video-green-arrow.png"></span>
                                <strong>performance<small>Ultra fast</small></strong>
                            </div>
                       </li>
                        <li>
			                <div class="video-frame">
			                   <iframe width="200" height="115" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                            </div>
                             <div class="video-content">
                                <span>4.6<img src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/video-green-arrow.png"></span>
                                <strong>performance<small>Ultra fast</small></strong>
                            </div>
                       </li>
                        <li>
			                <div class="video-frame">
			                   <iframe width="200" height="115" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                            </div>
                             <div class="video-content">
                                <span>4.6<img src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/video-green-arrow.png"></span>
                                <strong>performance<small>Ultra fast</small></strong>
                            </div>
                       </li>
                        <li>
			                <div class="video-frame">
			                  <iframe width="200" height="115" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
                            </div>
                             <div class="video-content">
                                <span>4.6<img src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/video-green-arrow.png"></span>
                                <strong>performance<small>Ultra fast</small></strong>
                            </div>
                       </li>
			        </ul>
			        
			        </div>
		    </div>
		     {#====End-product-video==== #}
		      {#====product-review==== #}
		     <div id="prod_review" class="col-md-12">
		         <div class="product-question review-product">
		              <div class="combo-title">
			            <h2><img src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/video-product.png">Customer Review</h2>
			             <a href=""><i class="fa fa-edit"></i>Write Product Reviews</a>
			          </div>
		         </div>
		     </div>
		     <div class="col-md-5  pr-0">
		         <div class="reviwe-block">
		         <div class="review-card">
		             <div class="card-cont">
		             <span>Rating<strong>4.6<small>out of 5</small></strong></span>
		             <small>35 Ratings 4 Reviews</small>
		             </div>
		             <div class="review-rating">
		                 <ul>
		                     <li> {% for i in 1..5 %}
								{% if rating < i %}<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>{% else %}<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>{% endif %}
							{% endfor %}<small>75%</small></li>
							<li> {% for i in 1..4 %}
								{% if rating < i %}<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>{% else %}<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>{% endif %}
							{% endfor %}<small>75%</small></li>
								<li> {% for i in 1..3 %}
								{% if rating < i %}<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>{% else %}<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>{% endif %}
							{% endfor %}<small>75%</small></li>
								<li> {% for i in 1..2 %}
								{% if rating < i %}<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>{% else %}<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>{% endif %}
							{% endfor %}<small>75%</small></li>
								<li> {% for i in 1..1 %}
								{% if rating < i %}<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>{% else %}<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>{% endif %}
							{% endfor %}<small>75%</small></li>
		                 </ul>
		             </div>
		             
		         </div>
		         <div class="review-edit-box">
		             <strong>Write review for this product<span>share your feedback with other customer</span></strong>
		             <div class="edit-button"><a href=""><i class="fa fa-edit"></i>Write a Product review</a></div>
		         </div>
		         </div>
		     </div>
		     <div class="col-md-7 pl-0">
		        <div class="review-right-block">
		         <div class="review-mention">
		             <h3>Review Mention</h3>
		             <span>battery life</span><span>value of money</span><span>Price range</span><span>best budget</span>
		         </div>
		         <div class="review-text">
		             <h3>Review</h3>
		             <ul>
		                 <li>
		                     <div class="customer-block">
		                     <div class="customer-details">
		                         <div class="customer-profile">
		                         <img src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/customer-review-img1.jpg">
		                         </div>
		                         <strong>Nikil <br>
		                          {% for i in 1..5 %}
								{% if rating < i %}<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>{% else %}<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>{% endif %}
							{% endfor %}
							<small>reviewed on 15 sep 2020</small>
		                         </strong>
		                     </div>
		                     <div class="like-details">
		                         <small><i class="fa fa-thumbs-up"></i></small>
		                         <small><i class="fa fa-thumbs-down"></i></small>
		                     </div>
		                     </div>
		                     <div class="review-para">
		                         <span>More than 5 star, best budget mobile</span>
		                         <p>Integer faucibus facilisis volutpat. Aliquam in suscipit orci. Nullam aliquam fermentum auctor. </p>
		                     </div>
		                 </li>
		                  <li>
		                     <div class="customer-block">
		                     <div class="customer-details">
		                         <div class="customer-profile">
		                         <img src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/customer-review-img1.jpg">
		                         </div>
		                         <strong>Nikil <br>
		                          {% for i in 1..5 %}
								{% if rating < i %}<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>{% else %}<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>{% endif %}
							{% endfor %}
							<small>reviewed on 15 sep 2020</small>
		                         </strong>
		                     </div>
		                     <div class="like-details">
		                         <small><i class="fa fa-thumbs-up"></i></small>
		                         <small><i class="fa fa-thumbs-down"></i></small>
		                     </div>
		                     </div>
		                     <div class="review-para">
		                         <span>More than 5 star, best budget mobile</span>
		                         <p>Integer faucibus facilisis volutpat. Aliquam in suscipit orci. Nullam aliquam fermentum auctor..</p>
		                     </div>
		                 </li>
		                  <li>
		                     <div class="customer-block">
		                     <div class="customer-details">
		                         <div class="customer-profile">
		                         <img src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/customer-review-img1.jpg">
		                         </div>
		                         <strong>Nikil <br>
		                          {% for i in 1..5 %}
								{% if rating < i %}<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>{% else %}<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>{% endif %}
							{% endfor %}
							<small>reviewed on 15 sep 2020</small>
		                         </strong>
		                     </div>
		                     <div class="like-details">
		                         <small><i class="fa fa-thumbs-up"></i></small>
		                         <small><i class="fa fa-thumbs-down"></i></small>
		                     </div>
		                     </div>
		                     <div class="review-para">
		                         <span>More than 5 star, best budget mobile</span>
		                         <p>Integer faucibus facilisis volutpat. Aliquam in suscipit orci. Nullam aliquam fermentum auctor..</p>
		                     </div>
		                 </li>
		                 
		             </ul>
		         </div>
		         </div>
		     </div>
		       {#====End-product-review==== #}
		     {#====Question-product==== #}
		     <div class="col-md-8 pr-0">
		         <div class="product-question" id="prod_question">
		               <div class="combo-title question-pro">
			            <h2><img src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/related-product.png">Question and Answer</h2>
			            <span><input type="text" placeholder="Search of Question and Answer.."></span>
			        </div>
			        <div id="collapse-description" class="desc-collapse showdown">
			        <ul>
			            <li><div class="question-content">
			                <p class="question-cont">Q : It is Quality Product?</p>
			                <p class="answer-cont">A : Yes it Quality Product.</p>
			                </div>
			                <div class="like-details">
			                    <span>by paratap</span>
			                    <small><i class="fa fa-thumbs-up"></i>930</small>
			                    <small><i class="fa fa-thumbs-down"></i>30</small>
			                </div>
			            </li>
			             <li><div class="question-content">
			                <p class="question-cont">Q : It is Quality Product?</p>
			                <p class="answer-cont">A : Yes it Quality Product.</p>
			                </div>
			                <div class="like-details">
			                    <span>by paratap</span>
			                    <small><i class="fa fa-thumbs-up"></i>930</small>
			                    <small><i class="fa fa-thumbs-down"></i>30</small>
			                </div>
			            </li>
			             <li><div class="question-content">
			                <p class="question-cont">Q : It is Quality Product?</p>
			                <p class="answer-cont">A : Yes it Quality Product.</p>
			                </div>
			                <div class="like-details">
			                    <span>by paratap</span>
			                    <small><i class="fa fa-thumbs-up"></i>930</small>
			                    <small><i class="fa fa-thumbs-down"></i>30</small>
			                </div>
			            </li>
			             <li><div class="question-content">
			                <p class="question-cont">Q : It is Quality Product?</p>
			                <p class="answer-cont">A : Yes it Quality Product.</p>
			                </div>
			                <div class="like-details">
			                    <span>by paratap</span>
			                    <small><i class="fa fa-thumbs-up"></i>930</small>
			                    <small><i class="fa fa-thumbs-down"></i>30</small>
			                </div>
			            </li>
			        </ul>
			        </div>
			        <div class="button-toggle toggle1">
								         <a class="showmore" data-toggle="collapse" href="#" aria-expanded="false" aria-controls="collapse-footer">
								            <span class="toggle-more">Show all answer question <i class="fa fa-angle-down"></i></span> 
								            <span class="toggle-less">Show Less <i class="fa fa-angle-up"></i></span>           
										</a>      
										<a href="">
										    <strong><i class="fa fa-edit"></i>Ask Question</strong>
										</a>
									</div>
		         </div>
		     </div>
		     <div class="col-md-4 pl-0">
		         <div class="product-customer-image">
		              <div class="combo-title customer-img">
			            <h2>Customer Image</h2>
			        </div>
			        <ul>
			            <li><a href=""><img src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/customer-img1.jpg"></a></li>
			            <li><a href=""><img src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/customer-img2.jpg"></a></li>
			            <li><a href=""><img src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/customer-img2.jpg"></a></li>
			            <li><a href=""><img src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/customer-img1.jpg"></a></li>
			        </ul>
			        <div class="gallery-button"><a href="" class="btn btn-gallary">See Image Gallery</a></div>
		         </div>
		     </div>
		     {#====End-Question-product==== #}
		     
		     {#====compare-product==== #}
		     <div class="col-md-12 pr-0 pl-0">
			    <div class="product-combo">
			        <div class="combo-title">
			            <h2>Buy Together Combo Offer</h2>
			        </div>
			        <ul>
			            <li><div class="plus-ico"><img src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/plus-ico.png"></div>
			                <div class="combo-checked-box"><input type="checkbox" id="combo-box"></div>
			                <div class="combo-offer-img"><img src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/combo-offer-img.jpg"></div>
			                <div class="combo-list"><img src="http://poorvikabeta.webindia.com/image/cache/catalog/demo/canon_eos_5d_1-355x470.jpg"></div>
			                <div class="combo-content">
			                    <h5>Canon EOS 5D</h5>
			                    <strong>4.5
			                    {% for i in 1..5 %}
								{% if rating < i %}<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>{% else %}<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>{% endif %}
							{% endfor %}
							</strong> 
							<small class="price">&#8377; 45,000<strike class="old-price">25,000</strike></small>
							</div>
			            
			            </li>
			             <li><div class="plus-ico"><img src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/plus-ico.png"></div>
			                   <div class="combo-checked-box"><input type="checkbox" id="combo-box"></div>
			                <div class="combo-offer-img"><img src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/combo-offer-img.jpg"></div>
			                <div class="combo-list"><img src="http://poorvikabeta.webindia.com/image/cache/catalog/demo/canon_eos_5d_1-355x470.jpg"></div>
			                <div class="combo-content">
			                    <h5>Canon EOS 5D</h5>
			                    <strong>4.5
			                    {% for i in 1..5 %}
								{% if rating < i %}<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>{% else %}<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>{% endif %}
							{% endfor %}
							</strong> 
							<small class="price">&#8377; 45,000<strike class="old-price">25,000</strike></small>
							</div>
			            
			            </li>
			             <li><div class="plus-ico"><img src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/equal-ico.png"></div>
			                   <div class="combo-checked-box"><input type="checkbox" id="combo-box"></div>
			                <div class="combo-offer-img"><img src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/combo-offer-img.jpg"></div>
			                <div class="combo-list"><img src="http://poorvikabeta.webindia.com/image/cache/catalog/demo/canon_eos_5d_1-355x470.jpg"></div>
			                <div class="combo-content">
			                    <h5>Canon EOS 5D</h5>
			                    <strong>4.5
			                    {% for i in 1..5 %}
								{% if rating < i %}<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>{% else %}<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>{% endif %}
							{% endfor %}
							</strong> 
							<small class="price">&#8377; 45,000<strike class="old-price">25,000</strike></small>
							</div>
			            
			            </li>
			             <li class="combo-offer-bg">
			                <h4>Offer Summary</h4>
			                <strike class="old-price">25,000</strike>
			                	<small class="price">&#8377; 45,000</small>
			               <strong>You save 20,600<span>on 2 items</span></strong>
			               
			            <div class="cart"><input type="button" value="{{ button_cart }}" data-loading-text="{{ text_loading }}" id="button-cart" class="btn btn-mega btn-lg btn-offer"></div>
			            </li>
			        </ul>
			    </div>
			</div>
			{#====end-compare-product==== #}
		    {#====related-product==== #}
		    <div id="prod_related" class="col-md-12">
		        <div class="product-combo related-product">
			        <div class="combo-title">
			            <h2><img src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/related-product.png">Related Product</h2>
			        </div>
			        <ul class="related-carousel owl-carousel owl-theme">
			            <li><a href="">
			                <div class="combo-list"><img src="http://poorvikabeta.webindia.com/image/cache/catalog/demo/canon_eos_5d_1-355x470.jpg"></div>
			                <div class="combo-content">
			                    <h5>Canon EOS 5D</h5>
			                    <strong>4.5
			                    {% for i in 1..5 %}
								{% if rating < i %}<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>{% else %}<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>{% endif %}
							{% endfor %}
							</strong> 
							<small class="price">&#8377; 45,000<strike class="old-price">25,000</strike></small>
							</div>
			            </a>
			            </li>
			             <li><a href="">
			                <div class="combo-list"><img src="http://poorvikabeta.webindia.com/image/cache/catalog/demo/canon_eos_5d_1-355x470.jpg"></div>
			                <div class="combo-content">
			                    <h5>Canon EOS 5D</h5>
			                    <strong>4.5
			                    {% for i in 1..5 %}
								{% if rating < i %}<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>{% else %}<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>{% endif %}
							{% endfor %}
							</strong> 
							<small class="price">&#8377; 45,000<strike class="old-price">25,000</strike></small>
							</div>
			            </a>
			            </li>
			             <li><a href="">
			                <div class="combo-list"><img src="http://poorvikabeta.webindia.com/image/cache/catalog/demo/canon_eos_5d_1-355x470.jpg"></div>
			                <div class="combo-content">
			                    <h5>Canon EOS 5D</h5>
			                    <strong>4.5
			                    {% for i in 1..5 %}
								{% if rating < i %}<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>{% else %}<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>{% endif %}
							{% endfor %}
							</strong> 
							<small class="price">&#8377; 45,000<strike class="old-price">25,000</strike></small>
							</div>
			            </a>
			            </li>
			             <li><a href="">
			                <div class="combo-list"><img src="http://poorvikabeta.webindia.com/image/cache/catalog/demo/canon_eos_5d_1-355x470.jpg"></div>
			                <div class="combo-content">
			                    <h5>Canon EOS 5D</h5>
			                    <strong>4.5
			                    {% for i in 1..5 %}
								{% if rating < i %}<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>{% else %}<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>{% endif %}
							{% endfor %}
							</strong> 
							<small class="price">&#8377; 45,000<strike class="old-price">25,000</strike></small>
							</div>
			            </a>
			            </li>
			             <li><a href="">
			                <div class="combo-list"><img src="http://poorvikabeta.webindia.com/image/cache/catalog/demo/canon_eos_5d_1-355x470.jpg"></div>
			                <div class="combo-content">
			                    <h5>Canon EOS 5D</h5>
			                    <strong>4.5
			                    {% for i in 1..5 %}
								{% if rating < i %}<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>{% else %}<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>{% endif %}
							{% endfor %}
							</strong> 
							<small class="price">&#8377; 45,000<strike class="old-price">25,000</strike></small>
							</div>
			            </a>
			            </li>
			            
			             
			            
			        </ul>
			    </div>
		    </div>
		</div>
    	{#====  End-related-product==== #}
    </div>
    
    {#====  Column Right outside==== #}
    {% if col_position== 'outside' %} {{ column_right }} {% endif %}
    </div>
</div>

<script src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/js/owl.carousel.min.js"></script> 
<script type="text/javascript">
<!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
	$.ajax({
		url: 'index.php?route=product/product/getRecurringDescription',
		type: 'post',
		data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
		dataType: 'json',
		beforeSend: function() {
			$('#recurring-description').html('');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();

			if (json['success']) {
				$('#recurring-description').html(json['success']);
			}
		}
	});
});
//--></script>

<script type="text/javascript"><!--
$('#button-cart').on('click', function() {
	
	$.ajax({
		url: 'index.php?route=extension/soconfig/cart/add',
		type: 'post',
		data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
		dataType: 'json',
		beforeSend: function() {
			$('#button-cart').button('loading');
		},
		complete: function() {
			$('#button-cart').button('reset');
		},
		success: function(json) {
			$('.alert').remove();
			$('.text-danger').remove();
			$('.form-group').removeClass('has-error');
			if (json['error']) {
				if (json['error']['option']) {
					for (i in json['error']['option']) {
						var element = $('#input-option' + i.replace('_', '-'));
 
 {% if option_data %} 
 if(ProductOptionId != undefined && ProductOptionId==i.replace('_', '-')){ 
 $('.so-colorswatch-productpage-icons').after('<div class="text-danger">' + json['error']['option'][i] + '</div>'); 
 } 
 {% endif %} 
 
						
						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						}
					}
				}
				
				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}
				
				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}
			
			if (json['success']) {
				$('.text-danger').remove();
				$('#wrapper').before('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="fa fa-close close" data-dismiss="alert"></button></div>');
				$('#cart  .total-shopping-cart1 ').html(json['total'] );
				$('#cart > ul').load('index.php?route=common/cart/info ul li');
				
				timer = setTimeout(function () {
					$('.alert').addClass('fadeOut');
				}, 4000);
				$('.so-groups-sticky .popup-mycart .popup-content').load('index.php?route=extension/module/so_tools/info .popup-content .cart-header');
			}
			
		
		},
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
	});
});

//--></script> 

<script type="text/javascript"><!--
$('.date').datetimepicker({
	language: document.cookie.match(new RegExp('language=([^;]+)'))[1],
	pickTime: false
});

$('.datetime').datetimepicker({
	language: document.cookie.match(new RegExp('language=([^;]+)'))[1],
	pickDate: true,
	pickTime: true
});

$('.time').datetimepicker({
	language: document.cookie.match(new RegExp('language=([^;]+)'))[1],
	pickDate: false
});

$('button[id^=\'button-upload\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
		clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(node).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script> 
<script type="text/javascript"><!--
$('#review').delegate('.pagination a', 'click', function(e) {
    e.preventDefault();

    $('#review').fadeOut('slow');
    $('#review').load(this.href);
    $('#review').fadeIn('slow');
});

$('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

$('#button-review').on('click', function() {
	$.ajax({
		url: 'index.php?route=product/product/write&product_id={{ product_id }}',
		type: 'post',
		dataType: 'json',
		data: $("#form-review").serialize(),
		beforeSend: function() {
			$('#button-review').button('loading');
		},
		complete: function() {
			$('#button-review').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible').remove();

			if (json['error']) {
				$('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
			}

			if (json['success']) {
				$('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

				$('input[name=\'name\']').val('');
				$('textarea[name=\'text\']').val('');
				$('input[name=\'rating\']:checked').prop('checked', false);
			}
		}
	});
});

//--></script>



<script type="text/javascript"><!--
	$(document).ready(function() {
		
		// Initialize the sticky scrolling on an item 
		sidebar_sticky = '{{sidebar_sticky}}';
		
		if(sidebar_sticky=='left'){
			$(".left_column").stick_in_parent({
			    offset_top: 10,
			    bottoming   : true
			});
		}else if (sidebar_sticky=='right'){
			$(".right_column").stick_in_parent({
			    offset_top: 10,
			    bottoming   : true
			});
		}else if (sidebar_sticky=='all'){
			$(".content-aside").stick_in_parent({
			    offset_top: 10,
			    bottoming   : true
			});
		}
		

		$("#thumb-slider .image-additional").each(function() {
			$(this).find("[data-index='0']").addClass('active');
		});
		
		$('.product-options li.radio').click(function(){
			$(this).addClass(function() {
				if($(this).hasClass("active")) return "";
				return "active";
			});
			
			$(this).siblings("li").removeClass("active");
			$(this).parent().find('.selected-option').html('<span class="label label-success">'+ $(this).find('img').data('original-title') +'</span>');
		})
		
		$('.thumb-video').magnificPopup({
		  type: 'iframe',
		  iframe: {
			patterns: {
			   youtube: {
				  index: 'youtube.com/', // String that detects type of video (in this case YouTube). Simply via url.indexOf(index).
				  id: 'v=', // String that splits URL in a two parts, second part should be %id%
				  src: '//www.youtube.com/embed/%id%?autoplay=1' // URL that will be set as a source for iframe. 
					},
				}
			}
		});
	});
//--></script>


<script type="text/javascript">
var ajax_price = function() {
	$.ajax({
		type: 'POST',
		url: 'index.php?route=extension/soconfig/liveprice/index',
		data: $('.product-detail input[type=\'text\'], .product-detail input[type=\'hidden\'], .product-detail input[type=\'radio\']:checked, .product-detail input[type=\'checkbox\']:checked, .product-detail select, .product-detail textarea'),
		dataType: 'json',
			success: function(json) {
			if (json.success) {
				change_price('#price-special', json.new_price.special);
				change_price('#price-tax', json.new_price.tax);
				change_price('#price-old', json.new_price.price);
			}
		}
	});
}

var change_price = function(id, new_price) {$(id).html(new_price);}
$('.product-detail input[type=\'text\'], .product-detail input[type=\'hidden\'], .product-detail input[type=\'radio\'], .product-detail input[type=\'checkbox\'], .product-detail select, .product-detail textarea, .product-detail input[name=\'quantity\']').on('change', function() {
	ajax_price();
});
</script>
<script>
function openColor(color) {
  var i;
  var x = document.getElementsByClassName("product-color-change");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  document.getElementById(color).style.display = "block";  
}
</script>


<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "inline-block";
  evt.currentTarget.className += " active";
}
</script>
<script>
 $(document).ready(function(){
  $('.related-carousel').owlCarousel({
    loop:true,
   autoplay:true,
    autoplayTimeout:3000,
    autoplayHoverPause:true,
    nav:true,
	dots:false,
    responsive:{
        0:{
            items:1
        },
		320:{
            items:1
        },
		480:{
            items:1
        },
        600:{
            items:2
        },
		767:{
            items:3
        },
		991:{
            items:4
        },
        1200:{
            items:5
        }
    }
})
$( ".owl-prev").html('<i class="fa fa-lg fa-angle-left"></i>');
 $( ".owl-next").html('<i class="fa fa-lg fa-angle-right"></i>');
});	

</script>
<script>
 $(document).ready(function(){
  $('.video-carousel').owlCarousel({
    loop:true,
   autoplay:true,
    autoplayTimeout:3000,
    autoplayHoverPause:true,
    nav:true,
	dots:false,
    responsive:{
        0:{
            items:1
        },
		320:{
            items:1
        },
		480:{
            items:1
        },
        600:{
            items:2
        },
		767:{
            items:2
        },
		991:{
            items:3
        },
        1200:{
            items:4
        }
    }
})
$( ".owl-prev").html('<i class="fa fa-lg fa-arrow-left"></i>');
 $( ".owl-next").html('<i class="fa fa-lg fa-arrow-right"></i>');
});	

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAiQm2qLGFsER6Y96KdzQG633Pn6faIBw&callback=initMap"></script>
<script>
$( document ).ready(function() {
    {% if customer_pincode %}
       $( "#verify" ).trigger( "click" );
    {% endif %}
});
</script>
		<script>
			$(document).ready(function(){
			    {% if customer_pincode %}
			    $('#verify').click(handler);
			    {% endif %}
			    
				$('#verify').click(handler);
			});	
			function handler(product_id){ 
			  var pincodevalue = $("#checktext").val();
				if(pincodevalue != '' && pincodevalue.length=='6'){
				    var geocoder = new google.maps.Geocoder();
				    geocoder.geocode({"address":pincodevalue},function(results,status){
				        if(status == google.maps.GeocoderStatus.OK){
        					latitude = results[0].geometry.location.lat();
        					langitude = results[0].geometry.location.lng();
        					
        					//console.log(pincodevalue,latitude,langitude);
        					
        				    $.ajax({
            					type: "POST",
            					url: "index.php?route=product/product/checkpincode",
            					data: { pincode : pincodevalue,latitude:latitude,langitude:langitude,product_id:product_id },
								beforeSend:function(){
									$("#verify").hide();
									$("#pre_loader").show();
								},
								complete:function(){
									$("#verify").show();
									$("#pre_loader").hide();
								},
            					success: function(data){
            					   
                					$(".available").css("display","block");
                					$("#available-text").html(pincodevalue);
                					var html = '<div id="pin_avilability_ship" class="delivery_hrs">';
									if(data == 21){
									    html += '<div class="delivery_type">Available</div><span class="delivery_text"><span class="img_pin"><img src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/deliver-img1.png" alt="delivery icon">2 hours</span><span class="img_pin"><img src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/deliver-img2.png" alt="delivery icon">Regular</span><span class="img_pin"><img class="pickup_store" src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/deliver-img3.png" alt="delivery icon">Pickup@store</span></span>';
									}if(data == 2){
									    html += '<div class="delivery_type">Available</div><span class="delivery_text"><span class="img_pin"><img src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/deliver-img1.png" alt="delivery icon">2 hours</span><span class="img_pin"><img class="pickup_store" src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/deliver-img3.png" alt="delivery icon">Pickup@store</span></span>';
									}else if(data == 1){
									    html += '<div class="delivery_type">Available</div><span class="delivery_text"><span class="img_pin"><img src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/deliver-img2.png" alt="delivery icon">Regular</span></span>';
									}else if(data == 3){
									    html += '<div class="delivery_type">Available</div><span class="delivery_text" style="color:#ff6161;">Currently out of stock in this pincode.</span>';
									}else if(data == 0){
									    html += '<div class="delivery_type">Available</div><span class="delivery_text">Out Of Stock</span>';
									}
									html += '</div>'; 
                					
                					$("#pin_avilability_ship").replaceWith(html);
        					    }
        				    });
    					    
    				
				        }else{
				           $("#pin_avilability_ship").html("Delivery Not Available"); 
				        }
				    });
    				}else{
    					$("#pin_avilability_ship").html("<span class='invalid_pin'>Invalid pincode</span>");
					 }
				
					
					}
					$('#checktext').keyup(function() {
					  if ($(this).val().length == 0) {
						$('#pin_avilability_ship').hide();
					  }
					}).keyup();
				</script>
<script>
				$('ul.expandible').each(function(){
    var $ul = $(this),
        $lis = $ul.find('li:gt(4)'),
        isExpanded = $ul.hasClass('expanded');
    $lis[isExpanded ? 'hide' : 'show']();
    
    if($lis.length > 0){
        $ul
            .append($('<span class="showmore"><li class="expand">' + (isExpanded ? 'View all Specs' : 'Show Less') + '</li></span>')
            .click(function(event){
                var isExpanded = $ul.hasClass('expanded');
                event.preventDefault();
                $(this).html(isExpanded ? 'Show Less' : 'View all Specs');
                $ul.toggleClass('expanded');
                $lis.toggle();
            }));
    }
});
				</script>

{{ footer }} 
