/*===============================================
	[SASS DIRECTORY ]
	
    [1] CONTACT PAGE
    [2] PAEG ABOUT US
    [3] PAGE BLOG
    [4] PAGE 404 
==============================================*/

/*============ CONTACT PAGE ==============*/
#map-canvas{
    border: 5px solid #f3f3f3;
        height: 485px;
    width: 100%;
    margin: 0px 0 10px;
}
.info-contact{
  //padding-top: 30px;
    .name-store h3{
        font-size: 16px;
        color: $gray-darker;
        text-transform: uppercase;
    }
    .text{padding-#{$left}: 30px;}
    .comment{
        padding-bottom: 15px;
        border-bottom: 1px solid #e9e9e9;
        margin-bottom: 25px;
    }
    .socials{
      text-align: $left;
      margin-top: 18px;
      margin-bottom: 20px;
      li{
        position: relative;
        display: inline-block;
        a{
          width: 37px;
          height: 37px;
          line-height: 37px;
          text-align: center;
          border-radius: 0; 
          background: #b6b6b6; 
          border: 1px solid #b6b6b6;              
          display: inline-block;
          margin: 0 2px;
          color: #fff;
            font-size: 14px;   
           @include transition(all 0.2s ease-in-out 0s);    
           margin-bottom: 4px;
          &:hover{
            color: #fff;
            background-color: $background;
            border-color: $background;
          }
            i{

            }
        }
        
      }
    }
    
}
.contact-form{
    legend{
        border: none;
        padding: 0;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
    }
    .buttons{
      overflow: hidden;
      margin-bottom: 30px;
    }
   
}


/*============ PAEG ABOUT US ==============*/

.title-about-us{
  background: url("#{$imgPath}bg-title-about.png")repeat-x left 12px;
  margin-bottom:17px;
}
/*.layout-2 {
  .happy-about-us .owl2-controls,
  .happy-about-us .happy-ab .title-happy-about,
  .happy-about-us .owl2-controls .owl2-nav,
  .title-about-us h2 {
    background: #f5f5f5;
  }
}*/

.title-about-us h2 {
  background: #fff;
  display: inline-block;
  font-size: 22px;
  padding: side-values(0 25px 6px 0);
  font-weight: 300;
  color: #333;
}

.welcome-about-us {
  .image-about-us {
    float: $left;
    width: 270px;
    padding-top: 6px;
  }
   img:hover{
      opacity: 0.7;
    }
  .des-about-us {
    margin-#{$left}: 300px;
    line-height: 18px;
  }
}

.our-member {
  clear: both;
  padding-top: 30px;
   img:hover{
      opacity: 0.7;
    }
  .title-about-us {
  background: url("#{$imgPath}bg-title-about.png")repeat-x $left 12px;
    margin-bottom: 17px;
    text-align: center;

    h2 {
      padding: 0 15px 6px 15px;
      font-size: 22px;
      font-weight: 300;
      color: #333;
    }
  }

  .short-des {
    text-align: center;
    color: #909090;
    margin-bottom: 35px;
  }

  .overflow-owl-slider {
    padding-top: 50px;
  }

  .respl-item {
    border: 1px solid #ddd;
    margin-bottom: 30px;
    .item-inner{
      padding: 20px;
      display: inline-block;
    }
    .w-image-box {
      float: $left;
      overflow: hidden;
    }

    .info-member {
      text-align: $left;
      margin-#{$left}: 185px;
      ul{@extend ul.blank}
      li{
        float: $left;
        .fa{
          width: 29px;
          height: 29px;
          border: 1px solid #999;
          line-height: 27px;
          text-align: center;
          color: #999;
          border-radius: 50%;
          margin-#{$right}: 5px;
          display: inline-block;
          &:hover{
            color: $background1;
            border-color: $background1;
          }
        }
        .fa-f:before{
           content: "\f09a";
           font-family: FontAwesome;
          }
        .fa-t:before{
           content: "\f099";
           font-family: FontAwesome;
          }
        .fa-s:before{
           content: "\f17e";
           font-family: FontAwesome;
          }
        .fa-g:before{
           content: "\f0d5";
           font-family: FontAwesome;
        }
      }
      .cl-name > a {
        font-size: 15px;
        text-transform: uppercase;
        font-weight: bold;
        color: #444!important;
        &:hover{
          color:$background1!important;
        }
      }

      .cl-job {
        padding: 5px 0px;
        text-transform: uppercase;
      }

      .cl-des {
        color: #909090;
        margin-bottom: 15px;
      }
    }
  }
}

.why-list { @extend ul.blank;
  li {
    position: relative;
    padding-#{$left}: 29px;

    &:before {
      content: "";
      width: 14px;
      height: 12px;
      display: inline-block;
      position: absolute;
      #{$left}: 0px;
      top: 10px;
      background-repeat: no-repeat;
      background-position: top $left;
      background-image: url("#{$imgPath}icon-whylist.png");
    }

    a {
      display: block;
      padding: 5px 0 7px;
      background-image: url("#{$imgPath}border-bottom-bs.png") repeat-x left bottom;
    }

    &:last-child > a {
      background: none;
    }
  }
}

.happy-about-us {
    direction: ltr;
  clear: both;
  padding-top: 10px;
  .happy-ab {
    border: 1px solid #e9e9e9;
    padding: 33px 8px 20px;

    .title-happy-about {
      background: #fff;
      display: inline-block;
      #{$left}: 20px;
      padding: 5px 10px;
      position: absolute;
      top: -5px;

      h2 {
        font-size: 20px;
        position: relative;
        top: -2px;
        color: #444;
      }
    }

    .ct-why {
      padding: 0 10px 0 25px;
      position: relative;
        @include if-rtl {direction: rtl;}
      .client-say {
        font-size: 107.69%;
        color: #909090;
        margin-bottom: 10px;
      }

      .client-info-about {
        color: #000;

        .name {
          font-size: 18px;
          color: $linkColor;
        }
      }
    }
  }
  .owl2-controls {
    background: #fff;
    padding: 0 5px;
    position: absolute;
    #{$right}: 2px;
    top: -47px;
  }

  .owl2-controls .owl2-prev,
  .owl2-controls .owl2-next {
    border: none;
    display: inline-block;
    width: 26px !important;
    height: 26px !important;
    background-position: left top;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    background-color: transparent !important;
    top: 0px;
    margin: 0 3px;
    position: relative;
  }

  .owl2-controls .owl2-prev {
    background-image: url("#{$imgPath}btn-prev-hp.png")!important;
    margin-right: 3px;
    right: 0px !important;
    left: inherit !important;
  }

  .owl2-controls .owl2-nav {
    width: 68px;
    display: inline-block;
    height: 26px;
    background: #fff;
  }

  .owl2-controls .owl2-next {
   background-image: url("#{$imgPath}btn-next-hp.png")!important;
    right: 0px !important;
  }

  .item > div:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 12px;
    left: 0px;
    top: 6px;
  }

  .owl2-dots {
    display: none !important;
  }
}


/*============ PAGE 404  ==============*/
.button-404 > a{margin: 0 10px;}
.content_404{ margin: 40px 0 30px; overflow:hidden; }
.content_404 .block-top h2 {
    color: #222;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.content_404 .block-top .warning-code {
    font-size: 14px;
    color: #7d7d7d;
    margin-bottom: 40px;
}

/*============ PAGE COMMING SOON  ==============*/
.page-comingsoon{
    background: url("#{$imgPath}/bg-comingsoon.jpg") no-repeat center center;
    text-align: center;
    min-height: 600px
}

/*INFOMATION*/

.information-information .module-content{
    background: #fff;border: 1px solid #ddd; padding: 0 20px;
    .list-box{
        li{
            position: relative;
            padding-#{$left}: 15px; 
           &:before { position: absolute;display: block;top: 16px; background: #999; content: "";width: 6px; height: 6px; border-radius: 100%; #{$left}: 0;} 
        }
    }
}

.title-under{
    position: relative;
    margin-bottom: 50px;
    &:after {
        content: "";
        position: absolute;
        display: block;
        height: 4px;
        width: 68px;
        background: $background;
        bottom: -10px;
    }
}

.title-under.text-center:after {
    left: 50%;
    margin-left: -34px;
}

.media-box-link--arrow .fa-arrow-right{    @include if-rtl {transform: rotate(180deg);}}
.media-box-link--arrow .icon{font-size: 30px;}
.media-box-link--figure .icon{font-size: 70px;}
.media-box-link {
  display: table-row;
  width: 100%;
  height: 100%;
  background-color: $background;
  cursor: pointer;
  color: #fff;
 @include transition(all 0.3s ease-in-out);
}
.btn-default{
    background: $background;
    border-radius: 0;
    &:hover{
        background: darken($background,10%!important);
    }
}
.media-box-link h4 {
  color: #fff;
  @include transition(all 0.3s ease-in-out);
}
.media-box-link .icon {
  @include transition(all 0.3s ease-in-out);
}
.media-box-link--figure,
.media-box-link--content,
.media-box-link--arrow {
  display: table-cell;
  padding: 6% 0;
  vertical-align: middle;
}
.media-box-link--figure {
  width: 23%;
}
.media-box-link--content {
  padding-right: 5%;
  width: 67%;
}
.media-box-link--arrow {
  width: 10%;
  vertical-align: middle;
}
.media-box-link:hover {
  background-color: $gray;
  
}

/* PAGE - FAQ & Gallery
=======================================================*/
.item-article{
    .content--gallery{
        .row{margin: 0 -8px;}
        .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3,
        .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, 
        .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,
        .col-sm-9{
            padding: 0 8px;
        }
        .popup-gallery{margin: 0 0px 15px 0; display: inline-block;
            &.popup--video{ position: relative;z-index: 2;
                background: black;
                img{opacity: 0.6}
                &:before{
                    content:"\f01d";
                    display: block;
                    font-family: $FontAwesome;
                    position: absolute; z-index: 4;
                    left: 50%;
                    top: 50%;
                    font-size: 52px;
                    color: rgba(255,255,255,0.9);
                    margin:-9px 0 0 -20px;
                }
            }
            img{transition: 0.3 opacity ease-in-out; width: 100%;}
            &:hover img{opacity: 0.7}
        }
    }
    ul.yt-accordion { list-style: none;margin: 0;
        .yt-accordion-group{margin-bottom: 3px;
            .accordion-heading{   
                color: #333;font-size: 15px;
                padding: 9px 15px;
                margin: 0;
                line-height: 22px;
                cursor: pointer;
                background: #f1f1f1;
               
                text-transform: capitalize;
                position: relative;
                .fa {margin-#{$right}: 10px;}
                &:hover{background:$background; color: white;;};
                &.active{background: $background; color: white;
                    &:before{
                        border: 8px solid $background;
                        border-color: $background transparent transparent transparent;
                        content: "";
                        position: absolute;
                        top: 100%;
                        #{$left}: 30px;
                        
                    }
                }
            }
        }
        .yt-accordion-inner{
            padding: 15px 15px 10px 15px;background: #f1f1f1;
        }
    }


}
