<footer class="footer-container typefooter-{{typefooter ? typefooter : '1'}}">
	{#======	FOOTER TOP	=======#}  
	{% if footer_block5 is not empty %}
	<div class="footer-main desc-collapse showdown" id="collapse-footer">
		{{footer_block5}}
			
	</div>
	<div class="button-toggle hidden-lg hidden-md">
         <a class="showmore" data-toggle="collapse" href="#" aria-expanded="false" aria-controls="collapse-footer">
            <span class="toggle-more">{{ objlang.get('show_more') }} <i class="fa fa-angle-down"></i></span> 
            <span class="toggle-less">{{ objlang.get('show_less') }} <i class="fa fa-angle-up"></i></span>           
		</a>        
	</div>
	{% endif %}
	
	
	{#======	FOOTER BOTTOM	=======#} 
	<div class="footer-bottom ">
		<div class="container">		
		<div class="row">
			<div class="col-lg-6 col-md-7 col-sm-12 col-xs-12 copyright-w">	
				<div class="copyright">
					{% if soconfig.get_settings('copyright') is empty %}
						{{ powered }}
					{% else %}
						{{ soconfig.decode_entities(soconfig.get_settings('copyright'))|replace({'{year}': "now"|date("Y")}) }}
					{% endif %}
				</div>	
			</div>
			{% if soconfig.get_settings('imgpayment_status')%} 
			<div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 payment-w">
				<img src="image/{{  soconfig.get_settings('imgpayment') }}"  alt="imgpayment">
			</div>
			{% endif %}
		</div>
		</div>

		
	</div>
</footer>
<script src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/js/owl.carousel.min.js"></script> 
<script>
 $(document).ready(function(){
  $('.home-partner-logo').owlCarousel({
    loop:true,
   autoplay:true,
    autoplayTimeout:3000,
    autoplayHoverPause:true,
    nav:true,
	dots:false,
    responsive:{
        0:{
            items:1
        },
		320:{
            items:1
        },
		480:{
            items:1
        },
        600:{
            items:2
        },
		767:{
            items:2
        },
		991:{
            items:3
        },
        1200:{
            items:4
        }
    }
})
$( ".owl-prev").html('<i class="fa fa-lg fa-arrow-left"></i>');
 $( ".owl-next").html('<i class="fa fa-lg fa-arrow-right"></i>');
});	

</script>

