 @include breakpoint(md){
    .filters-panel .list-view button.btn{
        display: none;
    }
    .common-home {
        .container{
            overflow: visible;
        }
    }
    #content .so-page-builder .container{
        padding: 0 15px;
    }
    .container-megamenu ul.megamenu li.menu-layouts .sub-menu .content .item-layouts .col-md-4{
            min-height: 100px !important;
    }
    //SHOW MORE Footer
    footer #collapse-footer{max-height: 100%;
        &:before{display:none;} 
    }
    /* ***********************************************************************************************
        BLOCK HEADER  
    *************************************************************************************************/
    
     /*[] HEADER 1 []*/ 
     #content, 
    header{
        ul.megamenu > li{
            &.menu-layouts,
            &.menu-features{
                > .sub-menu{
                    #{$right}: auto;
                }
            }
             .container-megamenu.horizontal ul.megamenu > li{
                .sub-menu{
                    width: 700px !important;
                    .content{
                        width: 700px !important;
                    }
                }
      
            }
          
             &.style-page{
                > .sub-menu{
                     #{$right}: 0 !important;
                    width: 400px !important;
                    .content{
                         #{$right}: 0 !important;
                        width: 400px !important;
                    }
                }
            }
        }        
        
    }

     /*[] HEADER 1 []*/ 
    header.typeheader-1{
        .container-megamenu.horizontal ul.megamenu > li{
           &.menu-features,
            &.menu-layouts{
                .sub-menu{
                    #{$left}: 0 !important;
                }
            }
        }
    }

    /*[] HEADER 2 []*/
    .common-home{
        header.typeheader-2{
            .container-megamenu.vertical{
                .vertical-wrapper{
                    @include effect-block-hide();
                }
                &:hover{
                    .vertical-wrapper{
                        @include effect-block-show();
                    }
                }
            }
        } 
    }

    header.typeheader-2{
        .container-megamenu.horizontal ul.megamenu > li{
            margin-#{$right}: 20px;
        }
    } 
   
    /*[] HEADER 3 []*/
    header.typeheader-3{
        &.navbar-compact{
            .header-center .navbar-logo{
                display: none;
            }
        }
        .header-center{
            .navbar-logo{
                text-align: center;
                margin-bottom: 30px;
            }
        }

        .container-megamenu.horizontal ul.megamenu > li{

            &.full-width,
            &.item-style1,
            &.item-style2{
                .sub-menu{
                    #{$left}: 0px !important;
                    .content{
                        
                    }
                }
                
            }
        }
    
    } 
 

    /*[] HEADER 4 []*/
     
    header.typeheader-4{
        .header-top{
            padding: 38px 20px;
        }
        .header-center .navbar-logo .logo{
            padding-#{$left}: 10px;
        }
        .container-megamenu.horizontal ul.megamenu > li{
            margin: 0 14px;
        }
    }

    /*[] HEADER 5 []*/
    header.typeheader-5{
        .container-megamenu.horizontal ul.megamenu > li{
            margin: 0 15px;
            &.menu-features,
            &.menu-layouts{
                .sub-menu{
                    #{$left}: 0 !important;
                }
            }   

            &.item-style1,
            &.item-style2{
                .sub-menu{
                    #{$right}: 90px !important;
                    .content{
                        
                    }
                }
                
            }
        }
        .container-megamenu.horizontal ul.megamenu{
            justify-content: $left;
        }
    }


    /*[] HEADER 6 []*/
      
        .typeheader-6.navbar-compact .header6-inner, .typeheader-6 .header6-inner{
            width: 270px;
        }
        .typefooter-6, 
        .layout-6.common-home #content{
            margin-#{$left}: 0px;
        }
        .typeheader-6.navbar-compact #sosearchpro .search input, .typeheader-6 #sosearchpro .search input{
            width: 210px;
        }
        .typeheader-6.navbar-compact .logo, .typeheader-6 .logo{
            margin: 20px 0 7px;
        }
        .typeheader-6.navbar-compact .container-megamenu.horizontal, .typeheader-6 .container-megamenu.horizontal{
            margin: 25px 0 15px;
        }
        .typeheader-6.navbar-compact .socials-header li a, .typeheader-6 .socials-header li a{
            margin-#{$right}: 3px;
        }   
        .typeheader-6.navbar-compact ul.lang-curr > li, .typeheader-6 ul.lang-curr > li{
            margin-#{$right}: 3px;
        }
        .typeheader-6.navbar-compact ul.top-link li, .typeheader-6 ul.top-link li{
            line-height: 40px;
        }

    .typeheader-6.navbar-compact .container-megamenu.horizontal ul.megamenu > li, 
    .typeheader-6 .container-megamenu.horizontal ul.megamenu > li {
        > .sub-menu{
          //  #{$left}: 100%;
            top: 0;
          
        }
      

    }
    .typeheader-6.navbar-compact .socials-header, .typeheader-6 .socials-header{
        display: none;
    }

    /*[] HEADER 7 []*/
    header.typeheader-7{
        margin-#{$right}: 0;
        .header-bottom{
            margin-#{$right}: 110px;
            .navbar-logo{
                text-align: center;
                .logo{
                    padding: 20px 0 15px 30px;
                }
            }
        }
        .container-megamenu.horizontal ul.megamenu > li > a{
            padding: 38px 22px;
        }

        .search-header-w{
            padding: 0;
            position: relative;       
            z-index: 99;
            margin-top: 22px;
            .icon-search{
                display: block;
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 50px;
                i{
                    font-size: 18px;
                    color: #222;
                }
                &.active{
                    i::before{
                        content:"\f00d";
                    }
                }
                &:hover{
                    cursor: pointer;
                }

            }
            #sosearchpro .search{
                display: none;
                position: absolute;
                top: 43px;
                #{$right}: 0;
                margin-#{$right}: 0;
                input{
                    width: 270px;
                }
            }

        }
        
    }

    /*[] HEADER 8 []*/
    header.typeheader-8{
        .container-megamenu.horizontal ul.megamenu > li{     
            &.menu-layouts{
                .sub-menu{
                    #{$right}: auto !important;
                    #{$left}: 0 !important;
                    .content{
                        
                    }
                }
                
            }
        }
    }

    /************************************************************************************************
        BLOCK HOME PAGE  
    *************************************************************************************************/

    /*[] LAYOUT 1 []*/
    .layout-1{
        .custom-margin-slider{
            min-height: 445px;
        }
    }
    

    /*[] LAYOUT 2 []*/

    .layout-2{
        #content .module h3.modtitle span{
            font-size: 20px;
        }
        .banner-home2 > div{
            width: 49%;
            &.banner1{
                margin-#{$right}: 2%;
            }
        }
    } 

    /*[] LAYOUT 3 []*/

    .layout-3{
    }

    /*[] LAYOUT 4 []*/
    .layout-4{
        .hot-categories ul li{
            margin: side-values(0 15px 40px 0);
        }

    }

    /*[] LAYOUT 5 []*/
    .layout-5{
        .banner-subcat > ul > li .info-banner{
            h2 a{
                font-size: 28px;
            }
            ul li{
                padding: 5px 0;
                a{
                    font-size: 15px;
                }
            }
        } 
        .hot-categories-w{
            .container{
                padding: 0;
            }
            .hot-categories ul li{
                margin-#{$right}: 0px;
                width: 20%;
                padding: 0 10px;
            }
        }
        .testimonial-slider.layout5 .carousel-inner .item .client-comment{
            width: 70%;
        }
    }

    /*[] LAYOUT 6 []*/
    .common-home.layout-6 {
        #content{
            width: auto;
        }
    }
    
    .layout-6{
        .breadcrumbs .container{
            width: auto;
        }
        .content-main,
        .breadcrumbs{
            margin-#{$left}: 250px;
            width: auto;
        }
        .testimonials-id6{
            background-position: center center;
        }
        .content-aside{
            width: 100%;
        }
        #content{
            width: 100%;
        }

        .banner-left{
            display: none;
        }
        .content-aside .product-simple .so-extraslider .extraslider-inner .item .item-inner{
            width: 50%;
            float: $left;
        }
    }

    /*[] LAYOUT 7 []*/

    .common-home.layout-7 #content .module.id7-col-extra .form-group{
        font-size: 11px;
        margin-bottom: 50px;
    }
    .layout-7{
        .id7-col-extra{
            margin-top: 10px;
            .so-extraslider .owl2-controls .owl2-nav{
                top: -40px;
            }
        } 
    }

    /*[] LAYOUT 8 []*/
    .layout-8{
        .so-deal .extraslider-inner .item .caption{
            padding-top: 0;
        }
    }
    
    /* ***********************************************************************************************
        BLOCK FOOTER  
    ************************************************************************************************ */

    /*[] FOOTER 1 []*/
    footer.typefooter-1{
        .modtitle{
            font-size: 16px;
        }
        .newsletter-footer1 .newsletter .block_content form.signup .form-group #txtemail{
            width: 300px;
        }
        .app-block{
            .title-footer{
                display: none;
            }
            ul{padding-#{$left}: 0;}
        } 
    } 
    
    /*[] FOOTER 2 []*/
    footer.typefooter-2{
        .modtitle{
            font-size: 16px;
        }
        .newsletter-footer1 .newsletter .block_content form.signup .form-group #txtemail{
            width: 300px;
        }
        .app-block{
            .title-footer{
                display: none;
            }
            ul{padding-#{$left}: 0;}
        } 
        
    }
    /*[] FOOTER 3 []*/
    footer.typefooter-3{
        .newsletter .block_content form.signup .form-group #txtemail{
            width: 245px;
        }
        .socials-wrap ul li a{
            font-size: 17px;
        }
    } 
    /*[] FOOTER 4 []*/
    .typefooter-4 .block-newsletter .newsletter .block_content #signup .input-box{
        width: 70%;
    }
    footer.typefooter-4{
        .block-newsletter .newsletter{
            .title-block{
                width: 40%;
                .page-heading{
                    font-size: 30px;
                }
            }
            .block_content{
                width: 60%;
            }
        } 
    }
    /*[] FOOTER 5 []*/
    footer.typefooter-5{
        .socials-footer li{
            margin-#{$right}: 30px;
        }
    } 
    /*[] FOOTER 6 []*/
    footer.typefooter-6{
        .box-footer{
            padding-top: 35px;
            padding-bottom: 30px;
        }
        .socials-wrap ul li{
            margin-bottom: 10px;
        }
        .newsletter-footer1 .newsletter{
            .title-block{
                width: 100%;
            }
            .block_content{
                width: 100%;
                text-align: $left;
                margin-top: 20px;
                form.signup{
                  .form-group .input-box{
                        padding-#{$left}: 20px;
                    }
                }
            }
        } 
        .footer-bottom .copyright{
            padding-top: 20px;
        }
    }

    /*[] FOOTER 7 []*/
    footer.typefooter-7{
        .footer-top .footer-contact-w{
            padding-bottom: 40px;
        }
        .newsletter-footer1 .newsletter{
            .title-block{
                width: 100%;
            }
            .block_content{
                width: 100%;
                text-align: $left;
                margin-top: 20px;
                form.signup{
                  .form-group .input-box{
                        padding-#{$left}: 20px;
                    }
                }
            }
        }
        .footer-bottom .copyright{
            margin-top: 0;
        }
    }

    /*[] FOOTER 8 []*/
    footer.typefooter-8{
        .socials-wrap ul li a{
            padding: 15px 20px;
        }
    }
    /************************************************************************************************
        MEGAMENU 
    *************************************************************************************************/
   /*.horizontal ul.megamenu > li > .sub-menu{
        #{$right}: 0;
        #{$left}: auto;
   }*/
   
    /************************************************************************************************
        PAGE LISTING  
    *************************************************************************************************/
    #wrapper{ overflow-x: hidden; }
    .thumb-vertical-outer { padding: 20px 0;}
    .related-products .image, div.so-extraslider.grid .image{ width: 40%;}
    div.products-list.grid .product-layout .product-item-container{
        .left-block .quickview,
        .button-group button{opacity: 1;}
    }
    .producttab .tabsslider .nav-tabs li a{ padding: 10px; }

    .module.so_filter_wrap .modcontent .so-filter-content-opts-container .put-min_max{
        width: 100%;
        margin-bottom: 5px;
    }

    .product-listing .products-list .product-grid .product-item-container .right-block{
        //min-height: 140px;
    }
    /************************************************************************************************
        PAGE DETAIL  
    *************************************************************************************************/

    .content-aside .module h3.modtitle span{
        font-size: 17px;
    }
    .product-view .content-product-right .share .socials-wrap ul li{
        margin-#{$left}: 25px;
    }
    .upsell-sidebar.product-simple .so-extraslider .extraslider-inner .item .item-inner{
        .item-image{
            width: 80px;
        }
        .item-info{
            margin-left: 95px;
            .price .price-old{
                padding: 0;
                font-size: 12px;
            }
        }
    } 
    .upsell-sidebar h3.modtitle{
        padding-#{$left}: 5px;
    }
    .upsell-sidebar .so-extraslider .owl2-controls .owl2-nav{
        #{$right}: 5px;
    }

    
    /*==============*/
    .so-onepagecheckout{
        .coupon-voucher .panel-body{
            width: 100%;
        }
        .coupon-voucher .input-group{
            margin-bottom: 10px;
            .input-group-btn{
                margin-#{$left}: 10px;
                width: auto;
            }
        }
        .table-responsive .btn-danger{
            margin-top: 0;
        }

        .checkout-cart td.quantity .input-group input{
            float: none;
            margin: 0 auto 5px;
        }
    } 
    .so-onepagecheckout .checkout-cart .input-group-btn{
        min-width: 50px;
        margin-top: 5px;
    }

    .blog-listitem.list .blog-item{
        width: 100%;
    }

    .hidden-scorll{
        overflow: auto;
    }

    .blog-listitem .blog-item .blog-item-inner .blog-content h4{
        min-height: 48px;
    }



/*MEGA MENU*/
    .layout-6{
        /* MegaMenu Submenu */

        .responsive ul.megamenu .sub-menu .content .border {
            display: none;
        }

        .responsive ul.megamenu .sub-menu .content .row {
            margin: 0px -20px;
        }

        .responsive ul.megamenu .sub-menu .content .row > div {
            margin-top: 20px;
            border-top: 1px solid #e6e6e6;
            padding-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
        }

        .responsive ul.megamenu .sub-menu .content .row:first-child > div:first-child {
            margin-top: 0px;
            border-top: none;
            padding-top: 0px;
        }
        .responsive #megaMenuToggle {
            display: block;
        }
        .responsive ul.megamenu > li {
            display: block;
            float: none !important;
            width: auto;
            background: none;
            border-top: 1px solid #e6e6e6;
            position: relative;
            margin: 0px -1px;
        }

        .responsive ul.megamenu > li.home, ul.megamenu > li.search ,.fa-angle-right,.caret {
            display: none;
        }

        .responsive ul.megamenu > li > a {
            color: #556270;
            text-shadow: none;
            background: none !important;
            margin: 0px 1px;
            height: auto;
        }

        .responsive ul.megamenu > li.active > a {
            background: #f6f6f6 !important;
        }

        .responsive ul.megamenu > li.click:before,
        .responsive ul.megamenu > li.hover:before {
            content: "\f067";
            font-family: FontAwesome;
            color: #51cfc6;
            font-weight: 400;
            font-size: 16px;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 10;
            padding: 13px 17px 10px 50px;
        }

        .responsive ul.megamenu > li.active .close-menu {
            display: block;
            position: absolute;
            z-index: 10;
            top: 0;
            right: 1px;
            width: 85px;
            height: 100%;
            padding: 12px 0px 0px 40px;
            background: #f6f6f6;
            text-align: center;
            cursor: pointer;

        }

        .responsive ul.megamenu > li.active .close-menu:before {
            content: "\f068";
            font-family: FontAwesome;
            color: #51cfc6;
            font-weight: 400;
            font-size: 18px;
        }

        /* Submenu */

        .responsive .horizontal ul.megamenu > li > .sub-menu {
            width: 100% !important;
        }


        /* Hover Menu */

        .responsive .horizontal ul.megamenu li .sub-menu .content .hover-menu .menu ul ul {
            display: block !important;
            margin: 5px 10px;
            width: auto;
            padding: 0px;
            position: static;
            left: 0;
            background: none;
            border: none;
            border-radius:         0px;
            -moz-border-radius:    0px;
            -webkit-border-radius: 0px;
            box-shadow:            none;
            -moz-box-shadow:       none;
            -webkit-box-shadow:    none;
        }

        .responsive .horizontal ul.megamenu li .sub-menu .content .hover-menu .menu ul ul:before {
            display: none;
        }

        .responsive .horizontal ul.megamenu li .sub-menu .content .hover-menu .menu ul ul:after {
            display: none;
        }

        .responsive .horizontal ul.megamenu li .sub-menu .content .hover-menu a.main-menu {
            font-size: 16px;
        }

        .responsive .horizontal ul.megamenu li .sub-menu .content .hover-menu a.main-menu:before {
            display: none;
        }
        .responsive .horizontal .visible {
            padding: 5px 0px 5px 0px !important;
        }

        .responsive .horizontal .visible > div {
            margin: 0px !important;
            border: none !important;
            padding: 0px 0px 0px 10px !important;
        }
        .megamenu .label {
            display:none;
        }
        ul.megamenu > li > .sub-menu {
            position: relative;
        }
        .megamenu-wrapper {
            position: fixed;
            top: 0px;
            left: 0;
            background-color: #fff;
            bottom: 0px;
            width: 280px;
            padding: 10px;
            z-index: 999999;
            overflow-x: hidden;
            overflow-y: auto;
            visibility: hidden;
            -webkit-transform: translate3d(-280px, 0, 0);
            transform: translate3d(-280px, 0, 0);
            -webkit-transition: all 0.5s ease-in-out 0s;
            transition: all 0.5s ease-in-out 0s;
            max-height: 700px;
             border: 1px solid #e6e6e6;
        }
              
        
          .so-megamenu-active {
            visibility: visible;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
          }
          
          
          .so-megamenu-active #remove-megamenu {
            display: block;
          }
          
          .subcategory li{
            display: inline-block;
            list-style: outside none none;
            position: relative;
            width: 100%;
          }
          .subcategory li a{
            float:left;
            width:100%;
            text-align:left;
          }
        .typeheader-6{
            .container-megamenu.horizontal ul.megamenu > li.home > a:before{
                display: none;
            }
            .megamenu-style-dev.responsive .navbar-default .horizontal .megamenu-wrapper ul.megamenu li .sub-menu .content{
                position: relative;
                overflow-y: auto;
                max-height: 400px;
            }
            .megamenu-style-dev.responsive .megamenu-wrapper{
                z-index: 99;
            }
            .megamenu-style-dev .navbar-default .horizontal .navbar-toggle{
                margin-#{$left}: 20px;
            }
            #btn-header-sidebar{

                display: block;
                width: 35px;
                height: 35px;
                line-height: 37px;
                padding: 0;
                border-radius: 0;
                text-align: center;
                background-color: #000;
                position: fixed;
                top: 100px;
                #{$left}: 0px;
                z-index: 999;
                margin-#{$left}: 0;
                @include transition(all 0.4s ease-in-out 0s);
                i{
                    font-size: 17px;
                    color: #fff;
                }
            }
            .header6-inner{
                padding: 0;
                height: 100% !important;
                #{$left}: -270px;
                @include transition(all 0.4s ease-in-out 0s);
                    
            }
            &.header-active{            
                #btn-header-sidebar{
                    #{$left}: 270px;
                    i{
                        &:before{
                            content: "\f00d";
                        }
                    }
                }
                .header6-inner{
                    #{$left}: 0;
                    overflow-x: visible;
                    position: fixed;
                    overflow-x: scroll;
                    //overflow-y: auto;
                }
            }

            .container-megamenu.horizontal ul.megamenu > li{
                display: grid;
                &.home{
                    border-top: none;
                }
            }

            // STYLE MEGA MENU SHOW 
            .megamenu-style-dev .navbar-default .horizontal{
                .navbar-header{
                    display: none;
                }
                #remove-megamenu{
                    display: none;
                }
                .megamenu-wrapper{
                    visibility: visible !important;
                    background-color: #171717 !important;
                    transform: translate3d(0px, 0px, 0px);
                    position: static;
                    width: 270px;
                    ul.megamenu > li > a{
                        color: #ccc !important;
                        font-size: 12px;
                    }
                }
            }
            .header-socials{
                margin-bottom: 20px;
            }
            .navbar-toggle{
                display: block;
            }
            .megamenu-style-dev{
                .container-megamenu.horizontal ul.megamenu > li > a strong img,
                .container-megamenu.vertical:after{ display: none; }
                .navbar-default .vertical #menuHeading{ display: none!important; }
                &.responsive {
                    ul.megamenu > li.active .close-menu{
                        #{$right}: 0;
                        #{$left}: auto;
                    }
                    #remove-megamenu{ display: block; color: #fff; cursor: pointer; font-size: 15px; }
                    .so-megamenu-active #remove-megamenu{ color: #fff; }
                    .megamenu-wrapper{ border: none; border-radius: 0; }
                    div[class^=col-]{  width: 100%; }
                    ul.megamenu > li{
                        display: block;
                        border-top: 1px solid rgba(255, 255, 255, 0.1);
                        padding: 1px 0;
                        overflow: hidden;
                        a{ line-height: 25px; }
                    }
                    ul.megamenu > li.click,
                    ul.megamenu > li.hover{
                        &:before{
                            padding: 0 !important;
                            font-size: 14px;
                            background: #666;
                            color: #fff;
                            border: 1px solid #6a6d71;
                            width: 30px;
                            line-height: 30px;
                            height: 32px;
                            display: inline-block;
                            text-align: center;
                            margin-top: -1px;
                            #{$right}: 0;
                            #{$left}: auto;

                        }
                        &:hover{
                            &:before{
                                cursor: pointer;
                            }
                        }
                    }
             
                    ul.megamenu > li.active {
                        padding: 0;
                        .sub-menu{ display: block!important; }
                        > a{ background: #222 !important;color: #fff;}
                        .close-menu{
                           padding: 0;width: 30px;line-height: 30px;background: #33363a;height: auto;
                            &:before{
                                color: #fff;
                                font-size: 12px;
                                line-height: 18px;;
                            }
                        }
                    }

                   .navbar-default .horizontal .megamenu-wrapper ul.megamenu li .sub-menu .content{box-shadow: none;border: 1px solid #eee; padding: 20px;}
                }

                .navbar-default .horizontal{
                    .navbar-header{
                        float: $right;
                    }
                    .navbar-toggle{
                        margin: 0px;
                        height: 40px;
                        //width: 42px;
                        color: #fff;
                        border-radius: 4px;                           
                        background-color: transparent;
                        border: none;
                        float: $right;
                        cursor: pointer;
                        padding: 0px;
                        .icon-bar{
                            background: #fff;
                            width: 20px;
                            height: 2px;
                            margin: 4px 0;
                            border-radius: 0;
                        }
                    }
                    .megamenu-wrapper{
                        max-height: 100% !important; 
                        padding: 20px!important;
                         ul.megamenu > li{
                                &.active > a{ padding: 0 10px !important; margin-#{$right}: 30px !important; }
                                > a{
                                color: #fff!important;
                                padding:  0!important;
                                margin-#{$right}: 30px !important;
                                font-size: 14px;
                                line-height: 29px !important;
                                &:hover{ color: $linkColor; }
                            }
                        }
                        ul.megamenu li .sub-menu .content .title-submenu{padding: 0;margin: 0;border: none;}
                    }
                    .features-menu{
                        .column{
                            &.layout-color a{display: inline-block;}
                            a{margin: 0 0 30px;display: block}
                        }
                    }
                }

            
            }

        }

    }
}

