@include breakpoint(xxxs){

    .common-home {
        .container{
            overflow: visible;
        }
    }
    .category-featured .ltabs-wrap .wap-listing-tabs .product-item-container{
            display: block;
            .left-block,.right-block{
                width: 100%;
            }
    }
	/*[] HEADER DEFFAULT []*/
    header{
        /*.collapsed-block .tabBlock .top-link > li{
            width: 33% !important;
            &.wishlist{
                display: none;
            }
        }*/
        .header-top-right ul.top-link > li.wishlist{
            display: none;
        }
        .btn-shopping-cart .dropdown-menu{
            min-width: 300px;
        }
            
        
    } 
    body{
        header.typeheader-2 ul.top-link > li, 
        header.typeheader-1 ul.top-link > li{
            margin-#{$left}: 3px;
            padding-#{$left}: 3px;
        }
    }
    /*[] HEADER 5 []*/
    header.typeheader-5{
        #sosearchpro .search{
            #{$right}: -55px;
            input{
                width: 270px;
            }
        }

    }

    header.typeheader-6 .btn-shopping-cart .dropdown-menu{
        min-width: 280px;
    }

    /* **********************************************************************************************
        BLOCK HOME PAGE
    *************************************************************************************************/
    

    /*[] LAYOUT 1 []*/
    .layout-1{
        .product-simple .so-extraslider .extraslider-inner .item .item-inner{
            width: 100% !important;
            float: $left;
        }
        #content .module h3.modtitle span{
            font-size: 25px;
        }
    }
    /*[] LAYOUT 2 []*/
    .layout-2{
        .banner-policy2 .item-block{
            width: 100%;
        } 
        .block-newsletter .newsletter .title-block .pre-text{
            font-size: 15px !important;
        }
    }

    /*[] LAYOUT 3 []*/
    .layout-3{
        .banner-middle .item,
        .banner-v3 .item{
            width: 100% !important;
            margin-bottom: 10px;
        }
        .so-listing-tabs .ltabs-wrap .ltabs-tabs-container{
            position: static;
        }
    }
    /*[] LAYOUT 4 []*/
    .common-home div.so-latest-blog.module .blog-external .media{
        .media-body{
            width: 100%;
            padding-#{$left}: 0;
        }
        .media-left{
            width: 100%;
            margin-bottom: 20px;
            a{
                img{
                    width: 100%;
                }
            }
        }
    } 
   
    /*[] LAYOUT 5 []*/
     .layout-4,
    .layout-5{
        .hot-categories ul{
            text-align: center;
             li{
                float: none;
                display: inline-block;
                padding: 0 10px;
                margin-#{$right}: 0;  
                width: 49%; 
                h2{
                    font-size: 14px;
                }
            }
        }
        .hot-categories-w{
            .container{
                padding: 0 !important;
            }
        }
    }
    /*[] LAYOUT 6 []*/
    .layout-6{
        .so-listing-tabs .ltabs-items-container .ltabs-items .ltabs-item .item-inner .lt-image img{
            width: 100%;
        }
    }

    /*[] LAYOUT 7 []*/
    .layout-7{
        .banner-group .col-banner{
            width: 100%
        }
        .id7-categories ul li{
            width: 100%;
        }
        .id7-col-extra{
            .so-extraslider .owl2-controls .owl2-nav{
                min-width: 135px;
                bottom: -30px;
            }
            .modcontent{
                padding-bottom: 60px;
            }
        }
    }

    /*[] LAYOUT 8 []*/
    .layout-8{
        .so-listing-tabs .ltabs-items-container .ltabs-items .ltabs-item .item-inner .product-item-container .product-image-container img,
        .so-deal .extraslider-inner .item .image a.img-link img{
            width: 100%;
        }
    }

    /************************************************************************************************
        BLOCK FOOTER  
    *************************************************************************************************/

    /*[] FOOTER DEFFAULT []*/
    footer{ 
    }

   .typefooter-1 .newsletter-footer1 .newsletter .block_content form.signup .form-group{
        width: 100%;
    }

    footer.typefooter-3{ 
    }


    /* **********************************************************************************************
        BLOCK HOME PAGE
    *************************************************************************************************/
    body .banners > div a::after,
    body .banners > div a::before{
        display: none !important; 
    }

  

    /************************************************************************************************
        PAGE LISTING  
    ************************************************************************************************ */


    .products-list.list .product-layout .product-item-container{
        display: inline-block;
        .left-block{
            width: 100%;
        }
        .right-block{
            margin-#{$left}: 0;
            margin-top: 20px;
            display: inline-block;
            padding: 0;
        }
    }

    .products-list.list .product-layout .product-item-container .right-block .caption .ratings{
        position: static;
        margin-bottom: 10px;
    }
    /************************************************************************************************
        PAGE DETAIL  
    ************************************************************************************************ */
    .product-view .content-product-right .box-info-product .detail-action{
        margin-#{$left}: 0;
        margin-top: 20px;
        clear: both;
    }

    .producttab .tabsslider.horizontal-tabs .nav-tabs li{
        display: inline-block;
        width: 100%;
        a{
            display: inline-block;
            width: 100%;
        }
    }
    .thumb-vertical-outer ul li .thumbnail.active{
        margin-top: 35%;
    }
    .product-view .content-product-right .share .socials-wrap ul li{
        margin-#{$left}: 25px;
    }

    .producttab .tabsslider.horizontal-tabs .nav-tabs li a::after{
        display: none;

    }
    .related-horizontal h3.modtitle span{
        font-size: 25px;
    }

    .thumb-vertical-outer { padding: 20px 0;}
    .product-view .content-product-right .countdown_box .countdown_inner .title{ display: none; }
    .deals_module_wrapper .title-product{ margin-top: 20px; }
    .producttab .tabsslider .nav-tabs li{ float: none; }
    .product-view .content-product-right{ margin-top: 20px; }

    /************************************************************************************************
        PAGE BONUSS  
    ************************************************************************************************ */
    .our-member .respl-item .w-image-box,
    .welcome-about-us .image-about-us{ width: 100%; float: none; margin: 0; text-align: center;}
    .our-member .respl-item .info-member,
    .welcome-about-us .des-about-us{ margin: 20px 0; text-align: justify; }
    .happy-about-us .happy-ab .title-happy-about h2{ font-size: 16px; }
    //#sosearchpro .dropdown-menu {  width: 292px!important; }

    .title-decimal{
        line-height: 100%;
    }
    .table-responsive.checkout-product{
        overflow-y: hidden;
    }
    .table-responsive{
        overflow-y: auto;
    }
    /**********************
        POPUP LOGIN, NEWSLETTER
    ***********************************/
    body .block-popup-login{
        width: 295px;
    }
    body .block-popup-login .block-content .col-reg{
        width: 100%;
    }
    body .block-popup-login .block-content .col-reg.registered-account{
        border-#{$right}: none;
    }
    body .block-popup-login .block-content .col-reg.login-customer{
        padding-#{$left}: 0;
    }

    .so-onepagecheckout .coupon-voucher input[type="text"]{
        width: 100%;
    }
    /*=== popup categories -====*/
    #so_popup_countdown{
        .modal-dialog{
            background-color: #75bef3;
        }
        .modal-footer{        
            img{
                width: 100%;
                display: none;
            }
            #so_countdown_timer{
                top: 20px;
                #{$left}: 10px;
                .time-item{
                    width: 56px;
                    height: 56px;
                    line-height: 18px;
                }
            }

        } 
    } 
}

@media (max-width: 767px) and (min-width: 480px){
     .category-featured .ltabs-wrap .wap-listing-tabs .product-item-container{
            .left-block,.right-block{
                width: 50%;
            }
    }
     .layout-2{
        div.so-latest-blog.module .blog-external .media .media-left{
            margin-#{$right}: 10px;
        }
        .banner-home2 > div a img{
            width: 100%;
        }
    }
    .layout-5,
    .layout-4{
        .hot-categories{
            text-align: center;
            ul li{
                margin-#{$right}: 20px;
                float: none;
                 display: inline-block;
             }
        }
    }

    .products-list.grid{
        .product-layout{
            width: 50%;
            float: $left;
        }
        .visible-xs-block{
            display: none;
            clear: none;
            &:after{
                clear: none;
            }
        }
    } 

    .layout-7{
        .id7-categories ul li{
            width: 50%;
        }
        .id7-col-extra{
            .so-extraslider .owl2-controls .owl2-nav{
                min-width: 70px;
                bottom: -30px;
            }
            .modcontent{
                padding-bottom: 60px;
            }
        }
    }
    .layout-8{
        .so-deal .products-list.grid .product-layout{
            width: 100%;
        }
        .so-deal .extraslider-inner .product-thumb .caption .item-time{
            .num-time{
                font-size: 14px;
            }
            .name-time{
                font-size: 12px;
            }
        } 
    }
    /*=== popup categories -====*/
    #so_popup_countdown{
        .modal-dialog{
            width: 97% !important;
        }
        .modal-footer{
            img{
                width: 100%;
            }
            #so_countdown_timer{
                top: 45px;
            }
        } 
    } 
    
 
}