<h3>{{ heading_title }}</h3>
<div class="row">
 {% for product in products %}
  <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="product-thumb transition">
      <div class="image"><a href="{{ product.href }}"> 
 <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" id="product-image-{{ product.product_id }}" /> 
 </a></div>
      <div class="caption">
        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
 
 {% if product.option %} 
 <ul class="so-productlist-colorswatch" id="colorswatch-{{ product.product_id }}"> 
 {% for option in product.option %} 
 {% if option.type == 'select' %} 
 {% for option_value in option.product_option_value %} 
 <li class="colorswatch{{option_value.product_option_value_id~option_value.option_value_id~product.product_id }}"> 
 <a href="javascript:void(0);" title="{{ option_value.name }}" style="width: {{ width_product_list }}px; height: {{ height_product_list }}px; background-image: url('{{ option_value.image }}')"></a> 
 <script type="text/javascript"> 
 jQuery(document).ready(function($) { 
 var $window_width = $(window).width(); 
 {% if colorswatch_type == 'click' %} 
 $(document).on('click', '.so-productlist-colorswatch li.colorswatch{{ option_value.product_option_value_id~option_value.option_value_id~product.product_id }}', function(e) { 
 e.preventDefault(); 
 {% if option_value.color_image %} 
 jQuery('img#product-image-{{product.product_id }}').attr('src', '{{ option_value.color_image }}'); 
 {% endif %} 
 
 $('.so-productlist-colorswatch li').removeClass('actived'); 
 $(this).removeClass('actived').addClass('actived'); 
 }); 
 {% else %} 
 if ($window_width > 1199) { 
 $('.so-productlist-colorswatch li.colorswatch{{ option_value.product_option_value_id~option_value.option_value_id~product.product_id }}').hover(function(e) { 
 e.preventDefault(); 
 {% if option_value.color_image %} 
 jQuery('img#product-image-{{product.product_id }}').attr('src', '{{ option_value.color_image }}'); 
 {% endif %} 
 
 $('.so-productlist-colorswatch li').removeClass('actived'); 
 $(this).removeClass('actived').addClass('actived'); 
 }); 
 } 
 else { 
 $(document).on('click', '.so-productlist-colorswatch li.colorswatch{{ option_value.product_option_value_id~option_value.option_value_id~product.product_id }}', function(e) { 
 e.preventDefault(); 
 {% if option_value.color_image %} 
 jQuery('img#product-image-{{product.product_id }}').attr('src', '{{ option_value.color_image }}'); 
 {% endif %} 
 
 $('.so-productlist-colorswatch li').removeClass('actived'); 
 $(this).removeClass('actived').addClass('actived'); 
 }); 
 } 
 {% endif %} 
 }) 
 </script> 
 </li> 
 {% endfor %} 
 {% endif %} 
 {% endfor %} 
 </ul> 
 {% endif %} 
 
        <p>{{ product.description }}</p>
        {% if product.rating %}
        <div class="rating">
          {% for i in 5 %}
          {% if product.rating < i %}
          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% else %}
          <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% endif %}
          {% endfor %}
        </div>
        {% endif %}
        {% if product.price %}
        <p class="price">
          {% if not product.special %}
           
 {% if (cfp_setting.module_so_call_for_price_status and product.price_0 <= 0) %} 
 {% if cfp_setting.module_so_call_for_price_replace_cart is defined and cfp_setting.module_so_call_for_price_replace_cart == '0' %} 
 <a data-fancybox data-type="ajax" data-src="{{ base }}index.php?route=extension/module/so_call_for_price&product_id={{ product.product_id }}" href="javascript:;" class="callforprice" style="color: #ff0000; font-weight: bold;"><i class="fa fa-phone"></i> {{ text_price_0 }}</a> 
 {% endif %} 
 {% else %} 
 {{ product.price }} 
 {% endif %} 
 
          {% else %}
          <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
          {% endif %}
           
 {% if ((product.tax) and (cfp_setting.module_so_call_for_price_status) and (product.price_0 > 0)) %} 
 
          <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
          {% endif %}
        </p>
        {% endif %}
      </div>

             {% if (module_wk_preorder_pro_status is defined) %} 
                <script>
                    function addToCart(id) {
                        $('.preorder-alert').remove();
                        $('.alert-success').remove();
                        $.ajax({
                            url:'index.php?route=checkout/precart/customer_preordered',
                            data: {
                                product_id: id,
                            },
                            type:'post',
                            dataType: 'json',
                            beforeSend: function() {

                            },
                            success:function(response) {
                                if(response.success) {
                                    cart.add(id);
                                } else {
                                    $('#content').before('<div class="alert alert-danger preorder-alert"><i class="fa fa-exclamation-circle"></i>'+response.msg+'<button class="close" data-dismiss="alert" type="button">&times;</button></div>');
                                    $('html, body').animate({ scrollTop: 0 }, 'slow');
                                }
                            }
                        });
                    }
                </script>
            {% endif %}
                            
      <div class="button-group">
         
 {% if (cfp_setting.module_so_call_for_price_status and product.price_0 <= 0) %} 
 {% if cfp_setting.module_so_call_for_price_hide_cart is defined and cfp_setting.module_so_call_for_price_hide_cart == '0' %} 
 {% if cfp_setting.module_so_call_for_price_replace_cart is defined and cfp_setting.module_so_call_for_price_replace_cart == '1' %} 
 <button type="button" data-fancybox data-type="ajax" data-src="{{ base }}index.php?route=extension/module/so_call_for_price&product_id={{ product.product_id }}">{{ text_price_0 }}</button> 
 {% else %} 
 <button type="button" style="cursor: default; background-color: #eee; color: #ccc;"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button> 
 {% endif %} 
 {% else %} 
 {% if cfp_setting.module_so_call_for_price_replace_cart is defined and cfp_setting.module_so_call_for_price_replace_cart == '1' %} 
 <button type="button" data-fancybox data-type="ajax" data-src="{{ base }}index.php?route=extension/module/so_call_for_price&product_id={{ product.product_id }}">{{ text_price_0 }}</button> 
 {% endif %} 
 {% endif %} 
 {% else %} 
 
           {% if (module_wk_preorder_pro_status) %} 
                {% if (product['isPreorder']) %} 
                  <input type="hidden" name="product_id" value="{{ product['product_id'] }}" />
                  <button type="button" onclick="addToCart({{ product['product_id'] }})" >
                  <i class="fa fa-shopping-cart text-info"></i><span class="text-info hidden-xs hidden-sm hidden-md">{{ product['button_cart_preorder'] }}</span></button>
                {% else %} 
                  <button type="button" onclick="addToCart('{{ product['product_id'] }}', '{{ product['minimum'] }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
                {% endif %} 
            {% else %} 
                    <button type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
            {% endif %}
                             
 {% endif %} 
 
        <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
        <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
