@charset "UTF-8";
/* [2] */
/* [8] */
/*===============================================
 [SASS DIRECTORY ]
 [1] Minxin Link
 [2] Minxin Button
 [3] Minxin Triangle
 [4] Minxin LABEL PRODUCT
 [5] Minxin Scrollbars
 [6] Minxin Dev Custom
 ==============================================*/
.no-margin {
  margin: 0 !important; }
/*Dev Custom */
/*====================================================*/
.lib-list-item-product2 {
  border: none; }
  .lib-list-item-product2 .image-dev .list-button-dev {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0); }
    .lib-list-item-product2 .image-dev .list-button-dev li {
      display: inline-block;
      float: left;
      height: 40px;
      width: 40px;
      background: #fff;
      position: relative;
      border-width: 0 1px 0 0;
      border-style: solid;
      border-color: #ddd;
      opacity: 0;
      transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
        transform: translateX(40px);
        -moz-transform: translateX(40px);
        -webkit-transform: translateX(40px);
        -ms-transform: translateX(40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
        transform: translateX(-40px);
        -moz-transform: translateX(-40px);
        -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:first-child {
        border-left: 1px solid #ddd; }
      .lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
        background: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        line-height: 40px;
        text-align: center;
        box-shadow: none;
        border: none;
        color: #555;
        width: 40px;
        padding: 0; }
      .lib-list-item-product2 .image-dev .list-button-dev li:hover {
        background: #ff2c40; }
        .lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
          color: #fff; }
  .lib-list-item-product2 .caption-dev {
    text-align: center;
    padding: 0 15px; }
    .lib-list-item-product2 .caption-dev .rating-dev {
      margin: 5px 0; }
    .lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
      font-size: 11px; }
    .lib-list-item-product2 .caption-dev .title-dev {
      color: #444;
      font-size: 13px; }
    .lib-list-item-product2 .caption-dev .price-dev .price.product-price {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-new {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-old {
      font-size: 12px; }
    .lib-list-item-product2 .caption-dev .add-cart-dev {
      background: #fff;
      border: 1px solid #ddd;
      font-size: 12px;
      text-transform: uppercase;
      color: #999;
      font-weight: bold;
      box-shadow: none;
      border-radius: 0;
      padding: 6px 20px;
      margin: 0 0 30px;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out; }

.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block; }
  .lib-two-img .img-1 {
    opacity: 1;
    position: relative;
    transition: all 0.5s ease-in-out; }
  .lib-two-img .img-2 {
    position: absolute;
    z-index: 0;
    top: 0;
    opacity: 0;
    display: block;
    transition: all 0.5s ease-in-out;
    left: 50%;
    transform: translateX(-50%); }

.lib-two-img-over .img-1 {
  opacity: 0;
  transform-style: inherit;
  transition: all 0.5s ease-in-out; }
  .lib-two-img-over .img-2 {
    opacity: 1;
    transform-style: inherit;
    transition: all 0.5s ease-in-out; }
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }
/*===============================================
 [SASS DIRECTORY ]
 [1] BLOCK HEADER
 ==============================================*/
.common-home .typeheader-7 {
  border-bottom: none; }

.typeheader-7 {
  margin-right: 110px;
  border-bottom: 1px solid #ddd;
  /*=====SEARCH ======*/
  /*BLOCK CART*/
  /*MENU MEGA*/ }
  .typeheader-7 .logo {
    padding: 25px 0 25px 30px; }
  .typeheader-7 .header-top {
    background-color: #222;
    color: #fff;
    font-size: 12px;
    height: 47px;
    line-height: 47px;
    padding: 0 30px; }
  .typeheader-7 .header-top .module {
    display: table-cell;
    margin-bottom: 0; }
  .typeheader-7 .header-top .header-top-right {
    text-align: right; }
  .typeheader-7 .header-top .dropdown-menu li {
    line-height: 22px; }
  .typeheader-7 .header-top .header-top-right {
    display: inline-block; }
  .typeheader-7 .telephone {
    display: table-cell;
    color: #777;
    font-size: 14px;
    padding-top: 10px; }
  .typeheader-7 .telephone .fa {
    font-size: 14px;
    margin-right: 6px; }
  .typeheader-7 .telephone .number-phone {
    /* [4] */
    /* [6] */
    /* [6] */
    /* [7] */
    font-size: 14px;
    font-size: 1.4rem;
    /* [8] */ }
  .typeheader-7 ul.lang-curr > li {
    float: left;
    margin-right: 10px; }
  .typeheader-7 ul.lang-curr > li .btn-group .btn-link {
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    padding: 0 12px;
    line-height: 27px;
    border-radius: 2px;
    border: 1px solid #3d3d3d;
    font-weight: 500;
    background-color: #1b1b1b; }
  .typeheader-7 ul.lang-curr .dropdown-menu {
    left: 0;
    right: auto; }
  .typeheader-7 ul.lang-curr .dropdown-menu .btn-block {
    padding: 5px 10px;
    color: #666; }
  .typeheader-7 ul.top-link {
    list-style: none;
    margin: 0;
    vertical-align: top; }
  .typeheader-7 ul.top-link .dropdown-menu {
    left: 0;
    right: auto; }
  .typeheader-7 ul.top-link > li {
    display: inline-block;
    position: relative;
    list-style: outside none none;
    padding-left: 20px;
    margin-left: 20px;
    padding-right: 0;
    font-size: 12px; }
  .typeheader-7 ul.top-link > li .fa-caret-down {
    font-size: 12px; }
  .typeheader-7 ul.top-link > li:after {
    background-color: #4e4e4e;
    content: "";
    height: 15px;
    position: absolute;
    left: 0;
    top: 15px;
    width: 1px; }
  .typeheader-7 ul.top-link > li > a {
    font-size: 12px;
    color: #fff;
    padding-left: 3px; }
  .typeheader-7 ul.top-link > li.account > a {
    padding: 0;
    margin: 0; }
  .typeheader-7 ul.top-link > li.account:before {
    content: "\f007";
    font-family: FontAwesome;
    font-size: 12px; }
  .typeheader-7 ul.top-link > li.wishlist:before {
    content: "\f004";
    font-family: FontAwesome;
    font-size: 11px; }
  .typeheader-7 ul.top-link > li.account:hover ul.dropdown-link {
    top: 34px;
    z-index: 9999;
    opacity: 1;
    border-top: 1px solid rgba(200, 199, 199, 0.3); }
  .typeheader-7 ul.top-link > li.welcome-msg, .typeheader-7 ul.top-link > li:first-child {
    padding-left: 0px;
    margin-left: 0px; }
  .typeheader-7 ul.top-link > li.welcome-msg:after, .typeheader-7 ul.top-link > li:first-child:after {
    display: none; }
  .typeheader-7.navbar-compact .header-top {
    display: none; }
  .typeheader-7.navbar-compact .header-center {
    padding: 0; }
  .typeheader-7 .header-bottom {
    clear: both; }
  .typeheader-7 .search-header-w {
    float: right;
    margin-right: 30px;
    vertical-align: middle;
    padding: 25px 0; }
  .typeheader-7 #sosearchpro .search {
    position: relative;
    margin-bottom: 0; }
  .typeheader-7 #sosearchpro .search button {
    position: absolute;
    top: 1px;
    right: 3px;
    border-radius: 100%;
    background-color: #fff;
    width: 37px;
    height: 37px;
    text-align: center;
    line-height: 37px;
    padding: 0; }
  .typeheader-7 #sosearchpro .search button i {
    font-size: 14px;
    color: #222; }
  .typeheader-7 #sosearchpro .search .input-group-btn {
    position: absolute;
    top: 0;
    right: 0; }
  .typeheader-7 #sosearchpro .search input {
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
    z-index: 0;
    height: 40px;
    padding-left: 15px;
    font-size: 14px;
    width: 230px;
    background-color: #fff; }
  .typeheader-7 #sosearchpro .search input:focus {
    z-index: 0; }
  .typeheader-7 .block-cart {
    float: right;
    position: relative;
    padding-left: 25px; }
  .typeheader-7 .shopping_cart {
    width: 110px;
    padding: 20px 0 46px 0;
    text-align: center;
    position: absolute;
    top: -47px;
    right: -95px; }
  .typeheader-7 .shopping_cart .handle.pull-left {
    font-size: 12px;
    line-height: 100%;
    color: #fff;
    display: block;
    float: left;
    width: 100%;
    height: 40px;
    margin-right: 0px;
    text-align: center;
    background: url(../../images/icon/icon-cart7.png) no-repeat center center;
    position: relative; }
  .typeheader-7 .shopping_cart .block-cart:before {
    display: none; }
  .typeheader-7 .shopping_cart h2 {
    display: none;
    color: #444;
    font-size: 12px;
    margin: 0;
    font-weight: bold; }
  .typeheader-7 .shopping_cart .btn-shopping-cart {
    display: block;
    cursor: pointer;
    width: auto;
    position: relative;
    min-width: 90px; }
  .typeheader-7 .shopping_cart .btn-shopping-cart a.top_cart {
    min-width: 45px; }
  .typeheader-7 .shopping_cart .btn-shopping-cart a.top_cart .shopcart .text-shopping-cart-mobi {
    color: #ff2c40; }
  .typeheader-7 .shopping_cart .btn-shopping-cart a.top_cart .shopcart .text-shopping-cart {
    padding: 0px;
    color: #fff;
    /* [4] */
    /* [6] */
    /* [6] */
    /* [7] */
    font-size: 14px;
    font-size: 1.4rem;
    /* [8] */
    text-transform: capitalize;
    font-weight: 600;
    margin: 7px 0 0 0;
    display: inline-block; }
  .typeheader-7 .shopping_cart .btn-shopping-cart a.top_cart:hover {
    color: #fff; }
    .typeheader-7 .shopping_cart .btn-shopping-cart a.top_cart:hover .shopcart .text-shopping-cart {
      color: #fff; }
  .typeheader-7 .shopping_cart .btn-shopping-cart .total-shopping-cart .items_cart {
    width: 22px;
    height: 22px;
    line-height: 23px;
    text-align: center;
    background-color: #222;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    position: absolute;
    bottom: -5px;
    right: 2px;
    font-size: 12px; }
  .typeheader-7 .shopping_cart .btn-shopping-cart .total-shopping-cart .items_cart2 {
    display: none; }
  .typeheader-7 .shopping_cart .btn-shopping-cart .total-shopping-cart .items_carts {
    position: absolute;
    left: 10px;
    bottom: -50px;
    /* [4] */
    /* [6] */
    /* [6] */
    /* [7] */
    font-size: 14px;
    font-size: 1.4rem;
    /* [8] */
    font-weight: 400;
    color: #fff; }
  .typeheader-7 .shopping_cart .dropdown-menu {
    top: 100px;
    right: -15px;
    left: auto; }
  .typeheader-7 .shopping_cart .shoppingcart-box:before {
    right: 50px; }
  .typeheader-7 .megamenu-style-dev .navbar-default {
    background: transparent; }
  .typeheader-7 .container-megamenu.horizontal ul.megamenu > li {
    padding: 0;
    margin: 0; }
  .typeheader-7 .container-megamenu.horizontal ul.megamenu > li > a {
    padding: 38px 13px;
    line-height: 100%;
    color: #222; }
  .typeheader-7 .container-megamenu.horizontal ul.megamenu > li:hover > a, .typeheader-7 .container-megamenu.horizontal ul.megamenu > li.active > a, .typeheader-7 .container-megamenu.horizontal ul.megamenu > li.menu_active > a {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
  .typeheader-7 .container-megamenu.horizontal ul.megamenu > li.buy_color:hover a strong {
    color: #fff; }

.common-home .typeheader-1 .container-megamenu.horizontal ul.megamenu > li.home > a {
  background-color: #fff; }

@media (min-width: 1200px) and (max-width: 1366px) {
  .typeheader-7 .container-megamenu.horizontal ul.megamenu > li > a {
    padding: 38px 10px; }
    .typeheader-7 .container-megamenu.horizontal ul.megamenu > li .sub-menu {
      width: 870px !important; }
      .typeheader-7 .container-megamenu.horizontal ul.megamenu > li .sub-menu .content {
        width: 870px !important; }
      .typeheader-7 .container-megamenu.horizontal ul.megamenu > li.style-page .sub-menu {
        width: auto !important; }
        .typeheader-7 .container-megamenu.horizontal ul.megamenu > li.style-page .sub-menu .content {
          width: auto !important; } }
