


//** simple and lightweight mixin library for Sass **
//-- url : http://bourbon.io/docs ---
@import 'bourbon/bourbon';

//** Mixins for Rem Font Sizing **
//-- url : http://hugogiraudel.com/2013/03/18/ultimate-rem-mixin/
@import 'utilities/rem';

//** Variables for responsive design in bootstrap with sass **
//-- url : https://gist.github.com/webinfinita/11407836
@import 'utilities/bootstrap_breakpoints';

//** Makes supporting both left-to-right (LTR) and right-to-left (RTL) easy.**
//-- url : https://github.com/tysonmatanich/directional-scss
@import 'utilities/directional';

//Mixins utilities
@import 'utilities/theme_variables';
@import 'utilities/utilities';

/*===============================================
    [SASS DIRECTORY ]
    
    [1] BLOCK HEADER

    
==============================================*/
.common-home{
    .typeheader-7{
        border-bottom: none;
    }
}
.typeheader-7{
    margin-#{$right}: 110px;
    border-bottom: 1px solid #ddd;
    .logo{
        padding: side-values(25px 0 25px 30px);
    }
    .header-top{
        background-color: #222;
        color: #fff;
        font-size: 12px;
        height: 47px;
        line-height: 47px;
        padding: 0 30px;
        .module{
            display: table-cell;
            margin-bottom: 0;
        }

        .header-top-right{text-align:$right;}
        
        .dropdown-menu{
            li{
                line-height: 22px;
            }
        }
        .header-top-right {display: inline-block;}

    }

    .telephone {
        display: table-cell;
        color: #777;
        font-size: 14px;
        padding-top: 10px;
        .fa {
            font-size: 14px;
            //color: $linkColor;
            margin-#{$right}: 6px;
        }
        .number-phone {
            @include rem(font-size,14px);
        }
    }
    ul.lang-curr{
        > li{
            float: $left;    
            margin-#{$right}: 10px;        
            .btn-group .btn-link{
                font-size: 12px;
                text-transform: uppercase;
                color: #fff;
                padding: 0 12px;
                line-height: 27px;
                border-radius: 2px;
                border: 1px solid #3d3d3d;
                font-weight: 500;
                background-color: #1b1b1b;
            }
        }
        .dropdown-menu{
            #{$left}: 0;
            #{$right}: auto;
            .btn-block{
                padding: 5px 10px;
                color: #666;
            }
        }
    }
    ul.top-link{list-style: none;margin:0; vertical-align:top;
        .dropdown-menu{
            #{$left}: 0;
            #{$right}: auto;
            padding: 10px;
            min-width: 140px;
        }
        > li{                
            display: inline-block; 
            position: relative;           
            list-style: outside none none;
            padding-#{$left}: 20px;
            margin-#{$left}: 20px;
            padding-#{$right}: 0;
            font-size: 12px;           
            .fa-caret-down{
                font-size: 12px;
            }
            &:after {
                background-color: #4e4e4e;
                content: "";
                height: 15px;
                position: absolute;
                #{$left}: 0;
                top: 15px;
                width: 1px;
            }
            >   a {
                font-size: 12px;
                color: #fff;
                padding-#{$left}: 3px;
 
            }
            
            &.account{
                > a{
                    padding: 0;
                    margin: 0;
                }
                &:before{
                    content: "\f007"; 
                    font-family: FontAwesome;
                    font-size: 12px;
                }                      
            }
            &.wishlist{
                &:before{
                    content: "\f004"; 
                    font-family: FontAwesome;
                    font-size: 11px;
                }  
            }

            &.account:hover  {
                ul.dropdown-link {top: 34px; z-index: 9999; opacity: 1; border-top: 1px solid rgba(200, 199, 199, 0.3);}
            }

            &.language{

            }
            &.welcome-msg,
            &:first-child{
                padding-#{$left}: 0px;
                margin-#{$left}: 0px;
                &:after{
                    display: none;
                }
            }
        }
    }

    
    // MENU ON TOP
    &.navbar-compact{
        .header-top{display: none;}

        .header-center{
            padding: 0;

        } 
    }
    
    .header-bottom{
        clear: both;
        .header-bottom-inner{

        }
        
    }

    /*=====SEARCH ======*/
    .search-header-w{
        float: $right;
        margin-#{$right}: 30px;
        vertical-align: middle;
        padding: 25px 0;
    }
    #sosearchpro .search{
        position: relative; 
        margin-bottom: 0; 
        button{
            position: absolute;
            top: 1px;
            #{$right}: 3px;
            border-radius: 100%;
            background-color: #fff;
            width: 37px;
            height: 37px;
            text-align: center;
            line-height: 37px;
            padding: 0;

            i{
                font-size: 14px;
                color: #222;
            }
            &:hover{
                i{
                    //color: $linkColor;
                }
            }
        }
        .input-group-btn{
            position: absolute;
            top: 0;
            #{$right}: 0;
        }
        input{
            border: 1px solid #ddd;
            border-radius: 3px;
            background-color: #fff;
            z-index: 0;
            height: 40px;
            padding-#{$left}: 15px;
            font-size: 14px;
            width: 230px;
            background-color: #fff;
            &:hover{
      
            }
            &:focus{
                z-index: 0;
      
            }
        }
        &:hover input{

        }
    }
  

    /*BLOCK CART*/
    .block-cart{ float: $right; position: relative; padding-#{$left}: 25px;
        

    }
    .shopping_cart{
        width: 110px;
        padding: 20px 0 46px 0;
        text-align: center;
        position: absolute;
        top: -47px;
        #{$right}: -95px;
        .handle.pull-left{
            font-size: 12px;
            line-height: 100%;
            color: #fff;
            display: block;
            float: $left;
            width: 100%;
            height: 40px;
            margin-#{$right}: 0px;
            text-align: center;            
            background: url(#{$imgPath}icon/icon-cart7.png) no-repeat center center;            
            position: relative;
        }
        .block-cart{
            &:before{
                display: none;
            }
        }
        h2{
            display: none; color: #444444;font-size: 12px; margin: 0; font-weight: bold;}
        .btn-shopping-cart{display: block; cursor: pointer;width: auto; position: relative; min-width: 90px;
            a.top_cart{
                min-width: 45px;
                .shopcart .text-shopping-cart-mobi{color: $linkColor;}
                .shopcart .text-shopping-cart{
                    padding: 0px; 
                    color: #fff;
                    @include rem(font-size,14px); 
                    text-transform: capitalize; 
                    font-weight: 600; 
                    margin: 7px 0 0 0;
                    display: inline-block;
                }
               
                &:hover{
                    color: #fff;
                    .shopcart .text-shopping-cart{ color: #fff; }
                }
                .shopcart{

                }
            } 
            .total-shopping-cart{  
                .items_cart{
                    width: 22px; 
                    height: 22px;
                    line-height: 23px;
                    text-align: center;
                    background-color: #222;
                    @include border-radius(100%);
                    position: absolute;
                    bottom: -5px;
                    #{$right}: 2px;
                    font-size: 12px;
                }
                .items_cart2{
                    display: none;
                }
                .items_carts{
                    position: absolute;
                    #{$left}: 10px;
                    bottom: -50px;
                    @include rem(font-size, 14px);
                    font-weight: 400;
                    color: #fff;
                }
            }                    
        } 
        .dropdown-menu{ top: 100px; #{$right}: -15px; #{$left}: auto;
            
        }
        .shoppingcart-box:before{right: 50px;}
    }

    /*MENU MEGA*/
    .megamenu-style-dev{
        .navbar-default{ background: transparent; }
    }


    .container-megamenu.horizontal ul.megamenu{
        > li{
            padding: 0;
            margin: 0;
            > a{
                padding: 38px 13px;
                line-height: 100%;
                color: #222;

            }
            &:hover,
            &.active,
            &.menu_active{
                > a{                
                    background-color: #fff;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                }
            }
            &.buy_color{
                &:hover{
                    a strong{
                        color: #fff;
                    }
                }
            }
        } 
    } 

}

.common-home .typeheader-1 .container-megamenu.horizontal ul.megamenu > li.home > a{
    background-color: #fff;
    //color: $linkColor;
    
}

@media (min-width: 1200px) and (max-width: 1366px){
    .typeheader-7{
        .container-megamenu.horizontal ul.megamenu > li > a{
            padding: 38px 10px;
        }
        .container-megamenu.horizontal ul.megamenu > li{
            .sub-menu{
                width: 870px !important;
                .content{
                    width: 870px !important;
                }
            }
            &.style-page{
                .sub-menu{
                    width: auto !important;
                    .content{
                        width: auto !important;
                    }
                }
            }
            &.full-width,
            &.item-style1,
            &.item-style2{
                .sub-menu{
                   // #{$right}: 90px !important;
                    .content{
                        
                    }
                }
                
            }
        }
    } 
}