.shopping_cart .fa-check-circle{
    display: none;
}
#header #sosearchpro.so-search .searchbox .select_category select:hover{
    cursor: pointer;
}
.dropdown-menu.shoppingcart-box .table{
    margin-bottom: 0;
}

header #sosearchpro .dropdown-menu{
    border-radius: 0;
    opacity: 1;
    visibility: visible;
}

header .account.dropdown-menu{
    li{
        a{
            position: relative;
            &:before{
              background-color: #fff;
              border: 1px solid #555;
              border-radius: 50%;
              content: "";
              height: 5px;
              #{$left}: 0;
              position: absolute;
              top: 13px;
              width: 5px;
            }
            &:hover{
                &:before{
                    background-color: $background;
                    border-color: $linkColor;
                }
            }
        }
    }
}


/*============ HEADER  ==================*/
.horizontal  ul.megamenu > li.style-page{
    position: relative;
    .sub-menu{
        #{$right}: 0;
        #{$left}: auto !important;
        max-width: none;
    }
}
.common-home .horizontal  ul.megamenu > li.home > a{
    background: transparent;
    color: $linkColor;
}
.common-home .typeheader-2 .container-megamenu.horizontal ul.megamenu > li.home > a {
    background-color: $background;
    color: #fff;
}
.megamenu-wrapper{
    background: transparent;
}


.typeheader-2 .container-megamenu.horizontal ul.megamenu > li{
    &:hover,
    &.active{
        > a{
            background-color: $background;
            color: #fff;
        }
    }
}
.common-home .typeheader-3 .container-megamenu.horizontal ul.megamenu > li.home > a {
    color: $linkColor;
}
.typeheader-3 .container-megamenu.horizontal ul.megamenu > li{
    &:hover,
    &.active{
        > a{
             background: transparent;
             color: $linkColor;
        }
    }
}

.container-megamenu.horizontal{
    ul.megamenu > li.home > a,
    ul.megamenu > li.active > a, 
    ul.megamenu > li:hover > a{
        background-color: transparent;
        color: $linkColor;
    }
    .subcategory li a{@include linkGray();}
}
.header-top .header-top-left .welcome-msg .owl2-carousel .owl2-stage-outer{ direction: ltr; }
.mega-horizontal .navbar-default{border: none;background: transparent;}
@media (max-width: 991px){
    .responsive ul.megamenu > li.click:before,
    .responsive ul.megamenu > li.hover:before {
        #{$right}: 0;
        #{$left}: auto;
    }
    .responsive ul.megamenu > li.active .close-menu{
        #{$right}: 0;
        #{$left}: auto;
    }
}

.header-bottom .content_menu .container{overflow: visible;}
.btn-shopping-cart {
    .dropdown-menu{
        min-width: 320px;        
        .cart_product_name{@include linkGray();}
        .empty{
            padding: 15px;
            margin: 0;
    
        }
    }
    .table>tbody>tr>td{border: none;border-bottom: 1px solid $gray-lighter;vertical-align: middle;}
    .checkout{padding: 0 20px 10px;}
    .added_items{padding: 10px;}
}   



.megamenu-style-dev{position: relative;
    //z-index: 9;
    .vertical{
        ul.megamenu{position: absolute; width: 100%; background: #222; z-index: 99;
            > li > a{font-size: 11px;}
        } 
        .vertical ul.megamenu > li{margin: 0; border-right: 0; background: #222;
            strong i{display: none;}
                    >a {padding-left: 15px;padding-right: 12px; color: #fff;
                                    &:hover{color: #fff;}
            }
            &.css-menu{
                .sub-menu .content{padding: 0;}
                .hover-menu .menu >ul{padding: 0; margin: 0;
                    li{
                        border-bottom: 1px solid #eee;
                        &:hover{background: #eee;
                            > a{color: $linkColor;}
                        }
                        a{line-height: 37px;
                            b{line-height: 37px; font-size: 16px;margin: 0 20px;}
                        }
                        &:last-child{border: none;}
                    }
                    ul{padding: 0; left: 100%;margin: 0;box-shadow: none;border: 1px solid #eee;min-width: 200px;
                        &:before, &:after{display: none;}
                    }
                } 
            }
            &.item-style3{
                        .sub-menu .content{padding-right: 0;}
            }
            &.with-sub-menu{
                > a:after{content: "\f105";color: #fff;font-family: Fontawesome; font-size: 13px; float: right; margin: 0;}
                
                &:hover > a:after{position: static; border-color: transparent;}
                
            }
            &:hover{background-color: #444;
                >a{color: #fff;}
            }
            &.active > a{background: transparent !important;}
            
            &.style1 .content:after{
            }       
            .sub-menu .content{border-top: 1px solid #ddd;
                .banner{margin-top: -21px; margin-bottom: -22px; margin-right: -1px;}
                .static-menu .menu ul a.main-menu{padding: 0;}
            }
        }
        ul.megamenu .sub-menu .content .static-menu .menu ul {padding-bottom: 0;
            li >a{line-height: inherit; padding-bottom: 0; border-bottom: none; min-height: auto;
                 &:hover{color: $linkColor;}
            }
            ul a{padding: 0;
                 &:hover{color: $linkColor;} 
            }
        }
    }
}
/*======================================================*/
header ul.top-link > li .btn-group .btn-link:hover,
header #sosearchpro .search button:hover i,
header .shopping_cart .btn-shopping-cart a.top_cart:hover,
header .shopping_cart .btn-shopping-cart a.top_cart:hover .shopcart .text-shopping-cart,
header .telephone .fa,
header ul.top-link > li > a:hover{
    color: $linkColor;
}



.common-home .typeheader-1 .container-megamenu.horizontal ul.megamenu > li.home > a{
    color: $linkColor;
}
.typeheader-1 .container-megamenu.horizontal ul.megamenu > li:hover > a, 
.typeheader-1 .container-megamenu.horizontal ul.megamenu > li.active > a, 
.typeheader-1 .container-megamenu.horizontal ul.megamenu > li.menu_active > a{
    color: $linkColor;
}

.typeheader-1 .header-bottom{
    background-color: $background;
}
.typeheader-1 #sosearchpro .search:hover input,
.typeheader-1 #sosearchpro .search input:hover,
.typeheader-1 #sosearchpro .search input:focus{
    border-color: $linkColor;
}

// header 2
/*.typeheader-2 .container-megamenu.horizontal ul.megamenu > li > a{
    background-color: $background;
}*/
.typeheader-2 .container-megamenu.horizontal ul.megamenu > li:hover > a, 
.typeheader-2 .container-megamenu.horizontal ul.megamenu > li.active > a, 
.typeheader-2 .container-megamenu.horizontal ul.megamenu > li.menu_active > a,
.common-home .typeheader-2 .container-megamenu.horizontal ul.megamenu > li.home > a{
    background-color: $background;
}
.typeheader-2 #sosearchpro .search:hover input,
.typeheader-2 #sosearchpro .search input:hover,
.typeheader-2 #sosearchpro .search input:focus{
    border-color: $linkColor;
}

/*.typeheader-3 .container-megamenu.horizontal ul.megamenu > li:hover > a, 
.typeheader-3 .container-megamenu.horizontal ul.megamenu > li.active > a, 
.typeheader-3 .container-megamenu.horizontal ul.megamenu > li.menu_active > a{
    color: $linkColor;
}*/
.common-home .typeheader-3 .container-megamenu.horizontal ul.megamenu > li.home > a{
    color: $linkColor;
}
.typeheader-3 .container-megamenu.horizontal ul.megamenu > li:hover > a, 
.typeheader-3 .container-megamenu.horizontal ul.megamenu > li.active > a, 
.typeheader-3 .container-megamenu.horizontal ul.megamenu > li.menu_active > a{
    color: $linkColor
}
.typeheader-3 .container-megamenu.horizontal ul.megamenu > li > a::after{
    background-color: $background;
}
.typeheader-3 .shopping_cart .btn-shopping-cart .total-shopping-cart .items_cart{
    background-color: $background;
}

.typeheader-4 .container-megamenu.horizontal ul.megamenu > li > a::after{
    background-color: $background;
}
.typeheader-4 .shopping_cart .btn-shopping-cart .total-shopping-cart .items_cart{
    background-color: $background;
}
.typeheader-4 .container-megamenu.horizontal ul.megamenu > li:hover > a, 
.typeheader-4 .container-megamenu.horizontal ul.megamenu > li.active > a, 
.typeheader-4 .container-megamenu.horizontal ul.megamenu > li.menu_active > a{
    color: $linkColor
}
.common-home .typeheader-4 .container-megamenu.horizontal ul.megamenu > li.home > a::after,
.typeheader-4 .container-megamenu.horizontal ul.megamenu > li > a::after{
    background-color: $background;
}
.common-home .typeheader-4 .container-megamenu.horizontal ul.megamenu > li.home > a{
    color: $linkColor;
}


.typeheader-5 .container-megamenu.horizontal ul.megamenu > li:hover > a, 
.typeheader-5 .container-megamenu.horizontal ul.megamenu > li.active > a, 
.typeheader-5 .container-megamenu.horizontal ul.megamenu > li.menu_active > a{
    color: $linkColor
}

.common-home .typeheader-5 .container-megamenu.horizontal ul.megamenu > li.home > a{
    color: $linkColor;
}
.typeheader-5 .shopping_cart .btn-shopping-cart .total-shopping-cart .items_cart{
    background-color: $background;
}
.typeheader-5 .search-header-w .icon-search:hover i,
.typeheader-5 .search-header-w .icon-search.active i{
    color: $linkColor;
}

.typeheader-6.navbar-compact .container-megamenu.horizontal ul.megamenu > li > a:before, 
.typeheader-6 .container-megamenu.horizontal ul.megamenu > li > a:before,
.typeheader-6 .shopping_cart .btn-shopping-cart .total-shopping-cart .items_cart{
    background-color: $background;
}
.typeheader-6 #sosearchpro .search .icon-search:hover i,
.typeheader-6 #sosearchpro .search .icon-search.active i{
    color: $linkColor;
}
.typeheader-6.navbar-compact .socials-header li a:hover, 
.typeheader-6 .socials-header li a:hover{
    background-color: $background;
}
.common-home .typeheader-6 .container-megamenu.horizontal ul.megamenu > li.home > a{
    &:before{
        background-color: $background;
    }
}


.typeheader-7 #sosearchpro .search:hover input,
.typeheader-7 #sosearchpro .search input:hover,
.typeheader-7 #sosearchpro .search input:focus{
    border-color: $linkColor;
}
.typeheader-7 .shopping_cart{
    background-color: $background;
}
.typeheader-7 ul.lang-curr .dropdown-menu .btn-block:hover{
    color: $linkColor;
}

.typeheader-8 #sosearchpro .search .icon-search:hover i,
.typeheader-8 #sosearchpro .search .icon-search.active i{
    color: $linkColor;
}
.typeheader-8 .shopping_cart .btn-shopping-cart .total-shopping-cart .items_cart{
    background-color: $background;
}
.typeheader-8 .shopping_cart .btn-shopping-cart .total-shopping-cart .items_carts{
    color: $linkColor;
}
.typeheader-8 #sosearchpro .search:hover input,
.typeheader-8 #sosearchpro .search input:hover,
.typeheader-8 #sosearchpro .search input:focus{
    border-color: $linkColor;
}


// color responsive
@media (max-width: 991px){
    .typeheader-2 .header-bottom{
        background-color: $background;
    }
    .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li > a:hover strong,
    .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper ul.megamenu > li > a:hover{
        color: $linkColor !important;
    }
    .typeheader-6 .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper ul.megamenu > li > a:hover{
        color: $linkColor !important;
    }
}
