/*============HEADER V2 ==================*/


//** simple and lightweight mixin library for Sass **
//-- url : http://bourbon.io/docs ---
@import 'bourbon/bourbon';

//** Mixins for Rem Font Sizing **
//-- url : http://hugogiraudel.com/2013/03/18/ultimate-rem-mixin/
@import 'utilities/rem';

//** Variables for responsive design in bootstrap with sass **
//-- url : https://gist.github.com/webinfinita/11407836
@import 'utilities/bootstrap_breakpoints';

//** Makes supporting both left-to-right (LTR) and right-to-left (RTL) easy.**
//-- url : https://github.com/tysonmatanich/directional-scss
@import 'utilities/directional';

//Mixins utilities
@import 'utilities/theme_variables';
@import 'utilities/utilities';

/*===============================================
    [SASS DIRECTORY ]
    
    [1] BLOCK HEADER

    
==============================================*/

.typeheader-2{

    .header-top{
        background-color: #f8f8f8;
        color: #777;
        font-size: 12px;
        height: 40px;
        line-height: 40px;
        .module{
            display: table-cell;
            margin-bottom: 0;
        }
        .header-top-left{
            ul.top-link{
                display: flex;
            }
        }
        .header-top-right{text-align:$right;}

        .dropdown-menu{
            li{
                line-height: 22px;
            }
        }
        .header-top-right {display: inline-block;}

    }

    .telephone {
        display: table-cell;
        color: #777;
        font-size: 14px;
        padding-top: 10px;
        .fa {
            font-size: 14px;
            //color: $linkColor;
            margin-#{$right}: 6px;
        }
        .number-phone {
            @include rem(font-size,14px);
        }
    }

    ul.top-link{list-style: none;margin:0; vertical-align:top;
        .dropdown-menu{
            #{$left}: 0;
            #{$right}: auto;
        }
        > li{                
            display: inline-block; 
            position: relative;           
            list-style: outside none none;
            padding-#{$left}: 20px;
            margin-#{$left}: 20px;
            padding-#{$right}: 0;
            font-size: 12px;
            &.language{
                min-height: 23px;
            }
            .btn-group .btn-link{
                padding: 0;
                border: none;
                color: #777;
                &:hover{
                    //color: $linkColor;
                }
            }
            .fa-caret-down{
                font-size: 12px;
            }
            &:after {
                background-color: #ccc;
                content: "";
                height: 15px;
                position: absolute;
                #{$left}: 0;
                top: 12px;
                width: 1px;
            }
            >   a {
                font-size: 12px;
                color: #777;
                padding-#{$left}: 3px;
                &:hover{
                    //color: $linkColor;
                }
            }
            
            &.account{
                > a{
                    padding: 0;
                    margin: 0;
                }
                &:before{
                    content: "\f007"; 
                    font-family: FontAwesome;
                    font-size: 12px;
                }                      
            }
            &.wishlist{
                &:before{
                    content: "\f004"; 
                    font-family: FontAwesome;
                    font-size: 11px;
                }  
            }

            &:hover{
                //> a{color: $linkColor;}
            
            }

            &.account:hover  {
                ul.dropdown-link {top: 34px; z-index: 9999; opacity: 1; border-top: 1px solid rgba(200, 199, 199, 0.3);}
            }

            &.language{

            }
            &.welcome-msg,
            &:first-child{
                padding-#{$left}: 0px;
                margin-#{$left}: 0px;
                &:after{
                    display: none;
                }
            }
        }
    }

    
    // MENU ON TOP
    &.navbar-compact{
        .header-top{display: none;}

        .header-center{
            padding: 0;
            .navbar-logo .logo{
                border-left: 1px solid #dadada;
                border-right: 1px solid #dadada;
                max-width: 202px;
                padding: 9px 25px !important;
                position: fixed;
                top: 0;
                z-index: 999;
            }
        } 
        .header-bottom{
            margin: 0;

            /*.megamenu-style-dev{
                width: 100%;
                margin-left: 270px;
            }*/
        }
    }
    
    
    
    .header-center{
        clear: both;
        padding: 40px 0;
        .navbar-logo .logo{
            
        }
        
    }
    .header-bottom{
        border-bottom: 1px solid #eee;
        
        .header-bottom-inner{

        }
        
    }

    /*=====SEARCH ======*/
    .search-header-w{
        display: table-cell;
        vertical-align: middle;
    }
    #sosearchpro .search{
        position: relative;
        margin-#{$right}: 67px;
	 margin-bottom: 0;
         .input-group-btn{
            position: absolute;
            top: 0;
            #{$right}: 0;
        }
        button{
            position: absolute;
            top: 3px;
            #{$right}: 10px;
            border-radius: 100%;
            background-color: #fff;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            padding: 0;

            i{
                font-size: 18px;
                color: #444;
            }
            &:hover{
                i{
                    //color: $linkColor;
                }
            }
        }
        
        input{
            border: 1px solid #ddd;
            border-radius: 23px;
            border-top-#{$left}-radius: 23px;
            border-bottom-#{$left}-radius: 23px;
            background-color: #fff;
            z-index: 0;
            height: 46px;
            padding-#{$left}: 30px;
            font-size: 14px;
            width: 435px;

            &:hover{
                //border-color: $linkColor;
            }
            &:focus{
                z-index: 0;
                //border-color: $linkColor;
            }
        }
        &:hover input{
            //border-color: $linkColor;
        }
    }
  

    /*BLOCK CART*/
    .block-cart{ float: $right; position: relative; padding-#{$left}: 25px;
        

    }
    .shopping_cart{
        display: table-cell;
        position: absolute;
        top: -4px;
        #{$right}: 15px;
        .handle.pull-left{
            font-size: 12px;
            line-height: 100%;
            color: #fff;
            display: block;
            float: $left;
            width: 31px;
            height: 40px;
            margin-#{$right}: 10px;
            text-align: center;            
            //background: url(#{$imgPath}icon/cart-icon.png) no-repeat;
            background-image: url(#{$imgPath}icon/sprites.png);
            background-repeat: no-repeat;
            background-position: -147px 0;
            position: relative;
        }
        .block-cart{
            &:before{
                display: none;
            }
        }
        h2{
            display: none; color: #444444;font-size: 12px; margin: 0; font-weight: bold;}
        .btn-shopping-cart{display: block; cursor: pointer;width: auto; position: relative; padding-bottom: 20px; min-width: 90px;
            a.top_cart{
                .shopcart .text-shopping-cart-mobi{color: $linkColor;}
                .shopcart .text-shopping-cart{
                    padding: 0px; 
                    color: #222;
                    @include rem(font-size,14px); 
                    text-transform: capitalize; 
                    font-weight: 600; 
                    margin: 0;
                }
                /*&:after{content: "\f0d7"; font-family: fontawesome;font-size: 12px;position: absolute; #{$right}: 0;bottom: 2px;}*/
                &:hover{
                    //color: $linkColor;
                    //.shopcart .text-shopping-cart{color: $linkColor;}
                }
                .shopcart{

                }
            } 
            .total-shopping-cart{  
                .items_cart{
                    width: 22px; 
                    height: 22px;
                    line-height: 23px;
                    border: 1px solid #fff;
                    text-align: center;
                    background-color: #ff5555;
                    @include border-radius(100%);
                    position: absolute;
                    bottom: -10px;
                    #{$left}: -10px;
                    font-size: 12px;
                }
                .items_cart2{
                    display: none;
                }
                .items_carts{
                    position: absolute;
                    #{$left}: 42px;
                    bottom: 0px;
                    @include rem(font-size, 14px);
                    font-weight: 400;
                    color: #777;
                }
            }                    
        } 
        .dropdown-menu{ top: 100%; #{$right}: -15px; #{$left}: auto;
            
        }
        .shoppingcart-box:before{right: 50px;}
    }

    /*MENU MEGA*/
    .megamenu-style-dev{
        .navbar-default{ background: transparent; }
    }

    .container-megamenu.horizontal{
        .megamenu-wrapper{
            background: transparent;
        }
    }
    .container-megamenu.horizontal ul.megamenu > li{
        padding: 10px 0;
        > a{
            padding: 8px 10px;
            line-height: 100%;
            color: #444;            
            @include border-radius(3px);
        }
        &:hover,
        &.active,
        &.menu_active{
            > a{                
                color: #fff;
            }
        }

        &.item-style1 > .sub-menu,
        &.item-style2 > .sub-menu{
            width: 100% !important;
        }
    }    
    // vertical
    .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container{
        height: 50px;
        line-height: 51px;
        padding: side-values(0 0 0 47px) !important;
        &:after{
            top: 0px;
        }
    }
@media (min-width: 992px) and (max-width: 1500px){
    .container-megamenu.vertical .vertical-wrapper ul.megamenu > li > a{
        padding: 12px 0;
    }
}
@media (min-width: 992px){
    .container-megamenu.vertical .vertical-wrapper ul.megamenu{
        background-color: #fff;
        > li.active,
        > li:hover{
            background-color: #f8f8f8;
            > a{
                background-color: #f8f8f8 !important;
            }
        }
    }  

    .container-megamenu.vertical{
        position: relative;
        .vertical-wrapper{
            position: absolute;
            top: 50px;
            #{$left}: 0;
            width: 100%;
            @include effect-block-hide();
        }
        &:hover{
            .vertical-wrapper{
                @include effect-block-show();
            }
        }
    }
}
   
}

.common-home .typeheader-2 .container-megamenu.horizontal ul.megamenu > li.home > a{    
    color: #fff;
    
}

.common-home{
    .typeheader-2 .header-bottom{
        border-bottom: none;
    }
    .typeheader-2 .container-megamenu.vertical .vertical-wrapper{
        @include effect-block-show();
    }
    .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.with-sub-menu > a::before{
        top: 21px;
    }
}