


//** simple and lightweight mixin library for Sass **
//-- url : http://bourbon.io/docs ---
@import 'bourbon/bourbon';

//** Mixins for Rem Font Sizing **
//-- url : http://hugogiraudel.com/2013/03/18/ultimate-rem-mixin/
@import 'utilities/rem';

//** Variables for responsive design in bootstrap with sass **
//-- url : https://gist.github.com/webinfinita/11407836
@import 'utilities/bootstrap_breakpoints';

//** Makes supporting both left-to-right (LTR) and right-to-left (RTL) easy.**
//-- url : https://github.com/tysonmatanich/directional-scss
@import 'utilities/directional';

//Mixins utilities
@import 'utilities/theme_variables';
@import 'utilities/utilities';

/*===============================================
    [SASS DIRECTORY ]
    
    [1] BLOCK HEADER

    
==============================================*/
.common-home{
    .typeheader-1{
        margin-bottom: 20px;
    }
}
.typeheader-8{
    //margin-bottom: 20px;
    .header-top{
        background-color: #111;
        color: #999;
        font-size: 12px;
        height: 40px;
        line-height: 40px;
        .module{
            display: table-cell;
            margin-bottom: 0;
        }

        .header-top-right{text-align:$right;}

        .dropdown-menu{
            li{
                line-height: 22px;
            }
        }
        .header-top-right {display: inline-block;}

    }

    .logo{
        text-align: center;
    }

    .telephone {
        display: table-cell;
        color: #777;
        font-size: 14px;
        padding-top: 10px;
        .fa {
            font-size: 14px;
            //color: $linkColor;
            margin-#{$right}: 6px;
        }
        .number-phone {
            @include rem(font-size,14px);
        }
    }

    ul.top-link{list-style: none;margin:0; vertical-align:top;
        .dropdown-menu{
            #{$left}: 0;
            #{$right}: auto;
        }
        > li{                
            display: inline-block; 
            position: relative;           
            list-style: outside none none;
            padding-#{$left}: 20px;
            margin-#{$left}: 20px;
            padding-#{$right}: 0;
            font-size: 12px;
            &.language{
                min-height: 23px;
            }
            .btn-group .btn-link{
                padding: 0;
                border: none;
                color: #999;
                &:hover{
                    color: #fff;
                }
            }
            .fa-caret-down{
                font-size: 12px;
            }
            &:after {
                background-color: #555;
                content: "";
                height: 15px;
                position: absolute;
                #{$left}: 0;
                top: 12px;
                width: 1px;
            }
            >   a {
                font-size: 12px;
                color: #999;
                padding-#{$left}: 3px;
                &:hover{
                    color: #fff;
                }
            }
            
            &.account{
                > a{
                    padding: 0;
                    margin: 0;
                }
                &:before{
                    content: "\f007"; 
                    font-family: FontAwesome;
                    font-size: 12px;
                }                      
            }
            &.wishlist{
                &:before{
                    content: "\f004"; 
                    font-family: FontAwesome;
                    font-size: 11px;
                }  
            }

            &:hover{
                > a{color: #fff;}
            
            }

            &.account:hover  {
                ul.dropdown-link {top: 34px; z-index: 9999; opacity: 1; border-top: 1px solid rgba(200, 199, 199, 0.3);}
            }

            &.language{

            }
            &.welcome-msg,
            &:first-child{
                padding-#{$left}: 0px;
                margin-#{$left}: 0px;
                &:after{
                    display: none;
                }
            }
        }
    }

    
    // MENU ON TOP
    &.navbar-compact{
        .header-top{display: none;}

        .header-center{
            padding: 0;
            .navbar-logo .logo{
                border-left: 1px solid #dadada;
                border-right: 1px solid #dadada;
                max-width: 202px;
                padding: 9px 25px !important;
                position: fixed;
                top: 0;
                z-index: 999;
            }
        } 
        .header-bottom{
            margin: 0;
            /*.megamenu-style-dev{
                width: 100%;
                margin-left: 270px;
            }*/
        }
    }
    
    
    
    .header-center{
        clear: both;
        padding: 40px 0;
        .navbar-logo .logo{
            text-align: center;
        }
        
    }
    .header-bottom{
        //background: $background;
        
        .header-bottom-inner{
            border-top: 1px solid #eee;
        }
        
    }
 
    /*=====SEARCH ======*/
    #sosearchpro .search{
        position: relative;  
         .input-group-btn{
            position: absolute;
            top: 0;
            #{$right}: 0;
        }
        button{
            position: absolute;
            top: 1px;
            #{$right}: 4px;
            border-radius: 100%;
            background-color: #fff;
            width: 37px;
            height: 34px;
            text-align: center;
            padding: 0;

            i{
                font-size: 14px;
                color: #222;
            }
            &:hover{
                i{
                    //color: $linkColor;
                }
            }
        }
        
        input{
            border: 1px solid #ddd;
            border-radius: 3px;
            background-color: #fff;
            z-index: 0;
            height: 40px;
            padding-#{$left}: 15px;
            font-size: 14px;
            width: 210px;
            background-color: #fff;
            &:hover{
      
            }
            &:focus{
                z-index: 0;
      
            }
        }
        &:hover input{

        }
    }
  

    /*BLOCK CART*/
    .block-cart{ float: $right; position: relative; padding-#{$left}: 25px;
        

    }
    .shopping_cart{
        display: table-cell;
        position: absolute;
        top: -4px;
        #{$right}: 15px;
        .handle.pull-left{
            font-size: 12px;
            line-height: 100%;
            color: #fff;
            display: block;
            float: $left;
            width: 31px;
            height: 40px;
            margin-#{$right}: 10px;
            text-align: center;            
            background: url(#{$imgPath}icon/icon-cart8.png) no-repeat;            
            position: relative;
        }
        .block-cart{
            &:before{
                display: none;
            }
        }
        h2{
            display: none; color: #444444;font-size: 12px; margin: 0; font-weight: bold;}
        .btn-shopping-cart{display: block; cursor: pointer;width: auto; position: relative; padding-bottom: 20px; min-width: 90px;
            a.top_cart{
                .shopcart .text-shopping-cart-mobi{color: $linkColor;}
                .shopcart .text-shopping-cart{
                    padding: 0px; 
                    color: #222;
                    @include rem(font-size,14px); 
                    text-transform: capitalize; 
                    font-weight: 500; 
                    margin: 0;
                }
                /*&:after{content: "\f0d7"; font-family: fontawesome;font-size: 12px;position: absolute; #{$right}: 0;bottom: 2px;}*/
                &:hover{
                    //color: $linkColor;
                    //.shopcart .text-shopping-cart{color: $linkColor;}
                }
                .shopcart{

                }
            } 
            .total-shopping-cart{  
                .items_cart{
                    width: 22px; 
                    height: 22px;
                    line-height: 23px;
                    border: none;
                    text-align: center;                    
                    @include border-radius(100%);
                    position: absolute;
                    bottom: -10px;
                    #{$left}: -10px;
                    font-size: 12px;
                }
                .items_cart2{
                    display: none;
                }
                .items_carts{
                    position: absolute;
                    #{$left}: 42px;
                    bottom: 0px;
                    @include rem(font-size, 14px);
                    font-weight: 400;
                }
            }                    
        } 
        .dropdown-menu{ top: 100%; #{$right}: -15px; #{$left}: auto;
            
        }
        .shoppingcart-box:before{right: 50px;}
    }

    /*MENU MEGA*/
    .megamenu-style-dev{
        .navbar-default{ background: transparent; }
    }


    .container-megamenu.horizontal ul.megamenu{
        display: inline-flex;
        justify-content: center;
        width: 100%;
        > li{
            padding: 0;
            margin: 0 35px;
            > a{
                padding: 28px 0px;
                line-height: 100%;
                color: #111;
                position: relative;
                &:before{
                    position: absolute;
                    content: "";
                    width: 0;
                    height: 2px;
                    background-color: #111;
                    top: -1px;
                    #{$left}: 50%;
                    @include transition(all 0.2s ease-in-out 0s);  
                }
            }
            &:hover,
            &.active,
            &.menu_active{
                > a{                
                    background-color: #fff;
                    &:before{
                        width: 100%;
                        #{$left}: 0;
                    }
                }
            }

        }
    }     
}

.common-home .typeheader-8 .container-megamenu.horizontal ul.megamenu > li.home > a{
    background-color: #fff;
    &:before{
        width: 100%;
        #{$left}: 0;
    }
}
