

//** simple and lightweight mixin library for Sass **
//-- url : http://bourbon.io/docs ---
@import 'bourbon/bourbon';

//** Mixins for Rem Font Sizing **
//-- url : http://hugogiraudel.com/2013/03/18/ultimate-rem-mixin/
@import 'utilities/rem';

//** Variables for responsive design in bootstrap with sass **
//-- url : https://gist.github.com/webinfinita/11407836
@import 'utilities/bootstrap_breakpoints';

//** Makes supporting both left-to-right (LTR) and right-to-left (RTL) easy.**
//-- url : https://github.com/tysonmatanich/directional-scss
@import 'utilities/directional';

//Mixins utilities
@import 'utilities/theme_variables';
@import 'utilities/utilities';

/*===============================================
    [SASS DIRECTORY ]
    
    [1] BLOCK HEADER

    
==============================================*/

.typeheader-5{
    
    .header-top{
        background-color: #111;
        padding: 0 15px;
        .inner{
            padding: 30px 0;
            margin: 0 auto;
            max-width: 1860px;
            color: #777;
            font-size: 12px;
        }
        
        .module{
            display: table-cell;
            margin-bottom: 0;
        }

        .header-top-right{text-align:$right;}

        .dropdown-menu{
            li{
                line-height: 22px;
            }
        }
        .header-top-right {display: inline-block;}

    }
    .navbar-logo {
        text-align: center;
    }
    .telephone {
        display: table-cell;
        color: #777;
        font-size: 14px;
        padding-top: 10px;
        .fa {
            font-size: 14px;
            //color: $linkColor;
            margin-#{$right}: 6px;
        }
        .number-phone {
            @include rem(font-size,14px);
        }
    }

    ul.top-link{list-style: none;margin:0; vertical-align:top; padding-top: 5px;
        .dropdown-menu{
            #{$left}: 0;
            #{$right}: auto;
        }
        > li{      
            float: $left;          
            display: inline-block; 
            position: relative;           
            list-style: outside none none;
            padding-#{$left}: 20px;
            margin-#{$left}: 20px;
            padding-#{$right}: 0;
            font-size: 12px;
            &.language{
                min-height: 15px;
            }
            .btn-group .btn-link{
                padding: 0;
                border: none;
                color: #fff;
                &:hover{
                    //color: $linkColor;
                }
            }
            .fa-caret-down{
                font-size: 12px;
            }
            &:after {
                background-color: rgba(255,255,255,0.2);
                content: "";
                height: 15px;
                position: absolute;
                #{$left}: 0;
                top: 4px;
                width: 1px;
            }
            >   a {
                font-size: 12px;
                color: #fff;
                padding-#{$left}: 3px;
                &:hover{
                    //color: $linkColor;
                }
            }
            
            &.account{
                > a{
                    padding: 0;
                    margin: 0;
                }
                &:before{
                    content: "\f007"; 
                    font-family: FontAwesome;
                    font-size: 12px;
                }                      
            }
            &.wishlist{
                &:before{
                    content: "\f004"; 
                    font-family: FontAwesome;
                    font-size: 11px;
                }  
            }

            &:hover{
                //> a{color: $linkColor;}
            
            }

            &.account:hover  {
                ul.dropdown-link {top: 34px; z-index: 9999; opacity: 1; border-top: 1px solid rgba(200, 199, 199, 0.3);}
            }

            &.language{

            }
            &.welcome-msg{
                color: #fff;
            }
            &.welcome-msg,
            &:first-child{
                padding-#{$left}: 0px;
                margin-#{$left}: 0px;
                &:after{
                    display: none;
                }
            }
        }
    }

    
    // MENU ON TOP
    &.navbar-compact{
        .header-top{display: none;}

        .header-center{
            padding: 0;
            .navbar-logo {
                
            }
        } 
        .container-megamenu.horizontal ul.megamenu{
            justify-content: $left;
        }
        .header-bottom{
            margin: 0;
            /*.megamenu-style-dev{
                width: 100%;
                margin-left: 270px;
            }*/
        }
    }
    
    
    
    .header-center{
        clear: both;
        padding: 25px 0;
        position: relative;
        z-index: 99;
        
        .main-menu-w{
            padding-top: 20px;
        }
        > .container{
            position: relative;
            .cart-search{
                top: 6px;
                #{$right}: 0;
                position: absolute;
            }
        }
        
    }
    .header-bottom{
        //background: $background;
        
        .header-bottom-inner{

        }
        
    }

    /*=====SEARCH ======*/
 
    .search-header-w{
        float: $right;
        margin-#{$right}: 25px;
        position: relative;
        .icon-search{
            /*position: absolute;
            top: 2px;
            #{$right}: 6px;*/
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            i{
                font-size: 18px;
                color: #111;
            }
            &.active{
                i::before{
                    content:"\f00d";
                }
            }
            &:hover{
                cursor: pointer;
            }
        }
        &:hover{

            #sosearchpro .search{
                /*width: 100%;
                @include effect-block-show();*/

            }
        }
    }
    #sosearchpro .search{
        position: absolute;
        top: 40px;
        #{$right}: 0;
        display: none;
        //@include effect-block-hide();
        //@include transition(all 0s ease-in-out 0s); 
        button{
            position: absolute;
            top: 3px;
            #{$right}: 8px;
            border-radius: 0;
            background-color: #fff;
            width: 35px;
            height: 35px;
            text-align: center;
            line-height: 35px;
            padding: 0;

            i{
                font-size: 18px;
                color: #111111;
            }
            &:hover{
                i{
                    //color: $linkColor;
                }
            }
        }
        .input-group-btn{
            position: absolute;
            top: 0;
            #{$right}: 0;
        }
        input{
            border: 1px solid #ddd;
            border-radius: 0px;
            background-color: #fff;
            z-index: 0;
            height: 40px;
            padding-#{$left}: 20px;
            font-size: 14px;
            width: 300px;

            &:hover{
                //border-color: $linkColor;
            }
            &:focus{
                z-index: 0;
                //border-color: $linkColor;
            }
        }
        &:hover input{
            //border-color: $linkColor;
        }
    }
  

    /*BLOCK CART*/
    .block-cart{ float: $right; position: relative; padding-#{$left}: 25px;
        

    }
    .shopping_cart{
        float: $right;
        .handle.pull-left{
            font-size: 12px;
            line-height: 100%;
            color: #fff;
            display: block;
            float: $left;
            width: 31px;
            height: 40px;
            margin-#{$right}: 10px;
            text-align: center;            
            //background: url(#{$imgPath}icon/cart-icon2.png) no-repeat;
            background-image: url(#{$imgPath}icon/sprites.png);
            background-repeat: no-repeat;
            background-position: -151px -302px ;        
            position: relative;
        }
        .block-cart{
            &:before{
                display: none;
            }
        }
        h2{
            display: none; color: #444444;font-size: 12px; margin: 0; font-weight: bold;}
        .btn-shopping-cart{display: block; cursor: pointer;width: auto; position: relative; padding-bottom: 10px;
            a.top_cart{
                .shopcart .text-shopping-cart-mobi{color: $linkColor;}
                .shopcart .text-shopping-cart{
                    display: none;
                    padding: 0px; 
                    color: #222;
                    @include rem(font-size,14px); 
                    text-transform: capitalize; 
                    font-weight: 600; 
                    margin: 0;
                }
     
                &:hover{
    
                }
                .shopcart{

                }
            } 
            .total-shopping-cart{  
                .items_cart{
                    width: 21px; 
                    height: 21px;
                    line-height: 21px;
                    border: 1px solid #fff;
                    text-align: center;
                   // background-color: #ff5555;
                    @include border-radius(100%);
                    position: absolute;
                    bottom: 3px;
                    left: -10px;
                    font-size: 12px;
                }
                .items_cart2{
                    display: none;
                }
                .items_carts{
                    display: none;
                    position: absolute;
                    #{$left}: 42px;
                    bottom: 0px;
                    @include rem(font-size, 14px);
                    font-weight: 400;
                    color: #777;
                }
            }                    
        } 
        .dropdown-menu{ top: 100%; #{$right}: -15px; #{$left}: auto;
            
        }
        .shoppingcart-box:before{right: 50px;}
    }

    /*MENU MEGA*/
    .megamenu-style-dev{
        .navbar-default{ background: transparent; }
    }


    .container-megamenu.horizontal ul.megamenu{
        display: flex;
        justify-content: center;
        > li{
            padding: 0;
            margin: 0 20px;
            > a{
                padding: 0 0 20px 0;
                line-height: 100%;
                color: #111;            
                @include border-radius(0px);
                position: relative;
                
            }
            &:hover,
            &.active,
            &.menu_active{
                > a{                
                    background-color: transparent;  
                                
                }
            }

        }
    } 

}

.common-home .typeheader-5 .container-megamenu.horizontal ul.megamenu > li.home > a{
    &:after{
        width: 100%;
    }
}
