

//** simple and lightweight mixin library for Sass **
//-- url : http://bourbon.io/docs ---
@import 'bourbon/bourbon';

//** Mixins for Rem Font Sizing **
//-- url : http://hugogiraudel.com/2013/03/18/ultimate-rem-mixin/
@import 'utilities/rem';

//** Variables for responsive design in bootstrap with sass **
//-- url : https://gist.github.com/webinfinita/11407836
@import 'utilities/bootstrap_breakpoints';

//** Makes supporting both left-to-right (LTR) and right-to-left (RTL) easy.**
//-- url : https://github.com/tysonmatanich/directional-scss
@import 'utilities/directional';

//Mixins utilities
@import 'utilities/theme_variables';
@import 'utilities/utilities';

/*===============================================
    [SASS DIRECTORY ]
    
    [1] BLOCK HEADER

    
==============================================*/
.common-home{
    .typeheader-4{
        .header-center{
            background: none;
            padding-bottom: 0;
            position: absolute;
        }
    }
}
.typeheader-4{
    margin: 0 auto;
    max-width: 1720px;
    padding: 0;
    .header-top{
        color: #777;
        font-size: 12px;
        padding: 38px 0;
        width: 100%;
        @media (min-width: 1200px) and (max-width: 1366px){
            padding: 38px 20px;
        }
        .module{
            display: table-cell;
            margin-bottom: 0;
        }

        .header-top-right{text-align:$right;}

        .dropdown-menu{
            li{
                line-height: 22px;
            }
        }
        .header-top-right {display: inline-block;}

    }

    .telephone {
        display: table-cell;
        color: #777;
        font-size: 14px;
        padding-top: 10px;
        .fa {
            font-size: 14px;
            //color: $linkColor;
            margin-#{$right}: 6px;
        }
        .number-phone {
            @include rem(font-size,14px);
        }
    }
    .header-top-right{
        ul.top-link {
            display: flex;
            -webkit-display: flex;
            -ms-display: flex;
            -o-display: flex;
            justify-content: flex-end;
            .dropdown-menu{
                #{$left}: auto;
                #{$right}: 0;
            }
        }
    }
    ul.top-link{list-style: none;margin:0; vertical-align:top;
        .dropdown-menu{
            #{$left}: 0;
            #{$right}: auto;
        }
        > li{                
            display: inline-block; 
            position: relative;           
            list-style: outside none none;
            padding-#{$left}: 20px;
            margin-#{$left}: 20px;
            padding-#{$right}: 0;
            font-size: 12px;
            &.language{
                min-height: 15px;
            }
            .btn-group .btn-link{
                padding: 0;
                border: none;
                color: #777;
                &:hover{
                    //color: $linkColor;
                }
            }
            .fa-caret-down{
                font-size: 12px;
            }
            &:after {
                background-color: #ccc;
                content: "";
                height: 15px;
                position: absolute;
                #{$left}: 0;
                top: 4px;
                width: 1px;
            }
            >   a {
                font-size: 12px;
                color: #777;
                padding-#{$left}: 3px;
                &:hover{
                    //color: $linkColor;
                }
            }
            
            &.account{
                > a{
                    padding: 0;
                    margin: 0;
                }
                &:before{
                    content: "\f007"; 
                    font-family: FontAwesome;
                    font-size: 12px;
                }                      
            }
            &.wishlist{
                &:before{
                    content: "\f004"; 
                    font-family: FontAwesome;
                    font-size: 11px;
                }  
            }

            &:hover{
                //> a{color: $linkColor;}
            
            }

            &.account:hover  {
                ul.dropdown-link {top: 34px; z-index: 9999; opacity: 1; border-top: 1px solid rgba(200, 199, 199, 0.3);}
            }

            &.language{

            }
            &.welcome-msg,
            &:first-child{
                padding-#{$left}: 0px;
                margin-#{$left}: 0px;
                &:after{
                    display: none;
                }
            }
        }
    }

    
    // MENU ON TOP
    &.navbar-compact{
        background-color: #293b49;
        max-width: 1920px;
        .header-top{display: none;}

        .header-center{
            padding: 15px 0 0 0; 
            background-image: none;
            .main-menu-w{
                padding-top: 19px;
            }
            .navbar-logo .logo{
                padding-top: 5px;
            }
        } 
        .header-bottom{
            margin: 0;
            /*.megamenu-style-dev{
                width: 100%;
                margin-left: 270px;
            }*/
        }
    }
    
    
    
    .header-center{
        clear: both;
        padding: 27px 0 20px 0;
        //display: flex;
        width: 100%;
       // position: absolute;
        z-index: 99;
        background: url("#{$imgPath}bg-header4.jpg") no-repeat;
        .navbar-logo .logo{
            padding-#{$left}: 28px;
            padding-top: 7px;
        }
        .main-menu-w{
            padding-top: 25px;
        }
        .center-right{
            padding-#{$right}: 30px;
        }
        
    }
    .header-bottom{
        //background: $background;
        
        .header-bottom-inner{

        }
        
    }

    
    /*=====SEARCH ======*/

    .search-header-w{
        float: $right;
        margin-#{$right}: 25px;
        width: 80%;
        margin-top: 5px;
        position: relative;
        .icon-search{
            position: absolute;
            top: 2px;
            #{$right}: 6px;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            i{
                font-size: 22px;
                color: #fff;
            }
        }
        &:hover{
            #sosearchpro .search{
                width: 100%;
                @include effect-block-show();

            }
        }
    }
    #sosearchpro .search{
        position: absolute;
        top: 0;
        #{$right}: 0;
        width: 0;
        @include effect-block-hide();
        //@include transition(all 0s ease-in-out 0s); 
         .input-group-btn{
            position: absolute;
            top: 0;
            #{$right}: 0;
        }
        button{
            position: absolute;
            top: 3px;
            #{$right}: 8px;
            border-radius: 0;
            background-color: #fff;
            width: 35px;
            height: 35px;
            text-align: center;
            line-height: 35px;
            padding: 0;

            i{
                font-size: 22px;
                color: #333;
            }
            &:hover{
                i{
                    //color: $linkColor;
                }
            }
        }
        
        input{
            border: 1px solid #ddd;
            border-radius: 0px;
            background-color: #fff;
            z-index: 0;
            height: 40px;
            padding-#{$left}: 20px;
            font-size: 14px;
            width: 100%;

            &:hover{
                //border-color: $linkColor;
            }
            &:focus{
                z-index: 0;
                //border-color: $linkColor;
            }
        }
        &:hover input{
            //border-color: $linkColor;
        }
    }
  

    /*BLOCK CART*/
    .block-cart{ float: $right; position: relative; padding-#{$left}: 25px;
        

    }
    .shopping_cart{
        float: $right;
        margin-top: 5px;
        .handle.pull-left{
            font-size: 12px;
            line-height: 100%;
            color: #fff;
            display: block;
            float: $left;
            width: 31px;
            height: 40px;
            margin-#{$right}: 10px;
            text-align: center;            
            //background: url(#{$imgPath}icon/cart-icon2.png) no-repeat;
            background-image: url(#{$imgPath}icon/sprites.png);
            background-repeat: no-repeat;
            background-position: -150px -201px;            
            position: relative;
        }
        .block-cart{
            &:before{
                display: none;
            }
        }
        h2{
            display: none; color: #444444;font-size: 12px; margin: 0; font-weight: bold;}
        .btn-shopping-cart{display: block; cursor: pointer;width: auto; position: relative; padding-bottom: 20px;
            a.top_cart{
                .shopcart .text-shopping-cart-mobi{color: $linkColor;}
                .shopcart .text-shopping-cart{
                    display: none;
                    padding: 0px; 
                    color: #222;
                    @include rem(font-size,14px); 
                    text-transform: capitalize; 
                    font-weight: 600; 
                    margin: 0;
                }
     
                &:hover{
    
                }
                .shopcart{

                }
            } 
            .total-shopping-cart{  
                .items_cart{
                    width: 22px; 
                    height: 22px;
                    line-height: 23px;
                    border: none;
                    text-align: center;
                   // background-color: #ff5555;
                    @include border-radius(100%);
                    position: absolute;
                    bottom: -2px;
                    #{$left}: -10px;
                    font-size: 12px;
                }
                .items_cart2{
                    display: none;
                }
                .items_carts{
                    display: none;
                    position: absolute;
                    #{$left}: 42px;
                    bottom: 0px;
                    @include rem(font-size, 14px);
                    font-weight: 400;
                    color: #777;
                }
            }                    
        } 
        .dropdown-menu{ top: 100%; #{$right}: -15px; #{$left}: auto;
            
        }
        .shoppingcart-box:before{right: 50px;}
    }

    /*MENU MEGA*/
    .megamenu-style-dev{
        .navbar-default{ background: transparent; 
            .megamenu-wrapper{
                background: transparent;
            }
        }
    }


    .container-megamenu.horizontal ul.megamenu{
        display: flex;
        justify-content: center;
        > li{
            padding: 0;
            margin: 0 20px;
            > a{
                padding: 0 0 20px 0;
                line-height: 100%;
                color: #fff;            
                @include border-radius(0px);
                position: relative;
                &:after{
                    position: absolute;
                    content: "";
                    width: 0;
                    height: 2px;
                    bottom: 12px;
                    #{$left}: 0;
                     @include effect-block-hide();
                }
            }
            &:hover,
            &.active,
            &.menu_active{
                > a{                
                    background-color: transparent;  
                    &:after{
                        width: 100%;
                        @include effect-block-show();
                    }              
                }
            }

        }
    } 

}

.common-home .typeheader-4 .container-megamenu.horizontal ul.megamenu > li.home > a{
    &:after{
        width: 100%;
        @include effect-block-show();
    }
}


/*========*/
@media (max-width: 1366px){
    header.typeheader-4{
        .search-header-w{
            position: relative;
            width: auto;
            .icon-search{
                
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 50px;
                i{
                    font-size: 22px;
                    //color: #111;
                }
                &.active{
                    i::before{
                        content:"\f00d";
                    }
                }
                &:hover{
                    cursor: pointer;
                }

            }
            #sosearchpro .search{
                display: none;
                opacity: 1;
                visibility: visible;
                position: absolute;
                width: 270px;
                transition: none;
                top: 45px;
                #{$right}: -50px;
                input{
                    width: 270px;
                }
                .input-group-btn{
                    position: absolute;
                    top: 0;
                    #{$right}: 0;
                }
            }
            &:hover{
                #sosearchpro .search{
                    opacity: 1;
                    visibility: visible;
                    width: 270px;
                    transition: none;
                }
            }
        }
    }
    
}