{{ header }}
<div id="checkout-cart" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if attention %}
  <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ attention }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}
        {% if weight %}
        &nbsp;({{ weight }})
        {% endif %} </h1>
      <form action="{{ action }}" method="post" enctype="multipart/form-data">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <td class="text-center">{{ column_image }}</td>
                <td class="text-left">{{ column_name }}</td>
                <td class="text-left">{{ column_model }}</td>
                <td class="text-left">{{ column_quantity }}</td>
                <td class="text-right">{{ column_price }}</td>
                <td class="text-right">{{ column_total }}</td>
              </tr>
            </thead>
            <tbody>
            
            {% for product in products %}
            <tr>
              <td class="text-center">{% if product.thumb %} <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail" /></a> {% endif %}</td>
              <td class="text-left"><a href="{{ product.href }}">{{ product.name }}</a> {% if not product.stock %} <span class="text-danger">***</span> {% endif %}
                {% if product.option %}
                {% for option in product.option %} <br />
                <small>{{ option.name }}: {{ option.value }}</small> {% endfor %}
                {% endif %}
                {% if product.reward %} <br />
                <small>{{ product.reward }}</small> {% endif %}
                {% if product.recurring %} <br />
                <span class="label label-info">{{ text_recurring_item }}</span> <small>{{ product.recurring }}</small> {% endif %}</td>
              <td class="text-left">{{ product.model }}</td>
              <td class="text-left"><div class="input-group btn-block" style="max-width: 200px;">
                  
                  {% if (quantity_status is defined and quantity_status) %} 
                    <input type="text" name="quantity[{{ product['cart_id'] }}]" value="{{ product['quantity'] }}" size="1" class="form-control" readonly/>
                  {% else %} 
                      <input type="text" name="quantity[{{ product['cart_id'] }}]" value="{{ product['quantity'] }}" size="1" class="form-control" />
                  {% endif %}
                
                  <span class="input-group-btn">
                  <button type="submit" data-toggle="tooltip" title="{{ button_update }}" class="btn btn-primary"><i class="fa fa-refresh"></i></button>
                  <button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger" onclick="cart.remove('{{ product.cart_id }}');"><i class="fa fa-times-circle"></i></button>
                  </span></div></td>
              <td class="text-right">{{ product.price }}</td>
              <td class="text-right">{{ product.total }}</td>
            </tr>
            {% endfor %}
            {% for voucher in vouchers %}
            <tr>
              <td></td>
              <td class="text-left">{{ voucher.description }}</td>
              <td class="text-left"></td>
              <td class="text-left"><div class="input-group btn-block" style="max-width: 200px;">
                  <input type="text" name="" value="1" size="1" disabled="disabled" class="form-control" />
                  <span class="input-group-btn">
                  <button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger" onclick="voucher.remove('{{ voucher.key }}');"><i class="fa fa-times-circle"></i></button>
                  </span></div></td>
              <td class="text-right">{{ voucher.amount }}</td>
              <td class="text-right">{{ voucher.amount }}</td>
            </tr>
            {% endfor %}
              </tbody>
            
          </table>
        </div>
      </form>
      {% if modules %}
      <h2>{{ text_next }}</h2>
      <p>{{ text_next_choice }}</p>
      <div class="panel-group" id="accordion"> {% for module in modules %}
        {{ module }}
        {% endfor %} </div>
      {% endif %} <br />
      <div class="row">
        <div class="col-sm-4 col-sm-offset-8">
          <table class="table table-bordered">
            {% for total in totals %}
            <tr>
              <td class="text-right"><strong>{{ total.title }}:</strong></td>
              <td class="text-right">{{ total.text }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
      <div class="buttons clearfix">
        <div class="pull-left"><a href="{{ continue }}" class="btn btn-default">{{ button_shopping }}</a></div>
        <div class="pull-right"><a href="{{ checkout }}" class="btn btn-primary">{{ button_checkout }}</a></div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
   
   
</div>
<div class="cart-page">
<div class="container">
 <div class="row">
         
        <div class="col-md-8">
            <div class="cart-block">
                <h3><i class="fa fa-cart-arrow-down"></i>My cart</h3>
                <ul>
                    <li>
                        <div class="cart-sec">
                        <div class="cart-img">
                           <a href=""><img src="http://poorvikabeta.webindia.com/image/cache/catalog/demo/imac_1-90x120.jpg"></a>
                        </div>
                        <div class="cart-cont">
                            <div class="cart-det">
                                <div class="cart-info">
                                    <h6>Dell Laptop</h6>
                                    <small>8Gb RAM</small>
                                    <strong>&#8377;1,06,000</strong>
                                    <small class="available-off-cart"><strike>&#8377;2,06,000</strike>(4% OFF) <span>9 offer available<i class="fa fa-info"></i></span></small>
                                    
                                </div>
                                <div class="cart-delivery">
                                    <select name="type" class="custom-select">
                                      <option value="">Regulary Delivery</option>
                                      <option value="">Fast Delivery</option>
                                     </select>
                                     <span><small>Free</small>delivery by Aug 15</span>
                                </div>
                            </div>
                             <div class="cart-edit">
                                <div class="cart-quantity">
                                  <a href=""><i class="fa fa-minus-square-o"></i></a> <span>1</span>  <a href=""><i class="fa fa-plus-square-o"></i></a>
                                </div>
                                <div class="cart-remove">
                                   <span><a href="">Move to whitelist</a></span>
                                    <strong><a href="">Remove<i class="fa fa-trash"></i></a></strong>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="cart-protection">
                            <div class="protection-img">
                                <img src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/protection-img.png">
                            </div>
                            <div class="protection-cont">
                                <h6>complete mobile protection</h6>
                                <strong>&#8377;1,06,000</strong>
                                    <small class="available-off-cart"><strike>&#8377;2,06,000</strike> <span>(4% OFF)</span></small>
                                    <p>Brand authorised repair / replacement guarantee for 1 year.Special offer"Get 6 month Google One trial with complete mobile protection"<a href="">Know More</a></p>
                                    <a href="" class="btn btn-protect">Add Protection</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="cart-sec">
                        <div class="cart-img">
                           <a href=""><img src="http://poorvikabeta.webindia.com/image/cache/catalog/demo/imac_1-90x120.jpg"></a>
                        </div>
                        <div class="cart-cont">
                            <div class="cart-det">
                                <div class="cart-info">
                                    <h6>Dell Laptop</h6>
                                    <small>8Gb RAM</small>
                                    <strong>&#8377;1,06,000</strong>
                                    <small class="available-off-cart"><strike>&#8377;2,06,000</strike>(4% OFF) <span>9 offer available<i class="fa fa-info"></i></span></small>
                                    
                                </div>
                                <div class="cart-delivery">
                                    <select name="type" class="custom-select">
                                      <option value="">Regulary Delivery</option>
                                      <option value="">Fast Delivery</option>
                                     </select>
                                     <span><small>Free</small>delivery by Aug 15</span>
                                </div>
                            </div>
                             <div class="cart-edit">
                                <div class="cart-quantity">
                                  <a href=""><i class="fa fa-minus-square-o"></i></a> <span>1</span>  <a href=""><i class="fa fa-plus-square-o"></i></a>
                                </div>
                                <div class="cart-remove">
                                    <span><a href="">Move to whitelist</a></span>
                                    <strong><a href="">Remove<i class="fa fa-trash"></i></a></strong>
                                </div>
                            </div>
                        </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="cart-block whitelist-block">
                <h3><i class="fa fa-heart"></i>My whitelist</h3>
                <ul>
                    <li>
                        <div class="cart-sec">
                        <div class="cart-img">
                           <a href=""><img src="http://poorvikabeta.webindia.com/image/cache/catalog/demo/imac_1-90x120.jpg"></a>
                        </div>
                        <div class="cart-cont">
                            <div class="cart-det whitelist-border">
                                <div class="cart-info">
                                    <h6>Dell Laptop</h6>
                                    	<div class="rating">
						    <div class="rating-show whitelist-size">
						        <h6>4.5</h6>
						    </div>
							<div class="rating-box whitelist-rating">
							{% for i in 1..5 %}
								{% if rating < i %}<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>{% else %}<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>{% endif %}
							{% endfor %}
							</div>
						</div>
                                    <strong>&#8377;1,06,000</strong>
                                   
                                    
                                </div>
                                <div class="cart-delivery move-cart">
                                   <a href="" class="btn btn-move-cart">Move to Cart</a>
                                   <span><a href="">Remove<i class="fa fa-trash"></i></a></span>
                                </div>
                            </div>
                             
                        </div>
                        </div>
                    </li>
                     <li>
                        <div class="cart-sec">
                        <div class="cart-img">
                           <a href=""><img src="http://poorvikabeta.webindia.com/image/cache/catalog/demo/imac_1-90x120.jpg"></a>
                        </div>
                        <div class="cart-cont">
                            <div class="cart-det whitelist-border">
                                <div class="cart-info">
                                    <h6>Dell Laptop</h6>
                                    	<div class="rating">
						    <div class="rating-show whitelist-size">
						        <h6>4.5</h6>
						    </div>
							<div class="rating-box whitelist-rating">
							{% for i in 1..5 %}
								{% if rating < i %}<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>{% else %}<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>{% endif %}
							{% endfor %}
							</div>
						</div>
                                    <strong>&#8377;1,06,000</strong>
                                   
                                    
                                </div>
                                <div class="cart-delivery move-cart">
                                   <a href="" class="btn btn-move-cart">Move to Cart</a>
                                   <span><a href="">Remove<i class="fa fa-trash"></i></a></span>
                                </div>
                            </div>
                             
                        </div>
                        </div>
                    </li>
                   
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="cart-block summary">
            <h3>Payment Summary</h3>
            <ul>
                <li>Price-2 items<span>&#8377;1,06,000</span></li>
                 <li>Delivery Fee<span class="green-color">Free</span></li>
                  <li>Coupon Discount<span><a href="">Apply Coupon</a></span></li>
                  <li class="total-amount">Total Amount<span>&#8377;1,06,000</span></li>
                  <li class="save-offer"><i class="fa fa-percent"></i>You will save &#8377;6,000 on this Order</li>
            </ul>
            </div>
            <div class="gift-certify">
                <h3><i class="fa fa-gift"></i>Use Gift Certificate</h3>
                <input type="text" id="fname" name="fname" placeholder="Enter Gift Code">
                <a href="" class="btn btn-protect btn-gift">Apply Gift Certificate</a>
            </div>
            <div class="checkout-button">
                <a href="" class="btn btn-checkout">Proceed To Checkout</a>
            </div>
        </div>
    </div>
</div>
</div>
<div class="address-page">
    <div class="container">
    <div class="row">
        <div class="col-md-8">
             <div class="cart-block address-block">
                <h3><i class="fa fa-home"></i>My Address<a href=""><i class="fa fa-plus"></i>Add New Address</a></h3>
                <ul>
                    <li>
                        <div class="address-det">
                            <input type="radio" id="address" name="Address">
                            <strong>Vivek Jose</strong>
                            <span>Home</span>
                            <small>COD Available</small>
                        </div>
                        <div class="address-cont">
                            <p>3c, 3rd road cornival inforphase 2, kakkanna <br>Ernakulam,kerala-625454</p>
                            <span>Mobile:8565678456</span>
                        </div>
                        <div class="address-button">
                            <a href="" class="btn btn-add-remove"><i class="fa fa-trash"></i>Remove</a>
                            <a href="" class="btn btn-add-edit"><i class="fa fa-edit"></i>edit</a>
                        </div>
                    </li>
                     <li>
                        <div class="address-det">
                            <input type="radio" id="address" name="Address">
                            <strong>Vivek Jose</strong>
                            <span>Office</span>
                            
                        </div>
                        <div class="address-cont">
                            <p>3c, 3rd road cornival inforphase 2, kakkanna <br>Ernakulam,kerala-625454</p>
                            <span>Mobile:8565678456</span>
                        </div>
                        <div class="address-button">
                            <a href="" class="btn btn-add-remove"><i class="fa fa-trash"></i>Remove</a>
                            <a href="" class="btn btn-add-edit"><i class="fa fa-edit"></i>edit</a>
                        </div>
                    </li>
                </ul>
                </div>
            
        </div>
        <div class="col-md-4">
            <div class="cart-block summary">
            <h3>Payment Summary</h3>
            <ul>
                <li>Price-2 items<span>&#8377;1,06,000</span></li>
                 <li>Delivery Fee<span class="green-color">Free</span></li>
                  
                  <li class="total-amount">Total Amount<span>&#8377;1,06,000</span></li>
                  <li class="save-offer"><i class="fa fa-percent"></i>You will save &#8377;6,000 on this Order</li>
            </ul>
            </div>
            <div class="gift-certify">
                <h3><i class="fa fa-gift"></i>Use Gift Certificate</h3>
                <input type="text" id="fname" name="fname" placeholder="Enter Gift Code">
                <a href="" class="btn btn-protect btn-gift">Apply Gift Certificate</a>
            </div>
            <div class="checkout-button">
                <a href="" class="btn btn-checkout">Proceed To Checkout</a>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="payment-page">
    <div class="container">
    <div class="row">
        <div class="col-md-8">
           <div class="cart-block payment-offers">
                <h3><span><i class="fa fa-percent"></i>payment offer</span></h3>
                <div class="offers-cont">
                    <ul>
                        <li>Flat 0% discount on first prepaid transaction using Rupay debit card T&C</li>
                      
                    </ul>
                   <span>Show More<i class="fa fa-angle-down"></i></span>
                   
                </div>
                <div class="pay-card">
                    <h3><i class="fa fa-credit-card"></i>Choose Payment Methods</h3>
                    <ul>
                        <li>
                            <div class="bank-det">
                                <input type="radio" id="address" name="Address">
                                <img src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/images/axis-logo.png"><span>Axis Bank Debit card</span>
                                <strong><i class="fa fa-percent"></i>&#8377;30 Instant discount Applicable.<a href="">Details<i class="fa fa-angle-right"></i></a></strong>
                            </div>
                            <span>5184 **** **** 4334</span>
                            <div class="bank-opt-cont">
                                <strong>
                                <input type="number" id="fname" name="fname" placeholder="CVV"><i class="fa fa-question-circle"></i>
                                </strong>
                                <a href="" class="btn btn-checkout btn-opt-confirm">Continue</a>
                                <p>This card is recommend for You <i class="fa fa-question-circle"></i></p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="other-payment">
                      <h3><i class="fa fa-credit-card"></i>Other Payment Methods</h3>
                      <div class="payment-tabs">
                          <div class="col-md-4 pr-0 pl-0">
                      <ul>
                          <li> <button class="tablinks" onclick="openCity(event, 'credit')">Credit/Debit</button></li>
                          <li><button class="tablinks" onclick="openCity(event, 'netbanking')">Net Banking</button></li>
                          <li><button class="tablinks" onclick="openCity(event, 'cashcard')">Cash Card</button></li>
                          <li><button class="tablinks" onclick="openCity(event, 'wallet')">Wallet</button><span>Offers Available on PayTM Payzapp</span></li>
                          <li><button class="tablinks" onclick="openCity(event, 'emi')">EMI</button><span>Get EMI on HDFC Bank</span></li>
                      </ul>
                      </div>
                      <div class="col-md-8 pr-0 pl-0">
                      <div class="payment-card tabcontent" id="credit">
                         <div class="input-block">
                          <label>Number*</label>
                          <span><input type="number" id="fname" name="fname"></span> 
                         </div>
                         <div class="input-block">
                           <label>Name Of the Card*</label>
                          <span><input type="text" id="fname" name="fname"></span> 
                         </div>
                         <div class="col-md-6 pr-0 pl-0">
                          <div class="select-box">
                           <label>Expiry Month*</label>
                         <select name="type" class="custom-select">
                                      <option value="">Month</option>
                                      <option value="">Jan</option>
                                      <option value="">Feb</option>
                                     </select>
                         </div>
                         </div>
                         <div class="col-md-6 pr-0 pl-0">
                         <div class="select-box">
                           <label>Expiry Year*</label>
                         <select name="type" class="custom-select">
                                      <option value="">Year</option>
                                      <option value="">2023</option>
                                       <option value="">2024</option>
                                     </select>
                                     </div>
                                     </div>
                                       <div class="col-md-3">
                         <div class="input-block1">
                                <label>CVV*</label>
                               <input type="number" id="fname" name="fname" placeholder="CVV">
                        </div>
                        </div>
                        <div class="col-md-9">
                        <div class="input-para">
                              <p>The last three digits printed on the back of the card</p>
                          </div>
                          </div>
                      </div>
                       <div class="payment-card tabcontent tab-hide" id="netbanking">
                         <div class="input-block">
                          <label>Card Number*</label>
                          <span><input type="number" id="fname" name="fname"></span> 
                         </div>
                         <div class="input-block">
                           <label>Name Of the Card*</label>
                          <span><input type="text" id="fname" name="fname"></span> 
                         </div>
                         <div class="col-md-6 pr-0 pl-0">
                          <div class="select-box">
                           <label>Expiry Month*</label>
                         <select name="type" class="custom-select">
                                      <option value="">Month</option>
                                      <option value="">Jan</option>
                                      <option value="">Feb</option>
                                     </select>
                         </div>
                         </div>
                         <div class="col-md-6 pr-0 pl-0">
                         <div class="select-box">
                           <label>Expiry Year*</label>
                         <select name="type" class="custom-select">
                                      <option value="">Year</option>
                                      <option value="">2023</option>
                                       <option value="">2024</option>
                                     </select>
                                     </div>
                                     </div>
                                       <div class="col-md-3">
                         <div class="input-block1">
                                <label>CVV*</label>
                               <input type="number" id="fname" name="fname" placeholder="CVV">
                        </div>
                        </div>
                        <div class="col-md-9">
                        <div class="input-para">
                              <p>The last three digits printed on the back of the card</p>
                          </div>
                          </div>
                      </div>
                      </div>
                      </div>
                </div>
            </div>
            
        </div>
        <div class="col-md-4">
            <div class="cart-block summary payment">
            <h3>Order Confirmation<a href="">Edit Cart</a></h3>
            <ul class="none-boxshadow">
               
                     <li>
                    <div class="payment-img">
                        <img src="http://poorvikabeta.webindia.com/image/cache/catalog/demo/imac_1-90x120.jpg">
                    </div>
                    <div class="payment-cont">
                        <span>Dell Laptop<small>8GB RAM</small></span>
                        <strong>&#8377;1,06,000</strong>
                    </div>
                </li>
                  <li>
                    <div class="payment-img">
                        <img src="http://poorvikabeta.webindia.com/image/cache/catalog/demo/imac_1-90x120.jpg">
                    </div>
                    <div class="payment-cont">
                        <span>Dell Laptop<small>8GB RAM</small></span>
                        <strong>&#8377;1,06,000</strong>
                    </div>
                </li>
                
            </ul>
            <ul>
               
               
                 <li>Delivery Fee<span class="green-color">Free</span></li>
                  <li>Coupon Discount<span><a href="">Apply Coupon</a></span></li>
                  <li class="total-amount">Total Amount<span>&#8377;1,06,000</span></li>
                  <li class="save-offer"><i class="fa fa-percent"></i>You will save &#8377;6,000 on this Order</li>
            </ul>
            </div>
           
        </div>
    </div>
    </div>
</div>
<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
{{ footer }} 