@charset "UTF-8";
/* [2] */
/* [8] */
/*===============================================
 [SASS DIRECTORY ]
 [1] Minxin Link
 [2] Minxin Button
 [3] Minxin Triangle
 [4] Minxin LABEL PRODUCT
 [5] Minxin Scrollbars
 [6] Minxin Dev Custom
 ==============================================*/
.no-margin {
  margin: 0 !important; }
/*Dev Custom */
/*====================================================*/
.lib-list-item-product2 {
  border: none; }
  .lib-list-item-product2 .image-dev .list-button-dev {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0); }
    .lib-list-item-product2 .image-dev .list-button-dev li {
      display: inline-block;
      float: left;
      height: 40px;
      width: 40px;
      background: #fff;
      position: relative;
      border-width: 0 1px 0 0;
      border-style: solid;
      border-color: #ddd;
      opacity: 0;
      transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
        transform: translateX(40px);
        -moz-transform: translateX(40px);
        -webkit-transform: translateX(40px);
        -ms-transform: translateX(40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
        transform: translateX(-40px);
        -moz-transform: translateX(-40px);
        -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:first-child {
        border-left: 1px solid #ddd; }
      .lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
        background: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        line-height: 40px;
        text-align: center;
        box-shadow: none;
        border: none;
        color: #555;
        width: 40px;
        padding: 0; }
      .lib-list-item-product2 .image-dev .list-button-dev li:hover {
        background: #f55; }
        .lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
          color: #fff; }
  .lib-list-item-product2 .caption-dev {
    text-align: center;
    padding: 0 15px; }
    .lib-list-item-product2 .caption-dev .rating-dev {
      margin: 5px 0; }
    .lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
      font-size: 11px; }
    .lib-list-item-product2 .caption-dev .title-dev {
      color: #444;
      font-size: 13px; }
    .lib-list-item-product2 .caption-dev .price-dev .price.product-price {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-new {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-old {
      font-size: 12px; }
    .lib-list-item-product2 .caption-dev .add-cart-dev {
      background: #fff;
      border: 1px solid #ddd;
      font-size: 12px;
      text-transform: uppercase;
      color: #999;
      font-weight: bold;
      box-shadow: none;
      border-radius: 0;
      padding: 6px 20px;
      margin: 0 0 30px;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out; }

.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block; }
  .lib-two-img .img-1 {
    opacity: 1;
    position: relative;
    transition: all 0.5s ease-in-out; }
  .lib-two-img .img-2 {
    position: absolute;
    z-index: 0;
    top: 0;
    opacity: 0;
    display: block;
    transition: all 0.5s ease-in-out;
    left: 50%;
    transform: translateX(-50%); }

.lib-two-img-over .img-1 {
  opacity: 0;
  transform-style: inherit;
  transition: all 0.5s ease-in-out; }
  .lib-two-img-over .img-2 {
    opacity: 1;
    transform-style: inherit;
    transition: all 0.5s ease-in-out; }
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }
/* ================================================================================ */
.typefooter-3 {
  margin-top: 40px;
  background-color: #f5f5f5;
  color: #777;
  /* GENERAL */
  /* FOOTER BOTTOM */ }
  .typefooter-3 .newsletter h3.modtitle {
    float: left;
    width: 33%;
    margin-top: -2px;
    /* [4] */
    /* [6] */
    /* [6] */
    /* [7] */
    font-size: 28px;
    font-size: 2.8rem;
    /* [8] */
    font-weight: 700;
    color: #333;
    text-transform: uppercase; }
  .typefooter-3 .newsletter h3.modtitle span {
    color: #777;
    font-size: 14px; }
  .typefooter-3 .newsletter .title-block {
    width: 50%;
    float: left;
    text-transform: uppercase; }
  .typefooter-3 .newsletter .title-block .pre-text {
    /* [4] */
    /* [6] */
    /* [6] */
    /* [7] */
    font-size: 14px;
    font-size: 1.4rem;
    /* [8] */ }
  .typefooter-3 .newsletter .block_content {
    float: left; }
  .typefooter-3 .newsletter .block_content form {
    margin-top: 10px; }
  .typefooter-3 .newsletter .block_content form.signup .form-group {
    display: table; }
    .typefooter-3 .newsletter .block_content form.signup .form-group .input-box {
      background-color: #fff;
      border-radius: 5px;
      display: table-cell;
      vertical-align: top;
      padding-left: 25px;
      border: none; }
      .typefooter-3 .newsletter .block_content form.signup .form-group .input-box .fa {
        display: none; }
    .typefooter-3 .newsletter .block_content form.signup .form-group .subcribe {
      display: inline-block;
      vertical-align: top;
      margin-left: 5px; }
    .typefooter-3 .newsletter .block_content form.signup .form-group #txtemail {
      width: 357px;
      height: 33px;
      line-height: 33px;
      box-shadow: none;
      padding: 0;
      border: none;
      border-bottom: 1px solid #eee;
      background-color: #fff; }
      .typefooter-3 .newsletter .block_content form.signup .form-group #txtemail::-moz-placeholder {
        color: #888;
        opacity: 1; }
      .typefooter-3 .newsletter .block_content form.signup .form-group #txtemail:-ms-input-placeholder {
        color: #888; }
      .typefooter-3 .newsletter .block_content form.signup .form-group #txtemail::-webkit-input-placeholder {
        color: #888; }
      .typefooter-3 .newsletter .block_content form.signup .form-group #txtemail:focus {
        z-index: 0; }
  .typefooter-3 .newsletter .block_content form.signup .subcribe button {
    border: 0 none;
    color: #fff;
    font-weight: 400;
    font-size: 100%;
    height: 33px;
    line-height: 33px;
    padding: 0 17px;
    text-transform: uppercase;
    background-color: #333; }
    .typefooter-3 .modtitle {
      color: #333;
      /* [4] */
      /* [6] */
      /* [6] */
      /* [7] */
      font-size: 18px;
      font-size: 1.8rem;
      /* [8] */
      line-height: 20px;
      margin-bottom: 10px !important;
      padding-bottom: 12px;
      font-weight: 600;
      text-transform: uppercase; }
  .typefooter-3 .modtitle span {
    font-weight: 400; }
  .typefooter-3 .box-footer .modcontent ul li a {
    line-height: 35px;
    display: inline-block;
    position: relative;
    transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s; }
    .typefooter-3 .box-footer .modcontent ul li a:before {
      background-color: #f55;
      border-radius: 50%;
      content: "";
      height: 4px;
      left: 0;
      position: absolute;
      top: 15px;
      width: 4px;
      visibility: hidden;
      -webkit-opacity: 0;
      -moz-opacity: 0;
      -ms-opacity: 0;
      -o-opacity: 0;
      opacity: 0;
      transition: all 0.2s ease-in-out 0s;
      -moz-transition: all 0.2s ease-in-out 0s;
      -webkit-transition: all 0.2s ease-in-out 0s; }
    .typefooter-3 .box-footer .modcontent ul li a:hover {
      padding-left: 10px; }
    .typefooter-3 .box-footer .modcontent ul li a:hover:before {
      visibility: visible;
      -webkit-opacity: 1;
      -moz-opacity: 1;
      -ms-opacity: 1;
      -o-opacity: 1;
      opacity: 1;
      transition: all 0.2s ease-in-out 0s;
      -moz-transition: all 0.2s ease-in-out 0s;
      -webkit-transition: all 0.2s ease-in-out 0s; }
    .typefooter-3 .box-footer .modcontent ul li a {
      border: 0 none;
      color: #777;
      /* [4] */
      /* [6] */
      /* [6] */
      /* [7] */
      font-size: 12px;
      font-size: 1.2rem;
      /* [8] */
      padding: 0;
      font-weight: 400; }
  .typefooter-3 .box-footer.box-information, .typefooter-3 .box-footer.box-service {
    padding-left: 0; }
  .typefooter-3 .contact-us h2 {
    margin: 0; }
  .typefooter-3 .contact-us .links-contact {
    margin-bottom: 15px; }
  .typefooter-3 .contact-us ul.links-contact > li {
    /* [4] */
    /* [6] */
    /* [6] */
    /* [7] */
    font-size: 12px;
    font-size: 1.2rem;
    /* [8] */
    line-height: 24px;
    padding: 7px 0;
    color: #777; }
  .typefooter-3 .contact-us ul.links-contact > li .fa {
    color: #777;
    margin-right: 13px; }
  .typefooter-3 .contact-us ul.links-contact > li.contact-mail a {
    color: #777; }
  .typefooter-3 .socials-wrap {
    margin-top: 17px; }
  .typefooter-3 .socials-wrap ul {
    float: right; }
  .typefooter-3 .socials-wrap ul li {
    float: left;
    margin-left: 25px;
    margin-bottom: 10px; }
  .typefooter-3 .socials-wrap ul li a {
    color: #cecece;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    font-size: 20px; }
    .typefooter-3 .app-block .title-footer {
      display: table-cell;
      vertical-align: middle;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 600;
      color: #fff; }
  .typefooter-3 .app-block ul {
    list-style: none;
    display: table-cell;
    vertical-align: middle;
    padding-left: 30px; }
  .typefooter-3 .app-block ul li {
    float: left;
    margin-right: 10px;
    margin-bottom: 0; }
  .typefooter-3 .app-block ul li:last-child {
    margin-right: 0; }
  .typefooter-3 .footer-top {
    padding-top: 75px;
    padding-bottom: 90px; }
  .typefooter-3 .footer-top .box-footer1 {
    float: left; }
  .typefooter-3 .footer-top .box-footer {
    float: left; }
  .typefooter-3 .footer-center {
    background-color: #fff;
    padding: 65px 0 45px 0; }
  .typefooter-3 .footer-bottom {
    color: #777;
    padding: 30px 0 30px 0; }
  .typefooter-3 .footer-bottom .copyright {
    margin-top: 5px;
    text-align: left;
    font-size: 12px; }
  .typefooter-3 .footer-bottom .footer-payment {
    text-align: right; }
  .typefooter-3 .payment-w {
    text-align: right; }
