/*===============================================
    [SASS DIRECTORY ]
    
    [1] 

==============================================*/
#content{margin-bottom: 30px;}
#wrapper{ background: #fff;}
.common-home #content{margin-bottom: 0px;}

.container-fluid .container{
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 1200px){
    .wrapper-full .container {
        margin-#{$left}: 300px;
        width: auto;
    }
}

/************************************************************************************************
    MODULE TITLE
*************************************************************************************************/
.maincontent-layout6{
    padding: 30px 15px 0px 15px;
}
.layout-6{
    .buy-demo{
        display: none;
    }
    .product-view .content-product-left .full_slider , 
    .product-view .content-product-left .not_full_slider{
        .owl2-stage-outer .owl2-item{
            margin-#{$right}:9px !important;}
         .thumbnail{
            margin: 2px;
        }
    }
    .related-horizontal .related-products{

        &.products-list .product-layout .product-item-container .left-block{
            overflow: hidden;
            .product-image-container a{
                margin: 2px;
                border: none;
                padding: 0;
                img{
                    border: 1px solid #ddd;
                }
            }
        } 
    }
}
.common-home.layout-6 #content{
    .label-new{
        background-color: #444;
    }
    .price .price-new, .price span.price{
        color: $linkColor;
    }

    .module{
        h3.modtitle{
            text-align: center;
            span{
                text-transform: capitalize;
                font-size: 30px;
                color: #222;            
                position: relative;
                padding: 0;
                font-weight: 400;
                &:after{
                    position: absolute;
                    content: "";
                    height: 2px;
                    width: 100%;
                    #{$left}: 0;
                    bottom: 3px;
                    background-color: #222;
                }
            }
        }
        .form-group{
            font-size: 12px;
            color: #888;
            text-align: center;
        }
    }
}   
/************************************************************************************************
    MODULE HOME SLIDER  
*************************************************************************************************/
.common-home.layout-6{
    .slideshow-w{
        .col-full {
            padding: 0;
        }
    }
    
}
.slider-full{
    
}
.module.sohomepage-slider{
    margin: 0;

    .so-homeslider{
        border: none;
        img{
            width: auto;
        }
    }
    .owl2-controls .owl2-nav{
        .owl2-next,
        .owl2-prev{
            font-size: 0px;
            z-index: 99;
            width: 80px;
            height: 80px;
            line-height: 80px;
            text-align: center;
            top: 50%;
            margin-top: -50px;
            text-indent: -999em;
            display: block;
            background-color: transparent;
            border: none;
            &:after{display: none;}
            &:before{
                font-size: 80px;
                color: #e1e1e2;
                font-family: 'FontAwesome';
                display: block;
                text-indent: 0 !important;
                font-weight: 300;
                background: transparent;
                @include opacity(1);
            }
            &:hover{
                background-color: transparent;
                &:before{
                    background-color: transparent;
                    color: #fff;
                }
            }
        }
        .owl2-next{
            #{$right}: 20px;
            #{$left}: auto;
            &:before{
                @include if-ltr{             
                    content: "\f105"; 
                }  
                @include if-rtl {
                    content: "\f104"; 
                }  
            }
        }
        .owl2-prev{
            #{$left}: 20px;
            #{$right}: auto;
            &:before{
              @include if-ltr{             
                content: "\f104"; 
              }  
              @include if-rtl {
                content: "\f105"; 
              }  
            }
        }

    }
    .owl2-dots{
        bottom: 20px;
        position: absolute;
        width: 100%;
        text-align: center;
        #{$left}: 0%;
        .owl2-dot {
          background: transparent !important;
          margin: 0 7px;
          width: 16px;
          height: 16px;
          padding: 3px;
          transition: all 0.3s ease 0s;
          border-radius: 50%;
          display: inline-block;
          float: none;
          span {
            background: #fff;
            display: block;
            width: 100%;
            height: 100%;
            @include box-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));
            border-radius: 50%;
            -webkit-border-radius: 50%;
            margin: 0;
          }

          &.active {
            background: #fff !important;
            @include box-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));

            span {
              box-shadow: none;
              -webkit-box-shadow: none;
            }
          }
        }

    }

 
    .sohomeslider-description{
        position: static;
        padding: 0;
        p{width: 100%;color: #fff;font-size: 14px;padding: 0;padding: 0;margin: 0; line-height: 0px;}
        .image{
            position: absolute;
            width: auto;
            opacity: 0;
            top: 50px;
            &.pos-right{
                right: 70px;
            }
            &.pos-left{
                left: 70px;
            }
            
            &.image-sl12{
                left: 35px;
            }
        }
        .text{
            position: absolute;
            top: 50%;
            @include transform(translateY(-50%));
            h3.tilte, h4, .des{
                opacity: 0;
            }
            &.pos-right{
                right: 70px;
            }
            &.pos-left{
                left: 70px;
            }
            .modtitle-sl11{
                font-size: 55px;
                font-weight: bold;
                color: #fff;
            }
            &.text-sl11{
                top: 75%;
                text-align: center;
            }
            &.text-sl12{
                text-transform: uppercase;
                h3.tilte{
                    font-size: 30px;
                    color: #444;
                    font-weight: 700;
                    margin: 0;
                }
                h4{
                    font-size: 84px;
                    color: $linkColor;
                    font-weight: 700;
                    margin: 0;
                }
                .des{font-size: 27px;color: #444;}
            }
            &.text-sl13{
                h3.tilte {
                    font-size: 26px;
                    font-weight: 700;
                    color: #fff;
                }
                h4{
                    font-size: 80px;
                    font-weight: 700;
                    color: $linkColor;
                }
            }
        }
    }    
}




/************************************************************************************************
    HTML 
*************************************************************************************************/

/*--- box policy ----*/
.services-inline {
    padding: 10px;
    background-color: #f5f5f5;
    ul {
      display: table;
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: table-cell;
        width: 33.33%;
        margin: 0;
        padding: 50px 0 40px 0;      
        vertical-align: top;
        text-align: center;
        @include transition(all 0.2s ease-in-out 0s);
        &:last-child {
          border: none !important;
        }

        .box-icon,
        .service-info {        
          vertical-align: middle;
        }

        .box-icon {
          width: 100px;
          height: 50px;
          display: inline-block;
          margin-bottom: 10px;
          text-align: center;
          //@include opacity(0.4);
          background-image: url(#{$imgPath}icon/sprites.png);
          background-repeat: no-repeat;
        }

        .service-info {
          h2 {
            font-size: 16px;
            text-transform: uppercase;
            color: #222;
            margin: 5px 0 2px;
          }

          p {
            color: #888888;
            margin: 0;
          }
        }
        &.policy1{
          .box-icon{
               background-position: 29px 0;
          }
        }
        &.policy2{
          .box-icon{
              background-position: 29px -100px;
          }
        }
        &.policy3{
          .box-icon{
              background-position: 29px -200px;
          }
        }
        &:hover{
          cursor: pointer;
          background-color: #fff;
          .box-icon{
            @include opacity(1);
          }
          .service-info{
              h2{
                  color: $linkColor;
              }
          }
        }
      }
    }
}


/*--- banners ---*/
.id6-banners{
    margin-bottom: 90px;
    .banner{
        /*float: $left;
        padding: 0 15px;*/
        img{
            width: 100%;
        }
        &.banner-s{
            width: 34.61%;
        }
        &.banner-w{
            width: 63.46%;
        }
    }
    .banners1{
        display: inline-block;
        margin-top: 30px;
        width: 100%;
        .banner.banner-s{
            float: $right;
        }
        .banner.banner-w{
            float: $left;
        }
    }
    .banners2{
        display: inline-block;
        margin-top: 30px;
        width: 100%;
        .banner.banner-s{
            float: $left;
        }
        .banner.banner-w{
            float: $right;
        }
    }
}

/*--- Testimonials ---*/
.testimonials-id6-w{
    padding: 0 15px;
    margin-top: 120px;

}
.testimonials-id6{
    background: url(#{$imgPath}id6-bg-testimonials.jpg) no-repeat;
    padding: 95px 0 185px 0;
    #testimonial-slider{
        direction: ltr;
        .item {
            margin-bottom: 0px;
            .client-comment {
                color: #666;
                font-size: 18px;
                font-style: normal;
                line-height: 24px;
                margin: 0 auto;
                margin-top: 50px;
                line-height: 27px;
                width: 65%;
                position: relative;
                text-align: center;
                &:before{
                    color: #e5e5e5;
                    content: "\f10d";
                    font-family: FontAwesome;
                    font-size: 70px;
                    position: absolute;
                    left: -100px;
                    top: 40%;
                }
                &:after{
                    color: #e5e5e5;
                    content: "\f10e";
                    font-family: FontAwesome;
                    font-size: 70px;
                    position: absolute;
                    right: -100px;
                    top: 40%;
                }
            }
            .client-info{
                text-align: center;
                img{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    border: 5px solid #fff;
                    @include box-shadow(0px 3px 5px 0px rgba(0, 0, 0, 0.4));
                }
                span {
                    color: #333;
                    font-size: 18px;
                    font-weight: 700;
                    margin-top: 13px;        
                    margin-bottom: 5px;
                    display: inline-block;
                    width: 100%;
                    text-transform: uppercase;
                }
                p{
                    color: #888;
                    line-height: 100%;
                    font-size: 12px;
                }
            }
        }
        .owl2-dots{
            position: absolute;
            bottom: -83px;
            #{$left}: 50%;
            #{$right}: auto;
            transform: translateX(-50%);
            @include if-rtl {
                transform: translateX(50%);
            }
            .owl2-dot{
                width: 12px;
                height: 12px;
                background-color: #dcdcdc;
                border-radius: 50%;
                margin: 0 10px;
                > span{
                    display: none;
                }
                &.active,
                &:hover{
                    background-color: $background;
                }
            }
        }
    }
}

/************************************************************************************************
    MODULE LISTING TABS
*************************************************************************************************/
.so-listing-tabs{
    .products-list{
        margin-top: 53px;
    }
    .ltabs-tabs-container ul.ltabs-tabs{
        text-align: center;
        li.ltabs-tab{
            float: none;
            display: inline-block;
            border: none;
            margin: 0 35px;
            padding: 0;
            background: transparent;
            .ltabs-tab-label{
                text-transform: capitalize;
                font-size: 30px;
                color: #ccc;
                @include transition(all 0.2s ease-in-out 0s);
                position: relative;
                padding: 0;
                display: block;
                font-weight: 600;
                &:after{
                    position: absolute;
                    content: "";
                    height: 2px;
                    width: 0%;
                    #{$left}: 50%;
                    bottom: -5px;
                    background-color: #222;
                    @include effect-block-hide();
                }
            }
            &:hover,
            &.tab-sel{
                background: transparent;
                .ltabs-tab-label{
                    color: #222;
                    &:after{
                        @include effect-block-show();
                        width: 100%;
                        #{$left}: 0;
                    }
                }
            }
        }
    }

    .ltabs-items-container .ltabs-items .ltabs-item{
        margin-bottom: 5px;
        .item-inner{
            padding: 0 15px;
            margin: 0;
            width: 100%;
            .product-item-container{
                margin-bottom: 30px;
                .product-image-container.second_img{
                    @extend .lib-two-img;
                }
                .left-block{
                    position: relative;
                    overflow: hidden;
                    text-align: center;
                    .product-image-container {

                    }
                    .button-group{
                        position: absolute;
                        @include transform(translate(0px, 60px));
                        @include transition(all 0.5s ease-in-out 0s);
                        @include opacity(0);
                        #{$left}:0;
                        bottom: 0;
                        display: inline-block;
                        width: 100%;
                        height: 40px;
                        line-height: 40px;
                        background-color: rgba(0,0,0,0.5);
                        .btn-button{
                            border: none;
                            background-color: transparent;
                            width: 25%;
                            float: $left;
                            margin-bottom: 0;
                            i{
                                font-size: 14px;
                                color: #fff;
                            }
                            &.quickview {
                                display: block;                                    
                                text-align: center;
                            }
                            &:hover{                            
                                background-color: #212121;                          
                                i{
                                    color: $linkColor;
                                }
                            }
                        }
                    }
                }
                .right-block{
                    text-align: center;
                    padding-top: 20px;
                    h4{
                        font-weight: 400;
                        margin-bottom: 0;
                        a{
                            color: #555;
                            font-size: 14px;
                        }
                    }
                }
                &:hover{
                    .product-image-container.second_img{
                       @extend .lib-two-img-over;
                    }
                    .left-block{
                        .button-group{   
                            @include transform(translate(0px, 0px));
                            @include transition(all 0.5s ease-in-out 0s);
                            @include opacity(1);
                        }
                    }
                }
            }
        }
    } 

} 

.so-listing-tabs .ltabs-items .ltabs-loadmore{
    margin: 0 15px;
    .ltabs-loadmore-btn{
        margin-top: 42px;
        padding: 12px 0;
        background-color: transparent;
        color: #666;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 4px;
        display: inline-block;
        width: 100%;
        text-align: center;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        font-size: 14px;
    }
} 

/************************************************************************************************
    MODULE LATEST BLOG
*************************************************************************************************/
.common-home{
div.so-latest-blog.module{clear: inherit; margin-top: 114px;
    position: relative;
    //.owl2-controls{
        .owl2-nav{
            > div{
                @include button-owl-style(35px,60px,rgba(0,0,0,0.2));
                opacity: 1 !important;
                &.owl2-prev{
                    #{$left}: -45px;
                }
                &.owl2-next{
                    #{$right}: -45px;
                }
            }

        }
    //} 
    .owl2-controls{
        .owl2-dots{
            /*position: absolute;
            bottom: 0;
            #{$left}: 50%;
            transform: translateX(-50%);*/
            .owl2-dot{
                width: 12px;
                height: 12px;
                background-color: #dcdcdc;
                border-radius: 50%;
                margin: 0 10px;
                > span{
                    display: none;
                }
                &.active,
                &:hover{
                    background-color: $background;
                }
            }
        }
    }
    .so-blog-external{
        position: relative;
        margin-top: 55px;
    }
    .blog-external{
      //  direction: ltr;
        border: none;
        margin-bottom: 20px;
        .item{            
            margin: 0px !important;           
            //display: inline-block;
            
            &:hover{                
                .media-left a:before{
                    @include effect-block-show();
                }
            }
        }
        .media{
            margin: 0;
            .media-left{
                padding-right: 0; 
                a{           
                    display: block;    
                    position: relative;
                    img{
                        width: 100%;
                    }
                    &:before{
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0,0,0,0.3);
                        top: 0;
                        #{$left}: 0;      
                        @include effect-block-hide();
                    }
                }
                .media-date-added{
                    padding: 12px 0px 7px;
                    background-color: #fff;
                    color: #333;   
                    position: absolute;
                    top: 10px;
                    #{$left}: 10px;                       
                    text-align: center;
                    span{
                        @include rem(font-size,12px);
                    }
                    b{                           
                        @include rem(font-size,24px);
                        font-weight: 600;
                        color: #333;
                        width: 58px;
                        display: block;
                    }
                }
            }
            .media-body{
                text-align: center;
                
                .media-content{
                    float: none;
                    margin-top: 17px;
                    .media-heading{
                        margin-bottom: 10px;
                    }              
                    h4{
                        font-weight: 600;
                        text-align: center;
                        a{
                            color: #333;
                            @include rem(font-size,18px);
                            padding: 0;
                            &:hover{
                                color: $linkColor;
                            }
                        }
                    }
                    .description{
                        line-height: 20px;
                        margin-bottom: 12px;
                        font-size: 12px;
                        color: #888;
                        text-align: center;
                    }
                    .media-subcontent{
                        float: $left;
                        clear: none;
                        .media-comment{
                            padding: 0;
                            i{
                                padding-#{$left}: 5px;
                                float: $right;
                                line-height: 23px;
                            }
                        }
                    }
                    .readmore{
                        padding-#{$right}: 0;
                        float: $right;
                        color: #777;
                        &:hover{
                            color: $linkColor;
                        }
                        i{
                            padding-#{$left}: 5px;
                            float: $right;
                            line-height: 23px;
                            &:before{
                                @include if-rtl {
                                    content: "\f0a8"; 
                                } 
                            }
                        }
                    }
                }
            }
        } 
        .owl2-controls{
            .owl2-dots{
                margin-top: 30px;
            }
        }
    } 
}
}

/************************************************************************************************
    SHORTCODE HTML SLIDER BRANDS
*************************************************************************************************/
.slider-brand-layout6{
    position: relative;
    margin-top: 95px;
    padding: 40px 0;
    border-top: 1px solid #eee;
      @include if-rtl {
        .owl2-stage-outer{
            direction: ltr;

        }
    }


        .item{
            a{
                img{
                    @include transform(scale(1));
                    @include transition(all 0.3s ease 0s);
                }
            }
            a:hover{
                @include opacity(0.8);
                img{
                    @include transform(scale(1.05));
                    @include transition(all 0.3s ease 0s);
                }
            }
        }
    
    .owl2-controls{
        .owl2-nav{        
            div{
                @include button-owl-style(35px,60px,rgba(0,0,0,0.2));
                
                &.owl2-next{
                    #{$right}: 0 !important;
                }
                &.owl2-prev{
                    #{$left}: 0 !important;
                }
            }
        }
    }
}

















