/*===============================================
    [SASS DIRECTORY ]
    
    [1] 

==============================================*/
#content{margin-bottom: 30px;}
#wrapper{ background: #fff;}
.common-home #content{margin-bottom: 0px;}

.container-fluid .container{
    padding-left: 15px;
    padding-right: 15px;
}
/************************************************************************************************
    MODULE TITLE
*************************************************************************************************/
.common-home.layout-7 #content{
    .products-list .product-item-container .left-block .product-image-container a{
        background-color: #eee;
        img{
            width: 100%;
        }
    }
    .container-fluid{   
        .col-lg-12{
            padding: 0;
        }
    } 
    .label-sale{
        background-color: $background;
    }
    .label-new{
        background-color: #0083c1;
    }
    .price .price-new, .price span.price{
        color: $linkColor;
    }
    .module{
        h3.modtitle {
            text-align: center;
            font-size: 40px;
            margin-bottom: 0px;
            padding: 15px 0 0px 0;
            position: relative;
            font-weight: 700;
            color: #222;
            text-transform: uppercase;
        }
        .form-group{
            font-size: 12px;
            color: #666;
            text-align: center;
            margin-top: 5px;
            line-height: 20px;
            margin-bottom: 20px;
        }
    }
}



/************************************************************************************************
    SHORTCODE HTML  
*************************************************************************************************/
.banner-group {
    .col-banner {
      float: $left;
      width: 50%;

      a {
        img {
          opacity: 1;
          width: 100%;
        }

        &:hover {
          img {
            opacity: 0.9;
          }
        }
      }
    }
}

/*--- box policy ----*/
.services-inline {
    border-bottom: 1px solid #eee;
    ul {
      display: table;
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: table-cell;
        width: 33.33%;
        margin: 0;
        padding: 59px 0 48px 0;      
        vertical-align: top;
        text-align: center;
        @include transition(all 0.2s ease-in-out 0s);
        &:last-child {
          border: none !important;
        }

        .box-icon,
        .service-info {        
          vertical-align: middle;
        }

        .box-icon {
          width: 100px;
          height: 50px;
          display: inline-block;
          margin-bottom: 17px;
          text-align: center;
          //@include opacity(0.4);
          background-image: url(#{$imgPath}icon/sprites.png);
          background-repeat: no-repeat;
        }

        .service-info {
          h2 {
            font-size: 18px;
            text-transform: uppercase;
            color: #222;
            margin: 5px 0 2px;
          }

          p {
            color: #777;
            margin: 0;
            font-size: 14px;
          }
        }
        &.policy1{
          .box-icon{
               background-position: 29px 0;
          }
        }
        &.policy2{
          .box-icon{
              background-position: 29px -100px;
          }
        }
        &.policy3{
          .box-icon{
              background-position: 29px -200px;
          }
        }
        &:hover{
          cursor: pointer;
          background-color: #fff;
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          .box-icon{
            @include opacity(1);
          }
          .service-info{
              h2{
                  color: $linkColor;
              }
          }
        }
      }
    }
}

/*--- box categories --*/
.box-categories{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.id7-categories{
    padding-top: 100px;
    padding-bottom: 70px;
    display: inline-block;
    ul{
        margin: 0 15px;
        li{
            float: $left;
            padding: 0 15px;
            text-align: center;
            width: 20%;
            a{
                
                img{
                    width: 100%;
                    @include transition(all 0.2s ease-in-out 0s);
                }
            }
            h3{
                margin-top: 15px;
                a{
                    font-size: 18px;
                    color: #222;
                    text-transform: uppercase;
                    font-weight: 700;
                    &:hover{
                        color: $linkColor;
                    }
                }
            }
            &:hover{
                .cate-img{

                    img{ opacity: 0.8; @include transition(all 0.2s ease-in-out 0s);}
                }
            }
        }
    }
}


/************************************************************************************************
    MODULE EXTRA SLIDER - PRODUCT FULL
*************************************************************************************************/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @media (min-width: 1200px) and (max-width: 1366px){
        .id7-extra-full .so-extraslider .extraslider-inner{
            height: 440px;
        }
    }
}
 @media (min-width: 1200px) and (max-width: 1366px){ 
    .common-home .id7-col-extra .so-extraslider .item .product-item-container .left-block .button-group .btn-button{
        width: 40px;
        height: 40px;
        line-height: 40px;
        &.quickview{
            line-height: 40px;
        }
    }
}
.common-home{
.id7-col-extra{
    margin-top: 60px;
}
.id7-extra-full{
    margin-top: 79px;
    .so-extraslider{
        padding: 0 0 185px 0;
        .owl2-controls{
            .owl2-nav{
                bottom: 97px;
            }
        }
    }
}
.extra-content-full{
   border-bottom: 1px solid #eee;
}

    .so-extraslider{
        padding: 0;
        margin: 0;
        position: relative;
        .extraslider-inner{
            border: none;
        }
        .wishlist{
            margin: 0;
        }
        .owl2-controls .owl2-dots .owl2-dot{
            width: 12px;
            height: 12px;
            background-color: #fff;
            border-radius: 0;
            border: 2px solid #ccc;
            margin: 0 5px;
            &:hover,
            &.active{
                background-color: $background;
                border-color: $background;
            }
        }
        .owl2-controls{
            float: none;
            .owl2-nav{
                position: absolute;
                bottom: -60px;
                #{$left}: 50%;
                transform: translateX(-50%);
                @include if-rtl {
                    transform: translateX(50%);
                }
                .owl2-prev,
                .owl2-next{
                    font-size: 14px;
                    color: #222;
                    text-transform: uppercase;
                    border-radius: 22px;
                    height: 42px;
                    line-height: 40px;
                    padding: 0 33px;
                    font-weight: 600;
                    border: 1px solid #dedede;
                    margin: 0 5px;
                    opacity: 1;
                    font-family: inherit;
                    &:hover{
                        background-color: $background;
                        border-color: $background;
                        color: #fff;
                    }
                }
            }
        }
        .item {
            .product-item-container{
                .product-image-container.second_img{
                    @extend .lib-two-img;
                }
                .left-block{
                    position: relative;
                    overflow: hidden;
                    .product-image-container {

                    }
                    .button-group{
                        position: absolute;                   
                        #{$left}:0;
                        bottom: 10px;
                        text-align: center;
                        width: 100%;
                        display: inline-flex;
                        justify-content: center;
                        z-index: 99;
                        .btn-button{
                             @include transform(translate(0px, 60px));
                            
                            @include opacity(0);
                            border: none;            
                            width: 44px;
                            height: 44px;
                            border-radius: 50%;
                            background-color: #fff;
                            float: $left;
                            margin: 0 5px;
                            &.addToCart{
                                @include transition(all 0.2s ease-in-out 0s);
                            }
                            &.wishlist {
                                @include transition(all 0.3s ease-in-out 0s);
                            }
                            &.compare{
                                margin: 0;
                                @include transition(all 0.4s ease-in-out 0s);
                            }
                            i{
                                font-size: 14px;
                                color: #222;
                            }
                            &.quickview{
                                @include transition(all 0.5s ease-in-out 0s);
                                display: block;       
                                text-align: center;
                                line-height: 44px;
                            }
                            &:hover{
                                background-color: $background;
                                i{
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
                .right-block{
                    text-align: center;
                    padding-top: 10px;
                    h4{
                        font-weight: 400;
                        margin-bottom: 4px;
                        a{
                            color: #555;
                            font-size: 14px;
                        }
                    }
                }
                &:hover{
                    .product-image-container.second_img{
                       @extend .lib-two-img-over;
                    }
                    .left-block{
                        .button-group .btn-button{   
                            @include transform(translate(0px, 0px));
                            //@include transition(all 0.5s ease-in-out 0s);
                            @include opacity(1);
                             &.addToCart{
                                @include transition(all 0.2s ease-in-out 0s);
                            }
                            &.wishlist {
                                @include transition(all 0.3s ease-in-out 0s);
                            }
                            &.compare{
                                margin: 0;
                                @include transition(all 0.4s ease-in-out 0s);
                            }    
                            &.quickview{
                                @include transition(all 0.5s ease-in-out 0s);
                            }
                        }
                    }
                }
            }
        }
        .products-list{
            .product-item-container{
                .left-block .product-image-container{
                    a{                    
                        position: relative;
                        display: block;
                        &:before{
                            content: "";
                            background-color: rgba(0,0,0,0.4);
                            position: absolute;
                            top: 0;
                            #{$left}: 0;
                            width: 100%;
                            height: 100%;
                            z-index: 2;
                            @include transition(all 0.2s ease-in-out 0s);
                            @include opacity(0);                        
                        }
                    }
                }
                &:hover{
                    .product-image-container a:before{
                        @include opacity(1);
                    }
                }
            } 

        }   
    }
}
 

/************************************************************************************************
    BOX CONTENT
*************************************************************************************************/

.box-content4{
    margin: 0;
    .no-padding{
        padding: 0;
        float: $left;
    }
    .box-img-w {
        a{
            img{
                width: 100%;
            }
        }

    }
    .box-product-w{
        padding: 0 30px;
    }
    .so-extraslider{
        
    }
                    
}


/************************************************************************************************
    SLIDER BRANDS
*************************************************************************************************/
.slider-brand-layout7{
    height: 160px;
      @include if-rtl {
        .owl2-stage-outer{
            direction: ltr;

        }
    }
    .item{
        text-align: center;
        padding: 15px 0;
        &:hover{
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            position: relative;
            z-index: 10;
        }
        
    }
    
    .owl2-controls{
        .owl2-nav{        
            div{
                @include button-owl-style(35px,60px,rgba(0,0,0,0.2));
                
                &.owl2-next{
                    #{$right}: 0 !important;
                }
                &.owl2-prev{
                    #{$left}: 0 !important;
                }
            }
        }
    }
}

@media (min-width: 1200px) and (max-width: 1366px){
    .layout-7{
        .so-extraslider .item .product-item-container .left-block .button-group .btn-button{
            margin: 0 2px;
        }
    }
    
}