/*===============================================
    [SASS DIRECTORY ]
    
    [1] 

==============================================*/
#content{margin-bottom: 30px;}
#wrapper{ background: #fff;}
.common-home #content{margin-bottom: 0px;}

.container-fluid .container{
    padding-left: 15px;
    padding-right: 15px;
}
/************************************************************************************************
    MODULE TITLE
*************************************************************************************************/
.common-home.layout-5 #content{
    max-width: 1860px;
    margin: 0 auto;
    .container-fluid{
        padding: 0;
    }
    .label-new{
        background-color: #42cdac;
    }

    .module{
        h3.modtitle {
            text-align: center;
            font-size: 40px;
            margin-bottom: 25px;
            padding: 15px 0 20px 0;
            position: relative;
            font-weight: 700;
            color: #333;
            text-transform: uppercase;
            &:before {
                background-color: $background;
                bottom: -1px;
                content: "";
                height: 1px;
                left: 50%;
                margin-left: -60px;
                position: absolute;
                width: 125px;
            }
            &:after {
                background-color: #fff;
                border-radius: 50%;
                bottom: -12px;
                color: $linkColor;
                content: "+";
                font-family: "FontAwesome";
                font-size: 30px;
                font-weight: bold;
                height: 24px;
                left: 50%;
                line-height: 24px;
                margin-left: -12px;
                position: absolute;
                transform: rotate(45deg);
                width: 24px;
            }
        }
        .form-group{
            font-size: 14px;
            color: #888;
            text-align: center;
        }
    }
}

.common-home.layout-5 #content .hot-categories .module{
    h3.modtitle{
        color: #fff;
        &:after{
            background-color: transparent;
        }
        &:before{
            display: none;
        }
    }    
    .form-group{
        font-size: 14px;
        color: #d4d4d3;
    }
}   
/************************************************************************************************
    MODULE HOME SLIDER  
*************************************************************************************************/

.slider-full{
    
}
.module.sohomepage-slider{
    margin: 0;

     .so-homeslider{
        border: none;
        img{
            width: auto;
        }
    }
    .owl2-controls .owl2-nav{
        .owl2-next,
        .owl2-prev{
            font-size: 0px;
            z-index: 99;
            width: 80px;
            height: 80px;
            line-height: 80px;
            text-align: center;
            top: 50%;
            margin-top: -25px;
            text-indent: -999em;
            display: block;
            background-color: transparent;
            border: none;
            &:after{display: none;}
            &:before{
                font-size: 80px;
                color: #aeadac;
                font-family: 'FontAwesome';
                display: block;
                text-indent: 0 !important;
                font-weight: 300;
                background: transparent;
            }
            &:hover{
                background-color: transparent;
                &:before{
                    color: $linkColor;
                }
            }
        }
        .owl2-next{
            #{$right}: 0px;
            #{$left}: auto;
            &:before{
                @include if-ltr{             
                    content: "\f105"; 
                }  
                @include if-rtl {
                    content: "\f104"; 
                }  
            }
        }
        .owl2-prev{
            #{$left}: 0px;
            #{$right}: auto;
            &:before{
              @include if-ltr{             
                content: "\f104"; 
              }  
              @include if-rtl {
                content: "\f105"; 
              }  
            }
        }

    }
    .owl2-dots{
        bottom: 30px;
        position: absolute;
        width: 100%;
        text-align: center;
        #{$left}: 50%;
        #{$right}: auto;
        margin-#{$left}: -45px;
        .owl2-dot {
          background: transparent !important;
          margin: 0 7px;
          width: 12px;
          height: 12px;
          padding: 0px;
          transition: all 0.3s ease 0s;
          border-radius: 50%;
          float: $left;
          span {
            background: #fff;
            display: block;
            width: 100%;
            height: 100%;
            @include box-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));
            border-radius: 50%;
            -webkit-border-radius: 50%;
            margin: 0;
          }

          &.active {
            background: $background !important;
            @include box-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));

            span {
                background: $background;
              box-shadow: none;
              -webkit-box-shadow: none;
            }
          }
        }

    } 

    .owl2-item{
        &.active{
            .sohomeslider-description{ 
                .image.img-active{
                    opacity: 1;
                    animation: myeffect-slideshow 2s ease-in-out ;
                    -webkit-animation: myeffect-slideshow 2s ease-in-out; /* Chrome, Safari, Opera */
                    -moz-animation: myeffect-slideshow 2s ease-in-out ;
                    -o-animation: myeffect-slideshow 2s ease-in-out ;
                    -ms-animation: myeffect-slideshow 2s ease-in-out ;
                }
                h3.tilte.title-active{
                    opacity: 1;
                    animation: myeffect-slideshow 1.5s ease-in-out ;
                    -webkit-animation: myeffect-slideshow 1.5s ease-in-out; /* Chrome, Safari, Opera */
                    -moz-animation: myeffect-slideshow 1.5s ease-in-out ;
                    -o-animation: myeffect-slideshow 1.5s ease-in-out ;
                    -ms-animation: myeffect-slideshow 1.5s ease-in-out ;
                }
                h4.h4-active{
                    opacity: 1;
                    animation: myeffect-slideshow 1s ease-in-out ;
                    -webkit-animation: myeffect-slideshow 1s ease-in-out; /* Chrome, Safari, Opera */
                    -moz-animation: myeffect-slideshow 1s ease-in-out ;
                    -o-animation: myeffect-slideshow 1s ease-in-out ;
                }
                .des.des-active{
                    opacity: 1;
                    animation: myeffect-slideshow 0.8s ease-in-out ;
                    -webkit-animation: myeffect-slideshow 0.8s ease-in-out; /* Chrome, Safari, Opera */
                    -moz-animation: myeffect-slideshow 0.8s ease-in-out ;
                    -o-animation: myeffect-slideshow 0.8s ease-in-out ;
                }
            }
        }
    }
    .sohomeslider-description{
        position: static;
        padding: 0;
        p{width: 100%;color: #fff;font-size: 14px;padding: 0;padding: 0;margin: 0; line-height: 0px;}
        .image{
            position: absolute;
            width: auto;
            opacity: 0;
            top: 50px;
            &.pos-right{
                right: 70px;
            }
            &.pos-left{
                left: 70px;
            }
            
            &.image-sl12{
                left: 35px;
            }
        }
        .text{
            position: absolute;
            top: 50%;
            @include transform(translateY(-50%));
            h3.tilte, h4, .des{
                opacity: 0;
            }
            &.pos-right{
                right: 70px;
            }
            &.pos-left{
                left: 70px;
            }
            .modtitle-sl11{
                font-size: 55px;
                font-weight: bold;
                color: #fff;
            }
            &.text-sl11{
                top: 75%;
                text-align: center;
            }
            &.text-sl12{
                text-transform: uppercase;
                h3.tilte{
                    font-size: 30px;
                    color: #444;
                    font-weight: 700;
                    margin: 0;
                }
                h4{
                    font-size: 84px;
                    color: $linkColor;
                    font-weight: 700;
                    margin: 0;
                }
                .des{font-size: 27px;color: #444;}
            }
            &.text-sl13{
                h3.tilte {
                    font-size: 26px;
                    font-weight: 700;
                    color: #fff;
                }
                h4{
                    font-size: 80px;
                    font-weight: 700;
                    color: $linkColor;
                }
            }
        }
    }    
}

/************************************************************************************************
    HTML 
*************************************************************************************************/
.banner-subcat{
    margin-top: 16px;
    > ul{
        margin: 0 -8px;
        > li{
            float: $left;
            padding: 0 8px;
            width: 33.33%;
            .image-box{
                position: relative;
                
                &:before{
                    position: absolute;
                    top: 0;
                    #{$left}: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0,0,0,0.2);
                     @include effect-block-hide();
                }
                &:hover{

                    .info-banner{
                        transition:all 0.8s ease 0s;
                        top: 42%;
                        transform: translate(-50%,-42%);
                    }
                    &:before{
                        @include effect-block-show();
                    }
                    .info-banner ul{
                        @include effect-block-show();
                        height: 100%;
                        transition:all 0.8s ease 0s;
                    }
                }
            }
            .info-banner{
                transition:all 0.8s ease 0s;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                
                text-align: center;
                h2{
                    font-weight: 600;
                    margin-bottom: 30px;
                    a{
                        font-size: 48px;
                        color: #fff;
                        text-transform: uppercase;
                        
                    }
                }
                ul{
                    transition:all 0.8s ease 0s;
                    @include effect-block-hide();
                    height: 0;
                    li{
                        display: inline-block;
                        padding: 12px 0;
                        width: 100%;
                        a{
                            color: #fff;
                            font-size: 18px;
                            font-weight: 300;
                            &:hover{
                                color: $linkColor;
                            }
                        }
                    }
                }
            }
        }
    }
}

/************************************************************************************************
    MODULE EXTRA SLIDER - PRODUCT FULL
*************************************************************************************************/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @media (min-width: 1200px) and (max-width: 1366px){
        .extra-layout5 .so-extraslider .extraslider-inner{
            height: 435px;
        }
    }
}

.extra-layout5{
    margin-top: 70px;
    .modcontent {
        margin-top: 40px;
    }
    .so-extraslider .extraslider-inner{
        padding-bottom: 20px;
    }
}
.so-extraslider{
    margin: 0;
    .extraslider-inner{
        border: none;
    }
    .wishlist{
        margin: 0;
    }
    .owl2-controls .owl2-dots .owl2-dot{
        width: 14px;
        height: 14px;
        background-color: #e5e5e5;
        margin: 0 10px;
        &:hover,
        &.active{
            background-color: $background;
        }
    }
    
    .item {
        .product-item-container{
            .product-image-container.second_img{
                @extend .lib-two-img;
            }

            .left-block{
                position: relative;
                overflow: hidden;
                .product-image-container {

                }
                .button-group{
                    position: absolute;
                    @include transform(translate(0px, 60px));
                    @include transition(all 0.5s ease-in-out 0s);
                    @include opacity(0);
                    #{$left}:0;
                    bottom: 0;
                    display: inline-block;
                    width: 100%;
                    height: 46px;
                    line-height: 46px;
                    background-color: rgba(0,0,0,0.7);
                    .btn-button{
                        border: none;
                        background-color: transparent;
                        width: 25%;
                        float: $left;
                        text-align: center;
                        i{
                            font-size: 14px;
                            color: #fff;
                        }
                        &.qv-btn{
                            a{
                                display: block;
                                width: 100%;
                                text-align: center;

                            }
                        }
                        span{
                            display: none;
                        }
                        &:hover{
                            i{
                                color: $linkColor;
                            }
                        }
                    }
                }
            }
            .right-block{
                text-align: center;
                padding-top: 20px;
                h4{
                    font-weight: 400;
                    margin-bottom: 4px;
                    a{
                        color: #555;
                        font-size: 14px;
                    }
                }
            }
            &:hover{
                .product-image-container.second_img{
                   @extend .lib-two-img-over;
                }
                .left-block{
                    .button-group{   
                        @include transform(translate(0px, 0px));
                        @include transition(all 0.5s ease-in-out 0s);
                        @include opacity(1);
                    }
                }
            }
        }
    }
    .owl2-controls{
        .owl2-nav{
            > div{
               // @include button-owl-style(35px,60px,rgba(0,0,0,0.2));
            }
        }
    }    
} 
.newsletter .form-inline .form-group{
    display: inline-block;
}
/************************************************************************************************
    SHORT CODE HTML
*************************************************************************************************/
.box-content3 {
    margin-bottom: 78px;
}
.hot-categories-w{
    max-width: 1860px;
    margin: 0 auto;
}
.hot-categories {
  padding: 80px 0 55px;
  clear: both;
  .modcontent{
    margin-top: 63px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      float: $left;
      margin: side-values(0 70px 40px 0);
      text-align: center;

      &:last-child {
        margin: 0;
      }

      .image-category {
        background-color: transparent;
        margin-bottom: 15px;
        border: 1px dashed #cccccc;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        display: inline-block;
        overflow: hidden;
        position: relative;
        @include transition(all 0.2s ease-in-out 0s);

        &:before{
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-color: $background;            
            top: 0;
            #{$left}: 0;
            @include effect-block-hide();
        }
        img {
          opacity: 0.7;
          @include transition(all 0.2s ease-in-out 0s);
          position: relative;
          z-index: 2;
        }

        &:hover {

            &:before{
                @include effect-block-show();
                @include opacity(0.6);
            }
          img {
            opacity: 1;
          }
        }
      }

      h2 {
        font-size: 150%;
        text-transform: uppercase;
        margin: 0;

        a{
          @include transition(all 0.2s ease-in-out 0s);
        }
      }
      &:hover{
        h2{
            a{
                color: $linkColor;
            }
        }
      }
    }
  }

}


/************************************************************************************************
    TESTIMONIALS
*************************************************************************************************/

.testimonials5{
    padding-bottom: 75px;
    padding-top: 90px;
    .modtitle{
        margin-top: 100px !important;
        &:after{
            bottom: -20px;
        }
        b{
            margin-top: 18px !important;
        }
    }
}
.testimonial-slider.layout5{
    .carousel-inner {
        text-align: center;
        .item {
            margin-bottom: 0px;
            .client-comment {
                color: #888;
                font-size: 18px;
                font-style: normal;
                line-height: 24px;
                margin: 0 auto;
                margin-top: 10px;
                line-height: 30px;
                width: 52%;
                position: relative;
                &:before{
                    color: #e5e5e5;
                    content: "\f10d";
                    font-family: FontAwesome;
                    font-size: 70px;
                    position: absolute;
                    left: -100px;
                    top: 50%;
                }
                &:after{
                    color: #e5e5e5;
                    content: "\f10e";
                    font-family: FontAwesome;
                    font-size: 70px;
                    position: absolute;
                    right: -100px;
                    top: 50%;
                }
            }
            .client-info{
                span {
                    color: #333;
                    font-size: 18px;
                    font-weight: 700;
                    margin-top: 30px;        
                    margin-bottom: 10px;
                    display: inline-block;
                    text-transform: uppercase;
                }
                p{
                    color: #888;
                    line-height: 100%;
                    font-size: 12px;
                }
            }
        }
    }
    .carousel-indicators {
        position: static;
        margin: 0;
        min-height: 160px;
        text-align: center;
        width: auto;
        .img-indicator {
            background-color: transparent;
            display: inline-block;
            height: 120px;
            margin: 0;
            min-width: 120px;
            text-align: center;
            text-indent: 0;
            vertical-align: bottom;
            border: none;
            a {
                
                border-radius: 50%;
                display: inline-block;
                height: 74px;
                margin: 20px 0 20px 0;                
                position: relative;
                transition: all 0.3s ease 0s;
                vertical-align: bottom;
                width: 74px;
                &:hover {
                    height: 110px;
                    margin: 0 0 15px;
                    width: 110px;
                    &:before {
                        opacity: 0;
                    }
                }
                img {
                    border-radius: 50%;
                }
            }

            &:hover,
            &.active {
                vertical-align: top;
                p,
                span {
                    opacity: 1;
                }
                a {
                    border: 2px solid $linkColor;
                    height: 120px;
                    margin: 0 0 10px;
                    padding: 8px;
                    width: 120px;
                    &:before {
                        opacity: 0;
                    }
                }
            }
        }
    }
} 

/************************************************************************************************
    NEWSLETTER
*************************************************************************************************/
 .newsletter-w{
    margin-top: 60px;
    margin-bottom: 100px;
 }

    .newsletter{
        padding:  0;
       
        .title-block{
           
            text-align: center;
            .page-heading{
                padding-top: 16px;
                color: #333;
                @include rem(font-size,36px);
                font-weight: 500;
                text-transform: uppercase;
                span{
                    color: $linkColor;
                }
            }
            
        }
        .block_content{
            display: inline-block;
            width: 100%;
            text-align: center;
            #signup{
                position: relative;
                margin-top: 35px;
                .input-box{
                    float: $left;
                    width: 600px;
                    .fa{
                        display: none;
                    }
                    input{
                        border-radius: 0px;
                        font-weight: 400;
                        height: 55px;                        
                        padding: 0 20px;
                        width: 100%; 
                        background-color: #fff;
                        border: 1px solid #eee;

                    }
                }
                .subcribe{
                  float: $left;                
                  button{          
                    position: relative;      
                    display: block;       
                    background-color: #333333;
                    border-radius: 0;                    
                    height: 55px;
                    line-height: 53px;
                    padding: 0 ;
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 12px;
                    padding: 0 40px;
                    &:hover{
                        background-color: $background;
                        &:before{
                            
                        }
                    }
                
                  }
                }
            }
        }
    }




/************************************************************************************************
    INSTAGRAM
*************************************************************************************************/
.so-instagram-gallery .instagram00-6 .instagram-item{
    padding: 0;
    margin-bottom: 0;
    .instagram_users .img_users a{
        border: none;
        &:hover{
            img{
                opacity: 0.7;
                transition: all 0.3s ease 0s;
            }
        }
    }
}

.instagraminfo-w{
    position: static;
}
.instagram-wrap {
    position: relative;
}
.instagram-info {
    border: 5px solid rgba(255, 255, 255, 0.3);
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 328px;
    position: absolute;
    text-align: center;
    top: 50%;
    z-index: 99;
    .instagram-border{
        background: #fff none repeat scroll 0 0;
        padding: 47px 30px;
        h3{
            color: #333;
            font-size: 30px;
            font-weight: 600;
            text-transform: uppercase;
        }
        .description{
            font-size: 14px;
            margin-bottom: 28px;
            font-weight: 300;
        }
        .ins-username{
            a{
                background: #222 none repeat scroll 0 0;
                color: #fff;
                display: inline-block;
                font-size: 12px;
                padding: 10px 20px;
                text-transform: uppercase;
                transition: all 0.3s ease 0s;
                vertical-align: top;
            }
            &:hover{
                a{
                     transition: all 0.3s ease 0s;
                     background-color: $background;
                }
            }
        } 
    }
}