{{ header }}
<div id="account-wishlist" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h2>{{ heading_title }}</h2>
      {% if products %}
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <td class="text-center">{{ column_image }}</td>
              <td class="text-left">{{ column_name }}</td>
              <td class="text-left">{{ column_model }}</td>
              <td class="text-right">{{ column_stock }}</td>
              <td class="text-right">{{ column_price }}</td>
              <td class="text-right">{{ column_action }}</td>
            </tr>
          </thead>
          <tbody>
          
          {% for product in products %}
          <tr>
            <td class="text-center">{% if product.thumb %}<a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" /></a>{% endif %}</td>
            <td class="text-left"><a href="{{ product.href }}">{{ product.name }}</a></td>
            <td class="text-left">{{ product.model }}</td>
            <td class="text-right">{{ product.stock }}</td>
            <td class="text-right">{% if product.price %}
              <div class="price"> {% if not product.special %}
                 
 {% if (cfp_setting.module_so_call_for_price_status and product.price_0 <= 0) %} 
 <a data-fancybox data-type="ajax" data-src="{{ base }}index.php?route=extension/module/so_call_for_price&product_id={{ product.product_id }}" href="javascript:;" class="callforprice" style="color: #ff0000; font-weight: bold;"><i class="fa fa-phone"></i> {{ text_price_0 }}</a> 
 {% else %} 
 {{ product.price }} 
 {% endif %} 
 
                {% else %} <b>{{ product.special }}</b> <s>{{ product.price }}</s> {% endif %} </div>
              {% endif %}</td>
            <td class="text-right"> 
 {% if (cfp_setting.module_so_call_for_price_status and product.price_0 <= 0) %} 
 {% if cfp_setting.module_so_call_for_price_hide_cart is defined and cfp_setting.module_so_call_for_price_hide_cart == '0' %} 
 <button type="button" class="btn btn-primary" style="cursor: default; background: #eee; color: #ccc; border: 1px solid #eee; text-shadow: none; box-shadow: none;"><i class="fa fa-shopping-cart"></i></button> 
 {% endif %} 
 {% else %} 
 
              {% if (module_wk_preorder_pro_status) %} 
                  {% if (product['isPreorder']) %} 
                    <input type="hidden" name="product_id" value="{{ product['product_id'] }}" />
                    <button type="button" onclick="addToCart('{{ product['product_id'] }}');" data-toggle="tooltip" title="{{ button_cart }}" class="btn btn-primary"><i class="fa fa-shopping-cart"></i></button>
                  {% else %} 
                    <button type="button" onclick="addToCart('{{ product['product_id'] }}');" data-toggle="tooltip" title="{{ button_cart }}" class="btn btn-primary"><i class="fa fa-shopping-cart"></i></button>
                  {% endif %} 
              {% else %} 
                    <button type="button" onclick="cart.add('{{ product['product_id'] }}');" data-toggle="tooltip" title="{{ button_cart }}" class="btn btn-primary"><i class="fa fa-shopping-cart"></i></button>
              {% endif %}
             
 {% endif %} 
 
              <a href="{{ product.remove }}" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-times"></i></a></td>
          </tr>
          {% endfor %}
            </tbody>
          
        </table>
      </div>
      {% else %}
      <p>{{ text_empty }}</p>
      {% endif %}
      <div class="buttons clearfix">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>

              {% if (module_wk_preorder_pro_status is defined) %} 
                 <script>
                     function addToCart(id) {
                         $('.preorder-alert').remove();
                         $('.alert-success').remove();
                         $.ajax({
                             url:'index.php?route=checkout/precart/customer_preordered',
                             data: {
                                 product_id: id,
                             },
                             type:'post',
                             dataType: 'json',
                             beforeSend: function() {

                             },
                             success:function(response) {
                                 if(response.success) {
                                     cart.add(id);
                                 } else {
                                     $('.breadcrumb').after('<div class="alert alert-danger preorder-alert"><i class="fa fa-exclamation-circle"></i>'+response.msg+'<button class="close" data-dismiss="alert" type="button">&times;</button></div>');
                                     $('html, body').animate({ scrollTop: 0 }, 'slow');
                                 }
                             }
                         });
                     }
                 </script>
             {% endif %}
            
{{ footer }}