<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
<link href="catalog/view/theme/default/stylesheet/stylesheet.css" rel="stylesheet">
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>
<body>
<nav id="top">
  <div class="container">{{ currency }}
    {{ language }}
    <div id="top-links" class="nav pull-right">
      <ul class="list-inline">
        <li><a href="{{ contact }}"><i class="fa fa-phone"></i></a> <span class="hidden-xs hidden-sm hidden-md">{{ telephone }}</span></li>
        <li class="dropdown"><a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle" data-toggle="dropdown">
                {% if logged and customer_image %}
                <img src="{{ customer_image }}" width="20" height="20">
                {% else %}
                <i class="fa fa-user"></i>
                {% endif %}
             <span class="hidden-xs hidden-sm hidden-md">{{ text_account }}</span> <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-right">
            {% if logged %}
            <li><a href="{{ account }}">{{ text_account }}</a></li>
            <li><a href="{{ order }}">{{ text_order }}</a></li>
            <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
            <li><a href="{{ download }}">{{ text_download }}</a></li>
            <li><a href="{{ logout }}">{{ text_logout }}</a></li>
            {% else %}
            <li><a href="{{ register }}">{{ text_register }}</a></li>
            <li><a href="{{ login }}">{{ text_login }}</a></li>
            {% endif %}
          </ul>
        </li>
        <li><a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}"><i class="fa fa-heart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_wishlist }}</span></a></li>
        <li><a href="{{ shopping_cart }}" title="{{ text_shopping_cart }}"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_shopping_cart }}</span></a></li>
        <li><a href="{{ checkout }}" title="{{ text_checkout }}"><i class="fa fa-share"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_checkout }}</span></a></li>
      </ul>
    </div>
  </div>
</nav>
<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div id="logo">{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>{% else %}
          <h1><a href="{{ home }}">{{ name }}</a></h1>
          {% endif %}</div>
      </div>
      <div class="col-sm-5">{{ search }}</div>
      <div class="col-sm-3">{{ cart }}</div>
    </div>
  </div>
</header>
 
 {% if setting is defined and setting.so_sociallogin_enable and setting.so_sociallogin_popuplogin %} 
 <div class="modal fade in" id="so_sociallogin" tabindex="-1" role="dialog" aria-labelledby="popupLoginLabel" aria-hidden="true"> 
 <div class="modal-dialog block-popup-login"> 
 <a href="javascript:void(0)" title="Close" class="close close-login fa fa-times-circle" data-dismiss="modal"></a> 
 <div class="tt_popup_login"><strong>{{ text_title_popuplogin }}</strong></div> 
 <div class="block-content"> 
 <div class=" col-reg registered-account"> 
 <div class="block-content"> 
 <form class="form form-login" action="{{ login }}" method="post" id="login-form"> 
 <fieldset class="fieldset login" data-hasrequired="* Required Fields"> 
 <div class="field email required email-input"> 
 <div class="control"> 
 <input name="email" value="" autocomplete="off" id="email" type="email" class="input-text" title="Email" placeholder="E-mail Address" /> 
 </div> 
 </div> 
 <div class="field password required pass-input"> 
 <div class="control"> 
 <input name="password" type="password" autocomplete="off" class="input-text" id="pass" title="Password" placeholder="Password" /> 
 </div> 
 </div> 
 {% if setting.so_sociallogin_enable %} 
 <div class=" form-group"> 
 <label class="control-label">{{ text_title_login_with_social }}</label> 
 <div> 
 {% if setting.so_sociallogin_googlestatus %} 
 {% if setting.so_sociallogin_button == 'icon' %} 
 <a href="{{ googlelink }}" class="btn btn-social-icon btn-sm btn-google-plus"><i class="fa fa-google fa-fw" aria-hidden="true"></i></a> 
 {% else %} 
 <a class="social-icon" href="{{ googlelink }}"> 
 <img class="img-responsive" src="{{ googleimage }}" 
 data-toggle="tooltip" alt="{{ setting.so_sociallogin_googletitle }}" 
 title="{{ setting.so_sociallogin_googletitle }}" 
 /> 
 </a> 
 {% endif %} 
 {% endif %} 
 {% if setting.so_sociallogin_fbstatus %} 
 {% if setting.so_sociallogin_button == 'icon' %} 
 <a href="{{ fblink }}" class="btn btn-social-icon btn-sm btn-facebook"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></a> 
 {% else %} 
 <a href="{{ fblink }}" class="social-icon"> 
 <img class="img-responsive" src="{{ fbimage }}" 
 data-toggle="tooltip" alt="{{ setting.so_sociallogin_fbtitle }}" 
 title="{{ setting.so_sociallogin_fbtitle }}" 
 /> 
 </a> 
 {% endif %} 
 {% endif %} 
 {% if setting.so_sociallogin_twitstatus %} 
 {% if setting.so_sociallogin_button == 'icon' %} 
 <a href="{{ twitlink }}" class="btn btn-social-icon btn-sm btn-twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></a> 
 {% else %} 
 <a class="social-icon" href="{{ twitlink }}"> 
 <img class="img-responsive" src="{{ twitimage }}" 
 data-toggle="tooltip" alt="{{ setting.so_sociallogin_twittertitle }}" 
 title="{{ setting.so_sociallogin_twittertitle }}" 
 /> 
 </a> 
 {% endif %} 
 {% endif %} 
 {% if setting.so_sociallogin_linkstatus %} 
 {% if setting.so_sociallogin_button == 'icon' %} 
 <a href="{{ linkdinlink }}" class="btn btn-social-icon btn-sm btn-linkdin"><i class="fa fa-linkedin fa-fw" aria-hidden="true"></i></a> 
 {% else %} 
 <a class="social-icon" href="{{ linkdinlink }}"> 
 <img class="img-responsive" src="{{ linkdinimage }}" 
 data-toggle="tooltip" alt="{{ setting.so_sociallogin_linkedintitle }}" 
 title="{{ setting.so_sociallogin_linkedintitle }}" 
 /> 
 </a> 
 {% endif %} 
 {% endif %} 
 </div> 
 </div> 
 {% endif %} 
 <div class="secondary ft-link-p"><a class="action remind" href="{{ link_forgot_password }}"><span>{{ text_forgot_password }}</span></a></div> 
 <div class="actions-toolbar"> 
 <div class="primary"><button type="submit" class="action login primary" name="send" id="send2"><span>{{ text_login }}</span></button></div> 
 </div> 
 </fieldset> 
 </form> 
 </div> 
 </div> 
 <div class="col-reg login-customer"> 
 {{ text_colregister }} 
 <a class="btn-reg-popup" title="{{ text_register }}" href="{{ register }}">{{ text_create_account }}</a> 
 </div> 
 <div style="clear:both;"></div> 
 </div> 
 </div> 
 </div> 
 <script type="text/javascript"> 
 jQuery(document).ready(function($) { 
 var $window = $(window); 
 function checkWidth() { 
 var windowsize = $window.width(); 
 if (windowsize > 767) { 
 $('a[href*="account/login"]').click(function (e) { 
 e.preventDefault(); 
 $("#so_sociallogin").modal('show'); 
 }); 
 } 
 } 
 checkWidth(); 
 $(window).resize(checkWidth); 
 }); 
 </script> 
 {% endif %} 
 
{{ menu }}
