
//** simple and lightweight mixin library for Sass **
//-- url : http://bourbon.io/docs ---
@import 'bourbon/bourbon';

//** Mixins for Rem Font Sizing **
//-- url : http://hugogiraudel.com/2013/03/18/ultimate-rem-mixin/
@import 'utilities/rem';

//** Variables for responsive design in bootstrap with sass **
//-- url : https://gist.github.com/webinfinita/11407836
@import 'utilities/bootstrap_breakpoints';

//** Makes supporting both left-to-right (LTR) and right-to-left (RTL) easy.**
//-- url : https://github.com/tysonmatanich/directional-scss
@import 'utilities/directional';

//Mixins utilities
@import 'utilities/theme_variables';
@import 'utilities/utilities';

/* ================================================================================ */

.footer-container{
	margin-top: 40px;
}
.typefooter-1{
	margin-top: 25px;
	background-color: #222;
	color: #ccc;
	.newsletter-footer1{
		.newsletter{
			.title-block{
				width: 50%;
				float: $left;
				text-transform: uppercase;
				.page-heading{
					@include rem(font-size,20px);					
					font-weight: 600;
				}
				.promotext{
					@include rem(font-size,14px);

				}
			}
			.block_content{
				width: 43%;
				float: $right;
				form.signup{
					height: 44px;
					.form-group{
						display: table;
						float: $right;
						width: 100%;
						.input-box{
							background-color: #fff;
							border-radius: 5px;
							display: table-cell;
							vertical-align: top;
							padding-#{$left}: 25px;
							.fa{
								font-size: 12px;
								color: #999;
								/*position: relative;
								top: -2px;*/
							}
						}
						.subcribe{
							display: inline-block;
							vertical-align: top;
							margin-#{$left}: 5px;
						}
						.alert{
							text-align: $left;
						}
					  #txtemail{
					  	width: 100%;
					    height: 44px;
					    line-height: 44px;
					    box-shadow: none;
					    padding: side-values(0 0 0 5px);
					    border: none;
					    @include border-radius(5px);
					    
					    background-color: #fff;
					    &::-moz-placeholder {
	                    color: #aaa;
		                    opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
		                }
		                &:-ms-input-placeholder { color: #aaa; } // Internet Explorer 10+
		                &::-webkit-input-placeholder  { color: #aaa; } // Safari and Chrome
	                    &:focus{
	                        z-index: 0;
	                    }
					  }
					}

					.subcribe button{					  
					  border: 0 none;
					  @include border-radius(5px);
					  color: #fff;
					  font-weight: 400;
					  font-size: 100%;
					  height: 44px;
					  line-height: 44px;
					  padding: 0 17px;		
					  text-transform: uppercase;

					  &:hover{
					    
					  }

					  
					}
				}
			}
		}
	}
	/* GENERAL */
	.modtitle{
       	color: #fff;
        @include rem(font-size,18px);
        line-height: 20px;
        margin-bottom: 10px !important;
        padding-bottom: 25px;
        position: relative;
        font-weight: 600;
        text-transform: uppercase;
           &:before {
            content: "";
            height: 2px;
            position: absolute;
            top: 35px;
            width: 40px;
            z-index: 3;
        }      
	}
	.box-footer{		
		.modcontent{
			ul{
				li{		        
		           @include link-hover-effect(35px,15px);
		          a{
		            border: 0 none;
		            color: #ccc;
		            @include rem(font-size,12px);
		            padding: 0;		    
		            font-weight: 400;   
		          }		    
		        }
			}
		}
		&.box-information,
		&.box-service{
			padding-left: 0;
		}
	}
	.contact-us{
		 h2{
	      margin: 0;
	    }
		.links-contact {margin-bottom: 15px;}
	       ul.links-contact > li {
	          @include rem(font-size, 12px);
	          line-height: 24px;
	          padding: 7px 0;
	          color: #ccc;

	          .fa {
	              color: #fff;
	              margin-right: 12px;
	          }
	          .label-footer {
				color: #fff;    
				@include rem(font-size, 12px);
				font-weight: 500;
				min-width: 60px;
				display:inline-block;
	          }
	   		&.contact-mail{
	   			a{
	   				color: #ccc;
	   			}
	   		}
	     }
	}
	.socials-wrap{
	    display: inline-block;

	    ul{
	      li{
	          float: $left;
	          margin-#{$right}: 10px;
	          margin-bottom: 10px;
	        a{
	           background-color: #434343;
	            border-radius: 3px;
	            color: #fff;
	            display: inline-block;
	            font-size: 14px;
	            height: 40px;
	            line-height: 40px;
	            text-align: center;
	            width: 40px;
	             @include transition(all 0.2s ease-in-out 0s);
	          .name-social{
	            display: none;
	          }
	          &:hover{
	          	//background-color: $background;
	          }
	        }
	      }
	    }
	}

	.app-block{
	  .title-footer{
	    display: table-cell;
	    vertical-align: middle;
	    font-size: 18px;
	    text-transform: uppercase;
	    font-weight: 600;
	    color: #fff;
	  }

	  ul{
	    list-style: none;
	    display: table-cell;
	    vertical-align: middle;
	    padding-#{$left}: 30px;

	    li{
	      float: $left;
	      margin-#{$right}: 10px;
	      margin-bottom: 0;

	      &:last-child{
	        margin-#{$right}: 0;
	      }
	    }
	  }
	}


	.footer-top{
		padding-top: 58px;
		padding-bottom: 48px;
		.box-footer1{
			float: $left;
		}
		.box-footer{
			float: $left;
		}
	}
	.f1-section-style{
		background-color: #181818;
	}
	.footer-center{
		
		padding: 25px 0;
	}
	/* FOOTER BOTTOM */
	.footer-bottom{
	    color: #ccc;
	    padding: 37px 0 30px 0;
	    a {color: #fff;}
	    .copyright{
	        margin-top: 12px;
	        text-align: $right;
	        font-size: 12px;
	    }

	    .footer-payment{
	      text-align: right;
	    }

	}
}