{{ header }}


<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
		<h2>{{ heading_title }}</h2>
		{% if products %}
			{#==== Product Listing ==== #}
            <div class="products-category">
                {% include theme_directory~'/template/soconfig/listing.twig' with {listingType: listingType} %}
            </div>
		{% else %}
			<p>{{ text_empty }}</p>
			<div class="buttons">
				<div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
			</div>
		{% endif %}
		{{ content_bottom }}</div>
    {{ column_right }}</div>
</div>

                      {% if wk_preorder_pro_status %}
                         <script>
                             function addToCart(id) {
                               $('.preorder-alert').remove();
                               $.ajax({
                                   url:'index.php?route=checkout/precart/customer_preordered',
                                   data: {
                                       product_id: id,
                                   },
                                   type:'post',
                                   dataType: 'json',
                                   beforeSend: function() {

                                   },
                                   success:function(response) {
                                       if(response.success) {
                                           cart.add(id);
                                       } else {
                                           $('.breadcrumb').after('<div class="alert alert-danger preorder-alert"><i class="fa fa-exclamation-circle"></i>'+response.msg+'<button class="close" data-dismiss="alert" type="button">&times;</button></div>');
                                           $('html, body').animate({ scrollTop: 0 }, 'slow');
                                       }
                                   }
                               });
                             }
                         </script>
                   {% endif %}
                  
{{ footer }}