{#=====Get variable : Config Select Block on header=====#}
{% set hidden_headercenter = soconfig.get_settings('toppanel_type') =='2'? 'hidden-compact' : '' %}
{% set hidden_headerbottom = soconfig.get_settings('toppanel_type') =='1'? 'hidden-compact' : '' %}

<link rel="stylesheet" type="text/css" href="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/css/owl.carousel.min.css" />
<link rel="stylesheet" type="text/css" href="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/css/owl.theme.default.min.css" />

<header id="header" class=" variant typeheader-{{ typeheader ? typeheader : '1'}}">
	<!-- HEADER TOP -->
	<div class="header-top compact-hidden">
		<div class="inner">
			<div class="row">
				<div class="header-top-left col-lg-4 col-md-4 col-sm-4 col-xs-6">
					<!-- LANGUAGE CURENCY -->
					{% if soconfig.get_settings('lang_status') %}
					<ul class="top-link list-inline lang-curr">
						{% if currency %}<li class="currency"> {{ currency }}  </li> {% endif %}
						{% if language %} <li class="language">{{ language }} </li>	{% endif %}			
					</ul>				
					{% endif %} 
					
					{% if soconfig.get_settings('phone_status') and soconfig.get_settings('contact_number') %}
					<div class="telephone hidden-xs hidden-sm hidden-md" >
						{{ soconfig.decode_entities( soconfig.get_settings('contact_number') ) }}
					</div>
					{% endif %}
					
				</div>
				<div class="navbar-logo col-lg-4 col-md-4  col-sm-4 col-xs-12">
					<div class="logo">
				   		{{soconfig.get_logo()}}
				   	</div>
				</div>
				<div class="header-top-right collapsed-block col-lg-4 col-md-4  col-sm-4 col-xs-6 ">
					<ul class="top-link list-inline">
						{% if soconfig.get_settings('welcome_message_status') %}
							<li class="hidden-sm hidden-xs welcome-msg">
								{% if soconfig.get_settings('welcome_message') is not empty %}
									{{ soconfig.decode_entities( soconfig.get_settings('welcome_message') ) }}
								{% endif %} 
							</li>
						{% endif %}
						{% if logged %} 
							<li><a href="{{ logout }}">{{ text_logout }}</a></li>							
							  {% else %}
							<li><a href="{{ login }}">{{ text_login }}</a></li>
							<li><a href="{{ register }}">{{ text_register }}</a></li>							
						{% endif %}

						<!-- WISHLIST  -->
						{% if wishlist_status %}
							<li class="wishlist"><a id="wishlist-total" class="btn-link" href="{{ wishlist }}"  title="{{ text_wishlist }}">{{ text_wishlist }}</a></li>
						{% endif %}	
						<!-- checkout -->
						{% if soconfig.get_settings('checkout_status') %}
							<li class="checkout hidden-xs"><a href="{{ checkout }} " class="btn-link" title="{{ text_checkout }} "><span >{{ text_checkout }} </span></a></li>
						{% endif %} 											
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- HEADER CENTER -->
	<div class="header-center {{hidden_headercenter}}">
		<div class="container">

			<div class="main-menu-w">
			<!-- Main menu -->				
			  {{ content_menu1 }}
			</div>
			<div class="cart-search">
				<div class="shopping_cart">							
				 	{{ cart }}
				</div>

				<div class="search-header-w">	
					<div class="icon-search"><i class="fa fa-search"></i></div>			
					{{ search_block }}
				</div>
			</div>
		</div>
	</div>
		
</header>
<script src="http://poorvikabeta.webindia.com/catalog/view/theme/so-destino/js/owl.carousel.min.js"></script> 
<script>
 $(document).ready(function(){
  $('.home-video-carousel1').owlCarousel({
    loop:true,
   autoplay:true,
    autoplayTimeout:3000,
    autoplayHoverPause:true,
    nav:true,
	dots:false,
    responsive:{
        0:{
            items:1
        },
		320:{
            items:1
        },
		480:{
            items:1
        },
        600:{
            items:2
        },
		767:{
            items:2
        },
		991:{
            items:3
        },
        1200:{
            items:4
        }
    }
})
$( ".owl-prev").html('<i class="fa fa-lg fa-arrow-left"></i>');
 $( ".owl-next").html('<i class="fa fa-lg fa-arrow-right"></i>');
});	

</script>