{#=====Get variable : Config Select Block on header=====#}
{% set hidden_headercenter = soconfig.get_settings('toppanel_type') =='2'? 'hidden-compact' : '' %}
{% set hidden_headerbottom = soconfig.get_settings('toppanel_type') =='1'? 'hidden-compact' : '' %}

<header id="header" class=" variant typeheader-{{ typeheader ? typeheader : '1'}}">
	<a id="btn-header-sidebar" class="hidden-lg navbar-toggle" href="javascript:void(0);" title="Navigation"><i class="fa fa-bars"></i></a>
	<div class="header6-inner">
		<!-- LANGUAGE CURENCY -->
		{% if soconfig.get_settings('lang_status') %}
			<ul class="top-link list-inline lang-curr">
				{% if currency %}<li class="currency"> {{ currency }}  </li> {% endif %}
				{% if language %} <li class="language">{{ language }} </li>	{% endif %}			
			</ul>				
		{% endif %} 

		<div class="logo">
	   		{{soconfig.get_logo()}}
	   	</div>

	   	<div class="shopping_cart">							
		 	{{ cart }}
		</div>

		<!-- Main menu -->				
	    {{ content_menu1 }}
	    <!-- //end Navbar -->

	    <div class="search-header-w">				
			{{ search_block }}
		</div>

		<ul class="top-link list-inline">
			{% if soconfig.get_settings('welcome_message_status') %}
				<li class="hidden-sm hidden-xs welcome-msg">
					{% if soconfig.get_settings('welcome_message') is not empty %}
						{{ soconfig.decode_entities( soconfig.get_settings('welcome_message') ) }}
					{% endif %} 
				</li>
			{% endif %}
			{% if logged %} 
				<li><a href="{{ logout }}">{{ text_logout }}</a></li>							
				  {% else %}
				<li><a href="{{ login }}">{{ text_login }}</a></li>
				<li><a href="{{ register }}">{{ text_register }}</a></li>							
			{% endif %}

			<!-- WISHLIST  -->
			{% if wishlist_status %}
				<li class="wishlist"><a id="wishlist-total" class="btn-link" href="{{ wishlist }}"  title="{{ text_wishlist }}">{{ text_wishlist }}</a></li>
			{% endif %}	
			<!-- checkout -->
			{% if soconfig.get_settings('checkout_status') %}
				<li class="checkout"><a href="{{ checkout }} " class="btn-link" title="{{ text_checkout }} "><span >{{ text_checkout }} </span></a></li>
			{% endif %} 											
		</ul>
		{% if soconfig.get_settings('phone_status') and soconfig.get_settings('contact_number') %}
					<div class="telephone hidden-xs hidden-sm hidden-md" >
						{{ soconfig.decode_entities( soconfig.get_settings('contact_number') ) }}
					</div>
					{% endif %}

		<div class="header-socials">
			{{ header_block }}
		</div>

	</div>
		
</header>