{% set homeLayout = { 
   '1' : 'Home Layout1',
   '2' : 'Home Layout2',
   '3' : 'Home Layout3',
   '4' : 'Home Layout4',
   '5' : 'Home Layout5',
   '6' : 'Home Layout6',
   '7' : 'Home Layout7',
   '8' : 'Home Layout8',
} %}

{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-layout" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-layout" class="form-horizontal">
          <fieldset>
            <legend>{{ text_route }}</legend>
            <div class="form-group required">
              <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
              <div class="col-sm-10">
                <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
                {% if error_name %}
                <div class="text-danger">{{ error_name }}</div>
                {% endif %}
              </div>
            </div>
            <table id="route" class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <td class="text-left">{{ entry_store }}</td>
                  <td class="text-left">{{ entry_route }}</td>
                  <td></td>
                </tr>
              </thead>
              <tbody>

                {% set route_row = 0 %}
				        
                {% for layout_route in layout_routes %}
                <tr id="route-row{{ route_row }}">
                  <td class="text-left"><select name="layout_route[{{ route_row }}][store_id]" class="form-control">
                      <option value="0">{{ text_default }}</option>
                      {% for store in stores %}
                      {% if store.store_id == layout_route.store_id %}
                      <option value="{{ store.store_id }}" selected="selected">{{ store.name }}</option>
                      {% else %}
                      <option value="{{ store.store_id }}">{{ store.name }}</option>
                      {% endif %}
                      {% endfor %}
                    </select></td>
                  <td class="text-left"><input type="text" name="layout_route[{{ route_row }}][route]" value="{{ layout_route.route }}" placeholder="{{ entry_route }}" class="form-control" /></td>
                  <td class="text-left"><button type="button" onclick="$('#route-row{{ route_row }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>
                </tr>
                {% set route_row = route_row + 1 %}
                {% endfor %}

              </tbody>
              <tfoot>
                <tr>
                  <td colspan="2"></td>
                  <td class="text-left"><button type="button" onclick="addRoute();" data-toggle="tooltip" title="{{ button_route_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
                </tr>
              </tfoot>
            </table>
          </fieldset>

          <fieldset>
            <legend>{{ text_module }}</legend>
            
            {% set module_row = 0 %}
            
            <div class="bs-callout bs-callout-info" id="callout-alerts-no-default"> <h4>Content Header</h4> </div>
            <div class="well"> 
                <div class="row">
                    {# Notice: Name position Giới hạn 14 kí tự - Setting Database  varchar(14) #}
                    <div class="col-lg-4 col-md-4 col-sm-12"> 
                        <pre><h2 class="text-center">Logo demo</h2></pre>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12"> 
                        {{fields.create_position('Mega menu horizontal','content_menu1',layout_modules,extensions,module_row)}}                 
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12"> 
                        {{fields.create_position('Mega menu vertical','content_menu2',layout_modules,extensions,module_row)}}                 
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12"> 
                        {{fields.create_position('Header Block','header_block',layout_modules,extensions,module_row)}}                 
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        {{fields.create_position('Search Block','search_block',layout_modules,extensions,module_row)}}
                    </div>
                   
                 </div>
            </div>

            <div class="bs-callout bs-callout-info" id="callout-alerts-no-default"> <h4>Content Main</h4> </div>
            <div class="well"> 
                <div class="row">
                    <div class="col-sm-12">
                        {{fields.home_position('Content Home (Only show home page) ','content_home',layout_modules,extensions,module_row,homeLayout)}}
                    </div>
                    
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        {#======= Position: Column Left ======#}
                        {{fields.create_position('Column Left','column_left',layout_modules,extensions,module_row)}}
                    </div>

                    <div class="col-lg-6 col-md-4 col-sm-12">
                     {#======= Position: Content Top ======#}
                        

                        {{fields.create_position('Content Top','content_top',layout_modules,extensions,module_row)}}
                       
                        {{fields.create_position('Content Bottom','content_bottom',layout_modules,extensions,module_row)}}

                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-12">
                    {#======= Position: Column Right ======#} 
                        {{fields.create_position('Column Right','column_right',layout_modules,extensions,module_row)}}
                        
                     </div>

                 
                </div>
            </div>

            <div class="bs-callout bs-callout-info" id="callout-alerts-no-default"> <h4>Content Footer</h4> </div>
            <div class="well"> 
                <div class="row">
                    {# Notice: Name position  - Setting Database  varchar(14) #}
                     <div class="col-lg-4 col-md-4 col-sm-12"> 
                        {{fields.create_position('Footer Block','footer_block',layout_modules,extensions,module_row)}}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12"> 
                        {{fields.create_position('Footer Block 1','footer_block1',layout_modules,extensions,module_row)}}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        {{fields.create_position('Footer Block 2','footer_block2',layout_modules,extensions,module_row)}}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        {{fields.create_position('Footer Block 3','footer_block3',layout_modules,extensions,module_row)}}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        {{fields.create_position('Footer Block 4','footer_block4',layout_modules,extensions,module_row)}}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        {{fields.create_position('Footer Block 5','footer_block5',layout_modules,extensions,module_row)}}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        {{fields.create_position('Footer Block 6','footer_block6',layout_modules,extensions,module_row)}}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        {{fields.create_position('Footer Block 7','footer_block7',layout_modules,extensions,module_row)}}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        {{fields.create_position('Footer Block 8','footer_block8',layout_modules,extensions,module_row)}}
                    </div>
                    
                 </div>
            </div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>

  <style>
    .input-group .form-control{width:90%;}
    .form-order{border: 1px solid #ccc;    vertical-align: top;margin-left: -1px;}
    .bs-callout h4 { margin: 0;}
    .bs-callout {padding: 10px;margin: 20px 0 0;border: 1px solid #ddd;border-left-width: 5px;background: #f4f4f4;}
    .bs-callout+.well {background: none;margin-top: -1px;border-radius: 0px;}
    .bs-callout-info {border-left-color: #1b809e;}
    .common-home .column_left,.common-home .column_right  {display: none;}
    .extension-mobile-home #module-content_home{display: table;}
    .common-home #module-content_soon{display: table;}
    .common-home #module-content_home{display: table;}
    .common-home .column_content{width: 100%; display: flex; padding: 0;}
    .common-home .column_content > .table{max-width: calc(33.33% - 30px);margin: 0 15px;}
  
  </style>


  <script type="text/javascript"><!--

$(".select2-input").select2({});

var route_row = {{ route_row }};

function addRoute() {
     html  = '<tr id="route-row' + route_row + '">';
     html += '  <td class="text-left"><select name="layout_route[' + route_row + '][store_id]" class="form-control select2-input">';
     html += '  <option value="0">{{ text_default }}</option>';
     {% for store in stores %}
     html += '<option value="{{ store.store_id }}">{{ store.name|escape('js') }}</option>';
     {% endfor %}
     html += '  </select></td>';
     html += '  <td class="text-left"><input type="text" name="layout_route[' + route_row + '][route]" value="" placeholder="{{ entry_route }}" class="form-control" /></td>';
     html += '  <td class="text-left"><button type="button" onclick="$(\'#route-row' + route_row + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
     html += '</tr>';
     
     $('#route tbody').append(html);
     
     route_row++;
}

{{fields.var_module_row()}}
function addModule(type) {
    
     html  = '<tr id="module-row' + module_row + '">';
    html += '  <td class="text-left"><div class="input-group"><select name="layout_module[' + module_row + '][code]" class="form-control input-sm select2-input">';
     {% for extension in extensions %}
     html += '    <optgroup label="{{ extension.name|escape('js') }}">';
     {% if not extension.module %}
     html += '      <option value="{{ extension.code }}">{{ extension.name|escape('js') }}</option>';
     {% else %}
     {% for module in extension.module %}
     html += '      <option value="{{ module.code }}">{{ module.name|escape('js') }}</option>';
     {% endfor %}
     {% endif %}
     html += '    </optgroup>';
     {% endfor %}
     html += '  </select>';
    html += '  <input type="hidden" name="layout_module[' + module_row + '][position]" value="' + type.replace('-', '_') + '" />';
    html += '  <input type="hidden" name="layout_module[' + module_row + '][sort_order]" value="" />';
     html += '  <div class="input-group-btn"><a href="" target="_blank" type="button" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i></a><button type="button" onclick="$(\'#module-row' + module_row + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger btn-sm"><i class="fa fa fa-minus-circle"></i></button></div></div></td>';
     html += '</tr>';
     $(".select2-input").select2({});
     $('#module-' + type + ' tbody').append(html);
     
     $('#module-' + type + ' tbody select[name=\'layout_module[' + module_row + '][code]\']').val($('#module-' + type + ' tfoot select').val());
     
     $('#module-' + type + ' select[name*=\'code\']').trigger('change');
          
     $('#module-' + type + ' tbody input[name*=\'sort_order\']').each(function(i, element) {
          $(element).val(i);
     });
     
     module_row++;
}


$('#module-column-left, #module-column-right, #module-content-top, #module-content-bottom').delegate('select[name*=\'code\']', 'change', function() {
    var part = this.value.split('.');
    
    if (!part[1]) {
        $(this).parent().find('a').attr('href', 'index.php?route=extension/module/' + part[0] + '&user_token={{ user_token }}');
    } else {
        $(this).parent().find('a').attr('href', 'index.php?route=extension/module/' + part[0] + '&user_token={{ user_token }}&module_id=' + part[1]);
    }
});

$('#module-column-left, #module-column-right, #module-content-top, #module-content-bottom').trigger('change');

//--></script> 
</div>
{{ footer }}