{#=====Get variable : Config Select Block on header=====#}
{% set hidden_headercenter = soconfig.get_settings('toppanel_type') =='2'? 'hidden-compact' : '' %}
{% set hidden_headerbottom = soconfig.get_settings('toppanel_type') =='1'? 'hidden-compact' : '' %}

<header id="header" class=" variant typeheader-{{ typeheader ? typeheader : '1'}}">
	<!-- HEADER TOP -->
	<div class="header-top compact-hidden">
		<div class="row">
			<div class="header-top-left col-lg-6 col-md-5 col-sm-6 col-xs-6">
				<ul class="top-link list-inline">
					{% if soconfig.get_settings('welcome_message_status') %}
						<li class="hidden-sm hidden-xs welcome-msg">
							{% if soconfig.get_settings('welcome_message') is not empty %}
								{{ soconfig.decode_entities( soconfig.get_settings('welcome_message') ) }}
							{% endif %} 
						</li>
					{% endif %}
					{% if logged %} 
							<li><a href="{{ logout }}">{{ text_logout }}</a></li>							
							  {% else %}
							<li><a href="{{ login }}">{{ text_login }}</a></li>
							<li><a href="{{ register }}">{{ text_register }}</a></li>							
						{% endif %}

					<!-- WISHLIST  -->
					{% if wishlist_status %}
						<li class="wishlist"><a id="wishlist-total" class="btn-link" href="{{ wishlist }}"  title="{{ text_wishlist }}">{{ text_wishlist }}</a></li>
					{% endif %}	
					<!-- checkout -->
					{% if soconfig.get_settings('checkout_status') %}
						<li class="checkout"><a href="{{ checkout }} " class="btn-link" title="{{ text_checkout }} "><span >{{ text_checkout }} </span></a></li>
					{% endif %} 											
				</ul>
			</div>
			<div class="header-top-right collapsed-block col-lg-6 col-md-7 col-sm-6 col-xs-6">
				<!-- LANGUAGE CURENCY -->
				{% if soconfig.get_settings('lang_status') %}
					<ul class="top-link list-inline lang-curr">
						{% if currency %}<li class="currency"> {{ currency }}  </li> {% endif %}
						{% if language %} <li class="language">{{ language }} </li>	{% endif %}			
					</ul>				
				{% endif %} 
				
				{% if soconfig.get_settings('phone_status') and soconfig.get_settings('contact_number') %}
					<div class="telephone hidden-xs hidden-sm hidden-md" >
						{{ soconfig.decode_entities( soconfig.get_settings('contact_number') ) }}
					</div>
					{% endif %}
			</div>
		</div>	
	</div>
	
	<!-- HEADER CENTER -->
	<div class="header-center {{hidden_headercenter}}">
		<div class="row">
			<!-- LOGO -->
			<div class="navbar-logo col-lg-2 col-md-3 col-sm-6 col-xs-12">
				<div class="logo">
			   		{{soconfig.get_logo()}}
			   	</div>
			</div>
			<div class="col-lg-7 col-md-7 col-sm-3 col-xs-5">	
				<div class="main-menu-w">
				<!-- Main menu -->				
				   {{ content_menu1 }}
				</div>
			</div>
			<div class="center-right col-lg-3 col-md-2 col-sm-3 col-xs-7">	
				
				<div class="shopping_cart">							
				 	{{ cart }}
				</div>

				<div class="search-header-w">	
					<div class="icon-search"><i class="fa fa-search"></i></div>			
					{{ search_block }}
				</div>
				
			</div>
		</div>
	</div>
	
		
</header>