{{ header }}
<link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css" type="text/css" rel="stylesheet" />
{{ column_left }}

<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid"> {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    
    <div class="panel panel-default">
	   <div class="panel-heading" style="padding-bottom: 20px;">
		  <h3>{{ heading_title }}</h3>
			
		</div>
	   <div class="panel-body">
      
      	<table id="csh_tbl" class="display" style="width:100%"> 
			<thead>
	 			<tr> 
          <th>SL NO</th> 
				 	<th>Product ID</th> 
          <th>Product Name</th> 
				 	<th>Reference ID</th> 
				 	<th>Estimated Amount</th> 
				 	<th>Final Amount</th> 
				 	<th>Status</th>
				 	<th>Created Date</th>
				 	<th class="not-export-col">View</th>
	 			</tr> 
	 		</thead> 
	 		<tbody> 
	 			{% set i = 1 %}
	 			{% for csh_list in csh_lists %}
	 			<tr> 
          <td>{{ i }}</td> 
	 				<td>{{ csh_list.csh_pid }}</td> 
	 				<td>{{ csh_list.csh_pn }}</td> 
          <td>{{ csh_list.ref_id }} </td>
	 				<td>{{ csh_list.quote_amnt }}</td>
	 				<td>{{ csh_list.final_amt }}</td>
	 				<td>{{ csh_list.status }}</td>
	 				<td>{{ csh_list.created_date }}</td>
	 				<td class="not-export-col"><button type="button" class="btn btn-info btn-lg opencshmodal fa fa-eye" data-id="{{ csh_list.csh_id }}" data-toggle="modal" data-target="#cshModal"></button></td>
	 			</tr>
	 			{% set i = i + 1 %}
				{% endfor %}
   			
   			</tbody>
   		</table>

   		<!-- Trigger the modal with a button -->
   		
   		<!-- Modal -->
<div id="cshModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title" style="font-weight: bold;">Cashify Details</h3>
      </div>
      <div class="modal-body">
      	<input type="hidden" id="cashify_id" name="cashify_id" value="">
      	<div class="form-group">
	        <label class="control-label" for="input-id">Product ID</label>
	        <input type="text" name="pid" value="" id="pid" class="form-control" readonly>
	     </div>
	     <div class="form-group">
	        <label class="control-label" for="input-pname">Product Name</label>
	        <input type="text" name="pname" value="" id="pname" class="form-control" readonly>
	     </div>
      	<div class="form-group">
	        <label class="control-label" for="input-prefid">Reference ID</label>
	        <input type="text" name="prefid" value="" id="prefid" class="form-control" readonly>
	     </div>
       <div class="form-group">
          <label class="control-label" for="input-pestamt">Estimated Amount</label>
          <input type="text" name="pestamt" value="" id="pestamt" class="form-control" readonly>
       </div>
	     <div class="form-group">
	        <label class="control-label" for="input-pfinalamt">Final Amount</label>
	        <input type="text" name="pfinalamt" value="" id="pfinalamt" class="form-control" readonly>
	     </div>
      	<div class="form-group">
	        <label class="control-label" for="input-pst">Status</label>
	        <input type="text" name="pst" value="" id="pst" class="form-control" readonly>
	     </div>
	     <div class="form-group">
	        <label class="control-label" for="input-created_dt">Created Date</label>
	        <input type="text" name="created_dt" value="" id="created_dt" class="form-control" readonly>
	     </div>
      	
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
   		
   		</div>
   		</div>
   		</div>

 </div>
  </div>
  
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script> 
<script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script> 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script> 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script> 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script> 
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script> 

<script>
/*$(document).ready(function() {
    $('#csh_tbl').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    } );
} );*/
/*$(document).ready(function() {
    $('#csh_tbl').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5'
        ]
    } );
} );*/
$(document).ready(function() {
    $('#csh_tbl').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            {
                extend: 'copyHtml5',
                exportOptions: {
                     columns: ':not(.not-export-col)'
                }
            },
            {
                extend: 'excelHtml5',
                exportOptions: {
                     columns: ':not(.not-export-col)'
                }
            },
            {
                extend: 'csvHtml5',
                exportOptions: {
                     columns: ':not(.not-export-col)'
                }
            }
        ]
    } );
} );
$(document).ready(function() {
  $(".opencshmodal").click(function(){
     $('#cashify_id').val($(this).data('id'));
     var cashify_id = $('#cashify_id').val();
     $.ajax({
            url: 'index.php?route=catalog/cashifyreport/getCashifyData&user_token={{ user_token }}',
            type: 'POST',
            dataType : 'json',
            data: {
            cashify_id: cashify_id
        },
        success: function(response) {
        	var obj = JSON.stringify(response)
        	var stringify = JSON.parse(obj);
        	$('#pid').val(stringify['csh_pid']);
        	$('#pname').val(stringify['csh_pn']);
          $('#pestamt').val(stringify['quote_amnt']);
          $('#pfinalamt').val(stringify['final_amt']);
          $('#pst').val(stringify['status']);
        	$('#prefid').val(stringify['ref_id']);
        	$('#created_dt').val(stringify['created_date']);

        	//$("#cshModal").modal("show");
			
        }
      });
  });
});
</script>
{{ footer }} 