{{ header }}
{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
      <a href="{{ insert }}" data-toggle="tooltip" title="{{ button_insert}}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
      <button type="button" data-toggle="tooltip" title="{{ button_delete}}" class="btn btn-danger" id="delete"><i class="fa fa-trash-o"></i></button>
    </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>{{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    {% if success %}
      <div class="alert alert-success"><i class="fa fa-check-circle"></i>{{ success }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i>{{ heading_title }}</h3>
      </div>

      <div class="panel-body">
        <div class="well">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-id">{{ entry_id }}</label>
                <input type="text" name="filter_id" value="{{ filter_id }}" placeholder="{{ entry_id }}" id="input-id" class="form-control" />
              </div>

              <div class="form-group">
                <label class="control-label" for="input-message">{{ entry_message }}</label>
                <input type="text" name="filter_message" value="{{ filter_message }}"  placeholder="{{ entry_message }}" id="input-message" class="form-control" />
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-name">{{ entry_name }}</label>
                <input type="text" name="filter_name" value="{{ filter_name }}"  placeholder="{{ entry_name }}" id="input-name" class="form-control" />
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-subject">{{ entry_subject }}</label>
                <input type="text" name="filter_subject" value="{{ filter_subject }}"  placeholder="{{ entry_subject }}" id="input-subject" class="form-control" />
              </div>
              <div class="btn-group pull-right">
                  <button class="btn btn-primary" type="button" onclick="filter();" data-toggle="tooltip" title="{{ button_filter }}" >
                    <i class="fa fa-filter"></i>
                  </button>
                  <a class="btn btn-danger" onclick="clearfilter();" data-toggle="tooltip" title="{{ button_clrfilter }}">
                    <i class="fa fa-eraser"></i>
                  </a>
              </div>
            </div>
          </div>
        </div>

        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-transaction">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
              <tr>
              <td width="1" style="text-align: center;"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>

                <td class="text-left">
                  {% if sort == 'id'  %}
                  <a href="{{ sort_id }}" class="{{ order|lower }}">{{ entry_id }}</a>
                  {% else %}
                  <a href="{{ sort_id }}">{{ entry_id }}</a>
                  {% endif %}
                </td>
                <td class="text-left">
                  {% if sort == 'name' %}
                  <a href="{{ sort_name }}" class="{{ order|lower }}">{{ entry_name }}</a>
                   {% else %}
                  <a href="{{ sort_name }}">{{ entry_name }}</a>
                   {% endif %}

                </td>

                <td class="text-left">
                  {% if sort  ==  'subject' %}
                  <a href="{{ sort_subject }}" class="{{ order|lower }}">{{ entry_subject }}</a>
                    {% else %}
                  <a href="{{ sort_subject }}">{{ entry_subject }}</a>
                  {% endif %}

                </td>

                <td class="text-left">
                  {% if sort  ==  'message' %}
                  <a href="{{ sort_message }}" class="{{ order|lower }}">{{ entry_message }}</a>
                    {% else %}
                  <a href="{{ sort_message }}">{{ entry_message }}</a>
                  {% endif %}

                </td>

                <td class="text-right">{{ entry_action }}</td>
              </tr>
            </thead>

            <tbody>
              {% if mails %}
              {% for result in mails %}
                <tr>
                  <td style="text-align: center;">{% if result.selected  %}
                    <input type="checkbox" name="selected[]" value="{{ result.id }}" checked="checked" />
                   {% else %}
                    <input type="checkbox" name="selected[]" value="{{ result.id }}" />
                    {% endif %}
                  </td>
                  <td class="text-left" >{{ result.id }}</td>
                  <td class="text-left">{{ result.name }}</td>
                  <td class="text-left">{{ result.subject }}</td>
                  <td class="text-left">{% autoescape false %}{{ result.message }} {% endautoescape %}</td>
                  <td class="text-right">
                      <a href="{{ result.action}}" data-toggle="tooltip" title="{{ text_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                  </td>

                </tr>
                {% endfor %}
              {% else %}
              <tr>
                <td class="text-center" colspan="6">{{ entry_no_records }}</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </form>

      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript"><!--
$('body').on('click','#delete',function(){
  var flag = false;
  $('input[type=\'checkbox\']').each(function(){
    if ($(this).is(':checked')) {
      flag = true;
    }
  });
  if (flag) {
      confirm('{{ text_confirm }}') ? $('#form-transaction').submit() : false;
  } else {
     alert('Please select first');
  }
});

$('#form input').keydown(function(e) {
  if (e.keyCode == 13) {
    filter();
  }
});

function clearfilter() {
  url = 'index.php?route=catalog/mails&user_token={{ user_token }}';
  location = url;
}

function filter() {

  url = 'index.php?route=catalog/mails&user_token={{ user_token }}';

  var filter_name = $('input[name=\'filter_name\']').val();

  if (filter_name) {
    url += '&filter_name=' + encodeURIComponent(filter_name);
  }

  var filter_id = $('input[name=\'filter_id\']').val();

  if (filter_id) {
    url += '&filter_id=' + encodeURIComponent(filter_id);
  }

  var filter_subject = $('input[name=\'filter_subject\']').val();

  if (filter_subject) {
    url += '&filter_subject=' + encodeURIComponent(filter_subject);
  }

  var filter_message = $('input[name=\'filter_message\']').val();

  if (filter_message) {
    url += '&filter_message=' + encodeURIComponent(filter_message);
  }

  location = url;
}
//--></script>
{{ footer }}
