{{ header }} 
{{ column_left }} 
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
        <div class="pull-right">
          <button type="button" data-toggle="tooltip" title="Delete" id="delete_order" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
          {% if (notification_status) %} 
            <button id="notify"  class="btn btn-primary" data-toggle="tooltip" data-original-title="{{ text_notify_help }}" >
              <i class="fa fa-envelope"></i>
              &nbsp;
              {{ text_notify }} 
            </button>
          {% endif %} 
        </div>
        <h1>{{ heading_title }}</h1>
        <ul class="breadcrumb">
          {% for breadcrumb in breadcrumbs %} 
          <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
          {% endfor %} 
        </ul>
    </div>
  </div>

  <div class="container-fluid">
    {% if (error_warning) %} 
    <div class="alert alert-danger">
    	<i class="fa fa-exclamation-circle"></i>
    	{{ error_warning }} 
    </div>
    {% endif %} 
    {% if (success) %} 
    <div class="alert alert-success">
    	<i class="fa fa-check-circle"></i>
    	{{ success }} 
    </div>
    {% endif %} 
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i>{{ heading_title }}</h3>
      </div>
      <div class="panel-body">
        <div class="well">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">
                  {{ text_pname }} 
                </label>
                <input type="text" class="form-control" name="filter_pname" value="{{ pname }}" placeholder="{{ text_pname }}" />
              </div>
              <div class="form-group">
                <label class="control-label">
                  {{ text_notification_status }} 
                </label>
                <select name="filter_notified" class="form-control">
                  <option value=""></option>
                  <option value="1" {% if (notified is defined and notified == 'yes') %} {{ "selected" }}{% endif %} >{{ text_notified }}</option>
                  <option value="0" {% if (notified is defined and notified == 'no') %} {{ "selected" }}{% endif %} >{{ text_not_notified }}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">
                  {{ text_name }} 
                </label>
                <input type="text" class="form-control date" name="filter_name" value="{{ name }}" placeholder="{{ text_name }}" />
              </div>
              <div class="form-group">
                <label class="control-label">
                  {{ text_status }} 
                </label>
                <select class="form-control" name="filter_status">
                  <option value=""></option>
                  <option value="0" {% if (status is defined and status == 'no') %} {{ "selected" }}{% endif %} >{{ text_pre_ordered }}</option>
                  <option value="1" {% if (status is defined and status == 'yes') %} {{ "selected" }}{% endif %} >{{ text_full_paid }}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">
                  {{ text_cus_email }} 
                </label>
                <input type="text" class="form-control" name="filter_customer_mail" value="{{ customer_mail }}" placeholder="{{ text_cus_email }}" />
              </div>
              <div class="form-group">
                <div class="btn-group pull-right">
                  <button class="btn btn-primary" type="button" onclick="filter();" data-toggle="tooltip" title="{{ button_filter }}" >
                    <i class="fa fa-filter"></i>
                  </button>
                  <a href="{{ clear_filter }}" class="btn btn-danger" data-toggle="tooltip" title="{{ button_clear_filter }}" >
                    <i class="fa fa-eraser"></i>
                  </a>
                </div>
            </div>
          </div>
        </div>
        <form  action="{{ delete }}" method="post" enctype="multipart/form-data" id="form" class="form-horizontal">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
              <td class="text-center" style="width:1px"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
              <td class="text-left">{% if (sort == 'ppd.order_id') %} 
                  <a href="{{ sort_orderid }}" class="{{ order | lower }}">{{ text_order_id }}</a>
                  {% else %} 
                  <a href="{{ sort_orderid }}">{{ text_order_id }}</a>
                  {% endif %} 
                </td>

                <td class="text-left">{% if (sort == 'pd.name') %} 
                  <a href="{{ sort_pname }}" class="{{ order | lower }}">{{ text_pname }}</a>
                  {% else %} 
                  <a href="{{ sort_pname }}">{{ text_pname }}</a>
                  {% endif %} 
                </td>

                <td class="text-left">{% if (sort == 'c.firstname') %} 
                  <a href="{{ sort_cname }}" class="{{ order | lower }}">{{ text_name }}</a>
                  {% else %} 
                  <a href="{{ sort_cname }}">{{ text_name }}</a>
                  {% endif %} 
                </td>

                <td class="text-left">{% if (sort == 'c.email') %} 
                  <a href="{{ sort_cus_mail }}" class="{{ order | lower }}">{{ text_cus_email }}</a>
                  {% else %} 
                  <a href="{{ sort_cus_mail }}">{{ text_cus_email }}</a>
                  {% endif %} 
                </td>

                <td class="text-left">{% if (sort == 'oo.total') %} 
                  <a href="{{ sort_paid_amount }}" class="{{ order | lower }}">{{ text_paid_amount }}</a>
                  {% else %} 
                  <a href="{{ sort_paid_amount }}">{{ text_paid_amount }}</a>
                  {% endif %} 
                </td>

                <td class="text-center">{% if (sort == 'ppd.notified') %} 
                  <a href="{{ sort_notify }}" class="{{ order | lower }}">{{ text_notification_status }}</a>
                  {% else %} 
                  <a href="{{ sort_notify }}">{{ text_notification_status }}</a>
                  {% endif %} 
                </td>

                <td class="text-center">{% if (sort == 'ppd.status') %} 
                  <a href="{{ sort_status }}" class="{{ order | lower }}">{{ text_status }}</a>
                  {% else %} 
                  <a href="{{ sort_status }}">{{ text_status }}</a>
                  {% endif %} 
                </td>
                <td class="text-center"><a>{{ text_action }}</a></td>
              </tr>
            </thead>
            <tbody>

              {% if (orders is defined) %} 
              {% for order in orders %} 
              <tr>

                <td class="text-center">
                  <!-- <input type="checkbox" name="selected[]" value="{{ order['id'] }}" {% if (order['notified']) %} {{ "disabled" }} {% endif %} /> -->
                  <input type="checkbox" name="selected[]" value="{{ order['id'] }}"  />
                </td>
                <td class="text-left">{{ "#"~order['order_id'] }}</td>
                <td class="text-left">{{ order['product_name'] }}</td>
                <td class="text-left">{{ order['customer_name'] }}</td>
                <td class="text-left">{{ order['email'] }}</td>
                <td class="text-left">{{ order['preorder_price'] }}</td>
                <td class="text-center">
                  {% if (order['notified']) %} {{ '<i class="fa fa-check text-success">&nbsp;'~text_notified~'</i>' }} {% else %} {{ '<i class="fa fa-close text-warning">&nbsp;'~text_not_notified~'</i>' }} {% endif %} 
                </td>
                <td class="text-center">
                  {% if (order['status']) %} {{ '<i class="fa fa-check text-success">&nbsp;'~text_full_paid~'</i>' }} {% else %} {{ '<i class="fa fa-clock-o text-warning">&nbsp;'~text_pre_ordered~'</i>' }} {% endif %} 
                </td>
                <td class="text-center">
                  <a href="index.php?route=sale/order/info{{ "&user_token="~user_token~"&order_id="~order['order_id'] }}" data-toggle="tooltip" title="{{ button_view }}" class="btn btn-info" target="_blank"><i class="fa fa-eye"></i></a>
                </td>
              </tr>
              {% endfor %} 
              {% else %} 
              <tr>
                <td class="text-center" colspan="12">{{ text_no_record }}</td>
              </tr>
              {% endif %} 
            </tbody>
          </table>
    </form>
    <div class="row">
      <div class="col-sm-6 text-left">{{ pagination }}</div>
      <div class="col-sm-6 text-right">{{ results }}</div>
    </div>
  </div>
  </div>
</div>
</div>
<script type="text/javascript">

$('body').on('click','#delete_order',function(){
  var flag = false;
  $('input[type=\'checkbox\']').each(function(){
    if ($(this).is(':checked')) {
      flag = true;
    }
  });
  if (flag) {
      confirm('{{ text_confirmation }}') ? $('form').submit() : false;
  } else {
     alert('Please select first');
  }
});

  notify_url = '{{ notify }}';
  delete_url = '{{ delete }}';

  $("#notify").on('click',function() {
    var confirmation = confirm("{{ text_confirmation }}");
    if (confirmation) {
      $("form").prop('action',notify_url.replace(/&amp;/g, '&'));
      $('form').submit();
    }
  });

  $("#delete").on('click',function(){
    var confirmation = confirm("{{ text_confirmation }}");
    if (confirmation) {
      $("form").prop('action',notify_url.replace(/&amp;/g, '&'));
      $('form').submit();
    }
  });

  function filter() {
    url = 'index.php?route=catalog/wk_preordered_list&user_token={{ user_token }}';

    var filter_name = $('input[name=\'filter_name\']').val();
    if (filter_name) {
      url += '&name=' + encodeURIComponent(filter_name);
    }

    var filter_pname = $('input[name=\'filter_pname\']').val();
    if (filter_pname) {
      url += '&pname=' + encodeURIComponent(filter_pname);
    }

    var customer_mail = $('input[name=\'filter_customer_mail\']').val();
    if (customer_mail) {
      url += '&customer_mail=' + encodeURIComponent(customer_mail);
    }

    var filter_notified = $('select[name=\'filter_notified\']').val();
    if (filter_notified) {
      url += '&notified=' + encodeURIComponent(filter_notified);
    }

    var filter_status = $('select[name=\'filter_status\']').val();
    if (filter_status) {
      url += '&status=' + encodeURIComponent(filter_status);
    }

    {% if (sort is defined and sort) %}
      url += '&sort={{ sort }}';
    {% endif %} 

    {% if (order is defined and not order is iterable and order) %}
    url += '&order={{ order }}';
    {% endif %} 
  
    {% if (page is defined and page) %}
    url += '&page={{ page }}';
    {% endif %} 
    location = url;
  }

  $('input[name=\'filter_name\']').autocomplete({

	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/wk_preordered_list/autocompleteFilter&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_name\']').val(item['label']);
	}
});

$('input[name=\'filter_pname\']').autocomplete({

	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/wk_preordered_list/autocompleteFilter&user_token={{ user_token }}&filter_pname=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['pname'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_pname\']').val(item['label']);
	}
});

$('input[name=\'filter_customer_mail\']').autocomplete({

	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/wk_preordered_list/autocompleteFilter&user_token={{ user_token }}&filter_customer_mail=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['email'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_customer_mail\']').val(item['label']);
	}
});
</script>

{{ footer }} 
