{{ header }} 
{{ column_left }} 
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
        <div class="pull-right">
          <a onclick="$('form').submit();" class="btn btn-primary" data-toggle="tooltip" title="{{ text_update_info }}">
            <i class="fa fa-refresh"></i>
          </a>
        </div>
        <h1>{{ heading_title }}</h1>
        <ul class="breadcrumb">
          {% for breadcrumb in breadcrumbs %} 
          <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
          {% endfor %} 
        </ul>
    </div>    
  </div>

  <div class="container-fluid">
    {% if (error_warning) %} 
    <div class="alert alert-warning">{{ error_warning }}</div>
    {% endif %} 
    {% if (success) %} 
    <div class="alert alert-success">{{ success }}</div>
    {% endif %} 
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ heading_title }}</h3>  
      </div>
      <div class="panel-body">
        <div class="well">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label">
                  {{ text_order_id }} 
                </label>
                <input type="text" class="form-control" name="filter_id" value="{{ filter_id }}" />
              </div>
              <div class="form-group">
                <label class="control-label">
                  {{ text_date }} 
                </label>
                <input type="text" class="form-control date" name="filter_date" value="{{ filter_date }}" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label">
                  {{ text_name }} 
                </label>
                <input type="text" class="form-control" name="filter_name" value="{{ filter_name }}" />
                <div class="input-group pull-right">
                  <button class="btn btn-primary" type="button" onclick="filter();" ><i class="fa fa-filter"></i> {{ button_filter }}</button>
                  <a class="btn btn-danger" onclick="clearfilter();" title="{{ button_clrfilter }}">
                    <i class="fa fa-eraser"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>     
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form" class="form-horizontal">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
              <td width="1" style="text-align: center;"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
              <td class="left">
                {% if (sort == 'op.order_id') %} 
                  <a href="{{ sort_id }}" class="{{ order | lower }}">{{ text_order_id }} 
                {% else %} 
                  <a href="{{ sort_id }}" > {{ text_order_id }} </a>
                {% endif %} 
              </td>
              <td class="left">
                {% if (sort == 'o.firstname') %} 
                  <a href="{{ sort_name }}" class="{{ order | lower }}">{{ text_name }}</a>
                {% else %} 
                  <a href="{{ sort_name }}" > {{ text_name }} </a>
                {% endif %} 
              </td>            
              <td class="left">
                {% if (sort == 'o.date_added') %} 
                  <a href="{{ sort_date }}" class="{{ order | lower }}">{{ text_date }} 
                {% else %} 
                  <a href="{{ sort_date }}" > {{ text_date }} </a>
                {% endif %} 
              </td>
                <td class="left">{{ text_products }}</td>                            
                <td class="center"></td>          
              </tr>
            </thead>
            <tbody>
             
              {% if (result_orders is defined) %} 
              {% for value in result_orders %} 
              <tr>
               
              <td style="text-align: center;">{% if (value['selected']) %} 
                  <input type="checkbox" name="selected[]" value="{{ value['id'] }}" checked="checked" />
                  {% else %} 
                  <input type="checkbox" name="selected[]" value="{{ value['id'] }}" />
                  {% endif %}</td>
                
                <td class="left"># {{ value['order_id'] }}</td>
                <td class="left">{{ value['name'] }}</td>
                <td class="left">{{ value['date'] }}</td>
                <td class="left">
                {% if (value['product']) %} 

                    {% for products in value['product'] %} 
                        <b class="pvisible">{{ products['name'] }}</b>  <br>                      
                    {% endfor %} 
                    <div class="viewProducts">
                      <span class="close">X</span>
                      {% for products in value['product'] %}  
                      <div>                             
                            <img src="{{ products['image'] }}" >
                            <span><b>{{ text_pname }}</b> : <a href="{{ products['link'] }}">{{ products['name'] }}</a></span>
                            <span><b>{{ text_model }}</b> : {{ products['model'] }}</span>
                            <span><b>{{ text_quantity }}</b> : {{ products['quantity'] }}</span> 
                      </div>                     
                      {% endfor %} 
                    </div>
                {% endif %} 

                </td>     
                <td class="center">
                  {% for action in value['action'] %} 
                  <a href="{{ action['href'] }}" style="text-decoration:none;" >{{ action['text'] }}</a>
                  {% endfor %} 
                </td>              

              </tr>
              {% endfor %} 
              {% else %} 
              <tr>
                <td class="center" colspan="12">{{ "no records founds" }}</td>
              </tr>
              {% endif %} 
            </tbody>
          </table>      

      <div class="pagination">{{ pagination }}</div>
    </form>
  </div>
  </div>
</div>
</div>
<script type="text/javascript"><!--
$('.date').datetimepicker({
  pickTime: false,
  format: 'YYYY-MM-DD',
});
function clearfilter() {
  url = 'index.php?route=catalog/wk_preorder/getListOrders&user_user_token={{ user_user_token }}';
  location = url;
}
function filter() {
  url = 'index.php?route=catalog/wk_preorder/getListOrders&user_user_token={{ user_user_token }}';
  
  var filter_name = $('input[name=\'filter_name\']').attr('value');
  
  if (filter_name) {
    url += '&filter_name=' + encodeURIComponent(filter_name);
  }
  
  var filter_id = $('input[name=\'filter_id\']').attr('value');
  
  if (filter_id) {
    url += '&filter_id=' + encodeURIComponent(filter_id); 
  } 

  var filter_date = $('input[name=\'filter_date\']').attr('value');
  
  if (filter_date) {
    url += '&filter_date=' + encodeURIComponent(filter_date); 
  } 

  {% if (sort is defined and sort) %}
  url += '&sort={{ sort }}';
  {% endif %} 

  {% if (order is defined and order) %}
  url += '&order={{ order }}';
  {% endif %} 
  {% if (page is defined and page) %}
  url += '&page={{ page }}';
  {% endif %} 
  location = url;
}
jQuery('.pvisible').click(function(){ 
   $(this).parent().children('.viewProducts').css('display','block');   
})
jQuery('.close').click(function(){  
  $(this).parent().css('display','none');
})
//--></script>
{{ footer }} 
