{{ header }} 
{{ column_left }} 
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button id="delete"  class="btn btn-danger" title="{{ button_delete }}">
          <i class="fa fa-trash"></i>
        </button>
      </div>
      <h1>{{ heading_title_enquiry_list }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %} 
          <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
        {% endfor %} 
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if (error) %} 
      <div class="alert alert-danger">{{ error }}</div>
    {% endif %} 
    {% if (error_warning) %} 
      <div class="alert alert-danger">{{ error_warning }}</div>
    {% endif %} 
    {% if (success) %} 
      <div class="alert alert-success">{{ success }}</div>
    {% endif %} 
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ heading_title_enquiry_list }}</h3>
      </div>
      <div class="panel-body">
        <div class="well">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">
                  {{ text_name }} 
                </label>
                <input type="text" class="form-control" name="filter_name" value="{% if (filter_name is defined) %}{{ filter_name }}{% endif %}" />
              </div>
              <div class="form-group">
                <label class="control-label">
                  {{ text_subject }} 
                </label>
                <input type="text" class="form-control" name="filter_subject" value="{% if (filter_subject is defined) %}{{ filter_subject }}{% endif %}" />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">
                  {{ text_email }} 
                </label>
                <input type="text" class="form-control" name="filter_email" value="{% if (filter_email is defined) %}{{ filter_email }}{% endif %}" />
              </div>
              <div class="form-group">
                <label class="control-label">
                  {{ text_product_name }} 
                </label>
                <input type="text" class="form-control" name="filter_product_name" value="{% if (filter_product_name is defined) %}{{ filter_product_name }}{% endif %}" />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label">
                  {{ text_status }} 
                </label>
                <select class="form-control" name="filter_status">
                  <option value=""></option>
                  <option value="1" {% if (filter_status is defined and filter_status) %} {{ "selected" }}{% endif %} >{{ text_open }}</option>
                  <option value="0" {% if (filter_status is defined and filter_status == '0') %} {{ "selected" }}{% endif %} >{{ text_resolved }}</option>
                </select>
              </div>
              <div class="btn-group pull-right">
                <button class="btn btn-primary " onclick="filter();" data-toggle="tooltip" title="{{ button_filter }}" >
                  <i class="fa fa-filter"></i>
                </button>
                <a class="btn btn-danger" onclick="clearfilter();" title="{{ button_clrfilter }}">
                  <i class="fa fa-eraser"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form" class="form-horizontal">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <td width="1" style="text-align: center;"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                <td class="text-left">
                  {% if (sort == 'pe.customer_name') %} 
                    <a href="{{ sort_name }}" class="{{ order | lower }}">{{ text_name }}</a>
                  {% else %} 
                    <a href="{{ sort_name }}" > {{ text_name }} </a>
                  {% endif %} 
                </td>
                <td class="text-left">
                  {% if (sort == 'pe.email') %} 
                    <a href="{{ sort_email }}" class="{{ order | lower }}">{{ text_email }} 
                  {% else %} 
                    <a href="{{ sort_email }}" > {{ text_email }} </a>
                  {% endif %} 
                </td>
                <td class="text-left">
                  {% if (sort == 'pe.subject') %} 
                    <a href="{{ sort_subject }}" class="{{ order | lower }}">{{ text_subject }} 
                  {% else %} 
                    <a href="{{ sort_subject }}" > {{ text_subject }} </a>
                  {% endif %} 
                </td>
                <td class="text-left">
                  {% if (sort == 'pd.name') %} 
                    <a href="{{ sort_product_name }}" class="{{ order | lower }}">{{ text_product_name }} 
                  {% else %} 
                    <a href="{{ sort_product_name }}" >{{ text_product_name }} </a>
                  {% endif %} 
                </td>
                <td class="text-center">{{ text_total_thread }}</td>
                <td class="text-center">
                  {% if (sort == 'pe.status') %} 
                    <a href="{{ sort_status }}" class="{{ order | lower }}">{{ text_status }} 
                  {% else %} 
                    <a href="{{ sort_status }}" >{{ text_status }} </a>
                  {% endif %} 
                </td>
                <td class="text-center">{{ text_action }}</td>
              </tr>
            </thead>
            <tbody>
              {% if (enquiries is defined and enquiries) %} 
                {% for index,enquiry in enquiries %} 
                  <tr>
                    <td style="text-align: center;">
                      <input type="checkbox" name="selected[]" value="{{ enquiry['enquiry_id'] }}" />
                    </td>
                    <td class="text-left">{{ enquiry['customer_name'] }}</td>
                    <td class="text-left">{{ enquiry['email'] }}</td>
                    <td class="text-left">{{ enquiry['subject'] }}</td>
                    <td class="text-left">{{ enquiry['name'] }}</td>
                    <td class="text-center"><span class="badge">{{ enquiry['total_thread'] }}</span></td>
                    <td class="text-center">
                      {{ enquiry['status'] ? text_open : text_resolved }} 
                    </td>
                    <td class="text-center">
                      <a href="{{ enquiry['view'] }}" data-toggle="tooltip" title="{{ button_view }}" class="btn btn-warning">
                        <i class="fa fa-eye"></i>
                      </a>
                    </td>
                  </tr>
                {% endfor %} 
              {% else %} 
                <tr>
                  <td class="text-center" colspan="12">{{ text_no_results }}</td>
                </tr>
              {% endif %} 
            </tbody>
          </table>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
$('body').on('click','#delete',function(){
  var flag = false;
  $('input[type=\'checkbox\']').each(function(){
    if ($(this).is(':checked')) {
      flag = true;
    }
  });
  if (flag) {
      confirm('{{ text_confirmation }}') ? $('form').submit() : false
  } else {
     alert('Please select first');
  }
});


function clearfilter() {
  url = 'index.php?route=catalog/wk_preorder&user_token={{ user_token }}';
  location = url;
}

function filter() {
  url = 'index.php?route=catalog/wk_preorder&user_token={{ user_token }}';

  var filter_name = $('input[name=\'filter_name\']').val();
  if (filter_name) {
    url += '&filter_name=' + encodeURIComponent(filter_name);
  }

  var filter_email = $('input[name=\'filter_email\']').val();
  if (filter_email) {
    url += '&filter_email=' + encodeURIComponent(filter_email);
  }

  var filter_subject = $('input[name=\'filter_subject\']').val();
  if (filter_subject) {
    url += '&filter_subject=' + encodeURIComponent(filter_subject);
  }

  var filter_product_name = $('input[name=\'filter_product_name\']').val();
  if (filter_product_name) {
    url += '&filter_product_name=' + encodeURIComponent(filter_product_name);
  }

  var filter_status = $('select[name=\'filter_status\']').val();
  if (filter_status) {
    url += '&filter_status=' + encodeURIComponent(filter_status);
  }

  {% if (sort is defined and sort) %}
    url += '&sort={{ sort }}';
  {% endif %} 

  {% if (order is defined and order) %}
    url += '&order={{ order }}';
  {% endif %} 
  {% if (page is defined and page) %}
    url += '&page={{ page }}';
  {% endif %} 
  location = url;
}
jQuery('.pvisible').click(function(){
   $(this).parent().children('.viewProducts').css('display','block');
})
jQuery('.close').click(function(){
  $(this).parent().css('display','none');
})
//--></script>
<script>
$('input[name=\'filter_name\']').autocomplete({

	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/wk_preorder/autocompleteFilter&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['customer_name'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_name\']').val(item['label']);
	}
});
$('input[name=\'filter_email\']').autocomplete({

	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/wk_preorder/autocompleteFilter&user_token={{ user_token }}&filter_email=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['email'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_email\']').val(item['label']);
	}
});
$('input[name=\'filter_product_name\']').autocomplete({

	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/wk_preorder/autocompleteFilter&user_token={{ user_token }}&filter_product_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_product_name\']').val(item['label']);
	}
});
$('input[name=\'filter_subject\']').autocomplete({

	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/wk_preorder/autocompleteFilter&user_token={{ user_token }}&filter_subject=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['subject'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_subject\']').val(item['label']);
	}
});
</script>
{{ footer }} 
