{{ header }} 
{{ column_left }} 
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
      <a href="{{ cancel }}" class="btn btn-default" title="{{ button_cancel }}">
          <i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title_enquiry }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %} 
          <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
        {% endfor %} 
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if (error_warning) %} 
      <div class="alert alert-danger">{{ error_warning }}</div>
    {% endif %} 
    {% if (success) %} 
      <div class="alert alert-success">{{ success }}</div>
    {% endif %} 
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ heading_title_enquiry }}</h3>
      </div>
      <div class="panel-body">
        <div class="jumbotron">
            <h4><b>{{ text_subject }}: {{ enquiry['subject'] }}</b></h4>
            <p>{{ text_query }}: {{ enquiry['query'] }}</p>
            <i>{{ text_current_status }}: {{ enquiry['status'] ? text_open : text_resolved }}</i>
        </div>
        {% if (threads is defined and threads) %} 
            {% for index,thread in threads %} 
                <div class="col-sm-12">
                    {% if (thread['posted_by']) %} 
                        <div class="col-sm-6 alert alert-warning pull-left" style="box-sizing:border-box">
                            <button class="close remove-thread" data-toggle="tooltip" title="Click to delete this thread" data-thread-id="{{ thread['thread_id'] }}" >&times;</button>
                            <b>Posted by: {{ enquiry['customer_name'] }}</b></br>
                            <i>{{ thread['date_added'] }}</i>
                            <p>{{ thread['query'] }}</p>
                        </div>
                    {% else %} 
                        <div class="col-sm-6 alert alert-info pull-right" style="box-sizing:border-box">
                            <button class="close remove-thread" data-toggle="tooltip" title="Click to delete this thread" data-thread-id="{{ thread['thread_id'] }}" >&times;</button>
                            <b>Posted by: Admin</b></br>
                            <i>{{ thread['date_added'] }}</i>
                            <p>{{ thread['query'] }}</p>
                        </div>
                    {% endif %} 
                </div>
            {% endfor %} 
        {% else %} 
            <div class="alert alert-warning text-center">
                {{ text_no_thread }} 
            </div>
        {% endif %} 
        <form class="form-horizontal" id="reply-form" >
            <input type="hidden" name="enquiry_id" value="{{ enquiry['enquiry_id'] }}" />
            <div class="form-group required">
                <label class="col-sm-3 control-label">
                    {{ text_query }} 
                </label>
                <div class="col-sm-9">
                    <textarea class="form-control" name="query" colspan="10"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    {{ text_current_status }} 
                </label>
                <div class="col-sm-9">
                    <select class="form-control" name="status">
                        <option value="1">{{ text_open }}</option>
                        <option value="0">{{ text_resolved }}</option>
                    </select>
                </div>
            </div>
            <button class="btn btn-primary query-submit pull-right" type="button">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
    $('.query-submit').on('click', function() {
        form_data = $('#reply-form').serializeArray();
        $.ajax({
            url: 'index.php?route=catalog/wk_preorder/addThread&user_token={{ user_token }}',
            data: form_data,
            method: 'post',
            dataType: 'json',
            beforeSend: function(){
                $('.preorder-button').button('loading');
                $('.alert-success, .alert-danger').remove();
            },
            complete: function() {
                $('.preorder-button').button('reset');
            },
            success: function(response) {
                if(response.success) {
                    $('.query-submit').before('<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert">&times;</button> '+response.msg+'</div>');
                    setTimeout(location.reload(), 2000);
                } else {
                    $('.query-submit').before('<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">&times;</button> '+response.msg+'</div>');
                }
            }
        })
    })

    $('.remove-thread').on('click', function(){
        thread_id = $(this).data('thread-id');
        $this = $(this);
        confirmation = confirm('{{ text_confirmation }}');
        if(confirmation) {
            $.ajax({
                url: 'index.php?route=catalog/wk_preorder/removeThread&user_token={{ user_token }}',
                data: {
                    thread_id: thread_id
                },
                method: 'post',
                dataType: 'json',
                beforeSend: function(){
                    $this.html('<i class="fa fa-circle-o-notch fa-spin"></i>');
                },
                complete: function() {
                    $this.html('&times;');
                },
                success: function(response) {
                    if(response.success) {
                        $this.parent().parent().after('<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert">&times;</button> '+response.msg+'</div>');
                        setTimeout(location.reload(), 2000);
                    } else {
                        $this.parent().parent().after('<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">&times;</button> '+response.msg+'</div>');
                    }
                }
            })
        }
    })
</script>
{{ footer }} 
