{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-whtsapp" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
       {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
     {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-whatsapp" class="form-horizontal">
		<div class="form-group">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
		 <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_share }} </label>
            <div class="col-sm-10">
              <label class="radio-inline">
                {% if whatsapp_share %}
                <input type="radio" name="whatsapp_share" value="1" checked="checked" />
                {{ text_yes }}
                {% else %}
                <input type="radio" name="whatsapp_share" value="1" />
                {{ text_yes }}
               {% endif %}
              </label>
              <label class="radio-inline">
			   {% if not whatsapp_share %}
               
                <input type="radio" name="whatsapp_share" value="0" checked="checked" />
                 {{ text_no }}
               {% else %}
                <input type="radio" name="whatsapp_share" value="0" />
                {{ text_no }}
                {% endif %}
              </label>
            </div>
          </div>
		<div class="form-group">
            <label class="col-sm-2 control-label"> {{ entry_Chat }} </label>
            <div class="col-sm-10">
              <label class="radio-inline">
			  {% if whatsapp_chat %}           
                <input type="radio" name="whatsapp_chat" value="1" checked="checked" />
               {{ text_yes }}
                {% else %}
                <input type="radio" name="whatsapp_chat" value="1" />
                {{ text_yes }}
               {% endif %}
              </label>
              <label class="radio-inline">
			  {% if not whatsapp_chat %}
            
                <input type="radio" name="whatsapp_chat" value="0" checked="checked" />
                {{ text_no }}
                 {% else %}
                <input type="radio" name="whatsapp_chat" value="0" />
                {{ text_no }}
                {% endif %}
              </label>
            </div>
          </div>
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-limit">{{ entry_cphone }}</label>
            <div class="col-sm-10">
              <input type="text" name="whatsapp_cphone" value="{{ whatsapp_cphone }}" placeholder="{{ entry_cphone }}" id="input-limit" class="form-control" />
			 </div>
          </div>
         <div class="form-group">
            <label class="col-sm-2 control-label" for="input-text">{{ entry_chatmsg }}</label>
            <div class="col-sm-10">
              <input type="text" name="whatsapp_cmsg" value="{{ whatsapp_cmsg }}" placeholder="{{ entry_chatmsg }}" id="input-limit" class="form-control" />
           </div>
          </div>
		  <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_order }} </label>
            <div class="col-sm-10">
              <label class="radio-inline">
			  {% if whatsapp_order %}
                
                <input type="radio" name="whatsapp_order" value="1" checked="checked" />
                {{ text_yes }}
                 {% else %}
                <input type="radio" name="whatsapp_order" value="1" />
                {{ text_yes }}
                {% endif %}
              </label>
              <label class="radio-inline">
			  {% if not whatsapp_order %}
                
                <input type="radio" name="whatsapp_order" value="0" checked="checked" />
                {{ text_no }} 
                 {% else %}
                <input type="radio" name="whatsapp_order" value="0" />
               {{ text_no }} 
                {% endif %}
              </label>
            </div>
          </div>
		 <div class="form-group">
            <label class="col-sm-2 control-label" for="input-limit"> {{ entry_ophone }}</label>
            <div class="col-sm-10">
              <input type="text" name="whatsapp_ophone" value="{{ whatsapp_ophone }}" placeholder=" {{ entry_ophone }}" id="input-limit" class="form-control" />
			 </div>
          </div>
         <div class="form-group">
            <label class="col-sm-2 control-label" for="input-text">{{ entry_ordermsg }}</label>
            <div class="col-sm-10">
              <input type="text" name="whatsapp_omsg" value="{{ whatsapp_omsg }}" placeholder="{{ entry_ordermsg }}" id="input-limit" class="form-control" />
           </div>
          </div>
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-control">
               {% if status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                 {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
 </div>
{{ footer }}
