{{ header }} 
{{ column_left }} 
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <a href="https://www.google.com/recaptcha/intro/v3.html" target="_blank" class="btn btn-info"><i class="fa fa-link" aria-hidden="true"></i> Create Recaptcha</a>
        <a href="http://webkul.com/blog/opencart-preorder-pro-version-2/" target="_blank" class="btn btn-info"><i class="fa fa-book" aria-hidden="true"></i> User Guide</a>
        <a href="https://webkul.uvdesk.com/en/" target="_blank" class="btn btn-primary"><i class="fa fa-ticket" aria-hidden="true"></i> Support</a>
        <button  onclick="$('#form').submit();" class="btn btn-primary" title="{{ button_save }}">
          <i class="fa fa-save"></i>
        </button>
        <a href="{{ cancel }}" class="btn btn-default" title="{{ button_cancel }}">
          <i class="fa fa-reply"></i>
        </a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %} 
          <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
        {% endfor %} 
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if (error_warning is defined and error_warning) %} 
      <div class="alert alert-danger">
       {{ error_warning }} 
        <button class="close" data-dismiss="alert" type="button">&times;</button>
      </div>
    {% endif %} 
    <div class="alert alert-danger hide" id="percentage_warning">
      <i class="fa fa-exclamation-circle"></i>
      <button class="close" data-dismiss="alert" type="button">&times;</button>
     {{ percentage_warning }} 
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
           {{ heading_title }} 
        </h3>
      </div>
      <div class="panel-body">

        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">General</a></li>
            <li><a href="#tab-mail" data-toggle="tab">Mail</a></li>
          </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
              <div class="form-group">
                <label class="col-sm-2 control-label">
                   {{ text_status }} 
                </label>
                <div class="col-sm-10">
                  <select name="module_wk_preorder_pro_status" class="form-control">
                    <option value="0" {% if (module_wk_preorder_pro_status is defined and not module_wk_preorder_pro_status) %}{{ 'selected' }}{% endif %}>{{ text_disable }} </option>
                    <option value="1" {% if (module_wk_preorder_pro_status is defined and module_wk_preorder_pro_status) %}{{ 'selected' }}{% endif %} >{{ text_enable }} </option>
                  </select>
                  {% if (error_invalid_status is defined and error_invalid_status) %}
                  <div class = "text-danger">{{ error_invalid_status }}</div>
                  {% endif %} 
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-module_wk_preorder_pro_timezone">{{ text_time_zone }}</label>
                <div class="col-sm-10">
                  <select name="module_wk_preorder_pro_timezone" id="input-module_wk_preorder_pro_timezone" class="form-control">
                    {% for key,zone in store_timezone %} 
                      {% if (module_wk_preorder_pro_timezone == key) %} 
                        <option value="{{ key }}" selected="selected">{{ zone }}</option>
                      {% else %} 
                        <option value="{{ key }}">{{ zone }}</option>
                      {% endif %} 
                    {% endfor %} 
                  </select>
                  {% if (error_timezone is defined and error_timezone) %} 
                    <div class = "text-danger">{{ error_timezone }}</div>
                  {% endif %} 
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label">
                 {{ text_site_key }} 
                </label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="module_wk_preorder_pro_site_key" value="{% if (module_wk_preorder_pro_site_key is defined) %}{{ module_wk_preorder_pro_site_key }}{% endif %}" />
                  {% if (error_warning_site_key is defined and error_warning_site_key) %} 
                    <div class="text-danger">
                       {{ error_warning_site_key }} 
                    </div>
                  {% endif %} 
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label">
                 {{ text_secret_key }} 
                </label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="module_wk_preorder_pro_secret_key" value="{% if (module_wk_preorder_pro_secret_key is defined) %}{{ module_wk_preorder_pro_secret_key }}{% endif %}" />
                  {% if (error_warning_secret_key is defined and error_warning_secret_key) %} 
                    <div class="text-danger">
                       {{ error_warning_secret_key }} 
                    </div>
                  {% endif %} 
                </div>
              </div>
              <div class="form-group">
              <label class="col-sm-2 control-label">
                <span data-toggle="tooltip" data-original-title="{{ text_server_key_info }}">
                     {{ text_server_key }} 
                    </span>
                    </label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="module_wk_preorder_pro_server_key" value="{% if (module_wk_preorder_pro_server_key is defined) %}{{ module_wk_preorder_pro_server_key }}{% endif %}" />
                </div>
              </div>
              <div class="form-group">
              <label class="col-sm-2 control-label">
                <span data-toggle="tooltip" data-original-title="{{ text_messenger_id_info }}">
                     {{ text_messenger_id }} 
                    </span>
                    </label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="module_wk_preorder_pro_messenger_id" value="{% if (module_wk_preorder_pro_messenger_id is defined) %}{{ module_wk_preorder_pro_messenger_id }}{% endif %}" />
                </div>
              </div>
                <div class="form-group required">
                  <label class="col-sm-2 control-label">
                    <span data-toggle="tooltip" data-original-title="{{ text_preorder_info }}">
                     {{ text_preorder }} 
                    </span>
                  </label>
                  <div class="col-sm-10">
                  {% if (languages) %} 
 {% for language in languages %} 
                     <div class="input-group"><span class="input-group-addon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /></span>
                      <input type="text" name="module_wk_preorder_pro_text[{{ language['language_id'] }}]" value="{{ module_wk_preorder_pro_text[language['language_id']] is defined ? module_wk_preorder_pro_text[language['language_id']] : '' }}" placeholder="{{ text_preorder }}" class="form-control" />
                    </div>
                    {% if (error_preorder_text[language['language_id']] is defined and error_preorder_text[language['language_id']]) %} 
                      <div class="text-danger">
                         {{ error_preorder_text[language['language_id']] }} 
                      </div>
                    {% endif %} {% endfor %} {% endif %} 
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">
                    <span data-toggle="tooltip" data-original-title="{{ text_preorder_text_help }}">
                     {{ text_preorder_text }} 
                    </span>
                  </label>
                  <div class="col-sm-10">
                    {% if (languages) %} 
 {% for language in languages %} 

                    <div class="input-group"><span class="input-group-addon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /></span>
                      <input type="text" name="module_wk_preorder_pro_preordertext[{{ language['language_id'] }}]" value="{{ module_wk_preorder_pro_preordertext[language['language_id']] is defined ? module_wk_preorder_pro_preordertext[language['language_id']] : '' }}" placeholder="{{ text_preorder }}" class="form-control" />
                    </div>
                     {% if (error_preordertext[language['language_id']] is defined and error_preordertext[language['language_id']]) %} 
                      <div class="text-danger">
                         {{ error_preordertext[language['language_id']] }} 
                      </div>
                    {% endif %} {% endfor %} {% endif %} 
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">
                    <span data-toggle="tooltip" data-original-title="{{ text_notification_mode_help }}">
                     {{ text_notification_mode }} 
                    </span>
                  </label>
                  <div class="col-sm-10">
                    <select name="module_wk_preorder_pro_notification_mode" class="form-control">
                      <option value="1" {% if (module_wk_preorder_pro_notification_mode is defined and module_wk_preorder_pro_notification_mode == '1') %}{{ 'selected' }}{% endif %} >{{ text_auto }} </option>
                      <option value="2" {% if (module_wk_preorder_pro_notification_mode is defined and module_wk_preorder_pro_notification_mode == '2') %}{{ 'selected' }}{% endif %}>{{ text_manually }} </option>
                      <option value="3" {% if (module_wk_preorder_pro_notification_mode is defined and module_wk_preorder_pro_notification_mode == '3') %}{{ 'selected' }}{% endif %}>{{ text_both }} </option>
                    </select>
                     {% if (error_mode is defined and error_mode) %} 
                    <div class="text-danger">
                       {{ error_mode }} 
                    </div>
                  {% endif %} 
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">{{ text_discount }}</label>
                  <div class="col-sm-10">
                    <select name="module_wk_preorder_pro_discount" class="form-control">
                       <option value="0" {% if (module_wk_preorder_pro_discount is defined and not module_wk_preorder_pro_discount) %}{{ 'selected' }}{% endif %}>{{ text_disable }} </option>
                      <option value="1" {% if (module_wk_preorder_pro_discount is defined and module_wk_preorder_pro_discount) %}{{ 'selected' }}{% endif %} >{{ text_enable }} </option>
                    </select>
                    {% if (error_discount is defined and error_discount) %} 
                    <div class="text-danger">
                       {{ error_discount }} 
                    </div>
                  {% endif %} 
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">{{ text_discount_type }}</label>
                  <div class="col-sm-10">
                    <select name="module_wk_preorder_pro_discount_type" class="form-control">
                       <option value="0" {% if (module_wk_preorder_pro_discount_type is defined and not module_wk_preorder_pro_discount_type) %}{{ 'selected' }}{% endif %}>{{ text_fixed }} </option>
                      <option value="1" {% if (module_wk_preorder_pro_discount_type is defined and module_wk_preorder_pro_discount_type) %}{{ 'selected' }}{% endif %} >{{ text_per }} </option>
                    </select>
                    {% if (error_discount_type is defined and error_discount_type) %} 
                    <div class="text-danger">
                       {{ error_discount_type }} 
                    </div>
                  {% endif %} 
                  </div>
                </div>
                <div class="form-group required">
                  <label class="col-sm-2 control-label">
                    <span data-toggle="tooltip" data-original-title="{{ help_convert_product }}">
                     {{ text_convert_product }} 
                    </span>
                  </label>
                  <div class="col-sm-10">     
                    <select name="module_wk_preorder_pro_convert_preorder" class="form-control">
                    <option value="1" {% if (module_wk_preorder_pro_convert_preorder is defined and module_wk_preorder_pro_convert_preorder == '1') %}{{ 'selected' }}{% endif %}>{{ text_manually }} </option> 
                      <option value="2" {% if (module_wk_preorder_pro_convert_preorder is defined and module_wk_preorder_pro_convert_preorder == '2') %}{{ 'selected' }}{% endif %} >{{ text_auto }} </option>
                    </select> 
                    {% if (error_convert is defined and error_convert) %} 
                    <div class="text-danger">
                       {{ error_convert }} 
                    </div>
                  {% endif %} 
                  </div>
                </div>
                <div class="form-group required">
                  <label class="col-sm-2 control-label">
                    <span data-toggle="tooltip" data-original-title="{{ help_order_days }}">
                     {{ text_order_days }} 
                    </span>
                  </label>
                  <div class="col-sm-10">     
                    <input type = "text" name = "module_wk_preorder_pro_preorder_days" value = "{{ module_wk_preorder_pro_preorder_days }}" class = "form-control" />
                     {% if (error_invalid_days is defined and error_invalid_days) %} 
                    <div class="text-danger">
                       {{ error_invalid_days }} 
                    </div>
                  {% endif %} 
                  </div>
                </div>
                <div class="form-group required">
                  <label class="col-sm-2 control-label">
                    <span data-toggle="tooltip" data-original-title="{{ text_preorder_quantity_info }}">
                     {{ text_preorder_quantity }} 
                    </span>
                  </label>
                  <div class="col-sm-10">     
                    <input type = "text" name = "module_wk_preorder_pro_quantity" value = "{{ module_wk_preorder_pro_quantity }}" class = "form-control" />
                    {% if (error_module_wk_preorder_pro_quantity is defined and error_module_wk_preorder_pro_quantity) %} 
                    <div class="text-danger">
                       {{ error_module_wk_preorder_pro_quantity }} 
                    </div>
                  {% endif %} 
                  </div>
                </div>
                <div class="form-group required">
                  <label class="col-sm-2 control-label">
                    <span data-toggle="tooltip" data-original-title="{{ text_quantity_per_order_info }}">
                     {{ text_quantity_per_order }} 
                    </span>
                  </label>
                  <div class="col-sm-10">     
                    <input type = "text" name = "module_wk_preorder_pro_order_quantity" value = "{{ module_wk_preorder_pro_order_quantity }}" class = "form-control" />
                    {% if (error_module_wk_preorder_pro_order_quantity is defined and error_module_wk_preorder_pro_order_quantity) %} 
                    <div class="text-danger">
                       {{ error_module_wk_preorder_pro_order_quantity }} 
                    </div>
                  {% endif %} 
                  </div>
                </div>
                <div class="form-group required">
                  <label class="col-sm-2 control-label">
                    <span data-toggle="tooltip" data-original-title="{{ text_order_per_customer_info }}">
                     {{ text_order_per_customer }} 
                    </span>
                  </label>
                  <div class="col-sm-10">     
                    <input type = "text" name = "module_wk_preorder_pro_customer_order" value = "{{ module_wk_preorder_pro_customer_order }}" class = "form-control" />
                    {% if (error_module_wk_preorder_pro_customer_order is defined and error_module_wk_preorder_pro_customer_order) %} 
                    <div class="text-danger">
                       {{ error_module_wk_preorder_pro_customer_order }} 
                    </div>
                  {% endif %} 
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">
                    <span data-toggle="tooltip" data-original-title="{{ text_product_notification_status_info }}">
                     {{ text_product_notification_status }} 
                    </span>
                  </label>
                  <div class="col-sm-10">
                    <select name="module_wk_preorder_pro_notification_status" class="form-control">
                      <option value=""></option>
                      {% if (stock_statuses) %}
 {% for key,value in stock_statuses %} 
                        <option value="{{ value['stock_status_id'] }}" {% if (module_wk_preorder_pro_notification_status is defined and module_wk_preorder_pro_notification_status == value['stock_status_id']) %}{{ "selected" }}{% endif %} >{{ value['name'] }}</option>
                      {% endfor %}
 {% endif %} 
                    </select>
                     {% if (error_notification is defined and error_notification) %} 
                    <div class="text-danger">
                       {{ error_notification }} 
                    </div>
                  {% endif %} 
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">
                    <span data-toggle="tooltip" data-original-title="{{ text_product_stock_status_info }}">
                     {{ text_product_stock_status }} 
                    </span>
                  </label>
                  <div class="col-sm-10">
                    <select name="module_wk_preorder_pro_stock_status" class="form-control">
                      <option value=""></option>
                      {% if (stock_statuses) %}
 {% for key,value in stock_statuses %} 
                        <option value="{{ value['stock_status_id'] }}" {% if (module_wk_preorder_pro_stock_status is defined and module_wk_preorder_pro_stock_status == value['stock_status_id']) %}{{ "selected" }}{% endif %} >{{ value['name'] }}</option>
                      {% endfor %}
 {% endif %} 
                    </select>
                     {% if (error_stock is defined and error_stock) %} 
                    <div class="text-danger">
                       {{ error_stock }} 
                    </div>
                  {% endif %} 
                  </div>
                </div>
                <div class="form-group">
                <label class="col-sm-2 control-label" for="input-order-status">{{ entry_order_status }}</label>
                <div class="col-sm-10">
                  <select name="module_wk_preorder_pro_order_status" id="input-order-status" class="form-control">
                    {% for order_status in order_statuses %} 
                    {% if (order_status['order_status_id'] == module_wk_preorder_pro_order_status) %} 
                    <option value="{{ order_status['order_status_id'] }}" selected="selected">{{ order_status['name'] }}</option>
                    {% else %} 
                    <option value="{{ order_status['order_status_id'] }}">{{ order_status['name'] }}</option>
                    {% endif %} 
                    {% endfor %} 
                  </select>
                  {% if (error_order_status is defined and error_order_status) %} 
                    <div class="text-danger">
                       {{ error_order_status }} 
                    </div>
                  {% endif %} 
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-mail">
              <div class="alert alert-info"><i class="fa fa-info-circle"></i>{{ text_info_mail }} 
                <button type="button" class="close" data-dismiss="alert">&times;</button>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">
                  <span data-toggle="tooltip" data-original-title="{{ entry_mail_keywords }}" >
                 {{ entry_mail_keywords }} 
                  </span>
                </label>
                <div class="col-sm-10">
                  <textarea class="form-control" name="module_wk_preorder_pro_mail_keywords" style="height:150px">{% if ( module_wk_preorder_pro_mail_keywords ) %}{{ module_wk_preorder_pro_mail_keywords }}{% else %} 

{config_logo}
{config_icon}
{config_currency}
{config_name}
{config_owner}
{config_address}
{config_geocode}
{config_email}
{config_telephone}
{product_link}
{customer_name}
{product_name}
{product_image}
{product_model}
{product_quantity}  {% endif %} 
                    </textarea>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-mail_preorder_pro_notify_customer"><span data-toggle="tooltip" title="{{ entry_notification_mail_to_customer_info }}">{{ entry_notification_mail_to_customer }}</span></label>
                <div class="col-sm-10">
                  <select name="module_wk_preorder_pro_mail_notify_customer" id="input-mail_preorder_pro_notify_customer" class="form-control">
                    <option value=""></option>
                    {% if (mails) %} 
                      {% for mail in mails %} 
                      <option value="{{ mail['id'] }}" {% if ( module_wk_preorder_pro_mail_notify_customer == mail['id']) %}{{ 'selected' }}{% endif %}>{{ mail['name'] }}</option>
                    {% endfor %}{% endif %} 
                  </select>
                </div>
                {% if (error_customer_mail is defined and error_customer_mail) %}
                <div class  = "text-danger">{{ error_customer_mail }}</div>
                {% endif %} 
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">
                  <span data-toggle="tooltip" data-original-title="{{ text_preorder_email_help }}" >
                   {{ text_preorder_email }} 
                  </span>
                </label>
                <div class="col-sm-10">
                  <select name="module_wk_preorder_pro_mail_status" class="form-control">
                    <option value="1" {% if (module_wk_preorder_pro_mail_status is defined and module_wk_preorder_pro_mail_status) %}{{ 'selected' }}{% endif %} >{{ text_enable }} </option>
                    <option value="0" {% if (module_wk_preorder_pro_mail_status is defined and not module_wk_preorder_pro_mail_status) %}{{ 'selected' }}{% endif %}>{{ text_disable }} </option>
                  </select>
                  {% if (error_mail is defined and error_mail) %}
                  <div class = "text-danger">{{ error_mail }}</div>
                  {% endif %} 
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">
                  <span data-toggle="tooltip" data-original-title="{{ entry_mail_admin_message_help }}" >
                   {{ entry_mail_admin_message }} 
                  </span>
                </label>
                <div class="col-sm-10">

                 {% if (languages) %} 
 {% for language in languages %} 

                    <div class="input-group"><span class="input-group-addon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /></span>
                      <textarea class="form-control" name="module_wk_preorder_pro_mail_admin_message[{{ language['language_id'] }}]" style="height:110px">{% if ( module_wk_preorder_pro_mail_admin_message[language['language_id']] is defined) %}{{ module_wk_preorder_pro_mail_admin_message[language['language_id']] }}{% endif %}</textarea>
                    </div>
                     {% if (error_admin_msg[language['language_id']] is defined and error_admin_msg[language['language_id']]) %}
                  <div class = "text-danger">{{ error_admin_msg[language['language_id']] }}</div>
                  {% endif %} 
                    {% endfor %} {% endif %} 

                </div>
              </div>

            </div>
        </div>
        </form>
    </div>
  </div>
</div>
</div>
{{ footer }} 
