{{ header }}
<div id="product-product" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <div class="row"> {% if column_left or column_right %}
        {% set class = 'col-sm-6' %}
        {% else %}
        {% set class = 'col-sm-8' %}
        {% endif %}
        <div class="{{ class }}"> {% if thumb or images %}
          <ul class="thumbnails">
            {% if thumb %}
            <li><a class="thumbnail" href="{{ popup }}" title="{{ heading_title }}"><img src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></a></li>
            {% endif %}
            {% if images %}
            {% for image in images %}
            <li class="image-additional"><a class="thumbnail" href="{{ image.popup }}" title="{{ heading_title }}"> <img src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></a></li>
            {% endfor %}
            {% endif %}
          </ul>
          {% endif %}
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-description" data-toggle="tab">{{ tab_description }}</a></li>
            {% if attribute_groups %}
            <li><a href="#tab-specification" data-toggle="tab">{{ tab_attribute }}</a></li>
            {% endif %}
            {% if review_status %}
            <li><a href="#tab-review" data-toggle="tab">{{ tab_review }}</a></li>
            {% endif %}
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-description">{{ description }}</div>
            {% if attribute_groups %}
            <div class="tab-pane" id="tab-specification">
              <table class="table table-bordered">
                {% for attribute_group in attribute_groups %}
                <thead>
                  <tr>
                    <td colspan="2"><strong>{{ attribute_group.name }}</strong></td>
                  </tr>
                </thead>
                <tbody>
                {% for attribute in attribute_group.attribute %}
                <tr>
                  <td>{{ attribute.name }}</td>
                  <td>{{ attribute.text }}</td>
                </tr>
                {% endfor %}
                  </tbody>
                {% endfor %}
              </table>
            </div>
            {% endif %}
            {% if review_status %}
            <div class="tab-pane" id="tab-review">
              <form class="form-horizontal" id="form-review">
                <div id="review"></div>
                <h2>{{ text_write }}</h2>
                {% if review_guest %}
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-name">{{ entry_name }}</label>
                    <input type="text" name="name" value="{{ customer_name }}" id="input-name" class="form-control" />
                  </div>
                </div>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-review">{{ entry_review }}</label>
                    <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                    <div class="help-block">{{ text_note }}</div>
                  </div>
                </div>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label">{{ entry_rating }}</label>
                    &nbsp;&nbsp;&nbsp; {{ entry_bad }}&nbsp;
                    <input type="radio" name="rating" value="1" />
                    &nbsp;
                    <input type="radio" name="rating" value="2" />
                    &nbsp;
                    <input type="radio" name="rating" value="3" />
                    &nbsp;
                    <input type="radio" name="rating" value="4" />
                    &nbsp;
                    <input type="radio" name="rating" value="5" />
                    &nbsp;{{ entry_good }}</div>
                </div>
                {{ captcha }}
                <div class="buttons clearfix">
                  <div class="pull-right">
                    <button type="button" id="button-review" data-loading-text="{{ text_loading }}" class="btn btn-primary">{{ button_continue }}</button>
                  </div>
                </div>
                {% else %}
                {{ text_login }}
                {% endif %}
              </form>
            </div>
            {% endif %}</div>
        </div>
        {% if column_left or column_right %}
        {% set class = 'col-sm-6' %}
        {% else %}
        {% set class = 'col-sm-4' %}
        {% endif %}
        <div class="{{ class }}">
          <div class="btn-group">
            <button type="button" data-toggle="tooltip" class="btn btn-default" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product_id }}');"><i class="fa fa-heart"></i></button>
            <button type="button" data-toggle="tooltip" class="btn btn-default" title="{{ button_compare }}" onclick="compare.add('{{ product_id }}');"><i class="fa fa-exchange"></i></button>
          </div>
          <h1>{{ heading_title }}</h1>
          <ul class="list-unstyled">
            {% if manufacturer %}
            <li>{{ text_manufacturer }} <a href="{{ manufacturers }}">{{ manufacturer }}</a></li>
            {% endif %}
            <li>{{ text_model }} {{ model }}</li>
            {% if reward %}
            <li>{{ text_reward }} {{ reward }}</li>
            {% endif %}
            
               {% if (module_wk_preorder_pro_status is defined and isPreorder is defined and isPreorder) %} 
                  {% if (isEligible is defined and isEligible) %} 
                  <li><h3><span style = "color: #a94442;">{{ text_days_left }}</span></h3></li>
                    <li><h4><span class="bg-warning text-warning">{{ preorder_text }}</span></h4></li>
                  {% endif %} 
                  <li>{{ text_stock }} 
                  {% if (stock_statuses is defined and stock_statuses) %}
                    {% for stock_status in stock_statuses %} 
                    {% if (stock_status['stock_status_id'] == module_wk_preorder_pro_stock_status) %}
                    {{ stock_status['name'] }}
                    {% endif %}
                    {% endfor %}
                    {% endif %} 
                </li>
                {% else %} 
                <li>{{ text_stock }} {{ stock }}</li>
                {% endif %}
                            
          </ul>
          {% if price %}

                {% if (text_discount_applied is defined and text_discount_applied) %}
                <h4><span class="bg-warning text-warning">{{ text_discount_applied }}</span></h4>
                {% endif %}
                
                
          <ul class="list-unstyled">
            {% if not special %}
            <li>
              <h2> 
 {% if (cfp_setting.module_so_call_for_price_status and price_0 <= 0) %} 
 {% if cfp_setting.module_so_call_for_price_replace_cart is defined and cfp_setting.module_so_call_for_price_replace_cart == '0' %} 
 <a data-fancybox data-type="ajax" data-src="{{ base }}index.php?route=extension/module/so_call_for_price&product_id={{ product.product_id }}" href="javascript:;" class="callforprice" style="color: #ff0000; font-weight: bold; font-size: 18px;"><i class="fa fa-phone" style="font-size: 18px;"></i> {{ text_price_0 }}</a> 
 {% endif %} 
 {% else %} 
  
 {% if (cfp_setting.module_so_call_for_price_status and price_0 <= 0) %} 
 {% if cfp_setting.module_so_call_for_price_replace_cart is defined and cfp_setting.module_so_call_for_price_replace_cart == '0' %} 
 <a data-fancybox data-type="ajax" data-src="{{ base }}index.php?route=extension/module/so_call_for_price&product_id={{ product.product_id }}" href="javascript:;" class="callforprice" style="color: #ff0000; font-weight: bold;"><i class="fa fa-phone"></i> {{ text_price_0 }}</a> 
 {% endif %} 
 {% else %} 
 {{ price }} 
 {% endif %} 
  
 {% endif %} 
 </h2>
            </li>
            {% else %}
            <li><span style="text-decoration: line-through;">{{ price }}</span></li>
            <li>
              <h2>{{ special }}</h2>
            </li>
            {% endif %}
             
 {% if ((tax) and (cfp_setting.module_so_call_for_price_status) and (price_0 > 0)) %} 
 
            <li>{{ text_tax }} {{ tax }}</li>
            {% endif %}
            {% if points %}
            <li>{{ text_points }} {{ points }}</li>
            {% endif %}
            {% if discounts %}
            <li>
              <hr>
            </li>
            {% for discount in discounts %}
            <li>{{ discount.quantity }}{{ text_discount }}{{ discount.price }}</li>
            {% endfor %}
            {% endif %}
          </ul>
          {% endif %}
          <div id="product"> {% if options %}
            <hr>
            <h3>{{ text_option }}</h3>
 
 {% if option_data and option_data.product_option_value is defined and option_data.product_option_value %} 
 <ul id="so-colorswatch-selector-{{ product_id }}" class='so-colorswatch-productpage-icons'> 
 {% for option_value in option_data.product_option_value %} 
 <li class="option-item"> 
 <a class="" 
 data-product-option-value-id="{{ option_value.product_option_value_id }}" 
 data-option-value-id="{{ option_value.option_value_id }}" 
 data-color-image="{{ option_value.color_image }}" 
 data-color-thumb-image="{{ option_value.color_thumb_image }}" 
 style="width: {{ width_product_page }}px; height: {{ height_product_page }}px; background-image: url('{{ option_value.image }}')"> 
 </a> 
 </li> 
 {% endfor %} 
 <li class="selected-option"><span></span></li> 
 </ul> 
 <script type="text/javascript"> 
 var $window_width = $(window).width(); 
 var ProductOptionId = '{{ product_option_id }}'; 
 var default_image = $('.large-image img').attr('src'); 
 jQuery(document).ready(function($) { 
 $('#input-option{{ product_option_id }}').parent().hide(); 
 
 $('#input-option{{ product_option_id}} option').each(function(){ 
 var text = $(this).text().replace(/\s{2,}/g, ' '); 
 var val = $(this).attr('value'); 
 $('.so-colorswatch-productpage-icons li a').each(function(index, el){ 
 if($(el).data('product-option-value-id')== val){ 
 $(el).attr('title', text); 
 } 
 }) 
 }) 
 
 {% if colorswatch_type == 'click' %} 
 $(document).on('click', '.so-colorswatch-productpage-icons li.option-item', function(e){ 
 e.preventDefault(); 
 var option_value_id = $(this).children('a').data('product-option-value-id'); 
 var option_id = $(this).children('a').data('option-value-id'); 
 
 if ($(this).hasClass('checked')) { 
 $('.so-colorswatch-productpage-icons li.option-item').removeClass('checked'); 
 $(this).removeClass('checked'); 
 $('#input-option{{ product_option_id }}').val('').trigger('change'); 
 $('.so-colorswatch-productpage-icons li.selected-option > span').html(''); 
 
 $('.large-image img').attr('src', default_image); 
 } 
 else { 
 $('.so-colorswatch-productpage-icons li.option-item').removeClass('checked'); 
 $(this).removeClass('checked').addClass('checked'); 
 $('#input-option{{ product_option_id }}').val(option_value_id).trigger('change'); 
 $('.so-colorswatch-productpage-icons li.selected-option > span').html($(this).children('a').attr('title')); 
 
 if ($(this).children('a').data('color-image') != '') { 
 $('.large-image img').attr('src', $(this).children('a').data('color-image')); 
 } 
 else { 
 $('.large-image img').attr('src', default_image); 
 } 
 
 $('#thumb-slider a.thumbnail').removeClass('active'); 
 } 
 }) 
 {% else %} 
 if ($window_width > 1199) { 
 $('.so-colorswatch-productpage-icons li.option-item').hover(function(e){ 
 e.preventDefault(); 
 var option_value_id = $(this).children('a').data('product-option-value-id'); 
 var option_id = $(this).children('a').data('option-value-id'); 
 
 $('.so-colorswatch-productpage-icons li.option-item').removeClass('checked'); 
 if ($(this).hasClass('checked')) { 
 $(this).removeClass('checked'); 
 $('#input-option{{ product_option_id }}').val('').trigger('change'); 
 $('.large-image img').attr('src', default_image); 
 
 } 
 else { 
 $(this).removeClass('checked').addClass('checked'); 
 $('#input-option{{ product_option_id }}').val(option_value_id).trigger('change'); 
 $('.so-colorswatch-productpage-icons li.selected-option > span').html($(this).children('a').attr('title')); 
 
 if ($(this).children('a').data('color-image') != '') { 
 $('.large-image img').attr('src', $(this).children('a').data('color-image')); 
 } 
 else { 
 $('.large-image img').attr('src', default_image); 
 } 
 $('#thumb-slider a.thumbnail').removeClass('active'); 
 } 
 }); 
 } 
 else { 
 $(document).on('click', '.so-colorswatch-productpage-icons li.option-item', function(e){ 
 e.preventDefault(); 
 var option_value_id = $(this).children('a').data('product-option-value-id'); 
 var option_id = $(this).children('a').data('option-value-id'); 
 
 $('.so-colorswatch-productpage-icons li.option-item').removeClass('checked'); 
 if ($(this).hasClass('checked')) { 
 $(this).removeClass('checked'); 
 $('#input-option{{ product_option_id }}').val('').trigger('change'); 
 $('.large-image img').attr('src', default_image); 
 
 } 
 else { 
 $(this).removeClass('checked').addClass('checked'); 
 $('#input-option{{ product_option_id }}').val(option_value_id).trigger('change'); 
 $('.so-colorswatch-productpage-icons li.selected-option > span').html($(this).children('a').attr('title')); 
 
 if ($(this).children('a').data('color-image') != '') { 
 $('.large-image img').attr('src', $(this).children('a').data('color-image')); 
 } 
 else { 
 $('.large-image img').attr('src', default_image); 
 } 
 $('#thumb-slider a.thumbnail').removeClass('active'); 
 } 
 }) 
 } 
 {% endif %} 
 }) 
 </script> 
 {% endif %} 
 
            {% for option in options %}
            {% if option.type == 'select' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="form-control">
                <option value="">{{ text_select }}</option>
                {% for option_value in option.product_option_value %}
                <option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
                {% if option_value.price %}
                ({{ option_value.price_prefix }}{{ option_value.price }})
                {% endif %} </option>
                {% endfor %}
              </select>
            </div>
            {% endif %}
            {% if option.type == 'radio' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label">{{ option.name }}</label>
              <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                <div class="radio">
                  <label>
                    <input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" />
                    {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}                  
                    {{ option_value.name }}
                    {% if option_value.price %}
                    ({{ option_value.price_prefix }}{{ option_value.price }})
                    {% endif %} </label>
                </div>
                {% endfor %} </div>
            </div>
            {% endif %}
            {% if option.type == 'checkbox' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label">{{ option.name }}</label>
              <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" />
                    {% if option_value.image %} <img src="{{ option_value.image }}" alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}" class="img-thumbnail" /> {% endif %}
                    {{ option_value.name }}
                    {% if option_value.price %}
                    ({{ option_value.price_prefix }}{{ option_value.price }})
                    {% endif %} </label>
                </div>
                {% endfor %} </div>
            </div>
            {% endif %}
            {% if option.type == 'text' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control" />
            </div>
            {% endif %}
            {% if option.type == 'textarea' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <textarea name="option[{{ option.product_option_id }}]" rows="5" placeholder="{{ option.name }}" id="input-option{{ option.product_option_id }}" class="form-control">{{ option.value }}</textarea>
            </div>
            {% endif %}
            {% if option.type == 'file' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label">{{ option.name }}</label>
              <button type="button" id="button-upload{{ option.product_option_id }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{ button_upload }}</button>
              <input type="hidden" name="option[{{ option.product_option_id }}]" value="" id="input-option{{ option.product_option_id }}" />
            </div>
            {% endif %}
            {% if option.type == 'date' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <div class="input-group date">
                <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD" id="input-option{{ option.product_option_id }}" class="form-control" />
                <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            {% endif %}
            {% if option.type == 'datetime' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <div class="input-group datetime">
                <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            {% endif %}
            {% if option.type == 'time' %}
            <div class="form-group{% if option.required %} required {% endif %}">
              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
              <div class="input-group time">
                <input type="text" name="option[{{ option.product_option_id }}]" value="{{ option.value }}" data-date-format="HH:mm" id="input-option{{ option.product_option_id }}" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% if recurrings %}
            <hr>
            <h3>{{ text_payment_recurring }}</h3>
            <div class="form-group required">
              <select name="recurring_id" class="form-control">
                <option value="">{{ text_select }}</option>
                {% for recurring in recurrings %}
                <option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
                {% endfor %}
              </select>
              <div class="help-block" id="recurring-description"></div>
            </div>
            {% endif %}
            <div class="form-group">
              <label class="control-label" for="input-quantity">{{ entry_qty }}</label>
              <input type="text" name="quantity" value="{{ minimum }}" size="2" id="input-quantity" class="form-control" />
              <input type="hidden" name="product_id" value="{{ product_id }}" />
              <br />
              <button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-lg btn-block">{{ button_cart }}</button>

                {% if (module_wk_preorder_pro_status is defined and isPreorder is defined and isPreorder) %} 
                    {% if (not loggedIn) %} 
                        <div class="alert alert-warning">
                            <i class="fa fa-exclamation-circle"></i>
                            {{ error_login_error }} 
                        </div>
                        <a href="{{ login_url }}" class="btn btn-danger btn-lg btn-block" >{{ text_login_button }}</a>
                        {% else %} 
                        {% if (isEligible is defined and isEligible) %} 
                            <div class="alert alert-info">{{ text_preorder_price }}</div>
                            <button class="btn btn-warning btn-lg btn-block" type="button" onclick="preorderAddToCart();" {% if (preorder_status is defined and not preorder_status) %}{{ "disabled" }}{% endif %}  >{{ button_cart_preorder }}</button>
                        {% else %} 
                            <div class="alert alert-danger">
                            <i class="fa fa-exclamation-circle"></i>
                            {{ eligibility_error }} 
                            </div>
                        {% endif %} 
                        <button class="btn btn-info btn-lg btn-block" type="button" data-toggle="modal" data-target="#preorder-enquiry-modal">{{ text_on_enquiry }}</button>
                        {% endif %} 
                        <script type="text/javascript">
                        $('#button-cart').addClass('hide');
                        function preorderAddToCart() {
                            $('.alert').remove();
                            order_quantity = '{% if (order_quantity is defined) %}{{ order_quantity }}{% else %}{{ "0" }}{% endif %}';
                            given_quantity = $('#input-quantity').val();
                            cart_has_product = '{% if (cart_has_product is defined) %}{{ cart_has_product }}{% else %}{{ "0" }}{% endif %}';
                            if(given_quantity > order_quantity) {
                                $('.breadcrumb').after('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {% if (error_order_quantity is defined) %} {{ error_order_quantity }}{% endif %} <button class="close" data-dismiss="alert" type="button">&times;</button></div>');
                                $('html, body').animate({ scrollTop: 0 }, 'slow');
                            } else {
                            if(cart_has_product) {
                                cart_product_ids = Array();
                                cart_ids = Array();
                                {% if (cart_products is defined) %} 
                                    {% for index,cart_product in cart_products %} 
                                    cart_product_ids.push('{{ cart_product['product_id'] }}');
                                    cart_ids.push('{{ cart_product['cart_id'] }}');
                                    {% endfor %} 
                                {% endif %} 
                                      confirmation = confirm("Your cart has some product(s), ok to add them in wishlist and add to this product in your cart ?");
                                      if(confirmation) {

                                        for(i=0; i<cart_ids.length;i++) {
                                            cart.remove(cart_ids[i]);
                                        }

                                        for(i=0; i<cart_product_ids.length;i++) {
                                           wishlist.add(cart_product_ids[i]);
                                        }
                                      } else {
                                        return false;
                                      }
                                  }
                                $('#button-cart').trigger('click');
                            }
                        }
                        function enableSubmitButton() {
                            $('.preorder-button').removeClass('hide');
                        }
                        function disableSubmitButton() {
                            $('.preorder-button').addClass('hide');
                        }
                        var onloadCallback = function() {
                            preorder_captcha_id = grecaptcha.render('preorder-catpcha', {
                            'sitekey' : '{{ module_wk_preorder_pro_site_key }}',
                            'callback': 'enableSubmitButton',
                            'expired-callback' : 'disableSubmitButton',
                            });
                        };
                        </script>
                        <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
                        <div class="modal fade" id="move-to-wishlist-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-body">
                                Your cart has some product(s), would you like to move them to wishlist else will be removed from cart?
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-danger pull-left" type="button" >No</button>
                                <button class="btn btn-success pull-right" type="button" >Yes</button>
                            </div>
                            </div>
                        </div>
                        </div>
                        <div class="modal fade" id="preorder-enquiry-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document" style = "margin-top:5%;">
                            <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">{% if (text_enquiry_heading is defined) %} {{ text_enquiry_heading }}{% endif %}<b>{{ heading_title }}</b></h4>
                            </div>
                            <div class="modal-body">
                                <form id="preorder-enquiry-form" class="form-horizontal" >
                                <input type="hidden" name="preorder_product_id" value="{{ product_id }}" />
                                <input type="hidden" name="preorder_customer_id" value="{% if (customer_id is defined) %} {{ customer_id }}{% endif %}" />
                                <div class="form-group required">
                                    <label class="col-sm-3 control-label" >
                                    <b>{% if (text_name is defined) %} {{ text_name }}{% endif %}</b>
                                    </label>
                                    <div class="col-sm-9">
                                    <input type="text" class="form-control" name="preorder_name" value="{% if (customer_name is defined) %} {{ customer_name }}{% endif %}" />
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="col-sm-3 control-label" >
                                    <b>{% if (text_email is defined) %} {{ text_email }}{% endif %}</b>
                                    </label>
                                    <div class="col-sm-9">
                                    <input type="email" class="form-control" name="preorder_email" value="{% if (customer_email is defined) %} {{ customer_email }}{% endif %}" />
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="col-sm-3 control-label" >
                                    <b>{% if (text_subject is defined) %} {{ text_subject }}{% endif %}</b>
                                    </label>
                                    <div class="col-sm-9">
                                    <input type="text" class="form-control" name="preorder_subject" />
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="col-sm-3 control-label" >
                                    <b>{% if (text_enquiry is defined) %} {{ text_enquiry }}{% endif %}</b>
                                    </label>
                                    <div class="col-sm-9">
                                    <textarea class="form-control" style="min-height:100px" name="preorder_query" ></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" >
                                    <b>{% if (text_captcha is defined) %} {{ text_captcha }}{% endif %}</b>
                                    </label>
                                    <div class="col-sm-9">
                                    <div id="preorder-catpcha" ></div>
                                    </div>
                                </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">{% if (text_close is defined) %} {{ text_close }}{% endif %}</button>
                                <button type="button" class="btn btn-primary preorder-button hide">{% if (text_submit is defined) %} {{ text_submit }}{% endif %}</button>
                            </div>
                            </div>
                        </div>
                        </div>
                        <script>
                        $('.preorder-button').on('click', function(){
                            var form_data = $('#preorder-enquiry-form').serializeArray();
                            $.ajax({
                            url: 'index.php?route=checkout/precart/generateEnquiry',
                            data: form_data,
                            method: 'post',
                            dataType: 'json',
                            beforeSend: function() {
                                $('.preorder-button').button('loading');
                                $('input[name="preorder_name"]').next('.text-danger').remove();
                                $('input[name="preorder_name"]').parent().parent().removeClass('has-error')
                                $('input[name="preorder_email"]').next('.text-danger').remove();
                                $('input[name="preorder_email"]').parent().parent().removeClass('has-error')
                                $('input[name="preorder_subject"]').next('.text-danger').remove();
                                $('input[name="preorder_subject"]').parent().parent().removeClass('has-error')
                                $('textarea[name="preorder_query"]').next('.text-danger').remove();
                                $('textarea[name="preorder_name"]').parent().parent().removeClass('has-error')
                                $('#preorder-catpcha').next('.text-danger').remove();
                                $('#preorder-catpcha').parent().parent().removeClass('has-error')
                            },
                            complete: function() {
                                $('.preorder-button').button('reset');
                            },
                            success: function(response) {
                                grecaptcha.reset(preorder_captcha_id);
                                disableSubmitButton();
                                if(response.success == false) {
                                if(response.error_name) {
                                    $('input[name="preorder_name"]').after('<div class="text-danger">'+response.error_name+'</div>').parent().parent().addClass('has-error');
                                }
                                if(response.error_email) {
                                    $('input[name="preorder_email"]').after('<div class="text-danger">'+response.error_email+'</div>').parent().parent().addClass('has-error');
                                }
                                if(response.error_subject) {
                                    $('input[name="preorder_subject"]').after('<div class="text-danger">'+response.error_subject+'</div>').parent().parent().addClass('has-error');
                                }
                                if(response.error_query) {
                                    $('textarea[name="preorder_query"]').after('<div class="text-danger">'+response.error_query+'</div>').parent().parent().addClass('has-error');
                                }
                                if(response.error_captcha) {
                                    $('#preorder-catpcha').after('<div class="text-danger">'+response.error_captcha+'</div>').parent().parent().addClass('has-error');
                                }
                                } else {
                                    $('.close').trigger('click');
                                    $('.breadcrumb').after('<div class="alert alert-success"><i class="fa fa-check-o"></i>'+response.success_msg+'<button class="close" data-dismiss="alert">&times;</button></div>');
                                    $('html, body').animate({ scrollTop: 0 }, 'slow');
                                }
                            },
                            })
                        });
                        </script>
                    {% elseif (module_wk_preorder_pro_status is defined and module_wk_preorder_pro_status and cart_has_preorder_product is defined and cart_has_preorder_product) %} 
                        <script>
                            $('#button-cart').attr('disabled', true).removeAttr('id');
                        </script>
                    {% endif %}
                            
            </div>
            {% if minimum > 1 %}
            <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_minimum }}</div>
            {% endif %}</div>
          {% if review_status %}
          <div class="rating">
            <p>{% for i in 1..5 %}
              {% if rating < i %}<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>{% else %}<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>{% endif %}
              {% endfor %} <a href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ reviews }}</a> / <a href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ text_write }}</a></p>
            <hr>
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style" data-url="{{ share }}"><a class="addthis_button_facebook_like" fb:like:layout="button_count"></a> <a class="addthis_button_tweet"></a> <a class="addthis_button_pinterest_pinit"></a> <a class="addthis_counter addthis_pill_style"></a></div>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515eeaf54693130e"></script> 
            <!-- AddThis Button END --> 
          </div>
          {% endif %} </div>
      </div>
      {% if products %}
      <h3>{{ text_related }}</h3>
      <div class="row"> {% set i = 0 %}
        {% for product in products %}
        {% if column_left and column_right %}
        {% set class = 'col-xs-8 col-sm-6' %}
        {% elseif column_left or column_right %}
        {% set class = 'col-xs-6 col-md-4' %}
        {% else %}
        {% set class = 'col-xs-6 col-sm-3' %}
        {% endif %}
        <div class="{{ class }}">
          <div class="product-thumb transition">
            <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
            <div class="caption">
              <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
              <p>{{ product.description }}</p>
              {% if product.rating %}
              <div class="rating"> {% for j in 1..5 %}
                {% if product.rating < j %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> {% endif %}
                {% endfor %} </div>
              {% endif %}
              {% if product.price %}
              <p class="price"> {% if not product.special %}
                {{ product.price }}
                {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
                 
 {% if ((product.tax) and (cfp_setting.module_so_call_for_price_status) and (product.price_0 > 0)) %} 
  <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %} </p>
              {% endif %} </div>
            <div class="button-group">
              
            {% if (module_wk_preorder_pro_status) %} 
                {% if (product['isPreorder']) %} 
                  <input type="hidden" name="product_id" value="{{ product['product_id'] }}" />
                  <button type="button" onclick="addToCart({{ product['product_id'] }})"  {% if (product.preorder_status is defined and not product.preorder_status) %} {{ "disabled" }} {% endif %} >
                  <i class="fa fa-shopping-cart text-info"></i><span class="text-info hidden-xs hidden-sm hidden-md">{{ product['button_cart_preorder'] }}</span></button>
                {% else %} 
                  <button type="button" onclick="addToCart('{{ product['product_id'] }}', '{{ product['minimum'] }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
                {% endif %} 
            {% else %} 
                    <button type="button" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"><span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span> <i class="fa fa-shopping-cart"></i></button>
            {% endif %}
                            
              <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
              <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
            </div>
          </div>
        </div>
        {% if column_left and column_right and (i + 1) % 2 == 0 %}
        <div class="clearfix visible-md visible-sm"></div>
        {% elseif column_left or column_right and (i + 1) % 3 == 0 %}
        <div class="clearfix visible-md"></div>
        {% elseif (i + 1) % 4 == 0 %}
        <div class="clearfix visible-md"></div>
        {% endif %}
        {% set i = i + 1 %}
        {% endfor %} </div>
        {% endif %}
        {% if tags %}
        <p>{{ text_tags }}
        {% for i in 0..tags|length %}
        {% if i < (tags|length - 1) %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a>,
        {% else %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a> {% endif %}
        {% endfor %} </p>
        {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<script type="text/javascript"><!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
	$.ajax({
		url: 'index.php?route=product/product/getRecurringDescription',
		type: 'post',
		data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
		dataType: 'json',
		beforeSend: function() {
			$('#recurring-description').html('');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();

			if (json['success']) {
				$('#recurring-description').html(json['success']);
			}
		}
	});
});
//--></script> 
<script type="text/javascript"><!--
$('#button-cart').on('click', function() {
	$.ajax({
		url: 'index.php?route=checkout/cart/add',
		type: 'post',
		data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
		dataType: 'json',
		beforeSend: function() {
			$('#button-cart').button('loading');
		},
		complete: function() {
			$('#button-cart').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

			if (json['error']) {
				if (json['error']['option']) {
					for (i in json['error']['option']) {
						var element = $('#input-option' + i.replace('_', '-'));
 
 {% if option_data %} 
 if(ProductOptionId != undefined && ProductOptionId==i.replace('_', '-')){ 
 $('.so-colorswatch-productpage-icons').after('<div class="text-danger">' + json['error']['option'][i] + '</div>'); 
 } 
 {% endif %} 
 

						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						}
					}
				}

				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}

			if (json['success']) {
				$('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

				
            setTimeout(function () {
                $('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');
              }, 100);
            

				$('html, body').animate({ scrollTop: 0 }, 'slow');

				$('#cart > ul').load('index.php?route=common/cart/info ul li');
			}
		},
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
	});
});
//--></script> 
<script type="text/javascript"><!--
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});

$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true
});

$('.time').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: false
});

$('button[id^=\'button-upload\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(node).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script> 
<script type="text/javascript"><!--
$('#review').delegate('.pagination a', 'click', function(e) {
    e.preventDefault();

    $('#review').fadeOut('slow');

    $('#review').load(this.href);

    $('#review').fadeIn('slow');
});

$('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

$('#button-review').on('click', function() {
	$.ajax({
		url: 'index.php?route=product/product/write&product_id={{ product_id }}',
		type: 'post',
		dataType: 'json',
		data: $("#form-review").serialize(),
		beforeSend: function() {
			$('#button-review').button('loading');
		},
		complete: function() {
			$('#button-review').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible').remove();

			if (json['error']) {
				$('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
			}

			if (json['success']) {
				$('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

				$('input[name=\'name\']').val('');
				$('textarea[name=\'text\']').val('');
				$('input[name=\'rating\']:checked').prop('checked', false);
			}
		}
	});
});

$(document).ready(function() {
	$('.thumbnails').magnificPopup({
		type:'image',
		delegate: 'a',
		gallery: {
			enabled: true
		}
	});
});
//--></script> 

             {% if (module_wk_preorder_pro_status is defined) %} 
                <script>
                    function addToCart(id) {
                        $('.preorder-alert').remove();
                        $('.alert-success').remove();
                        $.ajax({
                            url:'index.php?route=checkout/precart/customer_preordered',
                            data: {
                                product_id: id,
                            },
                            type:'post',
                            dataType: 'json',
                            beforeSend: function() {

                            },
                            success:function(response) {
                                if(response.success) {
                                    cart.add(id);
                                } else {
                                    $('.breadcrumb').after('<div class="alert alert-danger preorder-alert"><i class="fa fa-exclamation-circle"></i>'+response.msg+'<button class="close" data-dismiss="alert" type="button">&times;</button></div>');
                                    $('html, body').animate({ scrollTop: 0 }, 'slow');
                                }
                            }
                        });
                    }
                </script>
            {% endif %}
                            
{{ footer }} 
