@charset "UTF-8";
/* [2] */
/* [8] */
/*===============================================
 [SASS DIRECTORY ]
 [1] Minxin Link
 [2] Minxin Button
 [3] Minxin Triangle
 [4] Minxin LABEL PRODUCT
 [5] Minxin Scrollbars
 [6] Minxin Dev Custom
 ==============================================*/
.no-margin {
  margin: 0 !important; }
/*Dev Custom */
/*====================================================*/
.lib-list-item-product2 {
  border: none; }
  .lib-list-item-product2 .image-dev .list-button-dev {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0); }
    .lib-list-item-product2 .image-dev .list-button-dev li {
      display: inline-block;
      float: left;
      height: 40px;
      width: 40px;
      background: #fff;
      position: relative;
      border-width: 0 1px 0 0;
      border-style: solid;
      border-color: #ddd;
      opacity: 0;
      transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
        transform: translateX(40px);
        -moz-transform: translateX(40px);
        -webkit-transform: translateX(40px);
        -ms-transform: translateX(40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
        transform: translateX(-40px);
        -moz-transform: translateX(-40px);
        -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:first-child {
        border-left: 1px solid #ddd; }
      .lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
        background: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        line-height: 40px;
        text-align: center;
        box-shadow: none;
        border: none;
        color: #555;
        width: 40px;
        padding: 0; }
      .lib-list-item-product2 .image-dev .list-button-dev li:hover {
        background: #f55; }
        .lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
          color: #fff; }
  .lib-list-item-product2 .caption-dev {
    text-align: center;
    padding: 0 15px; }
    .lib-list-item-product2 .caption-dev .rating-dev {
      margin: 5px 0; }
    .lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
      font-size: 11px; }
    .lib-list-item-product2 .caption-dev .title-dev {
      color: #444;
      font-size: 13px; }
    .lib-list-item-product2 .caption-dev .price-dev .price.product-price {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-new {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-old {
      font-size: 12px; }
    .lib-list-item-product2 .caption-dev .add-cart-dev {
      background: #fff;
      border: 1px solid #ddd;
      font-size: 12px;
      text-transform: uppercase;
      color: #999;
      font-weight: bold;
      box-shadow: none;
      border-radius: 0;
      padding: 6px 20px;
      margin: 0 0 30px;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out; }

.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block; }
  .lib-two-img .img-1 {
    opacity: 1;
    position: relative;
    transition: all 0.5s ease-in-out; }
  .lib-two-img .img-2 {
    position: absolute;
    z-index: 0;
    top: 0;
    opacity: 0;
    display: block;
    transition: all 0.5s ease-in-out;
    left: 50%;
    transform: translateX(-50%); }

.lib-two-img-over .img-1 {
  opacity: 0;
  transform-style: inherit;
  transition: all 0.5s ease-in-out; }
  .lib-two-img-over .img-2 {
    opacity: 1;
    transform-style: inherit;
    transition: all 0.5s ease-in-out; }
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }
/*===============================================
 [SASS DIRECTORY ]
 [1] BLOCK HEADER
 ==============================================*/
.typeheader-5 {
  /*=====SEARCH ======*/
  /*BLOCK CART*/
  /*MENU MEGA*/ }
  .typeheader-5 .header-top {
    /*background-image: linear-gradient(to right, #ff4000 , #ff0000);*/
    background-image: linear-gradient(to right, #ff5e15 , #ff4f22);
    padding: 0 15px; }
 .typeheader-5 .header-top .inner {
    height: 50px;
    padding: 0 0;
    margin: 0 auto;
    max-width: 1860px;
    color: #777;
    font-size: 12px;
}
  .typeheader-5 .header-top .module {
    display: table-cell;
    margin-bottom: 0; }
  .typeheader-5 .header-top .header-top-right {
    text-align: right; }
  .typeheader-5 .header-top .dropdown-menu li {
    line-height: 22px; }
  .typeheader-5 .header-top .header-top-right {
    display: inline-block; }
  .typeheader-5 .navbar-logo {
    text-align: left; }
  .typeheader-5 .telephone {
    display: table-cell;
    color: #777;
    font-size: 14px;
    padding-top: 10px; }
  .typeheader-5 .telephone .fa {
    font-size: 14px;
    margin-right: 6px; }
  .typeheader-5 .telephone .number-phone {
    /* [4] */
    /* [6] */
    /* [6] */
    /* [7] */
    font-size: 14px;
    font-size: 1.4rem;
    /* [8] */ }
  .typeheader-5 ul.top-link {
    position:relative;
    list-style: none;
    margin: 0;
    padding-right: 30px;
    vertical-align: top;
    display: block;
    padding-top: 5px;
    width:100%;
}
  .typeheader-5 ul.top-link .dropdown-menu {
    border-radius: 0px 0px 5px 5px;
    left: 25px;
    right: auto;
}
  .typeheader-5 ul.top-link > li {
padding: 0px 7px 0px 7px;
    display: inline-block;
    position: relative;
    list-style: outside none none;
    margin-left: 0px;
    padding-right: 0;
    font-size: 12px;
	    text-align: center;
}
  .typeheader-5 ul.top-link > li.language {
    min-height: 15px; }
  .typeheader-5 ul.top-link > li .btn-group .btn-link {
    padding: 0;
    border: none;
    color: #fff; }
  .typeheader-5 ul.top-link > li .fa-caret-down {
    font-size: 10px; }
  .typeheader-5 ul.top-link > li:after {
   background-color: rgba(255, 255, 255, 0.2);
    content: "";
    height: 15px;
    background-color: transparent;}
  .typeheader-5 ul.top-link > li > a {
    font-size: 10px;
    color: #fff;}
  .typeheader-5 ul.top-link > li.account > a {
    padding: 0;
    margin: 0; }
.typeheader-5 ul.top-link > li.account:after {
    content: "\f007";
    color: #fff;
    font-family: FontAwesome;
    font-size: 24px;
    padding-left: 10px;
    padding-top: 8px;
}
  .typeheader-5 ul.top-link > li.wishlist:before {
    content: "\f004";
    font-family: FontAwesome;
    font-size: 11px; }
  .typeheader-5 ul.top-link > li.account:hover ul.dropdown-link {
    top: 34px;
    z-index: 9999;
    opacity: 1;
    border-top: 1px solid rgba(200, 199, 199, 0.3); }
  .typeheader-5 ul.top-link > li.welcome-msg {
    color: #fff; }
  .typeheader-5 ul.top-link > li.welcome-msg, .typeheader-5 ul.top-link > li:first-child {
    padding-left: 0px;
    margin-left: 0px; }
  .typeheader-5 ul.top-link > li.welcome-msg:after, .typeheader-5 ul.top-link > li:first-child:after {
    display: none; }
  .typeheader-5.navbar-compact .header-top {
    display: none; }
  .typeheader-5.navbar-compact .header-center {
    padding: 0; }
  .typeheader-5.navbar-compact .container-megamenu.horizontal ul.megamenu {
    justify-content: left; }
  .typeheader-5.navbar-compact .header-bottom {
    margin: 0;
    /*.megamenu-style-dev{
     width: 100%;
     margin-left: 270px;
     }*/ }
  .typeheader-5 .header-center {
    background: #ffffff;
    clear: both;
    padding: 23px 0px 0px 0px;
    position: relative;
    z-index: 99; 
      top: -11px;
  }
  .typeheader-5 .header-center .main-menu-w {
    padding-top: 0px; }
  .typeheader-5 .header-center > .container {
    position: relative; }
  .typeheader-5 .header-center > .container .cart-search {
    top: 6px;
    right: 0;
    position: absolute; }
  .typeheader-5 .search-header-w {
      position: relative;
    float: right;
    margin-right: -60px;
    /*position: relative;*/ }
  .typeheader-5 .search-header-w .icon-search {
    /*position: absolute;
     top: 2px;
     #{$right}: 6px;*/
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px; }
  .typeheader-5 .search-header-w .icon-search i {
    font-size: 18px;
    color: #111; }
  .typeheader-5 .search-header-w .icon-search.active i::before {
    content: "\f00d"; }
  .typeheader-5 .search-header-w .icon-search:hover {
    cursor: pointer; }
  .typeheader-5 .search-header-w:hover {
    /*width: 100%;
     @include effect-block-show();*/ }
  .typeheader-5 #sosearchpro .search {
    position: absolute;
    top: 5px;
    right: 0;
    display: block; }
  .typeheader-5 #sosearchpro .search button {
    position: absolute;
    top: -3px;
        right: -12px;
    border-radius: 20px;
    background-color: transparent;
    background-image: none;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    padding: 0; }
  .typeheader-5 #sosearchpro .search button i {
    font-size: 15px;
    color: #111; }
  .typeheader-5 #sosearchpro .search .input-group-btn {
    right: 5px;
    background-image: linear-gradient(to left, #d2d2d2 , white);
    position: absolute;
    border-radius: 0px 17px 17px 0px;
    width: 58px;
    z-index: 1;
    top: 5px;
    height: 32px;
    background-color: transparent;
}
  .typeheader-5 #sosearchpro .search input {
    border: 1px solid #ddd;
    border-radius: 0px;
    background-color: #fff;
    z-index: 0;
    height: 40px;
    padding-left: 135px;
    font-size: 14px;
    width: auto;
    border-radius: 38px;
}
  .typeheader-5 #sosearchpro .search input:focus {
    z-index: 0; }
  .typeheader-5 .block-cart {
    float: right;
    position: relative;
    padding-left: 25px; }
  .typeheader-5 .shopping_cart {
    padding-left: 95px;
    /* float: right; */
}
  .typeheader-5 .shopping_cart .handle.pull-left {
     position: relative !important;
    font-size: 12px;
    line-height: 100%;
    color: #fff;
    display: block;
    float: left;
    width: 31px;
    height: 40px;
    margin-right: 10px;
    text-align: center;
   /* background-image: url(../../images/icon/sprites.png);
    background-repeat: no-repeat;
    background-position: -151px -302px;*/
    position: relative; }
     .typeheader-5 .shopping_cart .handle.pull-left:before {
    position: absolute;
    content: "\f218";
    font-family: FontAwesome;
    font-size: 20px;
    padding-right: 0px;
   top: 15px;
   right: 20px;
}
  .typeheader-5 .shopping_cart .block-cart:before {
    display: none; }
  .typeheader-5 .shopping_cart h2 {
    display: none;
    color: #444;
    font-size: 12px;
    margin: 0;
    font-weight: bold; }
  .typeheader-5 .shopping_cart .btn-shopping-cart {
    display: block;
    cursor: pointer;
    width: auto;
    position: relative;
    padding-bottom: 10px; }
    .logo{
        margin-top:5px;
    }
  .typeheader-5 .shopping_cart .btn-shopping-cart a.top_cart .shopcart .text-shopping-cart-mobi {
    color: #f55; }
  .typeheader-5 .shopping_cart .btn-shopping-cart a.top_cart .shopcart .text-shopping-cart {
    display: none;
    padding: 0px;
    color: #222;
    /* [4] */
    /* [6] */
    /* [6] */
    /* [7] */
    font-size: 14px;
    font-size: 1.4rem;
    /* [8] */
    text-transform: capitalize;
    font-weight: 600;
    margin: 0; }
.typeheader-5 .shopping_cart .btn-shopping-cart .total-shopping-cart .items_cart {
   width: 18px;
    height: 15px;
    line-height: 15px;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    /* border: 1px solid #fff; */
    text-align: center;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    position: absolute;
    top: -2px;
    left: 0px;
    font-size: 12px;
}
 .typeheader-5 .shopping_cart .btn-shopping-cart .total-shopping-cart .items_cart2 {
    position: absolute;
    /* display: none; */
    font-size: 10px;
    left: 25px;
}
 .typeheader-5 .shopping_cart .btn-shopping-cart .total-shopping-cart .items_carts {
    /* display: none; */
   position: absolute;
    top: 18px;
    left: 2px;
    bottom: 0px;
    font-size: 14px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
}
  .typeheader-5 .shopping_cart .dropdown-menu {
    top: 100%;
    right: -15px;
    left: auto; }
  .typeheader-5 .shopping_cart .shoppingcart-box:before {
    right: 50px; }
  .typeheader-5 .megamenu-style-dev .navbar-default {
    background: transparent; }
  .typeheader-5 .container-megamenu.horizontal ul.megamenu {
    display: flex;
    justify-content: center; }
  .typeheader-5 .container-megamenu.horizontal ul.megamenu > li {
    padding: 0;
    margin: 0 20px; }
  .typeheader-5 .container-megamenu.horizontal ul.megamenu > li > a {
    padding: 0 0 20px 0;
    line-height: 100%;
    color: #111;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    position: relative; }
  .typeheader-5 .container-megamenu.horizontal ul.megamenu > li:hover > a, .typeheader-5 .container-megamenu.horizontal ul.megamenu > li.active > a, .typeheader-5 .container-megamenu.horizontal ul.megamenu > li.menu_active > a {
    background-color: transparent; }

.common-home .typeheader-5 .container-megamenu.horizontal ul.megamenu > li.home > a:after {
  width: 100%; }
  
  
  
  .nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 300px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 300px;
    width: 0;
    height: 100%;
    margin-left: -300px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #ffffff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 300px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: 0px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

/*.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}*/
.sidebar-nav li:first-child a {
    color: #fff;
    background: rgb(255,108,11);
background: linear-gradient(to right, #ff4000 , #ff0000);
    padding: 10px 10px 10px 30px;
}
.sidebar-nav  li:first-child a:hover{
  color: #fff;
}

.sidebar-nav .dropdown-menu li:first-child a{
  background: transparent;
  color: #222;
}

.sidebar-nav .dropdown-menu li a{
padding: 8px 10px 8px 30px;
    border-bottom: 1px solid #cccccc;
    font-weight: 600;
}

.sidebar-nav .dropdown-menu li {

}


.sidebar-nav li:nth-child(3){
    display: block;
    color: #222;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    padding: 15px 15px 15px 30px;
    background-color: #f3f3f3;
        border-bottom: 1px solid #aeaeae;  
}

.sidebar-nav .dropdown-menu li:nth-child(3){
display: block;
    color: #222;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    padding: 0;
    background-color: transparent;
    border-bottom: none;
}

/*.sidebar-nav li:nth-child(2):before {
    background-color: #ec1b5a;   
}
.sidebar-nav li:nth-child(3):before {
    background-color: #79aefe;   
}
.sidebar-nav li:nth-child(4):before {
    background-color: #314190;   
}
.sidebar-nav li:nth-child(5):before {
    background-color: #279636;   
}
.sidebar-nav li:nth-child(6):before {
    background-color: #7d5d81;   
}
.sidebar-nav li:nth-child(7):before {
    background-color: #ead24c;   
}
.sidebar-nav li:nth-child(8):before {
    background-color: #2d2366;   
}
.sidebar-nav li:nth-child(9):before {
    background-color: #35acdf;   
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}*/
.sidebar-nav li a {
    display: block;
    color: #222;
    text-decoration: none;
        padding: 15px 15px 15px 30px;
    border-bottom: 1px solid #aeaeae;  
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
color: #222;
    text-decoration: none;
    background-color: #fff;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #ebebeb;
    box-shadow: none;
        opacity: 1!important;
    visibility: visible!important;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  top: 5px;  
  z-index: 995;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #fff;
}
.hamburger.is-closed .hamb-top { 
  top: 6px; 
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 8px;  
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #fff;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/
.typeheader-5 {
    position: relative;
}
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 111;
}
.search-header-w select.form-control.option {
    background-image: linear-gradient(to right, #d2d2d2 , white);
    background-image: linear-gradient(to right, #d2d2d2 , white);
    position: absolute;
        left: -511px;
    border-radius: 17px 0px 0px 17px;
    width: 125px;
    z-index: 1;
    top: 9px;
    height: 32px;
    background-color: transparent;
    padding: 7px;
    -moz-margin-start: -39px;
}
.inner.col-xs-12 {
    position: relative;
}
span.total-shopping-cart.cart-total-full {
    position: relative;
}
/*.store-locator {
    position: absolute;
    background-color: #fff;
    padding: 25px;
    z-index: 999;
    top: 50px;
    width: 300px;
}*/
.store-locator span input {
    width: 70%;
}
.store-locator .row {
    padding: 7px 0px !important;
}
input#pincode {
    background-color: transparent;
    /* border-bottom: 2px; */
}
.store-locator:before {
    top: -13px;
    left: 195px;
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 15px solid white;
}








.store-locator {
   display: block;
    transition: all 0.2s ease-out;
     box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.2);
     -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 0px;

    position: absolute;
    background-color: #fff;
    padding: 25px;
    z-index: 999;
    top: 50px;
    width: 300px;
}
.account-menu:before {
    top: -11px;
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 15px solid white;
}

.account-menu {
    position: absolute;
    right: 0px;
    text-align: left;
    top: 50px;
    z-index: 3;
    background-color: #fff;
    padding: 10px 33px;
}
ul.dropdown-menu.locator {
    width: 270px;
}
ul.dropdown-menu.locator li.pincode span {
    display: flex;
    padding: 12px 0px 0px 0px;
}
ul.dropdown-menu.locator li {
    padding: 7px 0px;
}
a.order:before {
    content: "\f0ea";
    font-family: FontAwesome;
    font-size: 15px;
    padding-right: 14px;
}
a.wishlist:before {
    content: "\f08a";
    font-family: FontAwesome;
    font-size: 15px;
    padding-right: 14px;
}
a.address:before {
    content: "\f2bc";
    font-family: FontAwesome;
    font-size: 15px;
    padding-right: 14px;
}
a.gift:before {
    content: "\f06b";
    font-family: FontAwesome;
    font-size: 15px;
    padding-right: 14px;
}
a.coupon:before {
    content: "\f279";
    font-family: FontAwesome;
    font-size: 15px;
    padding-right: 14px;
}
a.contact:before {
    content: "\f086";
    font-family: FontAwesome;
    font-size: 15px;
    padding-right: 14px;
}
a.profile:before {
    content: "\f007";
    font-family: FontAwesome;
    font-size: 15px;
    padding-right: 14px;
}
a.notification:before {
    content: "\f0f3";
    font-family: FontAwesome;
    font-size: 15px;
    padding-right: 14px;
}
a.logout:before {
    content: "\f08b";
    font-family: FontAwesome;
    font-size: 15px;
    padding-right: 14px;
}
hr.divider {
    position: absolute;
    width: 166px;
    top: 165px;
    left:0px;
}
.sub-menu .col-sm-3 ul.subcategory.subcate-col a.title-submenu.subcate-col {
    color: #ff3900;
    font-size: 10px;
}
.sub-menu .col-sm-3 {
    padding: 0px 5px;
}
.menu ul li a {
    color: #000 !important;
    font-weight: 500 !important;
    font-size: 12px !important;
}
.sub-menu .col-sm-3 ul.subcategory.subcate-col a.title-submenu.subcate-col:after {
    content: "\f0da";
    font-family: FontAwesome;
    font-size: 15px;
    padding-left: 10px;
}
li.pincode span {
    border-bottom: 1px solid #000;
}
ul.dropdown-menu.locator li.pincode {
    position: relative;
}
button.check {
    background-color: transparent;
    color: #ff531f;
    border: none;
    font-weight: bold;
}
.total-shopping-cart .items_cart {
    background-color: transparent !important;
}
a.dropdown-toggle.stores {
    line-height: 5px;
    text-align: left;
}
.cata-parent {
    position: relative;
}
a.dropdown-toggle.stores {
    line-height: 5px;
    text-align: left;
    padding-left: 0px !important;
}
/* added new stylee 21-07-2020 */

.sub-menu.content {
    position: relative;
}
/*
ul.subcategory.subcate-col.new-launch {
    position: absolute;
    left: -170px;
    height: 500px;
    max-height: 100%;
    width: 165px;
    top: 354px;
    padding: 6px 8px;
    background-color: rgb(218 217 217 / 30%);
}
.sub-menu .row {
    margin: 0px !important;
}
ul.subcategory.subcate-col.emergency-model {
    position: absolute;
    top: -700px;
    left: 535px;
}
*/
.navbar-logo .logo img.lazyautosizes.lazyloaded {
    height: 35px;
    padding-top: 10px;
    width: auto;
}
span.store.break {
    display: block;
    font-size: 13px;
    font-weight: 600;
}
a.dropdown-toggle.stores span.caret {
    position: absolute;
    top: 25px;
    margin-left: 5px;
}
a.dropdown-toggle.account {
    font-size: 13px !important;
    font-weight: 600 !important;
}
ul.dropdown-menu.locator:before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    top: -15px;
    left: 145px;
    border-style: solid;
    border-width: 0 7.5px 15px 7.5px;
    border-color: transparent transparent #ffff transparent;
}
li.dropdown.locate {
    position: absolute;
    top: -4px;
}
ul.dropdown-menu.my-account:before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    top: -15px;
    left: 130px;
    border-style: solid;
    border-width: 0 7.5px 15px 7.5px;
    border-color: transparent transparent #ffff transparent;
}
ul.dropdown-menu.my-account {
    top: 45px !important;
}
select.form-control.option.cata-child-opn option {
    background-color: #fff !important;
    font-size: 13px !important;
    font-weight: 500;
    /* border: solid 2px #00000042; */
    padding: 7px 7px !important;
    border: none !important;
    box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.2);
}
@media (min-width: 769px) and (max-width:1440px){ 
.typeheader-5 .search-header-w {
    position: relative;
    float: right;
    margin-right: -105px !important;
}
.typeheader-5 .shopping_cart {
    padding-left: 51px !important;
}
}
ul.subcategory.subcate-col.new-launch {
display: none;
}
.main-menu-w {
padding: 0px 55px;
}
/*
ul.subcategory.subcate-col.Brands {
    background-color: rgb(218 217 217 / 30%);
    max-height: 100%;
    padding: 20px 15px;
    height: 860px;
}
ul.subcategory.subcate-col.Top-sellings {
    max-height: 100%;
    padding: 20px 15px;
}
ul.subcategory.subcate-col.Gaming-Mobiles {
    background-color: rgb(218 217 217 / 30%);
    height: 100%;
    padding: 20px 15px;
}
.container-megamenu ul.megamenu li .sub-menu .content {
    padding: 0px;
}
li.dropdown.locate span.store.break {
    display: block;
    font-size: 14px;
    font-weight: 600;
}
li.dropdown.locate span.caret {
    top: 0px;
    position: absolute;
    top: 20px;
    margin-left: 10px;
}
ul.subcategory.subcate-col.new-launch {
    background-color: rgb(218 217 217 / 30%);
    height: 100%;
    padding: 20px 15px;
}
ul.subcategory.subcate-col.new-launch li {
    padding: 0px 12px;
    height: 505px;
    left: -15px;
    width: 165px;
    background-color: #f4f4f4;
    
}
.container-megamenu.horizontal ul.megamenu > li > a strong {
    font-size: 15px !important;
    font-weight: 500 !important;
}
a.dropdown-toggle.stores h5 {
    text-align: right;
}
*/


/*-------------------------------*/
/*            Arjun code         */
/*-------------------------------*/

.container-megamenu.horizontal ul.megamenu > li > a {
   
    text-transform: capitalize !important;
    font-size: 14px;
    font-family: 'Roboto', 'Arial',sans-serif;
   
}
li.home {
    display: none;
}

@media only screen and (max-width: 1199px){
    
.search-header-w select.form-control.option {
   
    left: -477px !important;
   
}

.cata-parent {
    
    right: -33px;
}
.typeheader-5 #sosearchpro .search input {
   
    font-size: 13px;
  
}
.typeheader-5 ul.top-link {

  
    padding-right: 0px;
   
}

.typeheader-5 ul.top-link > li {
    padding: 0px 0px 0px 0px;
   
}
.typeheader-5 .shopping_cart .handle.pull-left {
   
    margin-right: -24px;
   
}

}

/*-------------------------------*/
/*   Arjun for product code      */
/*-------------------------------*/

.rating-show h6 {
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    padding-right: 6px;
}
.rating-show {
    display: inline-block;
}
.rating-box {
    border-right: solid 2px #000000;
    padding-right: 5px;
}
.product-view .content-product-right .title-product h1 {
  
    display: inline-block;
}
.title-product .product-share-links {
    
    float: right;
}
.product-share-links li {
    display: inline-block;
    padding-right: 8px;
}
.title-product .product-share-links li a i {
    margin: 0 5px 0 5px !important;
    font-size: 16px;
}
.product-breadcrumb ul li {
    display: inline-block;
    padding-right: 19px;
    margin-right: 7px;
    position: relative;
}
.product-breadcrumb ul li:not(:last-child):after {
    font-family: 'FontAwesome';
    content: '\f105';
    font-size: 13px;
    top: 0px;
    right: 0;
    position: absolute;
}
.product-breadcrumb ul {
    display: inline-block;
        margin: 10px 0px;
}
#prod_question .desc-collapse {
    margin: 0;
    display: inline-block;
}
.product-breadcrumb span {
        float: right;
       padding-top: 10px;
}
.product-breadcrumb {
    
    display: block;
}
.title-product {
     padding-left: 20px;
}
.box-review {
    padding-left: 20px;
}
.product_page_price.price {
   padding-left: 20px;
       display: inline-block;
}
.product-color {
    padding-left: 20px;
}
.short_description.form-group {
    padding-left: 20px;
}
.Product-offers {
    padding-left: 20px;
}
.product-delivery {
    padding-left: 20px;
    background: #F9F9F9;
    border-radius: 16px;
}
.delivery-box {
    display: inline-block;
    background: #ffffff;
    padding: 9px 12px;
    margin: 12PX 0PX;
    border-radius: 10px;
    webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.4);
}
.product-breadcrumb .container {
    padding: 0;
}
.product-breadcrumb .breadcrumbs {
    float: left;
}
#pre_loader {
    right: 26px;
    top: 8px;
}
.delivery-box span {
    display: block;
}
.label-sale {
    background-color: #ff5e15 !important;
    
}
.price .price-new, .price span.price {
    color: #ff5e15 !important;.

}
.product-view .content-product-right h3 {
  
    color: #000000 !important;
}
.Product-offers ul li strong {
    color: #000;
    padding: 0 5px 0px 5px;
}
.Product-offers ul li i {
    color: #48b248;
    border: 2px solid #48b248;
    border-radius: 50%;
    padding: 3px 3px 3px 3px;
        margin-right: 6px;
}
.Product-offers ul li {
    padding: 10px 0px;
}
.Product-offers {
    margin: 41px 0px;
}
.product-delivery .pincode input[type=number] {
  background-color: transparent;
    border-bottom: solid 2px #ff5e15;
    color: #000;
    padding-left: 21px;
    font-size: 14px;
    font-weight: 600;
    padding-top: 9px;
        padding-right: 21px;
}
.product-delivery .pincode span {
   position: absolute;
    bottom: 0px;
    top: 10px;
    border-bottom: none;
}
.product-delivery ul li
{
display:inline-block;
text-align: center;
    padding: 0 30px;
}

.product-delivery .pincode span i {
    font-size: 22px;
        color: #ff5e15;
}
.pincode {
    position: relative;
    display: inline-block;
    margin: 6px 32px 11px 0px;
}
.product-delivery .pincode strong {
    position: absolute;
    bottom: 0;
    top: 11px;
   
    right: -22px;
}
.stock {
    display: inline-block;
}
.product-delivery ul {
    display: inline-block;
        position: relative;
    top: 20px;
}
.product-delivery ul li span {
    display: block;
    padding-top: 3px;
}
.product-exchange a {
    background: #F6F6F6;
    padding: 13px 8px;
    border-radius: 4px;
        border: 1px solid #EFEFEF;
}
.product-exchange a i {
    color: #000;
    font-size: 20px;
    padding: 0px 6px 0px 0px;
    float: none;
}
.product-exchange a span {
    color: #000000;
}
.product-exchange a span strong {
    color: #48b248;
    margin-left: 8px;
    border-left: 2px solid #000000;
    padding-left: 10px;
}
.product-exchange a span i {
   
    padding-left: 10px;
}
.product-exchange {
    margin: 20px 0px;
}
.content-product-right {
    border-left: solid 1px #cccccc;
        padding: 0;
    margin: 0;
}
.product-emi a span strong {
    border-left: none;
    padding: 0;
}
.product-delivery .pincode strong a {
    color: #ff5e15;
}
.product-delivery input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.product-delivery input[type=number] {
  -moz-appearance: textfield;
}
.product-color-change {
    
    position: absolute;
      
      padding-left: 5px;
      display: none;
}


.product-color h3 {
    display: inline-block;
}
.pl-0 {
    padding-left: 0;
}
button.tablinks {
    background: transparent;
    border: transparent;
    padding: 0px 0px;
}
.product-color-show
{
    display:inline-block;
}
.product-color ul li {
      width: 10%;
    padding: 0 6px;
    border: 1px solid #E7E7E7;
    display: inline-block;
    float: left;
    position: relative;
    margin: 0px 1px;
}
.delivery-box input[type="text"] {
    background-color: white!important;
    border-bottom: 1px solid #0000002e!important;
    border-radius: 0px!important;
    padding: 7px 27px 7px 9px;
}
.product-color ul li span {
       position: relative;
    background: #42474C;
    padding: 0px 8px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 13px;
}
.product-color ul li span::before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: #42474C transparent transparent transparent;
    position: absolute;
    content: "";
    left: 0;
    margin: auto;
    right: 0;
    bottom: -9px;
}
.hover-color {
    position: absolute;
    top: -17px;
    opacity: 0;
    
}
.product-color ul li:hover .hover-color1 {
    opacity: 1;
}
.product-color ul li:hover .hover-color2 {
    opacity: 1;
}
.product-color ul li:hover .hover-color3 {
    opacity: 1;
}
.product-color ul li:hover .hover-color4 {
    opacity: 1;
}
.product-color ul li:hover
{
    border: 1px solid #ff5e15;
}
.product-color ul li:focus
{
    border: 1px solid #ff5e15;
}
.product-storage ul li strong {
    display: block;
    font-size: 15px;
}
.product-storage ul li {
        display: inline-block;
       padding: 15px 14px;
    border: 1px solid #E7E7E7;
    float: left;
}
.product-storage ul li:hover {
       
    border: 1px solid #ff5e15;
    
}
.product-storage ul li small {
    font-size: 12px;
    float: right;
}
.product-storage ul li span {
    font-size: 12px;
    float: left;
}
.combo-title h2 {
    color: #ff5e15;
    font-size: 18px;
    margin: 0;
    display: inline-block;
}
.combo-title {
   border: 1px solid #b9b8b8;
    padding: 12px 0px 12px 15px;
    border-bottom: none;
}
.combo-list img {
                width: 43%;
}
.combo-content strong {
    display: block;
    padding:5px 0px;
}
.product-combo ul li {
    display: inline-block;
    border: 1px solid #b9b8b8;
    width: 25%;
    float: left;
        padding: 5px 5px;
        text-align: center;
        position: relative;
}
.combo-content small {
    color: #ff5e15;
    font-size: 14px;
    padding: 1px 0px;
    display: inline-block;
}
.combo-content small strike {
    color: #bbb;
    margin-left:5px;
}
.combo-content h5 {
    margin: 0px 0px 9px 0px;
}
.combo-checked-box {
    text-align: left;
}
.combo-offer-img {
    position: absolute;
    right: 0;
    top: 0px;
}
.combo-offer-bg
{
    background:#1E914C;
    color: #ffffff;
        padding: 42px 10px 43px 10px !important;
    
}
.combo-offer-bg h4 {
   font-size: 17px;
    margin: 5px 0px;
}
.combo-offer-bg strike {
    display: block;
    color: #89C8A2;
    font-size: 15px;
    font-weight: 500;
}
.combo-offer-bg small {
   color: #ffffff;
    display: block;
}
.combo-offer-bg strong {
    font-size: 14px;
    font-weight: 500;
    padding: 25px 0px;
    display: block;
}
.combo-offer-bg strong span {
    font-size: 12px;
    display: block;
    color:#89C8A2;
}
.btn-offer {
    padding: 8px 23px;
    background: #ffffff;
    color: #2B9C59;
    font-size: 14px;
}
.plus-ico {
    position: absolute;
    right: -16px;
    top: 115px;
    z-index: 1;
    background: #ffffff;
    border: 2px solid #b9b8b8;
    border-radius: 50%;
    padding: 0px 5px;
}

.product-specification h2 {
    color: #ff5e15;
    font-size: 18px;
    margin: 0;
}
.product-specification h2 img {
    margin-right: 9px;
}
.product-specification {
    border: 1px solid #b9b8b8;
    padding: 10px 0px 10px 15px;
    border-bottom: none;
        margin-top: 30px;
            
}
.product-view .content-product-right .product-box-desc {
      border: 1px solid #b9b8b8;
    padding: 11px 15px;
    margin-bottom: 25px;
     
}
.ptb-10
{
padding:10px 0px;
}
.btn-product-page {
    background: #ff5e15;
      padding: 15px 76px;
}
.btn-product-buy
{
     background:#131921;
    padding: 15px 78px;
}
.cart {
    display: inline-block;
}
.buynow {
    display: inline-block;
}
.related-product ul li
{
    width:100%;
}
.related-product {
    margin: 40px 0px 40px 0px;
}
.compare-product
{
      margin: 40px 0px 40px 0px;
}
.compare-product ul li
{
    width:20%;
        padding: 0;
}
.battery-power {
    border: 1px solid #b9b8b8;
    padding: 15px 0px;
    border-right: none;
    border-left: none;
}
.external-storage {
    border: 1px solid #b9b8b8;
    padding: 15px 0px;
    border-right: none;
    border-left: none;
}

.free-space {
       padding: 181px 0px 158px 0;
}
.combo-title a {
    float: right;
    color: #ff5e15;
    font-size: 17px;
    padding-right: 20px;
    font-weight: 500;
}
.combo-title a i {
    padding-right: 6px;
}
.combo-title h2 img {
    margin-right: 9px;
}
.product-video {
    margin: 40px 0px 40px 0px;
}
.product-video .combo-title a {
    color: #000000;
        position: relative;
    left: -100px;
}
.product-video .combo-title i {
    color: #FF0000;
    font-size: 22px;
}
.video-frame iframe {
    border-radius: 20px;
   
    border: none;
}
.product-video ul li {
    width: 100%;
}
.video-frame {
    z-index: 2;
    position: relative;
}
.video-content span {
   font-size: 18px;
    font-weight: 600;
    color: #23A123;
    float: left;
    padding: 2px 5px;
    border-right: 1px solid #bbb;
    position: relative;
    bottom: -4px;
}
.video-content span img {
    display: block;
    margin: 5px 0px;
}
.video-content strong {
    color: #000;
    text-transform: capitalize;
        font-size: 15px;
    padding: 0px 5px;
    padding: 6px 5px;
}
.video-content strong small {
    font-size: 13px;
    display: block;
    color: #bbbbbb;
   
}
.video-content {
    background: #ffffff;
    border-radius: 5px;
       
         position: relative;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.49);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.49);
    padding: 39px 10px 0px 10px;
    top: -34px;
}
.product-video ul li {
    border: none;
       padding: 20px 20px 0px 23px;
}
.product-combo.product-video ul {
    border: 1px solid #b9b8b8;
    display: inline-block;
        background: #F6F6F6;
       padding: 0px 49px;
}
.question-pro span {
    float: right;
}
.question-pro
{
    padding:0px 0px;
}
.question-pro h2 {
    padding: 15px 15px;
}
.question-pro span input {
        line-height: 44px;
    
}
.question-content {
    float: left;
    width: 70%;
}
.like-details {
    float: right;
    text-align:center;
}

.like-details span {
    display: block;
    padding: 7px 0px;
}
.like-details small {
    font-size: 14px;
    padding: 0px 6px;
}
.product-question ul
{
      border: 1px solid #bbbbbb; 
}
.product-question ul li {
   padding: 8px 13px;
    border-bottom: 1px solid #bbbbbb;
    display: inline-block;
    width: 100%;
}
.product-question ul li:last-child {

    border-bottom: none;
   
}
.product-customer-image ul li {
    padding: 12px 14px;
    display: inline-block;
    width: 49%;
}
.product-customer-image ul {
    border: 1px solid #bbbbbb;
}
.combo-title.customer-img {
    padding: 17px 10px;
}
.product-question {
    margin: 40px 0px 40px 0px;
}
.product-customer-image {
    margin: 40px 0px 40px 0px;
}
.review-card {
        padding: 21px 16px;
    background: #2C9E5B;
    display: inline-block;
    border-radius: 10px;
    
    border-radius: 10px;
}
.card-cont span {
    font-size: 20px;
    color: #ffffff;
}
.card-cont span strong {
    display: block;
    font-size: 35px;
    font-weight: 600;
        padding: 19px 0px;
}
.card-cont span strong small
{
    font-size:15px;
    padding-left:10px;
}
.card-cont small
{
    font-size:15px;
    color:#ffffff;
    font-weight: 400;
}

.card-cont {
    float: left;
    border-right: 2px solid #fff;
    margin-right: 19px;
    padding-right: 14px;
}
.review-rating {
    float: right;
}
.review-rating ul li {
    text-align: right;
    color:#ffffff;
}
.review-rating ul li small {
    color: #ffffff;
    font-size: 14px;
    padding-left: 5px;
}
.review-edit-box {
    padding: 25px 0px;
    text-align: center;
    border-top: 1px solid #bbbbbb;
    display: inline-block;
    margin-top: 34px;
}
.review-edit-box strong {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}
.review-edit-box strong span
{
    color:#bbbbbb;
    display:block;
     font-weight: 500;
         padding: 10px 0px;
}
.edit-button a {
    background: #000000;
    color: #ffffff;
}
.reviwe-block {
    border: 1px solid #bbbbbb;
            padding: 65px 10px 64px 10px;
    text-align: center;
    position: relative;
    top: -40px;
}

.edit-button a {
    background: #131921;
    color: #ffffff;
    padding: 13px 60px;
    font-size: 15px;
    border-radius: 5px;
}
.edit-button a i {
    padding-right: 8px;
}
.edit-button {
    margin: 20px 0px;
}
.review-mention span {
    background: #bbbbbb;
    color: #000;
    padding: 6px 8px;
    margin: 0px 5px;
    border-radius: 5px;
}
.review-mention h3 {
    color: #000;
    font-size: 20px;
}
.review-text {
    padding: 20px 0px;
}
.customer-details img {
    width: 8%;
    border-radius: 5px;
}

.customer-details small {
    font-size: 13px;
    color: #bbbb;
    font-weight: 500;
}
.customer-profile
{
    padding:10px 0px;
}
.customer-details img {
    width: 8%;
    border-radius: 5px;
    float: left;
    margin-right: 12px;
    margin-top: 10px;
}
.customer-profile {
    padding: 10px 6px 10px 6px;
}
.customer-details {
    display: inline;
}
.review-para span {
    font-size: 16px;
    font-weight: 500;
    color: #ff5e15;
    margin-top: 14px;
    display: block;
}
.review-right-block {
    border: 1px solid #bbb;
    padding: 10px 20px;
    position: relative;
    top: -40px;
}
.pr-0 {
    padding-right: 0;
}
.review-text h3 {
    color: #000;
    font-size: 20px;
}
.review-para p {
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
}
.btn-gallary {
    background: #131921;
    padding: 18px 10px;
    display: block;
}
.button-toggle.toggle1 {
      border: 1px solid #bbbbbb;
    display: block;
    padding: 23px 20px 48px 20px;
}
.button-toggle.toggle1 a span {
    float: left;
}
.button-toggle.toggle1 a strong i {
    font-size: 17px;
    padding-right: 5px;
    bottom: -2px;
    position: relative;
}
.button-toggle.toggle1 a strong {
    float: right;
}
.toggle1 a span i {
    padding-left: 7px;
    font-size: 21px;
    position: relative;
    bottom: -2px;
}
.owl-theme .owl-nav [class*=owl-next] {
    position: absolute;
    top: -53px;
    right: 7px;
    background: none !important;
}


.owl-theme .owl-nav [class*=owl-next] i {
    font-size: 24px;
    color: #000000;
    background: transparent;
    padding: 8px 6px;
    border: 1px solid #000000;
}
.owl-theme .owl-nav [class*=owl-prev] {
    position: absolute;
    top: -53px;
        right: 50px;
    background: none !important;
}


.owl-theme .owl-nav [class*=owl-prev] i {
    font-size: 24px;
    color: #000000;
    background: transparent;
    padding: 8px 6px;
    border: 1px solid #000000;
}
.review-text ul
{
   height: 372px;
      overflow: auto;

}
.review-text ul li {
    margin-right: 10px;
}
.compare {
    max-height: 440px !important;
}
.compare::before
{
    display:none;
    content:inherit;
}

.related-carousel.owl-carousel .owl-item img {
    display: inline-block;
    width: 81%;
}
.related-carousel.owl-theme .owl-nav [class*=owl-next] {
    position: absolute;
    top: 0;
    right: -22px;
    background: transparent;
    bottom: 0;
}


.related-carousel.owl-theme .owl-nav [class*=owl-next] i {
    font-size: 24px;
    color: #b9b8b8;
       background: #ffffff;
    padding: 8px 6px;
    border-radius: 50%;
    border:1px solid #b9b8b8;
}
.related-carousel.owl-theme .owl-nav [class*=owl-prev] {
       position: absolute;
    top: 0;
    left: -22px;
    background: transparent;
    bottom: 0;
}


.related-carousel.owl-theme .owl-nav [class*=owl-prev] i {
    font-size: 24px;
    color: #b9b8b8;
        background: #ffffff;
    padding: 8px 6px;
    border-radius: 50%;
    border:1px solid #b9b8b8;
}

.related-carousel.owl-carousel .owl-nav.disabled {
    display: block;
}
.tabs-nav ul li {
    display: inline-block;
    padding: 16px 12px;
}
.tabs-nav ul li i {
    padding-right: 9px;
    font-size: 22px;
}
.tabs-nav ul li {
    font-size: 15px;
    position:relative;
   border-bottom: 3px solid #fff2e6;
       padding: 15px 25px;
}

.tabs-nav ul li:hover a {
    color: #ff6b59;
}
.tabs-nav ul li:hover i {
    color: #ff6b59;
}
.fa-eye:before :hover 
{
     color: #ff6b59 !important;
}
.fa-eye:before {
   
    color: #d3b396 !important;
}
.tabs-nav {
    background: #FFF2E6;
    text-align: center;
}
.tabs-nav ul li a {
    color: #D3B396;
}
.tabs-nav ul li i {
    color: #D3B396;
}
.tabs-nav ul li:hover {
    color:#ff5e15 !important;
 border-bottom:3px solid #ff5e15;
    
   
}

.tabs-nav ul li:active {
    color:#ff5e15 !important;
}
.tabs-nav ul li:focus {
    color:#ff5e15 !important;
}

.product-combo {
    padding-left: 20px;
}
#product {
  
    display: none;
}
.specs-block {
    padding-left: 20px;
}
.content-product-mainbody.clearfix.row {
    display: none;
}
/*-------------------------------*/
/*   Arjun for cart code      */
/*-------------------------------*/

.cart-page {
    margin: 20px 0px;
}
.cart-block h3 {
    
     

}
.cart-block h3 i {
    padding-right: 11px;
}
.cart-block h3 {
    padding: 10px 14px;
        font-weight: 500;
      -webkit-box-shadow: 0px 0px 5px -1px rgba(92,92,92,0.38);
-moz-box-shadow: 0px 0px 5px -1px rgba(92,92,92,0.38);
box-shadow: 0px 0px 5px -1px rgba(92,92,92,0.38);
         margin: 2px 0px;
     background: #ffffff;
     color: #000000;
}
.cart-block ul li {
    display: inline-block;
    
    padding: 10px 18px;
       -webkit-box-shadow: 0px 0px 5px -1px rgba(92,92,92,0.38);
-moz-box-shadow: 0px 0px 5px -1px rgba(92,92,92,0.38);
box-shadow: 0px 0px 5px -1px rgba(92,92,92,0.38);
        margin: 2px 0px;
   
}
.cart-img {
    display: inline-block;
    float: left;
}
.cart-cont {
    float: right;
}
.cart-info h6 {
            font-size: 18px;
                color: #000000;
}
.cart-info {
    
    padding: 20px 9px;
    display: inline-block;
    float: left;
}
.cart-info small {
    display: block;
    font-weight: 500;
    font-size: 14px;
}
.cart-remove span a {
    color: #000;
}
.cart-info strong {
    color: #FF983B;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
}
.cart-remove strong a {
    color: #000;
}
.move-cart span a {
    color: #000;
}
.available-off-cart {
    display: inline-block !important;
    padding-left: 5px;
}
.available-off-cart strike {
    padding-right: 5px;
}
.available-off-cart span i {
    margin-left: 5px;
    background: #2B9C59;
    border-radius: 50%;
    padding: 3px 7px;
    color: #ffffff;
}
.available-off-cart span  {
    margin-left: 5px;
    color: #2B9C59;
    border-radius: 50%;
   
}
.cart-delivery span {
    display: block;
}
.cart-delivery {
    float: right;
    text-align: right;
        padding-left: 89px;
         padding-top: 14px;
}
.cart-delivery select {
    padding: 11px 14px;
    background: #ffffff;
    border: 1px solid #bbbbbb;
    margin-bottom: 10px;
}
.cart-delivery span {
    font-size: 14px;
}
.cart-delivery span small {
    font-size: 14px;
    color:#2B9C59;
        padding-right: 5px;
    font-weight: 500;
}
.cart-det {
    display: inline-block;
    border-bottom: 1px solid #bbbbbb;
}
.cart-quantity a i {
    font-size: 28px;
}
.cart-quantity span {
    font-size: 20px;
    padding: 10px;
    top: -4px;
    font-weight: 600;
    position: relative;
}
.cart-quantity {
    display: inline-block;
    float: left;
}
.cart-remove {
    display: inline-block;
    float: right;
}
.cart-remove span {
    padding-right: 50px;
    font-size: 16px;
    font-weight: 600;
}
.cart-remove strong i {
    padding-left: 10px;
}
.cart-block {
    margin-bottom: 30px;
}
.cart-remove span a:hover {
    color: #FF983B;
}
.cart-remove strong a:hover {
    color: #FF983B;
}
.cart-quantity a:hover {
    color: #FF983B;
}

.move-cart {
    padding-left: 393px;
    padding-top: 35px;
}
.whitelist-rating
{
    border:none;
}
.btn-move-cart {
    background: #FF983B;
}
.move-cart span a:hover {
    color: #FF983B;
}
.move-cart span a {
    font-size: 16px;
    padding-top: 9px;
    display: block;
    text-align: center;
}
.move-cart span a i {
    padding-left: 8px;
}
.whitelist-border
{
border:none;
}
.cart-size
{
    font-size:14px;
}
.whitelist-size h6
{
    font-size:14px;
        position: relative;
    top: 5px;
}
.cart-sec {
    display: inline-block;
}
.cart-protection {
    display: inline-block;
    padding: 20px 20px;
    background: #F2F4F6;
    margin: 10px 0px;
}
.protection-img {
    float: left;
    padding: 20px 20px;
}
.protection-cont h6 {
    font-size: 14px;
    text-transform: capitalize;
}
.protection-cont strong {
    color: #FF983B;
    font-size: 16px;
}
.protection-cont small {
    font-size: 14px;
}
.protection-cont p {
    font-size: 13px;
}
.btn-protect {
    background: #161616;
}
.summary ul li {
    display: block;
    font-size: 15px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
        padding: 7px 12px;
}
.summary ul li span {
    float: right;
        text-align: right;

}
.summary ul
{
 -webkit-box-shadow: 0px 0px 5px -1px rgba(92,92,92,0.38);
-moz-box-shadow: 0px 0px 5px -1px rgba(92,92,92,0.38);
box-shadow: 0px 0px 5px -1px rgba(92,92,92,0.38);
padding-bottom: 20px;
}
.green-color {
    color: #2B9C59;
}
.summary ul li span a {
    color: #ff983b;
}
.total-amount {
    font-weight: 600;
    color: #000000;
        border-top: 1px solid #bbb;
    border-top-style: dashed;
    padding-bottom: 16px !important;
    margin: 0px 9px !important;
}
.save-offer {
    background: #DEEAC4;
    margin: 0px 19px !important;
      color: #7CAB14;
}
.save-offer i {
        color: #7CAB14;
    border: 1px solid #7CAB14;
    border-radius: 50%;
    padding: 2px 4px;
    margin-right: 7px;
}
.gift-certify h3 {
    font-size: 18px;
    color: #000;
}
.gift-certify h3 i {
    padding-right: 6px;
}
.gift-certify input {
    border: 1px solid #bbbbbb;
    background: transparent;
    padding: 6px 0px 6px 22px;
}
.gift-certify {
    -webkit-box-shadow: 0px 0px 5px -1px rgba(92,92,92,0.38);
    -moz-box-shadow: 0px 0px 5px -1px rgba(92,92,92,0.38);
    box-shadow: 0px 0px 5px -1px rgba(92,92,92,0.38);
    padding: 16px 18px;
}
.btn-gift {
    padding: 11px 6px;
    font-size: 13px;
}

.btn-checkout {
    background: rgba(255,170,12,1);
    background: -moz-linear-gradient(left, rgba(255,170,12,1) 0%, rgba(255,128,9,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,170,12,1)), color-stop(100%, rgba(255,128,9,1)));
    background: -webkit-linear-gradient(left, rgba(255,170,12,1) 0%, rgba(255,128,9,1) 100%);
    background: -o-linear-gradient(left, rgba(255,170,12,1) 0%, rgba(255,128,9,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,170,12,1) 0%, rgba(255,128,9,1) 100%);
    background: linear-gradient(to right, rgba(255,170,12,1) 0%, rgba(255,128,9,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaa0c', endColorstr='#ff8009', GradientType=1 );
    font-size: 18px;
    display: block;
}
.checkout-button {
    margin: 20px 0px;
}
#checkout-cart {
    display: none;
}
.address-block h3
{
    font-size:20px;
}
.address-block h3 a {
    float: right;
    color: #FF8313;
    font-size: 17px;
}
.address-block h3 a i {
    padding-right:6px;
}
.address-block ul li {
    display:block;
}
.address-det strong {
    color: #000;
    padding: 0px 16px;
    font-size: 16px;
}
.address-det span {
    -webkit-box-shadow: 0px 0px 5px -1px rgba(92,92,92,0.38);
    -moz-box-shadow: 0px 0px 5px -1px rgba(92,92,92,0.38);
    box-shadow: 0px 0px 5px -1px rgba(92,92,92,0.38);
    padding: 4px 10px;
    font-size: 14px;
    font-weight: 600;
    color:#FF8313;
}
.address-det small {
    float: right;
    background: #F2F2F2;
    padding: 1px 11px;
    border-radius: 20px;
    font-weight: 600;
}
.address-cont {
    padding: 15px 33px;
}
.address-cont p {
    color: #000;
    font-size: 14px;
}
.address-cont span{
     color: #000;
    font-size: 16px;
}
.address-button {
    padding: 8px 32px;
}
.btn-add-remove {
    color: #000;
    background: transparent;
    border: 1px solid #000000;
    font-size: 16px;
    
    padding: 10px 32px;

}
.btn-add-edit {
    color: #000;
    background: transparent;
    border: 1px solid #000000;
    font-size: 16px;
    
    padding: 10px 32px;

}
.address-button a {
    margin-right: 6px;
}
.payment-offers h3 span {
      background: #2b9c59;
    color: #ffffff;
       padding: 10px 60px 10px 13px;
    font-size: 18px;
    position:relative;
}
.payment-offers h3 span i {
  font-size: 14px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    padding: 4px 5px;
    margin-right: 10px;
}
.payment-offers h3 span::before {
    position: absolute;
     display: inline-block;
  
     content:"";
   width: 0;
height: 0;
border-style: solid;
        border-width: 20px 30px 20px 0;
border-color: transparent #ffffff transparent transparent;
right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.payment-offers h3 {
  padding: 8px 0px !important;
    font-size: 22px;
}

.offers-cont {
    -webkit-box-shadow: 0px 0px 5px -1px rgba(92,92,92,0.38);
    -moz-box-shadow: 0px 0px 5px -1px rgba(92,92,92,0.38);
    box-shadow: 0px 0px 5px -1px rgba(92,92,92,0.38);
    padding: 6px 38px;
}
.offers-cont ul li {
     -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
        list-style: disc;
    display: list-item;
    padding: 12px 0px;
}
.offers-cont span {
    color: #FF8313;
    font-weight: 500;
}
.offers-cont span i {
    padding-left: 5px;
}
.bank-det input {
    top: 6px;
    position: relative;
    margin-right: 6px;
}
.bank-det img {
    margin: 0px 4px;
}
.bank-det span {
    font-size: 14px;
    position: relative;
    top: 3px;
    padding-left: 6px;
        display: inline-block !important;
    padding: 0px 0px 0px 5px !important;
}
.bank-det strong {
    float: right;
}
.pay-card ul li {
    display: block;
}
.bank-det strong {
    font-size: 14px;
    float: right;
    color: #2B9C59;
    font-weight: 600;
}
.bank-det strong i {
        border: 1px solid #2B9C59;
    border-radius: 50%;
    padding: 4px 5px;
    margin-right: 5px;
}
.bank-det strong a {
    font-size: 14px;
    padding-left: 7px;
    color: #000000;
}
.bank-det strong a:hover
{
    color:#FF8313;
}
.bank-det strong a i {
    border: none;
    position: relative;
    top: 2px;
}
.pay-card span {
    display: block;
        padding: 10px 0px 0px 58px;
}
.bank-opt-cont strong input {
        border: 1px solid #bbb;
    background: transparent;
    padding: 5px 0px 5px 9px;
    width: 16%;
    margin-right:5px;
}
.bank-opt-cont strong i {
    position: absolute;
    font-size: 18px;
           right: 14px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.bank-opt-cont strong
{
    position:relative;
}
.btn-opt-confirm {
    padding: 7px 37px;
    display: inline-block;
}
.bank-opt-cont {
    padding: 15px 0px 15px 57px;
}
.bank-opt-cont p {
    float: right;
    font-size: 13px;
}
.btn-opt-confirm {
    padding: 7px 22px;
    display: inline-block;
}
.pay-card h3 {
    webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 20px 0px !important;
        font-size: 19px;
}
.payment h3 {
    font-size: 18px;
    text-transform: capitalize;
}
.payment h3 a {
    float: right;
    font-size: 16px;
    color: #FF8313;
}
.payment-cont {
    display: inline-block;
}
.payment-img {
    display: inline-block;
   
}
.payment-cont span {
    float: left !important;
    display: inline-block;
    text-align: left !important;
    padding-right: 99px;
        font-weight: 600;
    color: #000000;
}
.none-boxshadow {
    webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    padding-bottom: 0 !important;
}
.none-boxshadow li
{
    webkit-box-shadow: 0px 0px 5px -1px rgba(92,92,92,0.38) !important;
    -moz-box-shadow: 0px 0px 5px -1px rgba(92,92,92,0.38) !important;
    box-shadow: 0px 0px 5px -1px rgba(92,92,92,0.38) !important;
     display: inline-block !important;
      margin: -1px 0px !important;
}
.payment-cont span small {
    display: block;
}
.payment-cont strong {
    float: right;
}
.payment-img {
   
    float: left;
}
.payment-cont {
    float: right;
    position: relative;
    bottom: -33px;
}
.other-payment ul li {
    display: block;
        
          padding: 10px 19px;
}
.other-payment ul {
    display: inline-block;
}
.other-payment ul li span {
    display: block;
    font-size: 11px;
    color: #2B9C59;
}
.payment-card label {
    display: block;
    padding: 1px 0px;
    font-weight: 500;
    color: #000;
}
.payment-card input {
    margin-bottom: 16px;
    width: 100%;
}
.payment-card select {
    margin-bottom: 16px;
}
.payment-card {
    
     webkit-box-shadow: 0px 0px 5px -1px rgba(92,92,92,0.38) !important;
    -moz-box-shadow: 0px 0px 5px -1px rgba(92,92,92,0.38) !important;
    box-shadow: 0px 0px 5px -1px rgba(92,92,92,0.38) !important;
        display: inline-block;
        padding: 17px 15px;
}
.payment-tabs
{
     webkit-box-shadow: 0px 0px 5px -1px rgba(92,92,92,0.38) !important;
    -moz-box-shadow: 0px 0px 5px -1px rgba(92,92,92,0.38) !important;
    box-shadow: 0px 0px 5px -1px rgba(92,92,92,0.38) !important;
}



.payment-tabs {
    display: block;
}
.other-payment h3 {
    
      webkit-box-shadow: none !important;
    -moz-box-shadow:none !important;
    box-shadow: none !important;
}
.custom-select {
    padding: 15px 89px 14px 9px;
}
.input-para {
    padding-top: 31px;
}
.tab-hide
{
    display:none;
}
.payment-tabs ul li button {
    margin: 0px 0px !important;
    display: block;
   
   padding-right: 126px;
}
.product-color ul li strong {
    position: absolute;
    margin: auto auto !important;
    bottom: -22px;
    text-align: center;
    left: 0;
    right: 0;
    font-weight: 500;
    color: #000000;
    font-size: 13px;
}
/*===============================================
 [header-menu ] hanburger 
 
 ==============================================*/
 #page-content-wrapper {
 
    display: none;
}


/*===============================================
Arjun header menu code
 
 ==============================================*/
.sub-menu {
    width: 1112px !important;
}
.sub-image {
    display: inline-block;
   padding: 31px 4px 0px 0px;
}
.sub-image a img {
    border: 1px solid #cccccc;
}
.sub-menu .col-sm-2 ul.subcategory.subcate-col a.title-submenu.subcate-col {
    color: #ff3900;
     font-size: 12px;
}
.sub-menu .col-sm-2 {
    padding: 0px 5px;
}

.sub-menu .col-sm-2 ul.subcategory.subcate-col a.title-submenu.subcate-col:after {
    content: "\f0da";
    font-family: FontAwesome;
    font-size: 15px;
    padding-left: 10px;
}
/*===============================================
Arjun header correction code
 
 ==============================================*/
.typeheader-5 ul.top-link > li > a h5 {
    display: inline-block;
}