@charset "UTF-8";
/*============HEADER V2 ==================*/
/* [2] */
/* [8] */
/*===============================================
 [SASS DIRECTORY ]
 [1] Minxin Link
 [2] Minxin Button
 [3] Minxin Triangle
 [4] Minxin LABEL PRODUCT
 [5] Minxin Scrollbars
 [6] Minxin Dev Custom
 ==============================================*/
.no-margin {
  margin: 0 !important; }
/*Dev Custom */
/*====================================================*/
.lib-list-item-product2 {
  border: none; }
  .lib-list-item-product2 .image-dev .list-button-dev {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0); }
    .lib-list-item-product2 .image-dev .list-button-dev li {
      display: inline-block;
      float: left;
      height: 40px;
      width: 40px;
      background: #fff;
      position: relative;
      border-width: 0 1px 0 0;
      border-style: solid;
      border-color: #ddd;
      opacity: 0;
      transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
        transform: translateX(40px);
        -moz-transform: translateX(40px);
        -webkit-transform: translateX(40px);
        -ms-transform: translateX(40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
        transform: translateX(-40px);
        -moz-transform: translateX(-40px);
        -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:first-child {
        border-left: 1px solid #ddd; }
      .lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
        background: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        line-height: 40px;
        text-align: center;
        box-shadow: none;
        border: none;
        color: #555;
        width: 40px;
        padding: 0; }
      .lib-list-item-product2 .image-dev .list-button-dev li:hover {
        background: #0084c1; }
        .lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
          color: #fff; }
  .lib-list-item-product2 .caption-dev {
    text-align: center;
    padding: 0 15px; }
    .lib-list-item-product2 .caption-dev .rating-dev {
      margin: 5px 0; }
    .lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
      font-size: 11px; }
    .lib-list-item-product2 .caption-dev .title-dev {
      color: #444;
      font-size: 13px; }
    .lib-list-item-product2 .caption-dev .price-dev .price.product-price {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-new {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-old {
      font-size: 12px; }
    .lib-list-item-product2 .caption-dev .add-cart-dev {
      background: #fff;
      border: 1px solid #ddd;
      font-size: 12px;
      text-transform: uppercase;
      color: #999;
      font-weight: bold;
      box-shadow: none;
      border-radius: 0;
      padding: 6px 20px;
      margin: 0 0 30px;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out; }

.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block; }
  .lib-two-img .img-1 {
    opacity: 1;
    position: relative;
    transition: all 0.5s ease-in-out; }
  .lib-two-img .img-2 {
    position: absolute;
    z-index: 0;
    top: 0;
    opacity: 0;
    display: block;
    transition: all 0.5s ease-in-out;
    right: 50%;
    transform: translateX(-50%);
    transform: translateX(50%); }

.lib-two-img-over .img-1 {
  opacity: 0;
  transform-style: inherit;
  transition: all 0.5s ease-in-out; }
  .lib-two-img-over .img-2 {
    opacity: 1;
    transform-style: inherit;
    transition: all 0.5s ease-in-out; }
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }
/*===============================================
 [SASS DIRECTORY ]
 [1] BLOCK HEADER
 ==============================================*/
.typeheader-2 {
  /*=====SEARCH ======*/
  /*BLOCK CART*/
  /*MENU MEGA*/ }
  .typeheader-2 .header-top {
    background-color: #f8f8f8;
    color: #777;
    font-size: 12px;
    height: 40px;
    line-height: 40px; }
  .typeheader-2 .header-top .module {
    display: table-cell;
    margin-bottom: 0; }
  .typeheader-2 .header-top .header-top-left ul.top-link {
    display: flex; }
  .typeheader-2 .header-top .header-top-right {
    text-align: left; }
  .typeheader-2 .header-top .dropdown-menu li {
    line-height: 22px; }
  .typeheader-2 .header-top .header-top-right {
    display: inline-block; }
  .typeheader-2 .telephone {
    display: table-cell;
    color: #777;
    font-size: 14px;
    padding-top: 10px; }
  .typeheader-2 .telephone .fa {
    font-size: 14px;
    margin-left: 6px; }
  .typeheader-2 .telephone .number-phone {
    /* [4] */
    /* [6] */
    /* [6] */
    /* [7] */
    font-size: 14px;
    font-size: 1.4rem;
    /* [8] */ }
  .typeheader-2 ul.top-link {
    list-style: none;
    margin: 0;
    vertical-align: top; }
  .typeheader-2 ul.top-link .dropdown-menu {
    right: 0;
    left: auto; }
  .typeheader-2 ul.top-link > li {
    display: inline-block;
    position: relative;
    list-style: outside none none;
    padding-right: 20px;
    margin-right: 20px;
    padding-left: 0;
    font-size: 12px; }
  .typeheader-2 ul.top-link > li.language {
    min-height: 23px; }
  .typeheader-2 ul.top-link > li .btn-group .btn-link {
    padding: 0;
    border: none;
    color: #777; }
  .typeheader-2 ul.top-link > li .fa-caret-down {
    font-size: 12px; }
  .typeheader-2 ul.top-link > li:after {
    background-color: #ccc;
    content: "";
    height: 15px;
    position: absolute;
    right: 0;
    top: 12px;
    width: 1px; }
  .typeheader-2 ul.top-link > li > a {
    font-size: 12px;
    color: #777;
    padding-right: 3px; }
  .typeheader-2 ul.top-link > li.account > a {
    padding: 0;
    margin: 0; }
  .typeheader-2 ul.top-link > li.account:before {
    content: "\f007";
    font-family: FontAwesome;
    font-size: 12px; }
  .typeheader-2 ul.top-link > li.wishlist:before {
    content: "\f004";
    font-family: FontAwesome;
    font-size: 11px; }
  .typeheader-2 ul.top-link > li.account:hover ul.dropdown-link {
    top: 34px;
    z-index: 9999;
    opacity: 1;
    border-top: 1px solid rgba(200, 199, 199, 0.3); }
  .typeheader-2 ul.top-link > li.welcome-msg, .typeheader-2 ul.top-link > li:first-child {
    padding-right: 0px;
    margin-right: 0px; }
  .typeheader-2 ul.top-link > li.welcome-msg:after, .typeheader-2 ul.top-link > li:first-child:after {
    display: none; }
  .typeheader-2.navbar-compact .header-top {
    display: none; }
  .typeheader-2.navbar-compact .header-center {
    padding: 0; }
  .typeheader-2.navbar-compact .header-center .navbar-logo .logo {
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    max-width: 202px;
    padding: 9px 25px !important;
    position: fixed;
    top: 0;
    z-index: 999; }
  .typeheader-2.navbar-compact .header-bottom {
    margin: 0;
    /*.megamenu-style-dev{
     width: 100%;
     margin-left: 270px;
     }*/ }
  .typeheader-2 .header-center {
    clear: both;
    padding: 40px 0; }
  .typeheader-2 .header-bottom {
    border-bottom: 1px solid #eee; }
  .typeheader-2 .search-header-w {
    display: table-cell;
    vertical-align: middle; }
  .typeheader-2 #sosearchpro .search {
    position: relative;
    margin-left: 67px;
    margin-bottom: 0; }
  .typeheader-2 #sosearchpro .search button {
    position: absolute;
    top: 3px;
    left: 10px;
    border-radius: 100%;
    background-color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    padding: 0; }
  .typeheader-2 #sosearchpro .search button i {
    font-size: 18px;
    color: #444; }
  .typeheader-2 #sosearchpro .search input {
    border: 1px solid #ddd;
    border-radius: 23px;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
    background-color: #fff;
    z-index: 0;
    height: 46px;
    padding-right: 30px;
    font-size: 14px;
    width: 435px; }
  .typeheader-2 #sosearchpro .search input:focus {
    z-index: 0; }
  .typeheader-2 .block-cart {
    float: left;
    position: relative;
    padding-right: 25px; }
  .typeheader-2 .shopping_cart {
    display: table-cell;
    position: absolute;
    top: -4px;
    left: 15px; }
  .typeheader-2 .shopping_cart .handle.pull-left {
    font-size: 12px;
    line-height: 100%;
    color: #fff;
    display: block;
    float: right;
    width: 31px;
    height: 40px;
    margin-left: 10px;
    text-align: center;
    background-image: url(../../images/icon/sprites.png);
    background-repeat: no-repeat;
    background-position: -147px 0;
    position: relative; }
  .typeheader-2 .shopping_cart .block-cart:before {
    display: none; }
  .typeheader-2 .shopping_cart h2 {
    display: none;
    color: #444;
    font-size: 12px;
    margin: 0;
    font-weight: bold; }
  .typeheader-2 .shopping_cart .btn-shopping-cart {
    display: block;
    cursor: pointer;
    width: auto;
    position: relative;
    padding-bottom: 20px;
    min-width: 90px; }
  .typeheader-2 .shopping_cart .btn-shopping-cart a.top_cart {
    /*&:after{content: "\f0d7"; font-family: fontawesome;font-size: 12px;position: absolute; #{$right}: 0;bottom: 2px;}*/ }
  .typeheader-2 .shopping_cart .btn-shopping-cart a.top_cart .shopcart .text-shopping-cart-mobi {
    color: #0084c1; }
  .typeheader-2 .shopping_cart .btn-shopping-cart a.top_cart .shopcart .text-shopping-cart {
    padding: 0px;
    color: #222;
    /* [4] */
    /* [6] */
    /* [6] */
    /* [7] */
    font-size: 14px;
    font-size: 1.4rem;
    /* [8] */
    text-transform: capitalize;
    font-weight: 600;
    margin: 0; }
  .typeheader-2 .shopping_cart .btn-shopping-cart .total-shopping-cart .items_cart {
    width: 22px;
    height: 22px;
    line-height: 23px;
    border: 1px solid #fff;
    text-align: center;
    background-color: #f55;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    position: absolute;
    bottom: -10px;
    right: -10px;
    font-size: 12px; }
  .typeheader-2 .shopping_cart .btn-shopping-cart .total-shopping-cart .items_cart2 {
    display: none; }
  .typeheader-2 .shopping_cart .btn-shopping-cart .total-shopping-cart .items_carts {
    position: absolute;
    right: 42px;
    bottom: 0px;
    /* [4] */
    /* [6] */
    /* [6] */
    /* [7] */
    font-size: 14px;
    font-size: 1.4rem;
    /* [8] */
    font-weight: 400;
    color: #777; }
  .typeheader-2 .shopping_cart .dropdown-menu {
    top: 100%;
    left: -15px;
    right: auto; }
  .typeheader-2 .shopping_cart .shoppingcart-box:before {
    right: 50px; }
  .typeheader-2 .megamenu-style-dev .navbar-default {
    background: transparent; }
  .typeheader-2 .container-megamenu.horizontal .megamenu-wrapper {
    background: transparent; }
  .typeheader-2 .container-megamenu.horizontal ul.megamenu > li {
    padding: 10px 0; }
  .typeheader-2 .container-megamenu.horizontal ul.megamenu > li > a {
    padding: 8px 10px;
    line-height: 100%;
    color: #444;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }
  .typeheader-2 .container-megamenu.horizontal ul.megamenu > li:hover > a, .typeheader-2 .container-megamenu.horizontal ul.megamenu > li.active > a, .typeheader-2 .container-megamenu.horizontal ul.megamenu > li.menu_active > a {
    color: #fff; }
  .typeheader-2 .container-megamenu.horizontal ul.megamenu > li.item-style1 > .sub-menu, .typeheader-2 .container-megamenu.horizontal ul.megamenu > li.item-style2 > .sub-menu {
    width: 100% !important; }
  .typeheader-2 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container {
    height: 50px;
    line-height: 51px;
    padding: 0 47px 0 0 !important; }
  .typeheader-2 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern .container:after {
    top: 0px; }
  @media (min-width: 992px) {
  .typeheader-2 .container-megamenu.vertical .vertical-wrapper ul.megamenu {
    background-color: #fff; }
    .typeheader-2 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.active, .typeheader-2 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li:hover {
      background-color: #f8f8f8; }
      .typeheader-2 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.active > a, .typeheader-2 .container-megamenu.vertical .vertical-wrapper ul.megamenu > li:hover > a {
        background-color: #f8f8f8 !important; }
  .typeheader-2 .container-megamenu.vertical {
    position: relative; }
    .typeheader-2 .container-megamenu.vertical .vertical-wrapper {
      position: absolute;
      top: 50px;
      right: 0;
      width: 100%;
      visibility: hidden;
      -webkit-opacity: 0;
      -moz-opacity: 0;
      -ms-opacity: 0;
      -o-opacity: 0;
      opacity: 0;
      transition: all 0.2s ease-in-out 0s;
      -moz-transition: all 0.2s ease-in-out 0s;
      -webkit-transition: all 0.2s ease-in-out 0s; }

    .typeheader-2 .container-megamenu.vertical:hover .vertical-wrapper {
      visibility: visible;
      -webkit-opacity: 1;
      -moz-opacity: 1;
      -ms-opacity: 1;
      -o-opacity: 1;
      opacity: 1;
      transition: all 0.2s ease-in-out 0s;
      -moz-transition: all 0.2s ease-in-out 0s;
      -webkit-transition: all 0.2s ease-in-out 0s; } }

.common-home .typeheader-2 .container-megamenu.horizontal ul.megamenu > li.home > a {
  color: #fff; }

.common-home .typeheader-2 .header-bottom {
  border-bottom: none; }
  .common-home .typeheader-2 .container-megamenu.vertical .vertical-wrapper {
    visibility: visible;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s; }
  .common-home .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.with-sub-menu > a::before {
    top: 21px; }
