@charset "UTF-8";
/* [2] */
/* [8] */
/*===============================================
 [SASS DIRECTORY ]
 [1] Minxin Link
 [2] Minxin Button
 [3] Minxin Triangle
 [4] Minxin LABEL PRODUCT
 [5] Minxin Scrollbars
 [6] Minxin Dev Custom
 ==============================================*/
.no-margin {
  margin: 0 !important; }
/*Dev Custom */
/*====================================================*/
.lib-list-item-product2 {
  border: none; }
  .lib-list-item-product2 .image-dev .list-button-dev {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0); }
    .lib-list-item-product2 .image-dev .list-button-dev li {
      display: inline-block;
      float: left;
      height: 40px;
      width: 40px;
      background: #fff;
      position: relative;
      border-width: 0 1px 0 0;
      border-style: solid;
      border-color: #ddd;
      opacity: 0;
      transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
        transform: translateX(40px);
        -moz-transform: translateX(40px);
        -webkit-transform: translateX(40px);
        -ms-transform: translateX(40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
        transition-delay: 0.2s;
        z-index: 2; }
      .lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
        transform: translateX(-40px);
        -moz-transform: translateX(-40px);
        -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
        z-index: 1;
        transition-delay: 0s; }
      .lib-list-item-product2 .image-dev .list-button-dev li:first-child {
        border-left: 1px solid #ddd; }
      .lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
        background: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        line-height: 40px;
        text-align: center;
        box-shadow: none;
        border: none;
        color: #555;
        width: 40px;
        padding: 0; }
      .lib-list-item-product2 .image-dev .list-button-dev li:hover {
        background: #f55; }
        .lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
          color: #fff; }
  .lib-list-item-product2 .caption-dev {
    text-align: center;
    padding: 0 15px; }
    .lib-list-item-product2 .caption-dev .rating-dev {
      margin: 5px 0; }
    .lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
      font-size: 11px; }
    .lib-list-item-product2 .caption-dev .title-dev {
      color: #444;
      font-size: 13px; }
    .lib-list-item-product2 .caption-dev .price-dev .price.product-price {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-new {
      font-size: 16px; }
    .lib-list-item-product2 .caption-dev .price-dev .price-old {
      font-size: 12px; }
    .lib-list-item-product2 .caption-dev .add-cart-dev {
      background: #fff;
      border: 1px solid #ddd;
      font-size: 12px;
      text-transform: uppercase;
      color: #999;
      font-weight: bold;
      box-shadow: none;
      border-radius: 0;
      padding: 6px 20px;
      margin: 0 0 30px;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out; }

.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
    transition-delay: 0s; }
  .lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transition-delay: 0.2s; }
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block; }
  .lib-two-img .img-1 {
    opacity: 1;
    position: relative;
    transition: all 0.5s ease-in-out; }
  .lib-two-img .img-2 {
    position: absolute;
    z-index: 0;
    top: 0;
    opacity: 0;
    display: block;
    transition: all 0.5s ease-in-out;
    right: 50%;
    transform: translateX(-50%);
    transform: translateX(50%); }

.lib-two-img-over .img-1 {
  opacity: 0;
  transform-style: inherit;
  transition: all 0.5s ease-in-out; }
  .lib-two-img-over .img-2 {
    opacity: 1;
    transform-style: inherit;
    transition: all 0.5s ease-in-out; }
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }

@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px); }

  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0); } }
/*===============================================
 [SASS DIRECTORY ]
 [1] BLOCK HEADER
 ==============================================*/
.common-home .typeheader-4 .header-center {
  background: none;
  padding-bottom: 0; }

.typeheader-4 {
  margin: 0 auto;
  max-width: 1720px;
  padding: 0;
  /*=====SEARCH ======*/
  /*BLOCK CART*/
  /*MENU MEGA*/ }
  .typeheader-4 .header-top {
    color: #777;
    font-size: 12px;
    padding: 38px 0;
    width: 100%; }
  @media (min-width: 1200px) and (max-width: 1366px) {
    .typeheader-4 .header-top {
      padding: 38px 20px; } }
  .typeheader-4 .header-top .module {
    display: table-cell;
    margin-bottom: 0; }
  .typeheader-4 .header-top .header-top-right {
    text-align: left; }
  .typeheader-4 .header-top .dropdown-menu li {
    line-height: 22px; }
  .typeheader-4 .header-top .header-top-right {
    display: inline-block; }
  .typeheader-4 .telephone {
    display: table-cell;
    color: #777;
    font-size: 14px;
    padding-top: 10px; }
  .typeheader-4 .telephone .fa {
    font-size: 14px;
    margin-left: 6px; }
  .typeheader-4 .telephone .number-phone {
    /* [4] */
    /* [6] */
    /* [6] */
    /* [7] */
    font-size: 14px;
    font-size: 1.4rem;
    /* [8] */ }
  .typeheader-4 .header-top-right ul.top-link {
    display: flex;
    -webkit-display: flex;
    -ms-display: flex;
    -o-display: flex;
    justify-content: flex-end; }
  .typeheader-4 .header-top-right ul.top-link .dropdown-menu {
    right: auto;
    left: 0; }
  .typeheader-4 ul.top-link {
    list-style: none;
    margin: 0;
    vertical-align: top; }
  .typeheader-4 ul.top-link .dropdown-menu {
    right: 0;
    left: auto; }
  .typeheader-4 ul.top-link > li {
    display: inline-block;
    position: relative;
    list-style: outside none none;
    padding-right: 20px;
    margin-right: 20px;
    padding-left: 0;
    font-size: 12px; }
  .typeheader-4 ul.top-link > li.language {
    min-height: 15px; }
  .typeheader-4 ul.top-link > li .btn-group .btn-link {
    padding: 0;
    border: none;
    color: #777; }
  .typeheader-4 ul.top-link > li .fa-caret-down {
    font-size: 12px; }
  .typeheader-4 ul.top-link > li:after {
    background-color: #ccc;
    content: "";
    height: 15px;
    position: absolute;
    right: 0;
    top: 4px;
    width: 1px; }
  .typeheader-4 ul.top-link > li > a {
    font-size: 12px;
    color: #777;
    padding-right: 3px; }
  .typeheader-4 ul.top-link > li.account > a {
    padding: 0;
    margin: 0; }
  .typeheader-4 ul.top-link > li.account:before {
    content: "\f007";
    font-family: FontAwesome;
    font-size: 12px; }
  .typeheader-4 ul.top-link > li.wishlist:before {
    content: "\f004";
    font-family: FontAwesome;
    font-size: 11px; }
  .typeheader-4 ul.top-link > li.account:hover ul.dropdown-link {
    top: 34px;
    z-index: 9999;
    opacity: 1;
    border-top: 1px solid rgba(200, 199, 199, 0.3); }
  .typeheader-4 ul.top-link > li.welcome-msg, .typeheader-4 ul.top-link > li:first-child {
    padding-right: 0px;
    margin-right: 0px; }
  .typeheader-4 ul.top-link > li.welcome-msg:after, .typeheader-4 ul.top-link > li:first-child:after {
    display: none; }
  .typeheader-4.navbar-compact {
    background-color: #293b49;
    max-width: 1920px; }
  .typeheader-4.navbar-compact .header-top {
    display: none; }
  .typeheader-4.navbar-compact .header-center {
    padding: 15px 0 0 0;
    background-image: none; }
  .typeheader-4.navbar-compact .header-center .main-menu-w {
    padding-top: 19px; }
  .typeheader-4.navbar-compact .header-center .navbar-logo .logo {
    padding-top: 5px; }
  .typeheader-4.navbar-compact .header-bottom {
    margin: 0;
    /*.megamenu-style-dev{
     width: 100%;
     margin-left: 270px;
     }*/ }
  .typeheader-4 .header-center {
    clear: both;
    padding: 27px 0 20px 0;
    width: 100%;
    position: absolute;
    z-index: 99;
    background: url("../../images/bg-header4.jpg") no-repeat; }
  .typeheader-4 .header-center .navbar-logo .logo {
    padding-right: 28px;
    padding-top: 7px; }
  .typeheader-4 .header-center .main-menu-w {
    padding-top: 25px; }
  .typeheader-4 .header-center .center-right {
    padding-left: 30px; }
  .typeheader-4 .search-header-w {
    float: left;
    margin-left: 25px;
    width: 80%;
    margin-top: 5px;
    position: relative; }
  .typeheader-4 .search-header-w .icon-search {
    position: absolute;
    top: 2px;
    left: 6px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px; }
  .typeheader-4 .search-header-w .icon-search i {
    font-size: 22px;
    color: #fff; }
  .typeheader-4 .search-header-w:hover #sosearchpro .search {
    width: 100%;
    visibility: visible;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s; }
  .typeheader-4 #sosearchpro .search {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    visibility: hidden;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s; }
  .typeheader-4 #sosearchpro .search button {
    position: absolute;
    top: 3px;
    left: 8px;
    border-radius: 0;
    background-color: #fff;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    padding: 0; }
  .typeheader-4 #sosearchpro .search button i {
    font-size: 22px;
    color: #333; }
  .typeheader-4 #sosearchpro .search input {
    border: 1px solid #ddd;
    border-radius: 0px;
    background-color: #fff;
    z-index: 0;
    height: 40px;
    padding-right: 20px;
    font-size: 14px;
    width: 100%; }
  .typeheader-4 #sosearchpro .search input:focus {
    z-index: 0; }
  .typeheader-4 .block-cart {
    float: left;
    position: relative;
    padding-right: 25px; }
  .typeheader-4 .shopping_cart {
    float: left;
    margin-top: 5px; }
  .typeheader-4 .shopping_cart .handle.pull-left {
    font-size: 12px;
    line-height: 100%;
    color: #fff;
    display: block;
    float: right;
    width: 31px;
    height: 40px;
    margin-left: 10px;
    text-align: center;
    background-image: url(../../images/icon/sprites.png);
    background-repeat: no-repeat;
    background-position: -150px -201px;
    position: relative; }
  .typeheader-4 .shopping_cart .block-cart:before {
    display: none; }
  .typeheader-4 .shopping_cart h2 {
    display: none;
    color: #444;
    font-size: 12px;
    margin: 0;
    font-weight: bold; }
  .typeheader-4 .shopping_cart .btn-shopping-cart {
    display: block;
    cursor: pointer;
    width: auto;
    position: relative;
    padding-bottom: 20px; }
  .typeheader-4 .shopping_cart .btn-shopping-cart a.top_cart .shopcart .text-shopping-cart-mobi {
    color: #f55; }
  .typeheader-4 .shopping_cart .btn-shopping-cart a.top_cart .shopcart .text-shopping-cart {
    display: none;
    padding: 0px;
    color: #222;
    /* [4] */
    /* [6] */
    /* [6] */
    /* [7] */
    font-size: 14px;
    font-size: 1.4rem;
    /* [8] */
    text-transform: capitalize;
    font-weight: 600;
    margin: 0; }
  .typeheader-4 .shopping_cart .btn-shopping-cart .total-shopping-cart .items_cart {
    width: 22px;
    height: 22px;
    line-height: 23px;
    border: none;
    text-align: center;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    position: absolute;
    bottom: -2px;
    right: -10px;
    font-size: 12px; }
  .typeheader-4 .shopping_cart .btn-shopping-cart .total-shopping-cart .items_cart2 {
    display: none; }
  .typeheader-4 .shopping_cart .btn-shopping-cart .total-shopping-cart .items_carts {
    display: none;
    position: absolute;
    right: 42px;
    bottom: 0px;
    /* [4] */
    /* [6] */
    /* [6] */
    /* [7] */
    font-size: 14px;
    font-size: 1.4rem;
    /* [8] */
    font-weight: 400;
    color: #777; }
  .typeheader-4 .shopping_cart .dropdown-menu {
    top: 100%;
    left: -15px;
    right: auto; }
  .typeheader-4 .shopping_cart .shoppingcart-box:before {
    right: 50px; }
  .typeheader-4 .megamenu-style-dev .navbar-default {
    background: transparent; }
  .typeheader-4 .megamenu-style-dev .navbar-default .megamenu-wrapper {
    background: transparent; }
  .typeheader-4 .container-megamenu.horizontal ul.megamenu {
    display: flex;
    justify-content: center; }
  .typeheader-4 .container-megamenu.horizontal ul.megamenu > li {
    padding: 0;
    margin: 0 20px; }
  .typeheader-4 .container-megamenu.horizontal ul.megamenu > li > a {
    padding: 0 0 20px 0;
    line-height: 100%;
    color: #fff;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    position: relative; }
  .typeheader-4 .container-megamenu.horizontal ul.megamenu > li > a:after {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    bottom: 12px;
    right: 0;
    visibility: hidden;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s; }
  .typeheader-4 .container-megamenu.horizontal ul.megamenu > li:hover > a, .typeheader-4 .container-megamenu.horizontal ul.megamenu > li.active > a, .typeheader-4 .container-megamenu.horizontal ul.megamenu > li.menu_active > a {
    background-color: transparent; }
    .typeheader-4 .container-megamenu.horizontal ul.megamenu > li:hover > a:after, .typeheader-4 .container-megamenu.horizontal ul.megamenu > li.active > a:after, .typeheader-4 .container-megamenu.horizontal ul.megamenu > li.menu_active > a:after {
      width: 100%;
      visibility: visible;
      -webkit-opacity: 1;
      -moz-opacity: 1;
      -ms-opacity: 1;
      -o-opacity: 1;
      opacity: 1;
      transition: all 0.2s ease-in-out 0s;
      -moz-transition: all 0.2s ease-in-out 0s;
      -webkit-transition: all 0.2s ease-in-out 0s; }

.common-home .typeheader-4 .container-megamenu.horizontal ul.megamenu > li.home > a:after {
  width: 100%;
  visibility: visible;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s; }
/*========*/
@media (max-width: 1366px) {
  header.typeheader-4 .search-header-w {
    position: relative;
    width: auto; }
    header.typeheader-4 .search-header-w .icon-search {
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 50px; }
      header.typeheader-4 .search-header-w .icon-search i {
        font-size: 22px; }
      header.typeheader-4 .search-header-w .icon-search.active i::before {
        content: "\f00d"; }
      header.typeheader-4 .search-header-w .icon-search:hover {
        cursor: pointer; }
    header.typeheader-4 .search-header-w #sosearchpro .search {
      display: none;
      opacity: 1;
      visibility: visible;
      position: absolute;
      width: 270px;
      transition: none;
      top: 45px;
      left: -50px; }
      header.typeheader-4 .search-header-w #sosearchpro .search input {
        width: 270px; }
      header.typeheader-4 .search-header-w #sosearchpro .search .input-group-btn {
        position: absolute;
        top: 0;
        left: 0; }
    header.typeheader-4 .search-header-w:hover #sosearchpro .search {
      opacity: 1;
      visibility: visible;
      width: 270px;
      transition: none; } }
